[2021-12-23 00:44] mogul commented on #3547
Here's [a page about adding SRI hashes](https://www.srihash.org/) to our script tags. Basically we just need to generate hashes for each thing we're pulling off of a CDN, then search and replace script tags pointing to that src, being careful to also add the `crossorigin="anonymous"` attribute.

I'm moving this back to the `Sprint Backlog` since this is actionable now, and assigning Robbie since h

[2021-12-23 08:34] mogul commented on #3523
Future @nickumia-reisys see the checkboxes above for how far I got... You should be able to retrace my steps on the branch `fix-solr8-suth-with-eks` with these commands:
- `cd datagov-brokerpak-solr`
- `git fetch`
- `get checkout fix-solr8-suth-with-eks`
- `cf t -s development`
- `export SOLR_DOMAIN_NAME=$(cf service-key solr-debugging-eks key | tail +2  | jq -r .credentials.domain_name)`
- `cf se

[2021-12-23 16:36] mogul commented on #3617
It looks like the method described in the blog post is also [documented directly in the ingress-nginx documentation](https://kubernetes.github.io/ingress-nginx/deploy/#aws).

The YAML referenced there includes this section which sets up a LoadBalancer service backed by an NLB:
![Screenshot_20211223-082521.png](https://user-images.githubusercontent.com/47762/147268139-02d46f01-49ff-4161-801e-b9132d

[2021-12-23 16:55] mogul commented on #3617
We can [use `helm template`](https://kubernetes.github.io/ingress-nginx/deploy/) both with and without [the suggested AWS annotations](https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx#aws-l7-elb-with-ssl-termination) to diff out exactly what should go in the Terraform resource, while still using Helm to manage the installation of the ingess-nginx controller itself (without those an

[2021-12-24 04:41] nickumia-reisys commented on #3523
# Local Solr Instance Testing
A test case of Solr Basic Authentication has been created in a [local docker environment gist](https://gist.github.com/nickumia-reisys/18544d2c6aad4160293bda1fec6ead7f).

# Local Interaction with a remote Solr Instance
As part of debugging, we wanted to make sure that `/solr/admin/authentication` API was working identically in both Solr `standalone` and `solrcloud` mo

[2021-12-26 08:41] #3612 closed, assigned to nobody

[2021-12-27 07:47] datagov-bot opened #3618 "deploy-ci-app-inventory-mb/fcs #181 failed"
Build 'deploy-ci-app-inventory-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-inventory-mb/job/fcs/181/)

[2021-12-28 15:37] nickumia-reisys commented on #3523
Thanks to this [documentation ](https://www.ibm.com/docs/en/cloud-paks/cp-management/2.0.0?topic=kubectl-using-service-account-tokens-connect-api-server#kube)for getting the correct token. 👍

[2021-12-28 17:55] FuhuXia commented on #3616
Detailed error message in the log:
[code]

[2021-12-28 21:23] FuhuXia commented on #3616
It is fixed and pushed to the production.

[2021-12-30 16:37] nickumia-reisys commented on #3523
I verified.. unfortunately this fix does not work with Solr 6 😞

[2021-12-30 19:54] FuhuXia opened #3619 "Inventory CKAN 2.9 resource is not accessible by anonymous user"
Anonymous user should have access to download Inventory dataset resource. It works in Inventory CKAN 2.8 but not in CKAN 2.9.

## How to reproduce
Load a resource from inventory as an anonymous user, e.g.
https://inventory.data.gov/dataset/acf8e47e-24d2-4e4d-a786-847643f101fd/resource/6a316a1e-0297-4602-a063-47bf22c06dfc/download/edi-json-file-12-13-21.json

## Expected behavior

Download prompt.

[2021-12-31 18:01] mogul commented on #3523
That's okay, the only way out is through (Solr 8).

[2022-01-02 06:55] datagov-bot opened #3620 "deploy-ci-platform-mb/master #288 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/288/)

[2022-01-02 06:55] datagov-bot opened #3621 "deploy-ci-app-catalog-next-mb/fcs #202 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/202/)

[2022-01-04 07:21] #3621 closed, assigned to nobody

[2022-01-04 08:13] #3620 closed, assigned to nobody

[2022-01-04 17:57] FuhuXia opened #3622 "Weak Ciphers Enabled - Netsparker scan Dec 2021"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.1vncr2nb12rj)._

**Date of report:** 2021-12-29
**Severity:** Moderate
**Due date:** 2022-03-29

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has be

[2022-01-05 18:29] FuhuXia opened #3623 "Inventory generates invalid data.json that fails DCAT-US Schema v1.1. validation"
data.json exported by Inventory failed to validate against DCAT-US Schema v1.1.

It turns out we are missing a step to copy file `export.inventory.map.sample.json` to `export.map.json` as we have been doing in FCS deployment as an [Ansible task](https://github.com/GSA/datagov-deploy/blob/master/ansible/roles/software/ckan/inventory/tasks/additional-tasks.yml#L11-L19).

## How to reproduce

Generat

[2022-01-06 04:07] mogul commented on #3523
Confirmed working in staging, screenshot below.
![image](https://user-images.githubusercontent.com/47762/148326675-c5ae0a63-fb39-4f87-b3fd-97f2dae2dcfa.png)

The provided credentials worked when entered in the form at the specified URL.

[2022-01-06 04:11] mogul commented on #3523
(Note that the Solr image you use must have `curl` available. It's definitely in 8.11.1.)

[2022-01-06 16:11] FuhuXia commented on #3623
Resolved after pointing the export map to file `export.inventory.map.sample.json`.

[2022-01-06 16:14] FuhuXia commented on #3619
Resolved after opening `package_show` (partially) to anonymous user.

[2022-01-06 16:16] FuhuXia opened #3624 "Nessus Results - 01032022 Apache vulnerability"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.7025eqy7glt8)._

**Date of report:** 2022-01-03
**Severity:** Moderate
**Due date:** 2022-04-03

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has be

[2022-01-06 17:30] robert-bryson commented on #3541
A demo example with an image from the front page:

![image](https://user-images.githubusercontent.com/91547795/148424670-1f87f867-3ba8-4be1-904b-e87cf0ef6e2f.png)
Before this work, the WordPress assets were being hosted in an AWS S3 bucket.

![image](https://user-images.githubusercontent.com/91547795/148424848-8772df77-1eb5-4a46-a565-88f1f856031e.png)
After this work, the assets are included in th

[2022-01-06 17:44] robert-bryson commented on #3569
As a demo of the completed work:

![image](https://user-images.githubusercontent.com/91547795/148426818-539e6a24-5f33-4747-bb19-2b25757deea3.png)

This is a screenshot of the New Relic alerts today showing the target as inventory.

[2022-01-06 21:37] #3523 closed, assigned to mogul

[2022-01-06 21:37] #3541 closed, assigned to robert-bryson

[2022-01-06 21:37] #3569 closed, assigned to jbrown-xentity

[2022-01-06 21:37] #3584 closed, assigned to mogul

[2022-01-06 21:37] #3588 closed, assigned to mogul

[2022-01-06 21:37] #3590 closed, assigned to FuhuXia, jbrown-xentity

[2022-01-06 21:37] #3591 closed, assigned to mogul

[2022-01-06 21:37] #3598 closed, assigned to FuhuXia

[2022-01-06 21:37] #3609 closed, assigned to mogul

[2022-01-06 21:37] #3616 closed, assigned to FuhuXia

[2022-01-06 21:37] #3619 closed, assigned to FuhuXia

[2022-01-06 21:37] #3623 closed, assigned to FuhuXia

[2022-01-06 21:37] #3554 closed, assigned to FuhuXia

[2022-01-06 21:47] mogul commented on #3622
I believe this may be [another false-positive](https://cloud.gov/docs/compliance/domain-standards/#ssltls-implementation).

[2022-01-06 21:49] mogul commented on #3624
We expect to retire these hosts before the deadline passes.

[2022-01-06 22:12] mogul commented on #3547
PR for hashes is in, now just one CORS issue with DAP to address.

[2022-01-07 14:09] FuhuXia opened #3625 "O+M 2022-01-20"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-01-07 15:46] #3604 closed, assigned to nobody

[2022-01-07 16:49] jbrown-xentity opened #3626 "Dashboard Long Crawl failed"
https://github.com/GSA/project-open-data-dashboard/runs/4679297084?check_suite_focus=true

## How to reproduce

1. Re-run [long crawl action](https://github.com/GSA/project-open-data-dashboard/actions/workflows/crawl-long.yml)

## Expected behavior

Long crawl kicks off successfully (can't wait to see if completes successfully, as job will take longer than 6 hours)

## Actual behavior

Crawl fails

[2022-01-09 06:58] datagov-bot opened #3627 "deploy-ci-app-wordpress-mb/fcs #175 failed"
Build 'deploy-ci-app-wordpress-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-wordpress-mb/job/fcs/175/)

[2022-01-10 17:34] robert-bryson commented on #3547
Commit removing  `?agency=GSA&amp;subagency=TTS` reverted.

I spoke with Tim Lowden, we basically have two options for the current issue:
- Use the remote DAP host, add an `Access-Control-Allow-Origin` header for it, and update the SRI hash each time there is an update.
- Use a local copy and update it each time there is an update from DAP.

It seems like using a local version is preferable in our

[2022-01-10 22:41] FuhuXia opened #3628 "Inventory data.json export gives 500 instead of capturing errors"
Data.json export is supposed to capture dataset errors, if any, and save them into `errorlog.txt` inside a zip file. We recently saw it breaks on any error and gives 500 internal server error, no zip file is generated.

## How to reproduce

On your local dev instance, manually create a problematic dataset by adding name/value pair `"parent_dataset": false` into a dataset extra field. Then export t

[2022-01-11 17:49] mogul commented on #3603
We discovered that the catalog Solr index was not ~300GB, as previously rumored, but more like ~30G.  That made this option much more viable:

@nickumia-reisys increased the number of nodes in the SolrCloud, split our collection into shards, then set the number of replicas for each shard at 2. This configuration means each individual node only holds part of the collection, but each part is replica

[2022-01-11 19:58] mogul opened #3629 "Proxy catalog traffic for scalability"
## User Story

In order to scale the amount of traffic that the `catalog` app can handle, we want to [deploy a proxy server](https://docs.gunicorn.org/en/stable/deploy.html#nginx-configuration) that will manage client requests.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_develop

[2022-01-12 15:50] nickumia-reisys commented on #3629
Reading about routes and domain on cloud.gov, I think this is what we need to do..
- [ ] Create private domain for staging and prod catalog
  - [ ] `cf create-private-domain gsa-datagov catalog-stage-datagov.apps.internal`
  - [ ] `cf create-private-domain gsa-datagov catalog-prod-datagov.apps.internal`
- [ ] Create routes to newly created domains
  - [ ] `cf create-route catalog-stage-datagov.app

[2022-01-12 17:41] FuhuXia commented on #3629
In current FCS catalog we can set gunicorn worker 8.
![image](https://user-images.githubusercontent.com/1392461/149192881-9ca0a5cc-3209-4f53-aca3-6d8feeab128b.png)

But in latest test result with inventory on cloud.gov, worker number more than 2 will send CPU usage to 100%.
https://github.com/GSA/inventory-app/pull/344

It is worth another try with catalog on cloud.gov to get the best worker numbe

[2022-01-12 17:53] jbrown-xentity commented on #3587
Noting here, that when I do a geospatial filter I get "There was an error while searching", so maybe something is messed up with our solr config.

[2022-01-12 18:48] jbrown-xentity opened #3630 "Catalog shows wrong facet list"
## How to reproduce

1. Go to https://catalog-stage-datagov.app.cloud.gov/dataset
1. Check the facet list on the left

## Expected behavior

Showing facet list including Topic, Topic Categories, Dataset Type ...

## Actual behavior

Showing CKAN default facet list Organizations, Groups, Tags...

## Sketch
First, should check if able to replicate locally (maybe add cypress test).
If not, check diff

[2022-01-12 18:56] jbrown-xentity commented on #3629
To create an internal route, use language like `cf create-route apps.internal --hostname catalog-stage-datagov`

[2022-01-13 06:40] #3627 closed, assigned to nobody

[2022-01-13 08:00] datagov-bot opened #3631 "deploy-ci-platform-mb/master #295 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/295/)

[2022-01-13 15:25] FuhuXia opened #3632 "Ubuntu vulnerability from Nessus scan 01112022"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.549yu2muz8n2)._

**Date of report: 2022-01-11
**Severity: Moderate
**Due date: 2022-04-11

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been per

[2022-01-13 16:00] FuhuXia opened #3633 "BREACH vulnerability in cloud.gov from Penetration Test"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.vam7349osvj6)._

**Date of report: 2022-01-07
**Severity: Moderate
**Due date: 2022-04-07

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been per

[2022-01-13 16:39] FuhuXia opened #3634 "Dashboard high error rate on Class APIHelp errors"
Frequent PHP `/Offices/detail` errors cause NewRelic reports Dashboard High Error rate and low Apdex score.

Detailed message
[code]
## How to reproduce

Watch dashboard Error rate graph.

![image](https://user-images.githubusercontent.com/1392461/149370981-b12c338c-3df5-4a9a-8655-a896c3ee3f0b.png)

[2022-01-13 16:58] FuhuXia opened #3635 "Inventory high error rate due to scanning/probing traffic"
We need to find a way to reduce amount of Inventory High Error Rate NewRelic alerts. When there are scanning/probing traffic hits Inventory, such as requests to /blog/mt-atom.cgi, or /bin/wcm/contentfinder/connector/suggestions.json, due to the Inventory low traffic nature, the 404 resulted from the request will generate a High Error Rate alerts.

## How to reproduce

Look at Inventory NewRelic da

[2022-01-13 18:38] robert-bryson opened #3636 "Solr 504 Gateway Time-out"
Solr returns a 504 Gateway Time-out with query [https://default-solr-2e001a6400465b1e-solrcloud.54a8e908-f9ea-49ea-8891-d927fd60261e.ssb.data.gov/solr/ckan/select?q=*%3A*&start=311111](https://default-solr-2e001a6400465b1e-solrcloud.54a8e908-f9ea-49ea-8891-d927fd60261e.ssb.data.gov/solr/ckan/select?q=*%3A*&start=311111) (or any query that hits deep in the pagination).

## How to reproduce

1. Hit

[2022-01-13 18:44] robert-bryson opened #3637 "Pagination broken on datasets list on harvest source page"
Pagination links on[ harvest source datasets pages](https://catalog-stage-datagov.app.cloud.gov/harvest/commerce-non-spatial-data-json-harvest-source) do not work.

![image.png](https://images.zenhubusercontent.com/615477f9d57459b3cbe8ae7a/b49288e9-b62f-4237-9c0c-d735cc806232)

## How to reproduce

1. Description of steps to reproduce the issue.

1. Click any pagination on the page above.

1. See

[2022-01-13 18:51] robert-bryson opened #3638 "Resource format thumbnail links CSS not correct"
![image.png](https://images.zenhubusercontent.com/615477f9d57459b3cbe8ae7a/ed49ce2f-777a-418b-a1da-62b245c6cff2)

Colors/fonts/centering/etc of resource format thumbnail links (not sure what these are called) not working correctly on cloud.gov catalog site.

## How to reproduce
Description of steps to reproduce the issue.

1. Browse [any dataset page](https://catalog-stage-datagov.app.cloud.gov/da

[2022-01-13 18:59] robert-bryson opened #3639 "Organization pages in general"
Organization pages are ugly with bad organization/missing icons/css and problems in general.

Also dropdown resets on change (returns correct results, but resets the visible dropdown selection to relevance).

Happening post move to CKAN 2.9

## How to reproduce

Description of steps to reproduce the issue.

1. Visit an organization page on catalog on cloud.gov.

## Expected behavior

An [organizat

[2022-01-13 19:02] robert-bryson opened #3640 "https://catalog-stage-datagov.app.cloud.gov/ should redirect to /datasets"
[https://catalog.data.gov/](https://catalog.data.gov/) redirects to [https://catalog.data.gov/dataset](https://catalog.data.gov/dataset). The cloud.gov version of catalog should as well.

## How to reproduce

Description of steps to reproduce the issue.

1. Visit [https://catalog-stage-datagov.app.cloud.gov/](https://catalog-stage-datagov.app.cloud.gov/)

## Expected behavior

Redirection to [http

[2022-01-13 19:06] robert-bryson opened #3641 "https://catalog-stage-datagov.app.cloud.gov/user/saml2login not working"
The login link should redirect to [login.gov](https://secure.login.gov/).

![image](https://user-images.githubusercontent.com/91547795/149393227-60b27954-cc6b-4f91-8894-94e9f6b33c67.png)

## How to reproduce

Description of steps to reproduce the issue.

1. Visit [https://catalog-stage-datagov.app.cloud.gov/user/saml2login](https://catalog-stage-datagov.app.cloud.gov/user/saml2login) (https://cata

[2022-01-13 19:17] robert-bryson opened #3642 "Deep pagination long load"
On datasets pages on catalog on cloud.gov, jumping to deeper pagination results causes long page load and page error (especially the higher pages) . Seems to return suspiciously just after 1min, probably something timing out and returning there.

## How to reproduce

Description of steps to reproduce the issue.

1. Visit a page like [https://catalog-prod-datagov.app.cloud.gov/dataset/?page=1800](h

[2022-01-13 19:22] robert-bryson opened #3643 "Topic icons missing"
## How to reproduce

Description of steps to reproduce the issue.

1. Click on the Topics dropdown on any page on [https://catalog-prod-datagov.app.cloud.gov/dataset/](https://catalog-prod-datagov.app.cloud.gov/dataset/)

## Expected behavior

Topics look like:

![image](https://user-images.githubusercontent.com/91547795/149395383-b568de58-52ba-4594-8360-fae8367b58bc.png)

## Actual behavior

Topi

[2022-01-13 19:29] robert-bryson opened #3644 "Broken left column on dataset resources pages"
The left hand column on dataset resources pages is broken. Links are unable to be clicked, `onHover` doesn't work, CSS seems off.

## How to reproduce

Description of steps to reproduce the issue.

1. Try to interact with the left column on [dataset resources pages](https://catalog-prod-datagov.app.cloud.gov/dataset/navigation-data-for-marine-geophysical-data-collected-between-point-sal-and-refugi

[2022-01-13 19:36] robert-bryson opened #3645 "Dataset resource icons are missing"
On [dataset pages](https://catalog-prod-datagov.app.cloud.gov/dataset/navigation-data-for-marine-geophysical-data-collected-between-point-sal-and-refugio-sta-02), some resource icons are strange. It also looks like there are some other styling issues as well.

## How to reproduce

Description of steps to reproduce the issue.

1. Visit a [dataset page](https://catalog-prod-datagov.app.cloud.gov/dat

[2022-01-13 19:44] robert-bryson opened #3646 "Left column broken"
Seemingly sitewide on [catalog on cloud.gov](https://catalog-prod-datagov.app.cloud.gov/dataset/), the left column is not able to be interacted with and features are broken. This seems like a pretty big deal.

## How to reproduce

Description of steps to reproduce the issue.

1. Visit https://catalog-prod-datagov.app.cloud.gov/dataset/
2. Try to click buttons on the left column

## Expected behavi

[2022-01-13 21:25] jbrown-xentity commented on #3642
Closing as dupe of #3636

[2022-01-13 21:25] #3642 closed, assigned to nobody

[2022-01-13 21:30] jbrown-xentity commented on #3640
Could be done easily as part of #3629

[2022-01-14 07:32] #3631 closed, assigned to nobody

[2022-01-14 15:12] FuhuXia commented on #3640
The redirect from `/` to `/dataset` is supposed to be done in [datagovtheme](https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/plugin/__init__.py#L79). Let us not rely on nginx config for this redirect.

[2022-01-17 14:52] nickumia-reisys opened #3647 "Solr Resiliency Issues"
Component: Solr
Version: 8.11
Environment: cloud.gov

This issue is primarily for historical reference.  The specific issues may be no-ops in reality..

## How to reproduce

1. Specify solr configuration
2. Create solr service
3. Load data into solr
4. Load test (high volume or deep data)

or

1. Specify solr configuration
2. Create solr service
3. Load some data into solr
4. Wait a while
5. Try t

[2022-01-17 15:50] nickumia-reisys commented on #3629
Another useful command: `cf unmap-route catalog app.cloud.gov --hostname catalog-stage-datagov`

[2022-01-17 20:15] nickumia-reisys commented on #3640
This is being taken care of in https://github.com/GSA/ckanext-datagovtheme/pull/109

[2022-01-17 22:57] nickumia-reisys commented on #3644
Best test proof until ckanext-datagovtheme is merged into catalog...

![image](https://user-images.githubusercontent.com/85196563/149845505-ffdef037-cd41-4ba2-bb80-79b895cbb3da.png)

[2022-01-17 23:54] nickumia-reisys commented on #3630
This is spread across datagovtheme and geodatagov,
- https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/plugin/__init__.py#L22-L73
- https://github.com/GSA/ckanext-geodatagov/blob/main/ckanext/geodatagov/plugins/__init__.py#L326-L346
- https://github.com/GSA/ckanext-geodatagov/blob/main/ckanext/geodatagov/plugins/__init__.py#L631-L671

But I didn't dig into it further that

[2022-01-17 23:57] nickumia-reisys commented on #3587
Noting also, the map loads on staging and production, but doesn't load locally.  There has to be configuration differences, but I haven't found anything.  Also, I tried to get the search box to work by changing the `z-index` in case it was similar to the other UI bugs we were seeing, but it did not get the search box to work either.

Unless someone has specific things to try, I think this warrants

[2022-01-18 00:39] nickumia-reisys commented on #3647
I think we've proven that solr is not resilient across changes.  If we define a specification and let it run, it's stable.  But if we `update-service`, solr has a high probability of breaking..

More References for the future:
- Solr Performance Data, https://cwiki.apache.org/confluence/display/SOLR/SolrPerformanceData
- https://cwiki.apache.org/confluence/display/SOLR/SolrPerformanceFactors
- htt

[2022-01-18 18:51] jbrown-xentity commented on #3647
After discussion, we want to be able to raise the RAM limit that is hardcoded in the code.
- Update [solr brokerpak](https://github.com/GSA/datagov-brokerpak-solr) to allow for variable node size (RAM)
- Merge and tag the release
- Utilize this tag in the ssb broker to create more nodes and specify RAM (~32G)
Focus on prod, but do in parallel on staging.

[2022-01-19 06:43] nickumia-reisys commented on #3647
`datagov-brokerpak-solr` change:
- https://github.com/GSA/datagov-brokerpak-solr/pull/30

`datagov-ssb` change:
- https://github.com/GSA/datagov-ssb/pull/113

`catalog.data.gov` change:
- https://github.com/GSA/catalog.data.gov/pull/405
  - [CKAN Collection parameters](https://github.com/GSA/catalog.data.gov/pull/405/commits/f4daaec28cb591cc1db2c9dfc9737f724c1f10e8#diff-ac6c240902b96a5b02db6a23839

[2022-01-19 17:35] jbrown-xentity opened #3648 "Add robots.txt & sitemap to catalog on cloud.gov"
## User Story

In order to make sure crawls can occur on our site, data.gov admins want the sitemap to be available in cloud.gov.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN an s3 bucket is provisioned for catalog \
  WHEN th

[2022-01-19 19:35] jbrown-xentity commented on #3648
We will edit [this](https://github.com/GSA/ckanext-datagovcatalog/blob/main/ckanext/datagovcatalog/templates/robots.txt) and should probably remove [this](https://github.com/GSA/ckanext-datagovcatalog/blob/main/ckanext/datagovcatalog/public/robots.txt)

[2022-01-20 14:09] FuhuXia opened #3649 "Renew data.gov site certificate and host certificate"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:
**Severity: N/A
**Due date: 2022-01-30

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has been linked to ad

[2022-01-20 17:04] nickumia-reisys commented on #3648
More context: https://github.com/ckan/ckan/pull/5648#issuecomment-948274173

[2022-01-20 17:26] FuhuXia commented on #3649
Four servicenow tickets created:
1. REQ0662893 for data.gov site certificate.
2. REQ0662904 for staging host certificate.
3. REQ0662906 for mgmt host certificate.
4. REQ0662909 for production host certificate.

[2022-01-20 18:05] robert-bryson commented on #3547
https://github.com/GSA/datagov-website/pull/21 done last night. The CORS issue went away with the last commit removing SRI from the DAP script.

The site appears to be in a good state (build on [main branch](https://federalist-a1176d2b-cb31-49a0-ba20-a47542ee2ec5.app.cloud.gov/site/gsa/datagov-website/)) and ready to go.

[2022-01-20 19:14] jbrown-xentity opened #3650 "SolrCloud warm standby"
## User Story

In order to be able to recover from a failed SOLR cloud, data.gov admins want a warm SOLR cloud standby that we could switch to in order to keep the site up.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a SOLR c

[2022-01-20 20:26] nickumia-reisys opened #3651 "Optimize run-task memory usage"
We would like to ensure recurring tasks are not using up unnecessary memory

## How to reproduce

1. Run `cf usage-report`
Note: [Install ](https://plugins.cloudfoundry.org/#Usage%20Report)(if not already done)

## Expected behavior

We stay within total memory allocation

## Actual behavior

memory_quota exceeded errors.

## Sketch

Check the following recurring tasks and investigate required mem

[2022-01-20 20:29] nickumia-reisys commented on #3651
Inventory Adjustments:
- https://github.com/GSA/inventory-app/pull/419
  - Development: `512M` to `300M` @ 1 instance
  - Staging: `512M` to `300M` @ 2 instances
  - Prod: `512M` to `500M` @ 2 instances

Total usage across all spaces (old):  `2.5G`  (+`1G` during restarts)
Total usage across all spaces (new): `1.9G`  (+`0.8G` during restarts)

[2022-01-20 20:37] nickumia-reisys commented on #3651
www-redirects Results:
- No change
  - [Development](https://github.com/GSA/datagov-website/blob/main/vars.development.yml#L2-L3): `0M` @ 0 instances
  - [Staging](https://github.com/GSA/datagov-website/blob/main/vars.staging.yml#L2-L3): `64M` @ 1 instance
  - [Prod](https://github.com/GSA/datagov-website/blob/main/vars.production.yml#L2-L3): `64M` @ 2 instances

Total usage across all spaces: `0.

[2022-01-20 20:50] nickumia-reisys commented on #3651
Dashboard main app Adjustments:
- https://github.com/GSA/project-open-data-dashboard/pull/390
  - Development: `512M` to `64M` @ 1 instance
  - Staging: `200M` to `64M` @ 1 instance
  - Prod: `512M` to `128M` @ 2 instances

Total usage across all spaces (old): `1.7G` (+`.75G` during restarts)
Total usage across all spaces (new): `0.3G` (+`0.2G` during restarts)

[2022-01-20 21:07] #3603 closed, assigned to mogul

[2022-01-20 21:07] #3625 closed, assigned to FuhuXia, jbrown-xentity

[2022-01-20 21:14] jbrown-xentity opened #3652 "O+M 2/3/2022"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-01-20 21:14] mogul commented on #3490
- https://github.com/GSA/datagov-deploy/issues/3648

[2022-01-20 21:16] mogul commented on #3648
For now we can just point to the version that we pulled over from the FCS environment, which is substantially up-to-date.

[2022-01-20 21:35] mogul opened #3653 "Replace restarts with local monitor/kill main process"
## User Story

In order to avoid the thrashing downsides of frequent restarts, we want to use local monitoring within the application container to only trigger restarts when something unexpected happens.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specific

[2022-01-21 15:14] datagov-bot opened #3654 "deploy-ci-platform-mb/master #299 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/299/)

[2022-01-21 15:16] datagov-bot opened #3655 "deploy-ci-app-catalog-next-mb/fcs #213 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/213/)

[2022-01-21 16:52] #3655 closed, assigned to nobody

[2022-01-21 20:42] jbrown-xentity commented on #3547
Our next steps to get this out are as follows:
- [ ] Request that federalist site be "published" (URL doesn't really matter) following [federalist launch guidance](https://federalist.18f.gov/documentation/before-you-launch/)
- [x] Setup a new cloudfront distribution to verify that the cutover will work (dla9wanc1vft1.cloudfront.net)
- [ ] Update datagov-website to use proxy instead of redirect
- [

[2022-01-24 06:40] datagov-bot opened #3656 "deploy-ci-platform-mb/develop (sandbox) #253 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/253/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/253/pipeline) (blue)

[2022-01-24 07:31] #3654 closed, assigned to nobody

[2022-01-24 15:22] nickumia-reisys commented on #3651
We've increases our overall Memory Quota from 20GB to 40GB, so it's not a major concern for the moment.  We will revisit when we expect to be stable on cloud.gov and able to optimize resources.

[2022-01-24 22:27] robert-bryson commented on #3547
The `*.app.cloud.gov` cert rejects nested subdomains that we need (ie `food.www-redirects-dav-datagov.app.cloud.gov`). We would need to either get cloud.gov to create a wildcard cert for us or to bite the bullet and transition the URLs fully to cloud.gov (with downtime).

[2022-01-24 23:00] robert-bryson commented on #3547
Currently subdomain redirects are being handled by Aaron's nginx redirect app in prod. We have concerns that pushing a new target domain to production might break those as we can't test without breaking the existing redirections.

[2022-01-24 23:01] robert-bryson commented on #3547
We also need to schedule a discussion between ourselves, GSA DNS, and cloud.gov to plan for the transition in a way that minimizes downtime.

[2022-01-25 00:02] hkdctol commented on #3547
@robert-bryson should I try to find someone from GSA DNS team?

[2022-01-25 00:03] robert-bryson commented on #3547
@hkdctol Yes, if you have a contact, that would be great!

[2022-01-25 16:31] FuhuXia commented on #3649
The three host certificates were generated. But upon examining the existing host certificates, we realized the existing ones are good until Nov 3 of 2022 and Apr 10 of 2023. FCS were looking at old certs and mistakenly notified us the wrong date. We will keep the new cert PEM file and update when it is time.

We are still waiting for the data.gov site certificate.

[2022-01-25 17:35] FuhuXia opened #3658 "Catalog harvest does not report error when data.json is invalid"
When a data.json harvest source contains invalid entries according to [DCAT-US Schema v1.1](https://resources.data.gov/resources/dcat-us/), the harvest report a successful harvest job with 0 changes. It is reported by rrb and confirmed on job https://admin-catalog-next.data.gov/harvest/rrb-json/job/2f728b7a-d954-469e-9b3a-81a2364a17b6.

## How to reproduce

Create a data.json source containing ent

[2022-01-25 17:37] FuhuXia commented on #3658
Maybe related to another bug https://github.com/GSA/datagov-deploy/issues/3532.

[2022-01-25 19:56] FuhuXia opened #3659 "Login.gov 2022 SAML certificate rotation"
Annual Login.gov SAML certificate rotation needs to be done by March 2022. The 2021 certificates expire on April 1, 2022.

## Sketch
Follow steps describe in wiki [Login.gov SAML certificate rotation steps](https://github.com/GSA/datagov-deploy/wiki/Login.gov-SAML-certificate-rotation-steps).
- [ ] Update wiki to reflect changes of production environment (some on cloud.gov some one FCS).
- [ ] Gen

[2022-01-25 20:15] FuhuXia commented on #3649
Talked to Samuel Mcgehee. Hopefully we will have site certificate issued today or tomorrow. Will coordinate with FCS to set up a time to have it installed.

[2022-01-26 06:45] datagov-bot opened #3660 "deploy-ci-app-catalog-next-mb/fcs #217 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/217/)

[2022-01-26 06:51] datagov-bot opened #3661 "deploy-ci-app-inventory-mb/fcs (sandbox) #193 failed"
Build 'deploy-ci-app-inventory-mb/fcs' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory-mb/job/fcs/193/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory-mb » fcs/detail/deploy-ci-app-inventory-mb » fcs/193/pipeline) (blue)

[2022-01-26 06:53] #3656 closed, assigned to nobody

[2022-01-26 07:17] datagov-bot opened #3662 "deploy-ci-platform-mb/master #304 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/304/)

[2022-01-26 17:55] robert-bryson commented on #3547
[Federalist support launch request thread](https://gsa-tts.slack.com/archives/C1NUUGTT5/p1643214953004800), made this morning but no response yet. Will follow up.

[Federalist launch checklist docs](https://federalist.18f.gov/documentation/before-you-launch/).

[2022-01-26 19:31] FuhuXia opened #3663 "Dashboard Validator gives 503 error on big data.json file"
When the uploaded data.json file is more than a few megabytes, or the linked url is a big data.json file, Dashboard Validator gives 503 Service Unavailable error:
[code]

## How to reproduce

Validate a data.json file 5 MB in size.

## Expected behavior

200 response code

## Actual behavior

60-70 % of validate requests, it gives 503 error with message as described  above. It responds with 200 co

[2022-01-26 20:39] FuhuXia commented on #3649
Created servicedesk ticket REQ0664497 to add add a TXT DNS record on data.gov required by digicert for domain ownership proof.

UPDATE: For future reference, this ticket should be created as a DNS Request, so that it will automatically be assigned to CISO.Firewall team for quick response.

[2022-01-26 21:23] FuhuXia commented on #3649
_dnsauth.data.gov TXT record is now created. Waiting for digicert to issue the cert.
[code]

[2022-01-27 14:53] FuhuXia commented on #3649
DigiCert issued the certificate. Request number REQ0664644 created to have FCS network team and SecOps install the certificate, scheduled later today.

[2022-01-27 15:41] FuhuXia commented on #3649
New certificate is imported into AWS Certificate Manager. CloudFront is showing the new certificate with expiry date January 26, 2023.

Scheduled to install it on FCS 5pm today.

[2022-01-27 18:06] robert-bryson commented on #3547
Thanks to @jbrown-xentity prodding, request [has been submitted](https://gsa-tts.slack.com/archives/C1NUUGTT5/p1643295355006500).

[2022-01-27 18:14] jbrown-xentity commented on #3646
Noting that most things are clickable, but the "load more" of tags, etc does not work. Need to figure out why.

[2022-01-27 18:23] FuhuXia commented on #3646
Instead of bringing piece by piece to the front by setting high z-index, we can bring top blocking piece down. That will solve it. I will create a PR for it.

[2022-01-27 21:14] mogul commented on #3653
Closing as dupe of #3326

[2022-01-27 21:14] #3653 closed, assigned to nobody

[2022-01-27 21:19] mogul commented on #3663
May be happening due to the small memory reserved for the dashboard app. We can probably raise that again now that we have additional memory quota available.

[2022-01-27 21:39] mogul opened #3664 "cloud.gov post-migration tasks"
## User Story

In order to stop maintaining the FCS deployment, the data.gov team wants to tear down any dangling resources that supported it.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] WHEN I look at the list of post-migration tas

[2022-01-27 21:47] mogul opened #3665 "[SC-7] Restrict egress traffic from EKS workloads by default, allow by configuration"
## User Story

In order to meet the intent of SC-7 (and sub-controls), EKS clusters provisioned by the SSB should restrict outbound traffic by default, and allow by exception/explicit configuration.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications

[2022-01-27 21:53] mogul commented on #3636
We've increased the ingress-nginx timeout, which we believe was the source of the problem. However, we have yet to verify this as we need to complete load-testing first.

[2022-01-27 22:44] FuhuXia commented on #3649
New site certificate for data.gov from DigiCert is deployed on FCS. All *.data.gov site on FCS is showing January 26, 2023 as expiry date.

![image](https://user-images.githubusercontent.com/1392461/151453239-721a9e2a-ccf9-4f9a-91ff-98b8368fb72a.png)

[2022-01-27 22:54] FuhuXia commented on #3649
More discussion in [slack](https://gsa-tts.slack.com/archives/C2N85536E/p1643323976014800?thread_ts=1643320724.014400&cid=C2N85536E).

[2022-01-28 06:29] #3661 closed, assigned to nobody

[2022-01-28 06:56] #3660 closed, assigned to nobody

[2022-01-28 07:31] #3662 closed, assigned to nobody

[2022-01-28 17:53] FuhuXia opened #3666 "Netsparker scan finds missing HSTS directives on cloud.gov apps"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.agw7w131ftue)._

**Date of report:** 2022-01-28
**Severity:** Moderate
**Due date:** 2022-04-28

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has be

[2022-01-28 20:38] FuhuXia opened #3667 "Netsparker reports HSTS not enabled on FCS old apps"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2022-01-28
**Severity:** Moderate
**Due date:** 2022-04-28

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue

[2022-02-01 18:27] mogul opened #3668 "EKS nodes meet CIS hardening benchmarks"
## User Story

In order to ensure all EC2 instances meet CIS hardening benchmarks, data.gov wants managed node groups underlying EKS instances to use the [AMI provided by GSA ISE](https://github.com/GSA/odp-jenkins-hardening-pipeline).

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven

[2022-02-01 18:27] mogul opened #3669 "Setup auto-scaling for Managed Node Groups (MNGs)"
## User Story

In order to avoid running out of compute resources underlying brokered SOLR instances, data.gov wants EC2 instances to be added on an as-needed basis to handle EKS workloads.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [

[2022-02-02 06:45] datagov-bot opened #3670 "deploy-ci-platform-mb/develop (sandbox) #257 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/257/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/257/pipeline) (blue)

[2022-02-02 06:55] datagov-bot opened #3671 "deploy-ci-app-catalog-next-mb/fcs #220 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/220/)

[2022-02-02 15:06] #3670 closed, assigned to nobody

[2022-02-02 15:26] #3671 closed, assigned to nobody

[2022-02-02 17:03] robert-bryson opened #3672 "500 error with organization page filters on catalog"
## How to reproduce

1. Visit any organization on the [catalog-stage](https://catalog-stage-cdd4197f-65a7-450e-a34c-f24c9042f9ef.app.cloud.gov/organization/) site
2. Select any filter on left
3. See malformed page with 500 error

![Recording 2022-02-02 at 08 57 14](https://user-images.githubusercontent.com/91547795/152200832-995cbed4-fab4-4d24-b053-e894115b63fa.gif)

## Expected behavior

Page ren

[2022-02-03 18:24] FuhuXia commented on #3630
Facet on dataset page is addressed by above commit.

Facet on organization page is due to a known [CKAN core bug](https://github.com/ckan/ckan/issues/6636) that is currently being worked on. Will re-evaluate after the [ongoing PR](https://github.com/ckan/ckan/pull/6682) is merged and may bring the change in earlier than next stable release.

[2022-02-03 20:08] #3640 closed, assigned to nickumia-reisys

[2022-02-03 20:08] #3644 closed, assigned to FuhuXia

[2022-02-03 20:08] #3646 closed, assigned to FuhuXia

[2022-02-03 20:08] #3663 closed, assigned to mogul

[2022-02-03 21:15] jbrown-xentity commented on #3672
Should check if #3630 resolution solves this bug

[2022-02-03 21:23] jbrown-xentity commented on #3649
While the installation is done, cleanup is still in progress (@FuhuXia keeping tabs on latest discussions)

[2022-02-03 21:45] deadboi0322 opened #3673 "[Onboard] <email>"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [ ] Re

[2022-02-03 21:54] FuhuXia opened #3674 "O+M 2022-02-17"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-02-04 06:46] datagov-bot opened #3675 "deploy-ci-app-inventory-mb/fcs (sandbox) #197 failed"
Build 'deploy-ci-app-inventory-mb/fcs' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory-mb/job/fcs/197/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory-mb » fcs/detail/deploy-ci-app-inventory-mb » fcs/197/pipeline) (blue)

[2022-02-04 06:48] datagov-bot opened #3676 "deploy-ci-platform-mb/develop (sandbox) #261 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/261/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/261/pipeline) (blue)

[2022-02-04 14:20] nickumia-reisys commented on #3617
~We upgraded the [ALB Controller](https://github.com/GSA/terraform-kubernetes-aws-load-balancer-controller/pull/21) to a version that supports provisioning NLBs.  However, Kubernetes service definitions have to be of type `LoadBalancer` for the ALB Controller to provision an NLB and the [Solr Helm chart](https://artifacthub.io/packages/helm/apache-solr/solr#addressability-options) only supports th

[2022-02-04 17:58] nickumia-reisys commented on #3617
Useful links (consolidated):
- [AWS Docs - Network Load Balancing](https://docs.aws.amazon.com/eks/latest/userguide/network-load-balancing.html#network-load-balancer)
- [AWS Docs - AWS LB Controller](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html)
- [k8s Docs - AWS LB Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installa

[2022-02-04 23:25] mogul opened #3677 "Enable 307 redirects for EKS load-balancer (using NLBs instead of ALBs)"
## User Story

In order to separate L4 from L7 concerns (which fixes issues with 307 redirection not being supported by ALBs), the data.gov team wants provisioned EKS instances to use an NLB for incoming traffic.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral

[2022-02-06 06:53] #3676 closed, assigned to nobody

[2022-02-06 23:47] deadboi0322 opened #3678 "https://forum.developer.samsung.com/t/samsung-internet-android-auto-fill-api/9532"
https://github.com/usagov/Corporate-Consumer-Contact-API-Documentation/tree/master

[2022-02-07 01:46] deadboi0322 opened #3679 "http://192.168.1.196.8099/"
https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=2cee05de-2b8f-45a2-8289-2a06ca32c4c8&redirect_uri=https%3A%2F%2Fenterprise.google.com%2Fexchangeoauth2redirect&response_type=code&response_mode=query&scope=offline_access%20https%3A%2F%2Feas.outlook.com%2FEAS.AccessAsUser.All&prompt=login&login_hint=haezerapex0322%40outlook.com

[2022-02-07 06:39] datagov-bot opened #3680 "deploy-ci-platform-mb/master #310 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/310/)

[2022-02-07 17:28] nickumia-reisys commented on #3617
If we ever need to debug nginx controller in EKS, this [solution](https://github.com/kubernetes/ingress-nginx/issues/1832#issuecomment-364084314) works!

[2022-02-07 18:16] #3652 closed, assigned to FuhuXia, jbrown-xentity

[2022-02-08 06:39] datagov-bot opened #3682 "deploy-ci-platform-mb/develop (sandbox) #263 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/263/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/263/pipeline) (blue)

[2022-02-08 15:27] nickumia-reisys opened #3683 "Encrypt EBS Volumes for EKS"
## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

Dynamic EBS Volumes are encrypted by default

## Actual behavior

![image](https://user-images.githubusercontent.com/85196563/153018995-03bce978-f18f-4293-be5c-a8a34cdd467a.png)

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]
- [x] Add IAM Policy for addon to have ke

[2022-02-08 18:38] jbrown-xentity opened #3684 "inventory usmetadata validation error"
Seen the following error in the logs. Looks like you have to pass an organization id/name, or [the default will be set to false](https://github.com/GSA/ckanext-usmetadata/blob/main/ckanext/usmetadata/blueprint.py#L365), which results in the query that tries to compare an ID (text) to a boolean. This is error handled appropriately, and should not crash.
[code]

## How to reproduce

1. Hit the [vali

[2022-02-08 18:43] jbrown-xentity opened #3685 "Inventory jquery error"
Jquery seems to be unable to load in inventory prod; not seen in staging.

`2022-02-08T11:30:31.05-0700 [APP/PROC/WEB/0] ERR 2022-02-08 18:30:31,058 ERROR [ckan.lib.webassets_tools] Trying to include unknown asset: <base/vendor/jquery.js>`

## How to reproduce

1. Unknown, but check logs

## Expected behavior

CKAN can bundle and send jquery successfully (no error logs)

## Actual behavior

CKAN f

[2022-02-09 06:05] mogul commented on #3683
We'll need to [configure a StorageClass that includes the `encrypted: "true"` setting](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/examples/kubernetes/storageclass) at EKS provisioning time.

[2022-02-09 07:30] #3680 closed, assigned to nobody

[2022-02-09 16:17] FuhuXia opened #3686 "Dashboard data.json validator error on big file"
When validating a data.json by file upload or pasting raw content, it fails if the content is more than 10 MB. Validating by URL is fine.

## How to reproduce

https://dashboard.data.gov/validate

Upload a json file of 10 MB.

## Expected behavior

Return validate result

## Actual behavior

Error on the log.
[code]
## Sketch

[Notes or a checklist reflecting our understanding of the selected appr

[2022-02-09 17:46] nickumia-reisys opened #3687 "Add NLB 307 Redirect Test"
We would like to add a test in the `datagov-brokerpak-eks` repository to automate testing of 307 requests passing through the NLB

## Sketch

(Subject to change if easier implementation found)
- [ ] Implement a simple post action on a web server hosted in a k8s pod
  - [Sample NGING config](https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/#creating-and-explorin

[2022-02-10 06:57] #3682 closed, assigned to nobody

[2022-02-11 03:44] nickumia-reisys commented on #3617
When (or if) we do transition away from the LB Controller, there is a [module](https://github.com/terraform-aws-modules/terraform-aws-alb) that simplifies the provisioning of LBs in general.

[2022-02-12 06:44] datagov-bot opened #3688 "deploy-ci-platform-mb/master #315 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/315/)

[2022-02-14 18:28] jbrown-xentity opened #3689 "GSA Subcontracting API CORS block"
GSA cannot search results of data on subcontracting directory page (see email on 2/14/2022).

[code]

## How to reproduce

1. Go to https://www.gsa.gov/small-business/register-your-business/subcontracting-and-other-partnerships
2. Click on "Subcontracting Directory"
3. See no results

## Expected behavior

See data results, and searching works

## Actual behavior

Cross-origin requested denied

##

[2022-02-14 19:40] #3673 closed, assigned to nobody

[2022-02-14 19:41] #3678 closed, assigned to nobody

[2022-02-14 19:41] #3679 closed, assigned to nobody

[2022-02-14 19:43] mogul commented on #3684
Icebox'ing until we see that this is actually affecting humans.

[2022-02-14 19:45] mogul commented on #3685
Icebox'ing until we have some indication that this is affecting humans.

[2022-02-14 19:49] mogul commented on #3689
Hyon is checking with them to get more context.

[2022-02-14 21:48] hkdctol commented on #3689
According to the GSA contact, the page has been in use since 2018, and the page was loading fine as of November 2021. Do we have an idea of level of effort?

[2022-02-14 22:37] FuhuXia commented on #3689
On FCS, inventory was served with `Access-Control-Allow-Origin "*"` in [apache conf](https://github.com/GSA/datagov-deploy/blob/master/ansible/roles/software/ckan/inventory/templates/etc/apache2/sites-enabled/ckan.conf#L32).
On Cloud.gov we did not specify `Access-Control-Allow-Origin`.

[2022-02-15 15:00] FuhuXia commented on #3686
Fix verified. Can upload the doj data.json file (10143995 in size) and validate.

[2022-02-15 16:23] FuhuXia commented on #3583
This is for the management Jenkins host internal traffic.

[2022-02-15 18:32] FuhuXia commented on #3582
All vulnerable package upgraded. should be good for another a few months.

[2022-02-16 07:25] #3688 closed, assigned to nobody

[2022-02-16 18:00] jbrown-xentity commented on #3629
## Sketch
Follow [previous example](https://stackoverflow.com/questions/60576263/cloudfoundry-how-to-use-multiple-buildpacks-nginx-django-gunicorn):
- [ ] Add nginx buildpack in the middle of the buildpacks [here](https://github.com/GSA/catalog.data.gov/blob/main/manifest.yml#L6)
- [ ] Decide on new CKAN port (5000? dynamic?) to run in the background; can't collide with whatever is given by cloud.

[2022-02-16 19:28] hkdctol commented on #3689
@FuhuXia does this mean it's a simple fix?

[2022-02-16 20:58] FuhuXia commented on #3689
@hkdctol
No, it is just some info showing why it worked before but not working on cloud.gov. To fix it we still need to go thru what is sketched and do it with nginx.

[2022-02-16 21:14] hkdctol commented on #3689
@FuhuXia what do you think amount of work is? We should still focus on the cloud.gov work but GSA will be asking.

[2022-02-17 06:40] datagov-bot opened #3690 "deploy-ci-platform-mb/develop (sandbox) #267 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/267/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/267/pipeline) (blue)

[2022-02-17 16:34] FuhuXia opened #3691 "Facet link gives 500 error on Catalog organization page"
## How to reproduce

Go to any organization page, click any facet link on the left.

Example link:
https://catalog-dev-datagov.app.cloud.gov/organization/gsa?tags=test

## Expected behavior

Page loads with 200 status code.

## Actual behavior

500 error.

Error message logged:
[code]

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-02-17 17:56] robert-bryson commented on #3629
I think I followed the sketch with [this](https://github.com/GSA/catalog.data.gov/pull/423/commits/2b2ec3e1a8c12b919fa0d06b5a89ab8f17a87a29) but need some guidance. Draft PR at https://github.com/GSA/catalog.data.gov/pull/423

[2022-02-18 06:55] datagov-bot opened #3692 "deploy-ci-platform-mb/master #317 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/317/)

[2022-02-18 15:51] FuhuXia opened #3693 "O+M 2022-03-03"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-02-18 16:30] nickumia-reisys opened #3694 "Mysterious Unencrypted EBS Volume"
EKS Brokerpak v2.3.2+

## How to reproduce

1. Bring up an EKS Cluster

## Expected behavior

All Volumes are encrypted.

## Actual behavior

New volumes using our custom `ebs-sc` (ebs storage class) are encrypted.  (This was verified in https://github.com/GSA/datagov-deploy/issues/3683)  However, during startup there is a volume that mysteriously gets created and is not encrypted.

![image](https

[2022-02-18 16:58] nickumia-reisys commented on #3677
This issue was delayed because the update could not be deployed to the SSB cleanly.  Multiple fixes were attempted (memory considerations, eks dual-provisioning race conditions, terraform provider version constaints).  The actual problem was a documentation update that used the subdomain name as the name for the Load Balancer.  The name of an AWS Load Balancer is limited to 32 characters and the S

[2022-02-18 17:11] nickumia-reisys opened #3695 "Log EKS errors during brokerpak testing properly"
EKS Brokerpak 2.3.2+

## How to reproduce

1. Provision an eks cluster through the cloud-service-broker.
2. Run into a non-fatal error

## Expected behavior

Provisioning succeeds; but there is a warning or other non-fatal output
![image](https://user-images.githubusercontent.com/85196563/154729268-dddfb353-66e2-4b73-ad25-052d6abd814e.png)

## Actual behavior

Provisioning succeeds (in a bad way);

[2022-02-18 17:33] nickumia-reisys commented on #3695
Attempt to fix with https://github.com/GSA/datagov-brokerpak-eks/pull/77/commits/df64d54ce6e60e48766009afb08bd943ac0b69c8

[2022-02-18 18:27] jbrown-xentity commented on #3666
This may be a false positive.

[2022-02-18 18:37] jbrown-xentity opened #3696 "Standing terraform driven EKS deployments for each SSB space"
## User Story

In order to bypass delays related to the SSB deployment process, data.gov admins will deploy a single EKS instance per space using terraform and github actions and bind the credentials to ssb-solrcloud using a user-provided service.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Beh

[2022-02-18 18:46] jbrown-xentity opened #3697 "Inventory uses SOLR 8"
## User Story

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND optionally another precondition] \
  WHEN [a triggering event] happens \
  THEN

[2022-02-18 18:58] FuhuXia commented on #3691
Duplicate of https://github.com/GSA/datagov-deploy/issues/3672

[2022-02-18 18:58] #3691 closed, assigned to FuhuXia

[2022-02-18 20:49] mogul commented on #3666
In particular:

- The domains in question have no subdomains so the directive would not be doing anything even if it was present.
- The data.gov root domain is already in the HSTS preload list with subdomains included.

[2022-02-19 07:27] #3692 closed, assigned to nobody

[2022-02-21 06:49] #3690 closed, assigned to nobody

[2022-02-22 18:20] jbrown-xentity commented on #3576
We have moved to route53 to manage DNS, this is no longer necessary.

[2022-02-22 18:49] jbrown-xentity commented on #3547
Since we are off GSA DNS and onto 18f DNS, this is unblocked. For federalist to be able to provision the domain, we need to remove the Cloudfront middle-man and point our DNS directly to FCS. Then we can remove the Cloudfront record and allow Federalist to provision; and then finally we will update our DNS to point to Federalist instead of FCS.

[2022-02-24 06:42] datagov-bot opened #3698 "deploy-ci-platform-mb/master #321 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/321/)

[2022-02-24 19:30] mogul commented on #3576
We determined that using the A/ALIAS record for data.gov to point to www.data.gov would result in the site being available at both URLs with no redirect, which isn't desirable. So we're going back to implementing a redirect. At the same time, we've decided the canonical URL should be data.gov, not www.data.gov.

We'll be using [our existing method for handling subdomain redirects](https://github.c

[2022-02-24 21:05] mogul commented on #3694
I'm pretty sure that the EBS volume we're seeing here is the volume attached to the managed-node group EC2 instance. We are not setting any parameters that we could be to ensure MNGs use encrypted volumes by default. In other words this is unrelated to the PVC/CSI work we did recently.

[2022-02-24 21:13] mogul commented on #3695
Not getting in the way much; icebox'ing until we're back to working on brokering EKS instead of directly terraform'ing it up.

[2022-02-24 21:16] mogul commented on #3677
This issue is blocked until we finish work on the direct Terraform deployment, which will address the immediate issue.

[2022-02-25 06:51] mogul commented on #3576
Next steps:

1. Approve and merge [this PR](https://github.com/GSA/datagov-website/pull/24) (which enables our cloud.gov-hosted redirect from [www.data.gov](http://www.data.gov/) -> [data.gov](http://data.gov/)).
Make sure it deploys without incident.
1. Mark [this PR](https://github.com/18F/dns/pull/586) ready for review, and post in [#tts-tech-portfolio](https://gsa-tts.slack.com/archives/CNW3GL

[2022-02-25 16:20] FuhuXia opened #3700 "www.data.gov is be redirected to data.gov/ocean"
## How to reproduce

type www.data.gov into browser.

## Expected behavior

Loads data.gov home page

## Actual behavior

Gets redirected to https://data.gov/ocean/

[code]

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-02-25 16:30] #3700 closed, assigned to FuhuXia

[2022-02-25 16:54] FuhuXia commented on #3700
Above one-liner change fixed it.

[2022-02-26 06:40] datagov-bot opened #3701 "deploy-ci-app-wordpress-mb/fcs #202 failed"
Build 'deploy-ci-app-wordpress-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-wordpress-mb/job/fcs/202/)

[2022-02-28 20:01] FuhuXia opened #3703 "Style data.gov/about"
data.gov/about was reported un-styled. A [quick fix](https://github.com/GSA/datagov-website/pull/29) gave it basic style but the body content is still raw-looking.

## How to reproduce

https://data.gov/about

## Expected behavior

Same style as it was on FCS wordpress
![image](https://user-images.githubusercontent.com/1392461/156050403-a99e2e54-8c08-4f10-95e9-99b9e2766f51.png)

## Actual behavior

[2022-03-01 18:11] mogul commented on #3629
Update: We've found a method to move forward with the proxy continuing as a separate app.

[2022-03-01 18:14] mogul commented on #3547
Reopening until we have FCS deprovision the relevant infrastructure in their environment, which we missed in our sketch.

[2022-03-01 19:57] robert-bryson commented on #3629
After the changes yesterday, we had been having inconsistent responses from the proxy, and many issues like:
![image](https://user-images.githubusercontent.com/91547795/156239231-8af2f2bc-5e44-4883-aa82-dabbe2a355a9.png)
 I believe this is because [by default](http://nginx.org/en/docs/http/ngx_http_core_module.html#resolver) the resolver we added looks up both ipv4 and ipv6 address.

Adding an `ip

[2022-03-01 22:14] FuhuXia commented on #3518
Fixed. The package installed is newer than required version.

[2022-03-02 17:53] jbrown-xentity commented on #3641
Confirmed, deployed (to staging and dev, prod still not available with solr).
![image](https://user-images.githubusercontent.com/26980513/156419710-2418e76c-b420-429b-a441-7e572772b3e1.png)

[2022-03-02 17:56] jbrown-xentity opened #3704 "Catalog help page missing"
Catalog.data.gov has a `?` button next to organization that links to https://data.gov/catalog-help/, which is not found.

## How to reproduce

1. Go to https://data.gov/catalog-help/

## Expected behavior

Help on catalog content

## Actual behavior

404

## Sketch

- [x] Get on staging and check the page
- [x] Copy content over
- [ ] Publish

[2022-03-02 18:17] jbrown-xentity commented on #3704
Screenshot of the page:
![image](https://user-images.githubusercontent.com/26980513/156423385-60d5f37b-d3b0-4365-b5df-853571f05fa8.png)

Text content:
[code]

[2022-03-02 20:09] datagov-bot opened #3705 "deploy-ci-app-catalog-next-mb/fcs #239 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/239/)

[2022-03-03 06:55] #3705 closed, assigned to nobody

[2022-03-03 16:37] nickumia-reisys opened #3706 "Fix Tests on EKS Brokerpak Branch and merge into main"
[We did a bunch of delicate Terraform surgery to get our static deployment of EKS working](https://github.com/GSA/datagov-brokerpak-eks/pull/82) and now we need to bring all that work back into the brokerpak workflow.

## How to reproduce

1. Take a look at [this PR](https://github.com/GSA/datagov-brokerpak-eks/pull/82).

## Expected behavior

Tests are passing and the PR was merged

## Actual beh

[2022-03-03 17:02] FuhuXia commented on #3583
TLS 1.0 and 1.1 supports were removed.

![image](https://user-images.githubusercontent.com/1392461/156613997-9dc9e404-4082-4f3a-9d96-2c278e4e7f84.png)

[2022-03-03 17:04] robert-bryson opened #3708 "Logging out of inventory-stage/catalog-stage causes 500 and fails to log out"
## How to reproduce

1. Log in to https://catalog-stage-datagov.app.cloud.gov/dataset/
1. Try to log out.

![Recording 2022-03-03 at 09.03.00.gif](https://images.zenhubusercontent.com/615477f9d57459b3cbe8ae7a/e25dcffb-bdd1-45d9-95b7-8d2da82935da)

## Expected behavior

To be logged out

## Actual behavior

500 and still logged in

## Sketch

- [ ] Review the log, it will show the line that's respo

[2022-03-03 18:08] #3686 closed, assigned to jbrown-xentity

[2022-03-03 18:08] #3674 closed, assigned to FuhuXia, jbrown-xentity

[2022-03-03 18:09] #3630 closed, assigned to FuhuXia

[2022-03-03 18:10] #3587 closed, assigned to FuhuXia

[2022-03-03 18:10] #3683 closed, assigned to nickumia-reisys

[2022-03-03 18:10] #3582 closed, assigned to FuhuXia

[2022-03-03 18:11] #3649 closed, assigned to FuhuXia

[2022-03-03 18:25] #3518 closed, assigned to FuhuXia

[2022-03-03 18:26] #3545 closed, assigned to FuhuXia

[2022-03-03 18:26] #3632 closed, assigned to FuhuXia

[2022-03-03 20:24] hkdctol opened #3709 "Catalog dataset pages do not link to contact form"
Each catalog dataset page has links to "Submit Data Story" and "Report Data Issue." They previously directed to the Wordpress contact page. They should direct to the new data.gov/contact form that uses Touchpoints

## How to reproduce

Go to any catalog page and hit "Submit Data Story" or "Report Data Issue" button

## Expected behavior

Both should direct to the new data.gov/contact form that use

[2022-03-03 21:13] mogul commented on #3708
Better report of #3544

[2022-03-03 21:15] #3544 closed, assigned to nobody

[2022-03-03 21:19] #3693 closed, assigned to FuhuXia

[2022-03-03 21:29] #3677 closed, assigned to mogul, nickumia-reisys

[2022-03-03 21:29] #3696 closed, assigned to mogul, nickumia-reisys

[2022-03-03 21:29] #3672 closed, assigned to FuhuXia

[2022-03-03 21:29] #3583 closed, assigned to FuhuXia

[2022-03-03 21:30] #3641 closed, assigned to robert-bryson

[2022-03-03 21:30] #3576 closed, assigned to mogul

[2022-03-03 21:31] #3517 closed, assigned to FuhuXia

[2022-03-03 21:46] jbrown-xentity opened #3710 "FCS resources removed"
## User Story

In order to be secure and save resources, data.gov sysadmin want all FCS resources removed.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] WHEN we check the FCS servers \
  THEN the server is not resolvable\
  AND all d

[2022-03-03 22:04] FuhuXia commented on #3710
In case we still need to access the content after FCS removal, I have a fully working local instance with the final db backup of 2021-11-10-production-wordpress.sql.gz.

[2022-03-04 15:38] FuhuXia opened #3711 "Nessus Results: Linux kernel vulnerabilities"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.2sz08o1khpig)._

**Date of report:** 2022-02-26
**Severity:** High
**Due date:** 2022-03-26

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2022-03-04 15:51] FuhuXia opened #3712 "Nessus report: Apache Solr Information Disclosure"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.6npprx69817v)._

**Date of report:** 2022-02-23
**Severity:** Medium
**Due date:** 2022-05-23

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been

[2022-03-04 16:25] FuhuXia opened #3713 "O+M 2022-03-17"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-03-04 19:31] nickumia-reisys opened #3714 "Script ECS/EKS Cleanup Procedures"
## User Story

In order to easily clean up borked eks instances, data.gov team wants to create an idempotent script that can cleanup dangling services and resources in the AWS development/staging/production accounts.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavi

[2022-03-04 20:10] FuhuXia commented on #3711
vulnerable package was removed once for all from all instances. hopefully we will never see this kind of vulnerabilities any more.

[2022-03-04 20:42] FuhuXia opened #3715 "Show custom error page when no inventory app instances available"
When the app is down, cloud.gov shows a generic 404 or 502 error page, offering site visitor no options to notify data.gov team.

![image](https://user-images.githubusercontent.com/1392461/156837939-28b907b9-3160-47d9-b7b0-bd7a68496d4c.png)

## Expected behavior
Custom error page with a working contact us form.

[2022-03-05 06:40] datagov-bot opened #3716 "deploy-ci-platform-mb/develop (sandbox) #273 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/273/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/273/pipeline) (blue)

[2022-03-07 06:43] #3716 closed, assigned to nobody

[2022-03-07 16:30] FuhuXia opened #3717 "Location/Map search error on catalog"
Search by location or Map generate no results. It shows an error message:
[code]

![image](https://user-images.githubusercontent.com/1392461/157075382-5951b15b-25f2-408c-a8e8-81452e4faa34.png)

## How to reproduce

[Search and choose Virginia on location search](https://catalog-stage-datagov.app.cloud.gov/dataset?q=&sort=views_recent+desc&ext_location=Virginia&ext_bbox=-83.6752%2C36.5416%2C-75.242

[2022-03-07 17:04] nickumia-reisys commented on #3717
I think this is because the recent upgrades did not make it to staging.  I'm redeploying the last deploy action and I'll let you know if this is actually a problem.
![image](https://user-images.githubusercontent.com/85196563/157082189-051e7efe-0f94-492d-9041-14eb71ca12d6.png)

[2022-03-07 17:07] FuhuXia commented on #3717
Staging appears to up-to-date with latest fixes. I think it is solr settings.

[2022-03-07 17:12] nickumia-reisys commented on #3717
It just finished updating, and yeah, the bug is still there 😢

[2022-03-07 17:50] nickumia-reisys opened #3718 "datagov-ssb -- 'The request is invalid'"
Cloud.gov cli v8
datagov-ssb@55c547dda56568045915a20b198301f021f14e94
solr-brokerpak v0.20.2 AND solr-brokerpak v1.0.7
eks-brokerpak v1.0.2 (only for solr-brokerpak v0.20.2)
eks-brokerpak@another-fix-for-finding-binaries (only for solr-brokerpak v1.0.7)

## How to reproduce

1. Unreliable reproduction..
    - https://github.com/GSA/datagov-ssb/runs/5452640639?check_suite_focus=true#step:5:618

[2022-03-07 22:38] robert-bryson commented on #3629
`cf add-network-policy catalog-proxy catalog --protocol tcp --port 61443` will need to be run in `staging` and `prod` (to allow `catalog-proxy` to route to `catalog` in those spaces). Not sure if it should be added before or after merging.

[2022-03-08 19:36] lukefretwell opened #3719 "Change GitHub link in footer to proper repository"
## How to reproduce

1. Go to footer on Data.gov.
2. Click GitHub icon.

## Expected behavior

I would expect it to go to the Data.gov repository where I can submit issues and view the project board and roadmap.

## Actual behavior

It appears it's taking me to a repository that is not the correct one.

## Sketch

![Screenshot 2022-03-08 at 11-28-12 Data gov](https://user-images.githubusercontent.

[2022-03-08 22:47] robert-bryson commented on #3719
@lukefretwell , thanks for letting us know about this! Much appreciated.

These links on data.gov should now point to the correct repo. Though the fix PR is out, the links on catalog.data.gov will not be publicly visible immediately as we are making some infrastructure changes internally, though hopefully soon!

[2022-03-08 22:54] robert-bryson commented on #3629
With this [PR](https://github.com/GSA/catalog.data.gov/pull/427), catalog-proxy is deployed and working. As per above, the network-policy had to be added in stage and still needs to be added in prod.

It is currently blocked in prod by catalog not being deployed due to solr issues I don't really understand. Once that is cleared up, the network policy will need to be addede there.

[2022-03-08 23:00] lukefretwell commented on #3719
Thank you @robert-bryson! Appreciate the engagement. Is there a difference between data.gov and catalog.data.gov?

[2022-03-08 23:07] jbrown-xentity commented on #3719
data.gov is a static site that we publish information on: how to use the site, how to get data published, open data blogs, etc.
catalog.data.gov is the catalog of open data, powered by CKAN. That deployment process (still in work) is at https://github.com/gsa/catalog.data.gov.

[2022-03-08 23:09] robert-bryson commented on #3719
Yes, they are separate sites.

data.gov is a static site that was recently transitioned from a Word Press site to a site on [Federalist](https://federalist.18f.gov/). Its repo is https://github.com/GSA/datagov-website.

catalog.data.gov is dynamic site running [ckan](https://ckan.org/) under the hood. It is in the middle of a similar but more complex transition (which is what is blocking the updat

[2022-03-08 23:55] lukefretwell commented on #3719
@robert-bryson thank you. Honestly, it's all a little confusing for someone external. I'd love to collaborate and give feedback (if you want it 😛 ) but having three different repos makes it hard to discern where I should go to do what.

What would be helpful is to where to submit what, but also just see one collective project board of all the repo activity related to data.gov.

[2022-03-09 01:48] mogul commented on #3719
Three repos would be a dream... The reality is that there's 24+ repos associated with data.gov.😬

We'd be unable to manage the complexity ourselves without looking at it via ZenHub, which collects all of those repos onto one board. If you're wiling to log in with your GitHub ID, then you can view our board [at the ZenHub website](https://app.zenhub.com/workspaces/datagov-devsecops-579a2532d1d6ea9c

[2022-03-09 01:59] lukefretwell commented on #3719
@mogul why not use GitHub org project board that let's you add multiple repos. Then you could make that public and folks wouldn't need GitHub or a browser extension. GitHub Actions is also pretty powerful. I'm not familiar with ZenHub so haven't seen all of its advantages.

[2022-03-09 02:09] lukefretwell opened #3720 "Data.gov accessibility/contrast issues"
## How to reproduce

1. Go to https://wave.webaim.org/.
2. Submit data.gov.
3. See error.

## Expected behavior

The color contrast seems off on Data.gov so I ran it through WAVE and it seems there are a number of them

## Actual behavior

I would expect to see zero errors and a lot less contrast errors.

## Sketch

![Screenshot 2022-03-08 at 18-00-42 Data gov](https://user-images.githubuserconten

[2022-03-09 02:11] mogul commented on #3719
It's only recently (with the new [GitHub Projects Beta](https://docs.github.com/en/issues/trying-out-the-new-projects-experience/about-projects)) that GitHub boards grew enough features to make it a viable replacement for ZenHub. There is still some uncertainty if Projects included in GitHub's FedRAMP Li-SaaS compliance boundary while it's still in Beta, and we also have to do a bunch of manual mi

[2022-03-09 06:28] mogul commented on #3720
Added as an item under epic #1978.

(You can see the list of other sub-items in that Epic via ZenHub. You can see the list of epics and their current status if you show only Epics on the ZenHub board. Epics in the Icebox are not particularly well-sorted beyond the top few. Note we're not taking that epic on just yet, but hope to soonish.)

[2022-03-09 06:39] datagov-bot opened #3721 "deploy-ci-app-catalog-next-mb/fcs (sandbox) #217 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-catalog-next-mb/job/fcs/217/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-catalog-next-mb » fcs/detail/deploy-ci-app-catalog-next-mb » fcs/217/pipeline) (blue)

[2022-03-09 17:54] robert-bryson commented on #3626
Will check back with this once the long crawl completes. (6-24hrs?)

[2022-03-09 18:01] jbrown-xentity commented on #3666
data.gov root domain was fixed with preload yesterday; we should be able to verify on the next scan.
Currently inventory.data.gov is preloaded.

[2022-03-09 18:09] robert-bryson commented on #3626
![image](https://user-images.githubusercontent.com/91547795/157504011-2a20b78d-4dcc-4544-a429-55943c08219d.png)

`cf tasks dashboard` in `prod` space to check. Looks like task id `165`.

[2022-03-09 18:32] jbrown-xentity opened #3725 "Add 404 page for data.gov"
## User Story

In order to have a good user experience, data.gov admins want a data.gov themed 404 page.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN a generic 404 page is created for data.gov \
  WHEN a user goes to https://d

[2022-03-09 19:39] hkdctol opened #3726 "Create a time-limited comment form for Data.gov that is present throughout website"
## User Story

In order to mark [Sunshine Week](https://www.newsleaders.org/sunshine-week-about) and to assist in ongoing user research for Data.gov, Data.gov wants to create a temporary comment form inviting users to share their comments about Data.gov that is present throughout the website.

## Acceptance Criteria

- [ ] GIVEN a user navigates to data.gov or a dataset page on catalog.data.gov \

[2022-03-09 19:48] #3698 closed, assigned to nobody

[2022-03-09 20:04] datagov-bot opened #3727 "deploy-ci-app-catalog-next-mb/fcs #245 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/245/)

[2022-03-09 21:11] #3727 closed, assigned to nobody

[2022-03-10 06:35] #3701 closed, assigned to nobody

[2022-03-10 17:26] robert-bryson commented on #3626
![image](https://user-images.githubusercontent.com/91547795/157720252-f81fd6e0-6626-4730-a1cc-e8dc267208eb.png)

[2022-03-10 17:31] nickumia-reisys commented on #3726
@hkdctol Is `data.gov/sunshine-week` a good url name for the link?

[2022-03-10 17:54] datagov-bot opened #3728 "deploy-ci-platform-mb/master #340 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/340/)

[2022-03-10 19:57] hkdctol commented on #3726
@nickumia-reisys yes I think that would be fine

[2022-03-10 20:35] #3728 closed, assigned to nobody

[2022-03-10 21:14] mogul commented on #3712
We expect to address this well within the remediation timeline by getting off of the Solr deployment in FCS and onto a new deployment in cloud.gov.

[2022-03-10 21:17] mogul commented on #3715
Possibly an opportunity to have an nginx proxy in front of the application handle the case where the proxy_pass upstream is returning 404s.

[2022-03-10 22:08] mogul opened #3729 "Proxy inventory traffic for flexibility"
## User Story

In order to handle special header and redirect needs for the `inventory` app, we want to [deploy a proxy server](https://docs.gunicorn.org/en/stable/deploy.html#nginx-configuration) that will manage client requests.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_deve

[2022-03-11 05:57] nickumia-reisys commented on #3726
Does this look okay for the banner on catalog.data.gov?

![image](https://user-images.githubusercontent.com/85196563/157810879-0f8cbf74-f5ca-4db4-9157-1a6aeefb1434.png)

[2022-03-11 06:53] #3721 closed, assigned to nobody

[2022-03-11 13:23] nickumia-reisys commented on #3726
This was the "default" banner type on the static site.  Which one do we think is better for our presentation?  I'll update either with the consolidated format.  @hkdctol @jbrown-xentity @FuhuXia @robert-bryson

![image](https://user-images.githubusercontent.com/85196563/157874815-4aa954a1-30ee-4437-9105-88cc241744f1.png)

[2022-03-11 14:18] hkdctol commented on #3726
@nickumia-reisys I think the first one stands out more. Are there different options on color?

[2022-03-11 14:29] nickumia-reisys commented on #3726
Yes!  We can choose any color that we want.  Here's a link to some [pre-defined colors](https://materialui.co/colors/) based on the Material UI Design Standard.  We can pull colors from anywhere though.

These are [some colors ](https://designsystem.digital.gov/utilities/color/)from the USWDS page, but it's not as outlined.

[2022-03-11 16:56] hkdctol opened #3730 "Create User Testing Plan and conduct first round testing"
## User Story

In order to meet the User-Centric factor of the 21st Century IDEA Act requirements, Data.gov needs to create a plan for user testing.

## Acceptance Criteria

- [x] GIVEN the User-Centric requirements of the 21st Century IDEA Act and GSA Guidance at https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit?usp=sharing \
  THEN Data.gov has a written plan t

[2022-03-11 19:43] hkdctol commented on #3726
@nickumia-reisys on the form https://touchpoints.app.cloud.gov/touchpoints/e445c71e/submit can "Sunshine Week" link to https://www.newsleaders.org/sunshine-week-about

[2022-03-11 20:20] nickumia-reisys commented on #3726
@hkdctol Unfortunately, there does not seem to be a hyperlink text option in formatting the touchpoints form.  I added the link as a "question" under the instructions to get it to show up as a separate block.  Otherwise, it would be meshed with the instruction block and be lost at the end.  Let me know if it's too confusing and we can add the link to the webpage itself instead of relying on touchp

[2022-03-11 20:20] mogul commented on #3664
This issue should probably incorporate tearing down Jenkins and removing all the Ansible code too.

[2022-03-11 20:53] hkdctol commented on #3726
I think the first one is fine. We may leave the form up longer than the week, and at that point we'd remove the reference and the link

[2022-03-11 21:06] mogul commented on #3718
I'm able to reproduce this locally now and will investigate further.

[2022-03-11 22:35] FuhuXia commented on #3628
Issue is fixed. Org GSA generated a unredacted.zip with expected content.

![image](https://user-images.githubusercontent.com/1392461/157982337-b4d22df9-1d95-4778-8621-e7d1b8ac9a66.png)

[2022-03-12 00:26] mogul commented on #3718
I happened across [this PR and the resulting discussion](https://github.com/cloudfoundry-community/terraform-provider-cloudfoundry/issues/273), which points to what was different about the `production` deployment: The target space, `management` has ssh disabled.

I ran `cf allow-space-ssh management`, and then tried applying again. This time I got "The app name is taken"... which is expected becau

[2022-03-12 00:56] mogul commented on #3718
I confirmed that disabling ssh on the space again did not affect the ability for Terraform to do a successful apply on existing apps.

[2022-03-12 18:43] nickumia-reisys commented on #922
We have successfully [updated catalog](https://github.com/GSA/catalog.data.gov/pull/397) to use the latest LTS release of Solr.

There is an issue to finish updating inventory to use Solr 8 as well.  This issue has been superseded by https://github.com/GSA/datagov-deploy/issues/3697 for Inventory.

[2022-03-12 21:35] nickumia-reisys commented on #3697
Inventory is now successfully running with Solr 8 in development space, https://inventory-dev-datagov.app.cloud.gov/dataset/
![image](https://user-images.githubusercontent.com/85196563/158035442-262050a2-b7e8-48e0-97ef-e3c8736c0460.png)

It is using the `ssb-solrcloud` broker and had no issues creating a Solr 8 cluster,
![image](https://user-images.githubusercontent.com/85196563/158035809-6abd9a3e

[2022-03-14 13:17] nickumia-reisys commented on #3697
I tried running a search-index-rebuild but there was no data in the DB.  Good news is that it succeeded though haha..

![image](https://user-images.githubusercontent.com/85196563/158179574-18113961-bdfd-46c7-8d17-c88556b03c2e.png)

[2022-03-14 15:44] robert-bryson commented on #3629
Working now in [prod](https://catalog-prod-datagov.app.cloud.gov/dataset). Someone must have done the `cf add-network-policy`, thanks friendly stranger!

[2022-03-14 15:53] nickumia-reisys commented on #3725
Waiting to do this after the [other PR](https://github.com/GSA/datagov-website/pull/32) merges.

The solution:
Adding the following into `404.md`
[code]

[2022-03-14 15:57] nickumia-reisys commented on #3629
@robert-bryson Sorry, I mentioned it in slack that I fixed it to get catalog up for solr testing!

[2022-03-14 15:58] robert-bryson commented on #3629
Thank you for doing it, @nickumia-reisys !

[2022-03-14 16:53] nickumia-reisys commented on #3725
Preliminary testing results:
- If we specify a `404.html` (specifically `.html`), jekyll will pick it up and serve.
- Similary, federalist will pick up a `404.html`, https://federalist.18f.gov/documentation/customization/
- However, `404.md` borrowing a style template won't work.

Quick and dirty solution, create a full html page with 100s of lines of random crawled web results for header and foot

[2022-03-14 16:59] nickumia-reisys commented on #3725
This is the 404 page from the link above,
![image](https://user-images.githubusercontent.com/85196563/158222649-7afde1a6-15a6-420d-b77d-71f685d8846e.png)

I thought we wanted to keep the same data.gov web styling.

[2022-03-14 21:39] jbrown-xentity opened #3731 "dcat-us harvest has more data than the source (DOI)"
data.doi.gov has 29,057 datasets (at current time): https://data.doi.gov/dataset
data.gov has 29,714 datasets for DOI (should be at most off by 4): https://catalog.data.gov/organization/doi-gov

## How to reproduce

1. Check number of datasets in https://data.doi.gov/data.json
1. Confirm same number as in https://catalog.data.gov/organization/doi-gov (or less, due to errors)

## Expected behavior

[2022-03-15 15:04] nickumia-reisys commented on #3725
Useful reference: https://github.com/jekyll/jekyll/issues/7451

[2022-03-15 15:07] nickumia-reisys commented on #3636
Most recent result from the above query... Not sure how to interpret it yet.

![image](https://user-images.githubusercontent.com/85196563/158408388-513c6879-701c-448b-816d-764d4122c255.png)

[2022-03-15 15:09] nickumia-reisys commented on #3636
I checked this link, https://catalog-stage-datagov.app.cloud.gov/dataset/?page=1800

It still takes a long time to load, but it actually loads.

[2022-03-15 16:44] mogul commented on #3633
From Peter at cloud.gov:

We'll essentially be using this same language to call this an Operational Requirement for data.gov.

[2022-03-15 16:58] mogul opened #3733 "Ensure all EC2 instances in SSB accounts are regularly scanned"
## User Story

In order to satisfy vulnerability scanning needs for managed node groups, the data.gov team wants to enable[ AWS Inspector](https://aws.amazon.com/inspector/?nc=sn&loc=1) in the SSB accounts.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_speci

[2022-03-15 17:19] datagov-bot opened #3735 "deploy-ci-platform-mb/master #344 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [fxia] a25b4f546cca51654168bd57a5822781fc966868 - Login.gov 2022 SAML IdP certificate rotation

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/344/)

[2022-03-15 18:47] FuhuXia commented on #3636
On staging it timed 20+ seconds for most of deep pagination pages (> 15000). On prod it was about 40 seconds, probably due to prod Solr was busy at re-indexing.

[2022-03-16 06:38] datagov-bot opened #3736 "deploy-ci-app-catalog-next-mb/fcs #252 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/252/)

[2022-03-16 07:15] #3735 closed, assigned to nobody

[2022-03-16 14:20] #3736 closed, assigned to nobody

[2022-03-16 15:58] crysacarter opened #3737 "404 error on "Submit Data Story" button"
## How to reproduce

1. Open any dataset on catalog.data.gov
2. Click Submit Data Story button

## Expected behavior

## Actual behavior

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-03-16 16:08] FuhuXia commented on #3659
SAML IdP certs of 2022 are done. Now move on to SP certs which have expiry dates less than 2 years.

[2022-03-17 00:07] mogul commented on #3665
I said in our meeting today that I thought the VPC-CNI add-on for EKS would be sufficient for us to implement a default-deny `NetworkPolicy`, but I was wrong... We still need Calico to do that. Luckily [installing and validating Calico is pretty easy these days](https://docs.aws.amazon.com/eks/latest/userguide/calico.html).

[2022-03-17 00:08] mogul commented on #3665
Note that [the monzo-operator hasn't been touched in 11 months](https://github.com/monzo/egress-operator), so it may no longer be a first-choice solution.

[2022-03-17 14:19] robert-bryson commented on #3622
As per [@pburkholder's comment](https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1647039859733149?thread_ts=1647021005.693449&cid=C09CR1Q9Z) to my mis-copied screenshot: "The finding is an operational requirement until [cloud.gov](http://cloud.gov/) updates their available ciphersuites". Closing and marking as resolved.

[2022-03-17 14:23] robert-bryson commented on #3633
I guess Bret beat me to it, but will use this language for response. Closing and will resolve.

[2022-03-17 14:35] robert-bryson commented on #3589
Thanks to @mogul's help yesterday untangling the rebase issue, the builds relatively correctly but with many conflicts.

Here is one, for example:

[code]

[2022-03-17 14:43] robert-bryson commented on #3629
For the eventual evidence:

AC 1:
<img width="1199" alt="Screen Shot 2022-03-17 at 3 38 51 PM" src="https://user-images.githubusercontent.com/91547795/158829701-c401140d-ddf0-4ad7-b8d9-5ba76ef9a501.png">

AC 2:
<img width="730" alt="Screen Shot 2022-03-17 at 3 42 17 PM" src="https://user-images.githubusercontent.com/91547795/158829850-523d2af8-1f69-4c1d-b5d6-6ea13badbee9.png">

[2022-03-17 14:44] datagov-bot opened #3738 "deploy-ci-platform-mb/master #346 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/346/)

[2022-03-17 17:56] #3628 closed, assigned to FuhuXia

[2022-03-17 17:56] #3694 closed, assigned to FuhuXia

[2022-03-17 17:56] #3711 closed, assigned to FuhuXia

[2022-03-17 17:57] #3718 closed, assigned to mogul

[2022-03-17 17:57] #3726 closed, assigned to nickumia-reisys

[2022-03-17 17:57] #3547 closed, assigned to jbrown-xentity, robert-bryson

[2022-03-17 17:57] #3622 closed, assigned to robert-bryson

[2022-03-17 17:57] #3626 closed, assigned to robert-bryson

[2022-03-17 17:57] #3629 closed, assigned to robert-bryson

[2022-03-17 17:57] #3633 closed, assigned to robert-bryson

[2022-03-17 18:00] robert-bryson commented on #3629
To compliment @mogul unmapping catalog's now extraneous old external route, I deleted it:
[code]

[2022-03-17 20:16] FuhuXia commented on #3737
This issue has been resolved and deployed to catalog on cloud.gov.
https://github.com/GSA/data.gov/issues/3709

[2022-03-17 20:16] #3737 closed, assigned to jbrown-xentity

[2022-03-17 20:23] mogul commented on #3697
We're going to hold off on deploying this change until catalog.data.gov is also on cloud.gov and we're less worried disturbing the static deployment of EKS that underpins it.

[2022-03-17 20:25] FuhuXia commented on #3636
We rarely see the 500 error. We will mark resolved.

[2022-03-17 20:34] mogul commented on #3719
The link now points to https://www.github.com/GSA/datagov-deploy. We've recently renamed that repository, but GitHub is properly forwarding clicks on that link to the new location. Going to mark this resolved. (We will make the link point to the canonical location when we do some cleanup on the Jekyll layouts in future.)

[2022-03-17 20:42] FuhuXia commented on #3659
we still have until Feb of next year before SP expires, also, login.gov support claims expired SP will continue work, hopefully without any frontend UI disruption, Will deal with it at a later time.

[2022-03-17 21:08] mogul commented on #3706
Currently blocked by https://github.com/18F/dns/pull/593

[2022-03-17 21:18] FuhuXia commented on #3659
One interesting finding. SP public certificate on the APP side does not need to be updated. `ckanext-saml2auth` seems only checks the existence of the file and it basic syntax, does not really load the content. So `saml2_certificate` in vars.yml can have this as content and it still works.
[code]

[2022-03-18 09:45] robert-bryson commented on #3719
This is a white noise fix, so I just did it while waiting on local builds to finish for my other story. See https://github.com/GSA/datagov-website/pull/34

[2022-03-18 11:41] robert-bryson commented on #3589
See below for the full conflict error message:

<details>
  <summary>Warning long!</summary>

         Conflict: The following destination is shared by multiple files.
                    The written file may end up with unexpected contents.
                    /Users/rob/work/repos/datagov-website/_site/local/add/index.html
                     - add-data-catalog-data-gov.md

[2022-03-18 12:04] robert-bryson commented on #3589
`cat conflicts | rg -o --trim '^.*?(\.md).*?$' | cut -c 3-` for list of just the md files described above:

<details>
  <summary>152 md files</summary>

add-data-catalog-data-gov.md
agriculture-highlights.md
apps-3.md
apps-5.md
apps-9.md
challenges-4.md
challenges-5.md
challenges-7.md
climate-highlights.md
climate-model-projections-guidance-notes.md
climate-model-projections.md
communities.md
coun

[2022-03-18 14:01] FuhuXia opened #3739 "O+M 2022-03-31"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-03-18 16:53] FuhuXia commented on #3733
Inspector was enabled on our AWS account to scan all EC2 instances. All EC2 instances are reported `Unmanaged` by SSM. Ran steps as described in [AWSSupport-TroubleshootManagedInstance](https://console.aws.amazon.com/systems-manager/automation/execute/AWSSupport-TroubleshootManagedInstance), it failed at ` Step 8: CheckInstanceIAM` with `AccessDenied` error.

Sample message:
[code]

[2022-03-18 17:51] mogul commented on #3733
Here's the AWS IAM policy role that the login.gov team uses (link above to private repository):
[code]

To attach the policy to all the right roles (the ones used for our EC2 instances in managed node groups) follow [the two existing examples](https://github.com/GSA/datagov-brokerpak-eks/blob/8b7c4fdbbeddcdd5a4f1bdfab06efb0c733de021/terraform/modules/provision-aws/eks.tf#L126-L144).

[2022-03-20 07:28] #3738 closed, assigned to nobody

[2022-03-21 15:32] FuhuXia opened #3740 "Nessus Results - 03122022 Ubuntu package vulnerabilities"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.o9uk0z8413ih)._

**Date of report:** 2022-03-11
**Severity:** High
**Due date:** 2022-04-11

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2022-03-21 15:43] FuhuXia commented on #3740
It seems the reported vulnerable package was updated already. No action needed, unless next week's Nessus scan reports it again.

[2022-03-21 15:43] #3740 closed, assigned to nobody

[2022-03-21 16:36] robert-bryson commented on #3589
Down to
<img width="279" alt="image" src="https://user-images.githubusercontent.com/91547795/159310123-3c635478-3ab3-45a3-8e3e-03e8aa456075.png">
out of the original
<img width="391" alt="image" src="https://user-images.githubusercontent.com/91547795/159310480-e44d3da0-c637-45bd-8a95-378d9efafb51.png">

The larger groups of issues are done, no on to the slow individual ones..

[2022-03-21 18:43] jbrown-xentity opened #3742 "Dataset does not have harvest source or raw metadata information"
https://catalog.data.gov/dataset/north-american-rail-nodes-national-national-geospatial-data-asset-ngda-north-american-rail-node

This is probably due to a solr sync issue, or something similar

## How to reproduce

1. Go to https://catalog.data.gov/dataset/north-american-rail-nodes-national-national-geospatial-data-asset-ngda-north-american-rail-node
1. Note missing harvest information and raw me

[2022-03-21 18:43] jbrown-xentity commented on #3742
Already fixed in staging: https://catalog-stage-datagov.app.cloud.gov/dataset/north-american-rail-nodes-national-national-geospatial-data-asset-ngda-north-american-rail-node

[2022-03-22 03:55] mogul opened #3743 "GSA - data.gov static site content migration - indefinite (whatever we can get)"
_This is the template for the 18F staffing microrequest. I'm leaving the following info about labels in place until we've filled out this issue and transferred it to the `18f/staffing` repository._
[code]

**Project Description**

[Data.gov](https://data.gov/) needs assistance in jump starting an effort to create a new static site. As part of our migration from our old infrastructure to cloud.gov,

[2022-03-22 04:16] mogul commented on #3668
The images `AMI ISE-AMZ-LINUX-EKS-v1.21-GSA-HARDENED*` are now available in the SSB production account. I've asked for them to also be made available to our staging and development accounts.

[2022-03-22 04:19] mogul commented on #3668
Note the images don't show up in searches by default... From [this link](https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2#LaunchInstanceWizard:)  in the production account (us-west-2 region)I had to select `My AMIs` and then check the box for `Ownership> Shared with me` before they showed up in the list of available AMIs.

[2022-03-22 04:55] mogul opened #3744 "Limit brokered EKS service endpoints to cloud.gov egress IP ranges by default"
## User Story

In order to minimize the public surface area of back-end services, we want SSB-brokered k8s service instances to limit control plane client traffic to [the cloud.gov egress ranges](https://cloud.gov/docs/management/static-egress/#cloudgov-egress-ranges) by default.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](h

[2022-03-22 06:01] mogul opened #3745 "Enable backup/restore of k8s workloads between brokered cluster instances"
## User Story

In order to enable easy migration of workloads between clusters, production->staging replication practices, and simpler contingency planning, users of the brokered EKS service want to be able to backup and restore workloads.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-dr

[2022-03-22 06:24] mogul commented on #3733
[Confirmed that we should basically just need to create the policy and attach it to the EC2 service instances...](https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-prereqs.html) The only thing here that requires explicit action from us is "For on-premises servers, edge devices, and VMs, create an IAM service role."

[2022-03-22 06:29] mogul opened #3746 "Ensure a scanned container repository is available to each EKS instance"
## User Story

In order to satisfy vulnerability scanning needs for container workloads, the data.gov team wants to ensure each EKS instance has a corresponding ECR instance, and that [AWS Inspector](https://aws.amazon.com/inspector/?nc=sn&loc=1) is reporting on findings in the content of those ECR instances..

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. T

[2022-03-22 06:40] mogul opened #3747 "Optimize image pull time/cost and ensure images are scanned"
## User Story

In order to minimize the time and cost for deploying EKS workloads, SSB operators want to [use a pull-through cache on ECR Public](https://aws.amazon.com/blogs/aws/announcing-pull-through-cache-repositories-for-amazon-elastic-container-registry/) to pull public images whenever possible (note [Docker Official Images](https://www.docker.com/blog/news-from-aws-reinvent-docker-official-

[2022-03-22 07:19] mogul opened #3748 "Update SSB's SSP to cover recent changes"
## User Story

In order to satisfy assessment and authorization needs, data.gov's GSA ISSM wants the SSB SSP to accurately reflect recent changes to the EKS broker.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN I look at [the m

[2022-03-22 14:07] nickumia-reisys opened #3749 "Harvest Source Pages are too Solr- and DB- intensive"
## How to reproduce

1. Go to and source on the `/harvest` page
2. Check the DB and Solr response times in newrelic.

## Expected behavior

Normal response times
![image](https://user-images.githubusercontent.com/85196563/159500180-51930ff8-478c-479f-a495-68a9179155d0.png)

## Actual behavior

DB and Solr are working too hard
![image](https://user-images.githubusercontent.com/85196563/159498826-7f

[2022-03-22 14:18] FuhuXia opened #3750 "Inventory Publisher field should populating values on any string match"
The way how Publisher field are populated sometime leads to a frustrating user experience. User has to know the exact **starting** letter(s) of a Publisher value in order to see it as an available selection. For example, a user tries to use "Office of Fossil Energy", entering a keyword "fossil" does not give any available values. User has to do some guessing, or refer to[ the csv file](https://git

[2022-03-22 17:53] mogul opened #3751 "Re-implement DNSSEC chain-of-trust test in EKS brokerpak"
## User Story

In order to reliably verify that DNSSEC is configured properly for provisioned instances, the data.gov team wants to reimplement the `delv`-based test in the EKS brokerpak.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ]

[2022-03-22 19:45] mogul opened #3752 "Ensure High/Critical vulnerabilities in Managed Node Groups are mitigated ASAP"
## User Story

In order to ensure that High or Critical findings on live EC2 instances are addressed, the data.gov team want to automatically install patched packages that address findings whenever they are available.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behav

[2022-03-22 21:53] mogul commented on #3752
A nice example module for doing this:
https://github.com/cloudposse/terraform-aws-ssm-patch-manager

[2022-03-23 00:21] mogul commented on #3746
From [this SO post](https://stackoverflow.com/a/54144588) it looks like everything should already be enabled. We may have to push a container into the registry as described there before AWS Inspector will say that it is scanning any images.

(Note our existing deploys of Helm charts/images typically pull from either the Helm chart's own publication endpoint or from Docker Hub. We may need to put E

[2022-03-23 00:36] mogul commented on #3746
I went into the console and confirmed that [these settings](https://us-west-2.console.aws.amazon.com/ecr/private-registry?region=us-west-2) are already in place.

[2022-03-23 02:54] mogul commented on #3746
Having read a bit more, I now know one of my former assumptions was wrong: Creating an EKS cluster does _not_ implicitly create an ECR instance!

So that future work like #3747 will be able to take advantage of the presence of an ECR cluster, I'm going to repurpose this issue a bit to cover ensuring each EKS cluster we provision has a corresponding Inspector-scanned ECR instance.

(The implementat

[2022-03-23 04:54] mogul opened #3753 "Ship AWS Inspector finding logs to downstream consumers"
## User Story

In order to provide scanning findings for EC2 instances and ECR images to downstream GSA consumers, the SSB operators want  findings exported to a provided S3 bucket.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] WHEN

[2022-03-23 05:18] mogul opened #3754 "Notify downstream consumers of new AWS Inspector scan findings"
## User Story

In order to inform downstream GSA consumers when an EKS instance has new security findings, the data.gov team wants interested parties to receive an email notifying them of the new findings.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specif

[2022-03-23 05:52] mogul opened #3755 "[SC-7] Restrict egress traffic from cloud.gov-hosted apps"
## User Story

In order to minimize the harm a compromised app can do, the data.gov team wants egress traffic from cloud.gov-hosted data.gov applications to be limited to just expected destinations.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specification

[2022-03-23 13:25] FuhuXia commented on #3733
PR is merged. Any new EC2 should be covered. Existing EC2 may need to be terminated and re-created? Or there is a way to manually attach the aws_iam_policy to exising EC2's?

[2022-03-23 14:15] FuhuXia opened #3756 "Nessus Results - 03192022 Ubuntu package vulnerabilities"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.yufl1e4gj538)._

**Date of report:** 2022-03-19
**Severity:** Moderate
**Due date:** 2022-06-19

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has be

[2022-03-23 14:24] FuhuXia commented on #3756
Did a scan for FCS prod environment. All hosts have the fixed version package installed. Next week's scan should have clean result for this vulnerability finding. Close for now, reopen if there is new findings.

[2022-03-23 14:24] #3756 closed, assigned to nobody

[2022-03-23 14:38] mogul commented on #3733
I'll apply the Terraform manually on the instances that I'm working with in the dev account. @nickumia-reisys already applied it to the static production deployment.

[2022-03-23 16:02] robert-bryson commented on #3589
At long last:
<img width="430" alt="image" src="https://user-images.githubusercontent.com/91547795/159743077-11802c4f-4fcb-4718-b215-f123a126847f.png">

[2022-03-23 16:14] robert-bryson commented on #3589
One very large caveat with this: html proofer ignores files in the [.htmlproofer-ignore](https://github.com/GSA/datagov-website/blob/main/.htmlproofer-ignore) file. I'm not sure how this file was populated, but currently lists some 900+ files. Some/all of these files may contain issues. I'm not sure how far down this rabbit hole we want to go, but at a glance there are potentially important html f

[2022-03-24 04:08] mogul commented on #3714
[Gruntwork's `cloud-nuke`](https://github.com/gruntwork-io/cloud-nuke) would be a good building block for this cleanup tool.

[2022-03-24 06:01] mogul commented on #3752
If we do end up having to define a policy for the task, there's an example of what it needs to look like here;
https://github.com/osodevops/aws-terraform-module-ssm-automated-patching/blob/master/aws_patching_iam_policy_document.tf

[2022-03-24 07:38] mogul commented on #3752
Iterated a bit on an SSM-focused IAM policy in the AWS Console (https://github.com/GSA/datagov-ssb/pull/133) and tag-based target selection (https://github.com/GSA/datagov-brokerpak-eks/pull/85) until the branch that @nickumia-reisys pushed was working locally.

[2022-03-24 15:24] hkdctol commented on #3743
Contacted 18F about transferring this issue to their staffing repository. They are meeting on it today.

[2022-03-24 16:41] robert-bryson commented on #3589
From my understanding of the static site discussion yesterday, this is ready for review with approval of [PR](https://github.com/GSA/datagov-website/pull/19). See [Federalist build](https://federalist-a1176d2b-cb31-49a0-ba20-a47542ee2ec5.app.cloud.gov/preview/gsa/datagov-website/feature/test-markdown/).

[2022-03-24 17:46] mogul commented on #3752
@hkdctol: This is the issue where we set up automatic remediation of Critical and High vulnerabilities detected in our managed nodes, in which EKS runs. (The initial scans turned up just one CVE, which has already been remediated.)

Since we never install custom code on these nodes, we expect that AWS' continuing release of patches and our ongoing adoption of new AMI baselines (which we will also

[2022-03-24 18:35] mogul commented on #3752
Confirmed working... We saw an OpenSSL CVE in the manually-deployed EKS. You can see the "41" here referring to how many hosts had the finding.
![image](https://user-images.githubusercontent.com/47762/159986942-b95ed241-8edd-4beb-a639-338fb86bc9da.png)

We triggered the update manually (it's automatically triggered during a maintenance window at 1pm ET), and we were able to watch the number go dow

[2022-03-24 20:10] hkdctol commented on #3749
Before it's fixed we can disable to prevent bad user experience and being spammed by crawler. @nickumia-reisys will create an issue on disabling that we will take on in the near term.

[2022-03-24 20:12] nickumia-reisys opened #3757 "Disable Links to Harvest Pages"
## User Story

In order to minimize performance issues from crawlers or other unnecessary requests, the data.gov team wants to remove public links to the harvest pages.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextua

[2022-03-24 20:16] jbrown-xentity commented on #3750
It would involve fixing this backend code: https://github.com/GSA/ckanext-dcat_usmetadata/blob/main/metadata-app/src/api/index.js#L758-L795

[2022-03-24 20:26] nickumia-reisys opened #3758 "Switch back to EKS Brokerpak paradigm from statically-provisioned EKS instance"
## User Story

In order to conform to our system architecture, the data.gov team wants to be able to broker EKS through our SSB deployment again.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] WHEN I run `cf t -s management; cf servic

[2022-03-24 20:29] hkdctol commented on #3714
Working on #3617 and that may mean we can push this one off, moving to Icebox.

[2022-03-24 20:30] datagov-bot opened #3759 "deploy-ci-platform-mb/master #352 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/352/)

[2022-03-24 20:31] hkdctol commented on #3757
@jbrown-xentity is fixing

[2022-03-24 20:34] hkdctol commented on #3668
Awaiting response from GSA Security folks. @mogul checking and added datagov help email to thread

[2022-03-25 01:01] mogul commented on #3617
A [relevant issue on the ALB controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2150), maddeningly closed as stale. It does however describe the expected logs when deletion is working properly.

[2022-03-25 01:26] mogul commented on #3617
We should look for finalizers on the service with `kubectl edit` since that seems to be how the ALB controller finds out that a reconciles is needed.

We should probably [double-check that we have granted all the necessary permissions to the ALB controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1629#issuecomment-833779555); in particular can it manage SecurityGroup

[2022-03-25 06:54] mogul commented on #3617
I can repeat these two steps over and over reliably:
1. When I delete the test LoadBalancer service in k8s by hand, the NLB in the AWS Console with the corresponding name is immediately removed in the AWS console.
2. When I re-apply the test LoadBalancer service, a new NLB with the same name immediately appears in the AWS console (with a different DNS suffix) .

Conclusion: This does **_not_** app

[2022-03-25 07:11] mogul commented on #3617
I was able to get the ALB controller to log when reconcile activity occurs by adding the value `logLevel="debug"` to the ALB controller Helm release.

I am now able to repeat **_these_** two steps over and over reliably:

1. When I run ` terraform destroy -target=helm_release.ingress_nginx -auto-approve` then I see logs showing that the reconcile process runs, and the LB and TargetGroups are destr

[2022-03-25 07:21] mogul commented on #3617
I saw correct behavior when running these two steps:

1. `terraform destroy  -target=module.aws_load_balancer_controller`
  - The LoadBalancer Service is removed along with the rest of ingress-nginx
  - The ALB controller logs that it removed the NLB, and it disappears in the AWS Console
  - The `time_sleep` waits another 60s.
  - the rest of the `terraform destroy` completes.
2. `terraform apply

[2022-03-25 07:28] mogul commented on #3617
`terraform destroy -auto-approve` reproduced the problem!

Here are the logs from the ALB controller:
[code]

Note in particular the warnings that appear before the gap and then the timeout error:
[code]

Is this because the destination of the Target Groups (the ingress-nginx app) is already gone? That seems unlikely because it would also be gone in the "not destroying everything" case, when the h

[2022-03-25 14:31] nickumia-reisys commented on #3753
Useful link: https://docs.aws.amazon.com/inspector/latest/user/inspector-guide.pdf#page=22&zoom=auto,-13,262

[2022-03-25 16:21] nickumia-reisys commented on #3665
Resources Used:
- [AWS Install Calico](https://docs.aws.amazon.com/eks/latest/userguide/calico.html)
- [Calico Helm Instructions](https://projectcalico.docs.tigera.io/getting-started/kubernetes/helm)
- Terraform [kubernetes_namespace](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/data-sources/namespace)
- Terraform [kubernetes_network_policy](https://registry.terraform.i

[2022-03-25 16:33] nickumia-reisys commented on #3665
There's no way to implement a network policy that applies to all namespaces, so we must do them individually 😢

https://kubernetes.io/docs/concepts/services-networking/network-policies/#what-you-can-t-do-with-network-policies-at-least-not-yet

[2022-03-25 17:13] mogul commented on #3665
That's fine, we can do that with a `for_each` resource. Besides, right now we're brokering only one namespace, `default`.

[2022-03-27 07:52] mogul commented on #3747
We should switch our use of helm charts to refer to ECR wherever possible. [The charts in the EKS charts repository are all confirmed to only pull from ECR.](https://aws.amazon.com/blogs/containers/advice-for-customers-dealing-with-docker-hub-rate-limits-and-a-coming-soon-announcement/#:~:text=All%20EKS%20add,Charts%20GitHub%20repository.)

[This tool](https://github.com/awslabs/aws-container-imag

[2022-03-27 07:56] mogul commented on #3669
I stumbled on a [recent blog post describing how to use Karpenter with spot instances](https://aws.amazon.com/blogs/containers/using-amazon-ec2-spot-instances-with-karpenter/).

[2022-03-27 08:13] mogul commented on #3747
[dockerd can be configured with the location of a mirror for Docker Hub](https://docs.docker.com/registry/recipes/mirror/#configure-the-docker-daemon), which is how local dockerd instances can act as a pull-through cache.

There is [a similar option for configuring containerd](https://github.com/containerd/containerd/blob/main/docs/cri/config.md#registry-configuration). EKS will soon switch to con

[2022-03-27 08:15] mogul commented on #3747
There's [a way to specify that MNGs should use `containerd`](https://eksctl.io/usage/container-runtime/#managed-nodes), but it's not clear how/if we can accomplish the same thing using the MNG launch template in the EKS module.

[2022-03-27 17:31] mogul commented on #3747
It's [not yet possible to configure containerd](https://github.com/awslabs/amazon-eks-ami/issues/830) to use a particular registry.

[2022-03-28 07:18] #3759 closed, assigned to nobody

[2022-03-28 17:06] jbrown-xentity commented on #3757
This is deployed to cloud.gov prod:
![image](https://user-images.githubusercontent.com/26980513/160450543-e7d38dcd-5893-4ea7-a5bc-b0eb24ea5e8f.png)

[2022-03-28 17:23] nickumia-reisys commented on #3668
@mogul I tried checking that the images are there and it doesn't look like the images show up when I'm using the SSBDev Role in production.. is there something I'm missing?
![image](https://user-images.githubusercontent.com/85196563/160453121-5e5fdc69-b644-4d11-88ab-321b0da04367.png)

[2022-03-28 17:38] mogul commented on #3668
I'm no longer seeing them with the SSBAdmin role either. I will ping in the email thread!

[2022-03-28 18:11] mogul commented on #3668
Here's a [direct link to the list](https://us-east-1.console.aws.amazon.com/ec2/v2/home?region=us-east-1#Images:visibility=private;v=3;owner=752281881774;imageName=:ISE-AMZ-LINUX-EKS-v1.21-GSA-HARDENED)... I think we weren't seeing them because we were looking at `us-west-2` instead of `us-east-1`.

[2022-03-28 18:24] nickumia-reisys commented on #3668
Gotcha.  I'm currently copying them to the correct region.  I'm also going to share the one in the production account with our staging and development accounts, since they still don't show up there.
![image](https://user-images.githubusercontent.com/85196563/160462401-bc56971a-a226-44bb-9535-66d6c938a5f8.png)

[2022-03-28 19:43] nickumia-reisys commented on #3725
Success!

![image](https://user-images.githubusercontent.com/85196563/160474535-cefe3e94-dee8-4f7f-86dc-e2067ddb2192.png)

[2022-03-28 20:21] hkdctol commented on #3752
@nickumia-reisys on Bret's points in the above comments -- do you have screenshots or something else to export that I can set to Ryan?

[2022-03-28 20:24] mogul commented on #3752
I made sure Ryan saw the posts and screenshots above. From DM with him:

![image](https://user-images.githubusercontent.com/47762/160480922-265d535c-41d0-472c-89fe-f652403fbbe0.png)

[2022-03-28 20:25] hkdctol commented on #3752
@mogul does Ryan need anything else from us before we cut over catalog to cloud.gov version?

[2022-03-28 20:26] mogul commented on #3668
Yup, that's the right thing to do according to Jeremy. That process should be a candidate for automation in the future... Jeremy said in the email thread that they only maintain/share the most recent two releases.

[2022-03-28 20:34] mogul commented on #3752
He wants to see us [use the GSA CIS-hardened machine images for our clusters](https://github.com/GSA/data.gov/issues/3668).

He's also asking about container-scanning, but AFAIK he grudgingly agrees that was not part of the original ATO conditions. I've copied you on those DMs privately.

[2022-03-29 14:38] mogul commented on #3668
AWS Inspector no longer checks for CIS hardening, but I think I saw a RunCommand that does it somewhere in SSM when we were first poking around. If that exists it might be worth adding as a task in the maintenance window. I don't know where/how to report back findings, though... maybe there's already something in the task that does that?

[2022-03-29 14:49] mogul commented on #3668
I think this is it:
https://docs.aws.amazon.com/systems-manager/latest/userguide/integration-chef-inspec.html

Potentially useful benchmarks in the referenced list:
https://github.com/dev-sec/cis-dil-benchmark
https://github.com/dev-sec/cis-kubernetes-benchmark
https://github.com/dev-sec/linux-baseline

Maybe implementing this is a separate issue... 🤔

[2022-03-29 14:58] nickumia-reisys commented on #3668
Currently working through this issue.  It seems specifying the ami id is not enough for the managed node group to configure itself.  Need to research what exactly we need to change to get managed node groups to use a custom ami.

P.S. The error shows up on the console too if I try to create a new launch template specifying the GSA CIS-hardened image.

![image](https://user-images.githubusercontent

[2022-03-29 15:15] mogul commented on #3668
Does item 5 here help?
https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest#eks-managed-node-groups

[2022-03-29 15:23] nickumia-reisys commented on #3668
That's what I tried and hit this snag.

[2022-03-29 16:42] nickumia-reisys commented on #3668
I got something to work. but I have start from scratch and see how it likes things.  Pay no attention to the 50 node size haha..  It looks like right now it's creating a new node group everytime terraform is run which is unsual, but it may actually be correct..

![image](https://user-images.githubusercontent.com/85196563/160662655-e37784e1-f12c-431b-b714-bb8fb646ee18.png)

[2022-03-29 16:47] mogul commented on #3753
Lynnette says she typically gets a PDF from Netsparker/Nessus that she captures among ConMon artifacts. So ensuring she has something she can similarly capture would be good.

[2022-03-29 17:33] nickumia-reisys commented on #3668
Instructions on sharing AMIs cross-region and cross-account:
- https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sharingamis-explicit.html
- https://aws.amazon.com/premiumsupport/knowledge-center/copy-ami-region/

[2022-03-29 22:23] mogul commented on #3668
Oh, it looks like AWS moved their built-in CIS scan that was happening in AWS Inspector Classic over into Security Hub: https://us-west-2.console.aws.amazon.com/securityhub/home?region=us-west-2#/landing
![image](https://user-images.githubusercontent.com/47762/160716772-bbbed2b3-fda4-4e88-878e-5ee98b1b75b6.png)

[2022-03-29 22:53] mogul commented on #3668
Useful for this, can be driven from the CLI (and hence GitHub Actions): https://aws.amazon.com/blogs/mt/managing-aws-resources-across-multiple-accounts-and-regions-using-aws-systems-manager-automation/

[2022-03-30 13:13] rpalmer-gsa commented on #3752
@mogul I think you indicated that you were going to use the hardened images provided by ISE. Container scanning isn't part of original ATO conditions, but its not a sustainable gap long term.

[2022-03-30 13:17] robert-bryson commented on #3755
Can a user with permissions create the needed `prod-egress` space for this for me? I do not have permissions, but I think @hkdctol and @mogul should.

The command should be: `cf create-space prod-egress -o gsa-datagov`, though it might be good idea to have it in staging or dev as I work on it, as well (`cf create-space stage-egress -o gsa-datagov` or `cf create-space dev-egress -o gsa-datagov`, de

[2022-03-30 14:24] nickumia-reisys opened #3760 "Run CIS Scans on EKS AMIs"
## Purpose

We want to scan our EC2 nodes against CIS metrics, but we're not sure how to do that.

Given the above question, conducting investigation/prototyping is needed to provide factual knowledge on future steps.

2 Days of effort has been allocated and once compete, findings will be demonstrated and specific future actions will be decided.

### Acceptance Criteria

[ACs should be clearly dem

[2022-03-30 14:28] nickumia-reisys opened #3761 "Automate ISE EKS Image copies from/to accounts/regions"
## User Story

In order to relieve the manual toil of coping AMIs from one account/region to another, the data.gov team wants to implement an automated process for this action.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a c

[2022-03-30 14:40] FuhuXia opened #3762 "Dependabot alert on data.gov Pipfile.lock (Paramiko)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.27aqr3itu127)._

**Date of report:** 2022-03-29
**Severity:** Moderate
**Due date:** 2022-06-29

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has be

[2022-03-30 14:43] FuhuXia commented on #3762
Record keeping only. We should have removed the item by the due date.

[2022-03-30 15:43] mogul commented on #3755
All done... I also applied the `public_networks_egress` security-group to the new spaces. (You'll want to drop that same security-group from `prod` and `staging` once you've finished this issue.)

[2022-03-30 16:56] FuhuXia commented on #3666
Mark it as false positive.
Netsparker scan still reported `preload directive not present`  in 2022-03-28  scan.

[2022-03-30 18:13] nickumia-reisys opened #3763 "Investigate how to mount existing EBS volumes on a fresh Solr setup"
## Purpose

We want to be able to mount an EBS volume to an existing Solr node as a disaster recovery contingency, but we're not sure how to do that.

The idea is to side-step the AWS/K8S layers of abstraction and restore data to Solr without having to reindex from scratch.

Given the above uncertainty, conducting research/design/investigation/prototyping is needed to provide factual knowledge on

[2022-03-30 18:16] nickumia-reisys opened #3764 "Create an EBS lifecycle policy to backup Solr persistent storage"
## User Story

In order to create a warm standby backup of solr index data, the data.gov team wants to create daily snapshots of EBS volumes that contain solr data to be restore if there is an outage or loss of data.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavi

[2022-03-30 18:24] nickumia-reisys opened #3765 "Create Solrcloud Backups"
## User Story

In order to recover in the event of a Solr data loss, the data.gov team wants to create Solrcloud backups to be restored as needed.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [A

[2022-03-30 19:22] nickumia-reisys commented on #3668
This fix is deployed to our production EKS cluster.  The PR is having issues passing though.

[2022-03-30 20:26] nickumia-reisys commented on #3668
😀 Just fixed the PR.  Waiting for the test to pass on CI.

[2022-03-31 13:33] nickumia-reisys commented on #3668
Confirmation that the Production EKS cluster is running the most recent (as of date) GSA ISE AMI,
![image](https://user-images.githubusercontent.com/85196563/161066419-7a45e51b-5aeb-4d1e-873f-9c9472d8ae48.png)

![image](https://user-images.githubusercontent.com/85196563/161066941-90e06e81-2e49-4976-9ee2-02f7a9e4dd3a.png)

[2022-03-31 14:14] hkdctol commented on #3752
@rpalmer-gsa we've done that at #3668 and will cut over to cloud.gov unless we hear otherwise. Thanks!

[2022-03-31 16:39] robert-bryson commented on #3755
All apps created with [this gist](https://gist.github.com/robert-bryson/34ef80a8b5aff4eb75318cfcd4f44e24).

[2022-03-31 16:44] nickumia-reisys opened #3766 "Default Deny Egress prevents Solrcloud from starting"
EKS Brokerpak @ https://github.com/GSA/datagov-brokerpak-eks/tree/113dfdac3399372b672f88145dc32470e47d5251

## How to reproduce

1. Deploy EKS Cluster
2. Connect `ssb-solrcloud` to cluster.
3. Try to provision a solrcloud cluster.

## Expected behavior

Solrcloud provisioning succeeded.

## Actual behavior

Zookeeper cannot start because it fails a liveliness probe (probably initiated by the solr

[2022-03-31 16:51] nickumia-reisys commented on #3755
Just a clarification, the catalog apps that are relevant for this issue are `catalog-fetch` and `catalog-gather`. (not `catalog-harvest`)

![image.png](https://images.zenhubusercontent.com/60b8d46c2e48c414f9c5a9a0/5ec64042-148a-4e20-9124-d9c064741ea7)

Also, noticed a difference between staging and prod.  (I know it's just work in progress, just mentioning 😅)

![image.png](https://images.zenhubuse

[2022-03-31 16:57] robert-bryson commented on #3755
Ok, easy change. Thanks for letting me know. The sketch has `harvest`..

[2022-03-31 18:52] mogul commented on #3725
![image](https://user-images.githubusercontent.com/47762/161128520-9fd870d8-eb7c-4ec2-80dc-a158e27f4bb1.png)

[2022-03-31 19:27] nickumia-reisys commented on #3754
I think this is the best issue to document this on, so here it goes..

Following the official AWS Inspector [user guide](https://docs.aws.amazon.com/inspector/latest/user/inspector-guide.pdf#%5B%7B%22num%22%3A143%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C72%2C229.88%2Cnull%5D), I was able to create an S3 Bucket to export findings from Inspector.  The following steps provide a summary and

[2022-03-31 19:28] nickumia-reisys commented on #3752
Note: a copy of the findings closed from this issue were exported via the process outlined [here](https://github.com/GSA/data.gov/issues/3754#issuecomment-1085014311).

[2022-03-31 19:31] nickumia-reisys commented on #3754
Note that the above setup was a one-time process.  From now on, users should be able to a navigate to the Inspector Findings page and just use the bucket and kms key that already exists.  This is a manual process, so it doesn't solve this issue.  It was just a workaround to get results out in a temporary fashion.  This issue is still about automating the notification of new findings and reports.

[2022-03-31 19:34] nickumia-reisys commented on #3754
The docs do mention a way of [notifying you of AWS Inspector Findings](https://docs.aws.amazon.com/inspector/latest/user/inspector-guide.pdf#%5B%7B%22num%22%3A183%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C72%2C712.8%2Cnull%5D) which involves setting up an SNS topic with EventBridge which sends out emails.

[2022-03-31 19:35] #3668 closed, assigned to nickumia-reisys

[2022-03-31 19:35] #3704 closed, assigned to nickumia-reisys

[2022-03-31 19:36] #3725 closed, assigned to nickumia-reisys

[2022-03-31 19:36] #3589 closed, assigned to robert-bryson

[2022-03-31 19:36] #3719 closed, assigned to robert-bryson

[2022-03-31 19:37] #3636 closed, assigned to FuhuXia

[2022-03-31 20:06] #3752 closed, assigned to mogul, nickumia-reisys

[2022-03-31 20:14] hkdctol commented on #3762
Will put in Icebox for now, should be irrelevant after moving out of FCS

[2022-03-31 20:16] hkdctol commented on #3763
Putting in Icebox now pending results of #3745

[2022-03-31 20:16] hkdctol commented on #3764
Putting in Icebox now pending results of #3745

[2022-03-31 20:17] hkdctol commented on #3765
Putting in Icebox for now pending results of #3745

[2022-03-31 20:20] hkdctol commented on #3742
Should be resolved once we move to cloud.gov

[2022-03-31 20:25] hkdctol commented on #3743
I will ping 18F on results of their staffing meeting

[2022-03-31 20:28] robert-bryson commented on #3755
I don't have permissions to remove the security group, but am at the point to test it. @hkdctol or @mogul, can you please do this for me?

[code]

and/or perhaps:

[code]

Thank you!

[2022-03-31 21:54] mogul commented on #3755
That's the administrator-facing command for setting up defaults on the whole platform.

You want:
[code]
and
[code]

...both of which I've just done. The change applies at the next app restart.

[2022-03-31 21:57] mogul commented on #3754
If it's possible, when you automate this, please make it possible to specify the bucket. I want to be able to direct backups, etc to the same bucket, and then also use it for restores in other clusters, so it's preferable that the bucket lifecycle not be tied to the EKS instance lifecycle.

[2022-03-31 22:37] #3739 closed, assigned to FuhuXia, jbrown-xentity

[2022-03-31 22:37] #3666 closed, assigned to FuhuXia

[2022-03-31 22:37] #3757 closed, assigned to jbrown-xentity

[2022-03-31 22:38] #3617 closed, assigned to mogul, nickumia-reisys

[2022-03-31 22:38] #3665 closed, assigned to nickumia-reisys

[2022-03-31 22:39] #3706 closed, assigned to mogul

[2022-03-31 22:39] #3713 closed, assigned to FuhuXia, jbrown-xentity

[2022-03-31 22:39] #3733 closed, assigned to FuhuXia

[2022-04-01 03:04] nickumia-reisys commented on #3669
It's working!!  A node randomly appears!

![image](https://user-images.githubusercontent.com/85196563/161187040-e37f892c-efdb-4431-a4eb-a12bcd2740b1.png)
![image](https://user-images.githubusercontent.com/85196563/161187063-092d26ec-976b-4c3b-9dd6-13e0c766fc6f.png)

[2022-04-01 03:10] nickumia-reisys commented on #3669
This seems exceedingly unhelpful 😞 It started another node, but the first node never became ready... Lots of people were experiencing the issue [here](https://github.com/kubernetes/kubernetes/issues/34314)
, but alas, no resolution.  Will keep looking.

![image](https://user-images.githubusercontent.com/85196563/161187717-1d2b8e3b-a2d7-42c5-b2f1-ee214bb0aa8c.png)

[2022-04-01 07:25] datagov-bot opened #3767 "deploy-ci-platform-mb/master #356 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/356/)

[2022-04-01 14:14] FuhuXia opened #3768 "O+M 2022-04-14"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2022-04-01 14:14] nickumia-reisys commented on #3669
So happy 😭

![image](https://user-images.githubusercontent.com/85196563/161281287-2667bba5-4d42-4f38-b7d0-e2ab2605e92b.png)

[2022-04-01 14:17] nickumia-reisys commented on #3669
🥲
![image](https://user-images.githubusercontent.com/85196563/161281753-9faa2697-0f09-4592-a2e8-4c19dabd0fbe.png)

[2022-04-01 16:26] #3767 closed, assigned to nobody

[2022-04-01 19:52] nickumia-reisys opened #3769 "Allow EKS managed node group to use Spot Instances"
## User Story

In order to make the datagov-brokerpak-eks more robust, the data.gov team wants to allow spot instances to be used within the EKS managed node group to support workloads.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] G

[2022-04-01 19:59] nickumia-reisys commented on #3769
Relevant Issue to track (maybe):
- https://github.com/aws/ec2-spot-instances-integrations-roadmap/issues/25

[2022-04-01 20:57] nickumia-reisys commented on #3669
[This is a problem](https://github.com/kubernetes/kubernetes/issues/34583) that was hit.. not sure a work-around right now.  But it might not be super important..

[2022-04-04 20:43] nickumia-reisys opened #3770 "Solr Internode Traffic denied by 401 Unauthorized"
Solr v8.11.1

## How to reproduce

1. Unknown

## Expected behavior

Stable solrcloud cluster operation

## Actual behavior

![image](https://user-images.githubusercontent.com/85196563/161627027-c4152c60-2ba2-41c7-979e-88e9b33fb157.png)
![image](https://user-images.githubusercontent.com/85196563/161627074-59e836da-1dea-439b-90ef-4d5b394c6c8d.png)

## Background

Solr had been reindexed to service

[2022-04-05 01:39] nickumia-reisys commented on #3770
Related issue, although not sure of the direct impact, https://solr-user.lucene.apache.narkive.com/HOJFKqsh/overseer-could-not-get-tags, it does show up in the logs, but it's just a warning, not a real error

![image](https://user-images.githubusercontent.com/85196563/161662410-f2e7e664-2100-454e-a0be-07479631f59d.png)

[2022-04-05 03:35] mogul commented on #3770
Are you absolutely sure this has nothing to do with the default-deny NetworkPolicy?

[2022-04-05 13:47] FuhuXia opened #3771 "Migrate apache rewrite rules to catalog nginx"
Catalog apache has some [rewrite rules](https://github.com/GSA/data.gov/blob/master/ansible/roles/software/ckan/catalog/ckan-app/templates/etc_apache2_sites-enabled_ckan.conf.j2#L90-L103) in apache config to protect catalog from some expensive API calls. They need to be migrated to catalog Nginx config.

[2022-04-05 15:49] nickumia-reisys commented on #3770
Considering that the network policy was not enabled when the error showed up, I am very confident that it is not a factor.  The network policy was enabled at the initial start of the cluster startup, but I had deleted to get the cluster to become healthy.  Incidentally, I had not re-enabled the network policy after that.  Thus, the network policy did not have a direct impact on the issue.  Neverth

[2022-04-05 15:52] nickumia-reisys commented on #3770
What I don't like is that, even with a fresh Solrcloud cluster, there are a plethora of errors and anomalies that seem very destructive in nature.

The `ckan` collection was successfully created, the collection is indexing and the Solr nodes are reporting healthy, but there are these issues that have already appeared.

![image](https://user-images.githubusercontent.com/85196563/161794344-a2244c12-

[2022-04-05 15:59] nickumia-reisys commented on #3770
This seems to be a new warning, but I don't know if we would be waiting for CKAN to update this dependency.  It seems like the way CKAN is using solr is old, especially relying on old plugins...  For example, the [synonymFilterFactory](https://lucene.apache.org/core/8_0_0/analyzers-common/org/apache/lucene/analysis/synonym/SynonymFilterFactory.html).

![image](https://user-images.githubusercontent

[2022-04-05 16:02] nickumia-reisys commented on #3770
This looks like the original issue popping up again, specifically from the HTTP Authentication Challenge,

![image](https://user-images.githubusercontent.com/85196563/161796787-3e33d6d3-28e5-4895-8566-a683985d942a.png)

[2022-04-05 19:24] nickumia-reisys commented on #3770
Preliminary testing (~1.5 hours of indexing) while using the non-GSA-hardened AMI shows that this issue has not resurfaced.

![image](https://user-images.githubusercontent.com/85196563/161833676-a0af14b6-e3d1-41fc-a4c4-eda08576a5e0.png)

[2022-04-05 19:48] nickumia-reisys commented on #3770
It was confirmed that we are not setting any custom `shardHandlerFactory` on the `/select` `requestHandler` so the upstream issue was caused by a different bug than this issue (despite the resulting effects being the same).

[2022-04-05 19:53] nickumia-reisys commented on #3771
Investigating how to convert [apache rewrite to nginx rewrite](https://www.nginx.com/blog/converting-apache-to-nginx-rewrite-rules/).

[2022-04-06 20:14] nickumia-reisys commented on #3717
Success! 🚀

![image](https://user-images.githubusercontent.com/85196563/162063065-511ad298-2a6d-4e64-bed1-a21091c01639.png)

[2022-04-07 14:22] FuhuXia commented on #3593
This is related to https://github.com/GSA/data.gov/issues/897.
If a harvest source is (re)set to public, all existing private datasets should be set to public after a new harvest job. We can verify the issue and submit a bug report upstream. Once the bug is fixed, a re-harvest job will fix most of the datasets.

[2022-04-07 14:37] jbrown-xentity commented on #3593
I wonder if we should consider a change in harvest configuration to be "do a full reharvest", and that would be the bugfix/feature request upstream. Really any configuration change could result in different results, so it should be treated as such.
Unfortunately, I don't think the "gather" "fetch" "import" model really supports this "reset" or "full reharvest" option. It will require some research

[2022-04-07 20:26] jbrown-xentity commented on #3650
This may not be necessary pending #3745 working, iceboxing for now.

[2022-04-09 06:49] datagov-bot opened #3772 "deploy-ci-platform-mb/master #361 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/361/)

[2022-04-09 14:12] mogul opened #3773 "Use least-privilege when enabling cluster capabilities"
## User Story

In order to reduce maintenance burden, practice least-privilege, and ensure we always have the right IAM policies in place, the SSB maintainers want to remove our explicit creation of IAM roles and [add roles provided by the EKS module's IRSA submodule](https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest#available-features) wherever possible.

## Acceptance Cr

[2022-04-11 14:16] FuhuXia opened #3774 "Nessus scan 04042022 - Nessus Agent upgrade"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.w9li6yvtr6t3)._

**Date of report:** 2022-04-01
**Severity:** Medium
**Due date:** 2022-07-01

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been

[2022-04-11 15:41] FuhuXia opened #3775 "Nessus scan 04042022 - package linux-aws headers"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.dsu4d133u88o)._

**Date of report:** 2022-04-02
**Severity:** Medium
**Due date:** 2022-07-02

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been

[2022-04-11 19:12] robert-bryson commented on #3755
We believe the issue we're hitting in getting inventory/catalog to successfully start has to do with caddy's [auto_http](https://caddyserver.com/docs/caddyfile/options#auto-https), which is set to [off](https://github.com/GSA/cg-egress-proxy/blob/main/proxy/Caddyfile#L16). @mogul, do you recall why that is?

The error we get when trying to run caddy with anything other than `auto_https off` is:
[c

[2022-04-12 04:44] mogul commented on #3755
Auto-https is off because the platform already provisions a TLS certificate with the route name as one of its Subject Alternative Names (SANs), so we don't want Caddy to handle it. The start script watches for the platform to rotate that certificate and restarts Caddy if it needs to. See the code here:
https://github.com/GSA/cg-egress-proxy/blob/main/proxy/start.sh

We could probably turn of TLS e

[2022-04-12 04:50] mogul commented on #3755
I mean technically this is correct, trying to listen on a privileged port like 80 is a no-no for non-privileged applications. The question is: [Why would CF be passing Caddy port 80 in the PORT environment variable Caddy references here?](https://github.com/GSA/cg-egress-proxy/blob/f587da014034f7718367c82b037f2a9f35b0e277/proxy/Caddyfile#L19) It typically provides 8080. So you'll want to investiga

[2022-04-12 14:50] nickumia-reisys opened #3776 "Run Linux-level CIS benchmark on EKS Management Node Group"
## User Story

In order to understand the risk of running non-CIS-compliant EC2 AMIs in our EKS managed node groups, the SSB team wants to run the CIS Distribution-Independent Linux Benchmark on instances running both the stock and GSA-hardened image.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki

[2022-04-12 14:50] nickumia-reisys commented on #3776
Created this issue to track upstream ticket,
- https://github.com/dev-sec/cis-dil-benchmark/issues/121

[2022-04-12 15:17] robert-bryson commented on #3755
Here is the output of `./caddy run -environ` on `proxy-gsa-datagov-development-catalog`:
<details>
  <summary>Wall of text</summary>

[code]
</details>

It looks like `$PORT` is 8080 and that Caddy is reading it as 8080. The dashboard proxy is working and shows virtually the same output, but is able to start. I'm not sure what the difference is on the Caddy side.

[2022-04-12 17:26] jbrown-xentity commented on #3743
@hbillings the list of blog posts: https://data.gov/meta.html
The current repo (a mess) lives here: https://github.com/gsa/datagov-website

[2022-04-12 17:31] jbrown-xentity commented on #3743
@FuhuXia noted the shape of the catalog isn't easily changeable, so if we want to match it check it out here: https://catalog.data.gov/dataset.
We also should consider having an external theme that can be shared across the main site and the catalog...

[2022-04-12 18:59] mogul commented on #3776
We were able to run the CIS DIL benchmarks by hand. (See the "sketch" section of the post above for the how-to.)

The results for both the stock AWS Linux 2 optimized for EKS image and the GSA ISE-hardened image are in [this Google Drive folder](https://drive.google.com/drive/folders/1itY3qFDZQl5ZWzccaql_b0R9Pn1Tc4ME).

We compared the results and communicated them with our ISSM and the folks prov

[2022-04-13 08:17] #3772 closed, assigned to nobody

[2022-04-13 14:55] nickumia-reisys opened #3777 "Error 1049: Unknown database 'servicebroker'"
cloud.gov
datagov-ssb @ b12dd98da5f659e3ee275ecd288b738cc61d6663

## How it was discovered

1. `cf t -s managment`
2. (ssb-solrcloud) was running (we've made changes to ssb-solrcloud-k8s multiple times successfully over the last few days)
3. Attempted to swap EKS backend
    - `cf ds ssb-solrcloud-k8s`
    - ` cf create-user-provided-service ssb-solrcloud-k8s -p k8s-xxx.json`
    - `cf bs ssb-solr

[2022-04-13 15:00] nickumia-reisys commented on #3777
I tried to force the SSB to change the DB by renaming it before our recent deployment.  But it didn't work.  The terraform plan just renamed the old DB to the correct name because it had the same ID.

If after the deployment, the issue persists, we will have to do some diagnosis on the DB or just delete it and recreate it to see if the error comes back.

Edit: Delete the DB with the caveat that th

[2022-04-13 16:11] robert-bryson commented on #3755
I've been struggling with getting inventory on dev to work. I think now it's (at least in part) due to the stuff we did in huddle on Monday. @nickumia-reisys, can you help walk me through the kubectl stuff to clean up the old inventory instance in dev, please?

![image](https://user-images.githubusercontent.com/91547795/163224027-6d96b31a-d1bc-4aad-81c7-316a2805466d.png)

[2022-04-13 16:14] nickumia-reisys commented on #3755
Yes.. but it's going to be blocked by the other things going on (unfortunately),
- https://github.com/GSA/data.gov/issues/3777
- https://github.com/GSA/datagov-ssb/pull/136

[2022-04-13 19:04] nickumia-reisys commented on #3777
# The Problem

After investigation of the cloud-service-broker configuration for `ssb-solrcloud`, it seems like `DB_HOST`, `DB_USERNAME` and `DB_PASSWORD` were being set, but not `DB_NAME`.  Because of this, the `DB_NAME` was defaulting to `servicebroker` which was the wrong name for the database in question.

# The Solution

Those environment variables should not need to be set (as they are not s

[2022-04-13 20:10] FuhuXia opened #3778 "Nessus 04092022 - SSL Certificate Cannot Be Trusted"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.i4irtubwhko)._

**Date of report:** 2022-04-08
**Severity:** Medium
**Due date:** 2022-07-08

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been

[2022-04-13 22:04] jbrown-xentity opened #3779 "CKAN elasticsearch support"
## Feature/what we're after

Have CKAN support ElasticSearch; a much more highly utilized service that is available out of the box on many platforms

## Anticipated/hypothesized benefits

- Less development/management time
- No need for SOLR in SSB

## Measurements/metrics

- SOLR is no longer needed for data.gov catalog; and management of system is much easier

## References/background

It seems

[2022-04-13 23:09] mogul commented on #3776
I'm documenting the issue we ran into when trying to automate the CIS audit through the AWS SSM console here, both as a reference point for people searching, and so that I can point AWS support at this info.

Following [this article](https://aws.amazon.com/blogs/mt/using-aws-systems-manager-to-run-compliance-scans-using-inspec-by-chef/), I was able to successfully run a Linux Inspec profile ([linu

[2022-04-14 19:41] #3717 closed, assigned to FuhuXia

[2022-04-14 19:42] #3768 closed, assigned to FuhuXia, jbrown-xentity

[2022-04-14 19:44] #3776 closed, assigned to mogul, nickumia-reisys

[2022-04-14 19:44] #3771 closed, assigned to nickumia-reisys

[2022-04-14 19:44] #3669 closed, assigned to nickumia-reisys

[2022-04-14 19:45] #3777 closed, assigned to nobody

[2022-04-14 20:25] hkdctol commented on #3770
Staying in blocked until we can replicate the issue. @nickumia-reisys will update next steps.

[2022-04-14 21:10] jbrown-xentity opened #3780 "SOLR Classic configuration test"
## User Story

In order to have a stable solr service, data.gov admins wants SOLR deployed in a classic configuration (static leader with replica nodes).

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] WHEN SOLR classic is deployed \

[2022-04-14 21:50] mogul commented on #3780
I was wrong, we don't want Deployments, we do want StatefulSets. I changed the sketch accordingly, and also added links to the corresponding pages in the k8s docs.

@FuhuXia when you work on this you may want to start from [the 2048 manifest](https://github.com/GSA/datagov-brokerpak-eks/blob/main/terraform/modules/provision-aws/2048_fixture.yml) that we use as a test fixture and work up from there

[2022-04-15 17:37] jbrown-xentity opened #3783 "Harvester causes SOLR cloud to crash"
When a production CKAN catalog is implemented and indexed fully, the harvesters crash. Not sure yet why, need to investigate further.

Probably related to #3784.

Part of #1342

## How to reproduce

1. Use DB prod backup to restore for catalog
1. Spin up and reindex catalog
1. Turn on harvesting

## Expected behavior

Harvesting succeeds, solr lives on

## Actual behavior

SOLR crashes/fails

## S

[2022-04-15 20:08] mogul commented on #3776
I reproduced this with our AWS rep in a screenshare session. We found that the AWS-RunInSpecChecks document includes the flag `--reporter json` when it runs `inspec exec`, and that the output is indeed >800K (the output was 817K for one stock EKS AMI, and 799K for another, so you _might_ not hit this limit depending on the instance).

Reported upstream to AWS in the ssb-production account and aske

[2022-04-15 20:29] mogul commented on #3776
Note that if you want to see what a `RunCommand` document invocation actually does, there are artifacts left behind in the instance. This command will help you find them.

[code]

In this case the script was called `AWS-RunInspecChecks-20201211.sh` and the relevant lines were:

[code]

[2022-04-15 22:20] jbrown-xentity commented on #3783
In our clean use case, https://catalog-fxia-datagov.app.cloud.gov/dataset/, 5 harvest sources worked ok (including largest DCAT-US source and several WAF's). When a 6th was added, https://catalog.data.gov/harvest/about/ioos, SOLR crashed. We confirmed the SOLR state is similar as before (no leader available). If so, we have our test case for reproducing and debugging. It harvested > 200 datasets (

[2022-04-15 22:25] jbrown-xentity opened #3784 "SOLR cloud leader loss recovery"
## User Story

In order to have little downtime on SOLR when all leaders are lost, data.gov admins want a recovery path for SOLR cloud cluster.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN SOLR has data in it \
  WHEN all SOLR

[2022-04-18 13:09] nickumia-reisys commented on #3783
The above findings leads me to want to test the following:
- [x] Does the error occur with CKAN2.8/Solr 8 (Solrcloud Mode)?
  - [x] Yes
  - [ ] No
- [x] Does the error occur with CKAN2.9/Solr 8 (Solrcloud Mode)?
  - [x] Yes
  - [ ] No
- [ ] Does the error occur with CKAN2.8/Solr 8 (Standalone Mode)?
  - [ ] Yes
  - [ ] No
- [ ] Does the error occur with CKAN2.9/Solr 8 (Standalone Mode)?
  - [ ] Ye

[2022-04-18 13:10] nickumia-reisys commented on #3770
We have not yet been able to reproduce this error.  https://github.com/GSA/data.gov/issues/3783 is happening more reliably, so we are investigating that one before coming back to this.  We can't hope to reproduce this if the Solr Collection is going down before this.

The next steps are unknown as it stands. See https://github.com/GSA/data.gov/issues/3783#issuecomment-1101395791 for my best guess

[2022-04-18 13:27] nickumia-reisys commented on #3770
(This is mainly speculation, but it's a fair point)

Not sure when this happened, but it seems like [solr-99d4df8f264da830](https://default-solr-99d4df8f264da830-solrcloud.nickumia-gsa-hardened.ssb-dev.data.gov/solr/#/~logging) is exhibiting an error that seemed to occur right before the 401 Unauthorized issue appeared last time.  One of the shards in the collection is stuck in the recovering stat

[2022-04-18 16:59] nickumia-reisys commented on #3784
# Preliminary results

## Communicate with Zookeeper API

I was trying to find where the files that are referenced in the link above exist and could not locate them physically on either the solr pods/pvs nor the zookeeper pods/pvs.  I found a reference that talked about utilizing the [Zookeeper API](https://www.tutorialspoint.com/zookeeper/zookeeper_api.htm) to manipulate the data.

I was on my wa

[2022-04-18 20:14] jbrown-xentity commented on #3755
Next steps:
- Setup egress app per space that any app can use to access the world
- Create 3 tickets to move this work forward: dashboard egress, inventory egress, and catalog egress

Inventory ticket may remain in blocked; we have hit https://github.com/GSA/cg-egress-proxy/issues/5 with inventory using s3 buckets and the app fails to start up. We will treat these tickets as independent.

Once all

[2022-04-19 13:42] nickumia-reisys commented on #3784
# Implementation Details

## Communicate with Zookeeper API

I was able to interact with the Zookeeper Instance by deploying a basic python pod to the same EKS cluster and run the `kazoo` library from there.

To deploy the python pod,
[code]

Once deployed, I looked up the `zookeeper-client` for a particular solr cluster,

![image](https://user-images.githubusercontent.com/85196563/164015967-9bdfd

[2022-04-19 15:36] robert-bryson opened #3785 "[SC-7] Restrict egress traffic from dashboard"
This is a copy of https://github.com/GSA/data.gov/issues/3755 pared down to just the **dashboard** apps.

## User Story

In order to minimize the harm a compromised app can do, the data.gov team wants egress traffic from cloud.gov-hosted data.gov **dashboard** applications to be limited to just expected destinations.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever poss

[2022-04-19 16:07] robert-bryson opened #3786 "[SC-7] Restrict egress traffic from inventory"
This is a copy of https://github.com/GSA/data.gov/issues/3755 pared down to just the **inventory** apps.

## User Story

In order to minimize the harm a compromised app can do, the data.gov team wants egress traffic from cloud.gov-hosted data.gov **inventory** applications to be limited to just expected destinations.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever poss

[2022-04-19 16:10] robert-bryson opened #3787 "[SC-7] Restrict egress traffic from catalog"
This is a copy of https://github.com/GSA/data.gov/issues/3755 pared down to just the **catalog** apps.

## User Story

In order to minimize the harm a compromised app can do, the data.gov team wants egress traffic from cloud.gov-hosted data.gov **catalog** applications to be limited to just expected destinations.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible

[2022-04-19 17:00] nickumia-reisys commented on #3784
While a completely different direction, this was a good archive that might explain why this ticket is necessary in the first place, https://www.mail-archive.com/solr-user@lucene.apache.org/msg143043.html

[2022-04-20 13:22] nickumia-reisys commented on #3784
Since there hasn't been any breakthroughs, these are the results from initial discovery dive,

- Zookeeper tracks the leader/follower state/management of Solr.  However, the physical files are nowhere to be found.  The only way to CRUD the data is by using the Zookeeper client API (I used the kazoo python library, but the zkcli should work as well).
- The nodes supporting our CKAN collection can b

[2022-04-20 14:09] nickumia-reisys commented on #3614
I found the problem.. but still trying to track down where it's being set,
![image](https://user-images.githubusercontent.com/85196563/164248961-5ee2ed41-ff1d-47e5-a732-c568b21b3713.png)

If we remove the `?action=read` from the url link, the organization page loads fine.  Seeing as how we don't customize templates for inventory nearly as much, if at all, compared to catalog, I'm inclined to say i

[2022-04-20 14:12] nickumia-reisys commented on #3614
To further demonstrate the bug, if we put anything in that field, it will populate the tag with the same text,
![image](https://user-images.githubusercontent.com/85196563/164250094-f90342df-65bb-41d0-8860-327d22bc0c76.png)

[2022-04-20 14:24] jbrown-xentity commented on #3614
@nickumia-reisys this looks suspicious upstream... https://github.com/ckan/ckan/blob/2.9/ckan/templates/organization/snippets/organization_item.html#L14
You could try reproducing this locally, and copying the template and replacing content to see what's going on. I do think it's a problem with the organization list template; clicking on anything in the organization list sends you to the "wrong" UR

[2022-04-20 14:44] jbrown-xentity commented on #3614
I'm leaning towards the idea that organization/group "types" were more explicitly handled in 2.9; so if the organizations were created cleanly in 2.9 then the data in the DB would look differently. I would start with a clean DB locally and see if this problem arises; if it doesn't then we have some DB additions to make into our prod 2.8 db. If it does happen locally, then something is wrong upstre

[2022-04-20 14:49] nickumia-reisys commented on #3614
I hadn't yet read @jbrown-xentity's comment above, but I think I've found a temporary solution and I've tested locally that it works..

For future reference, the hierarchy of files that generate the organization page is,
- [ckan/templates/organization/index.html](https://github.com/ckan/ckan/blob/master/ckan/templates/organization/index.html)
- [ckan/templates/organization/snippets/organization_li

[2022-04-20 14:52] FuhuXia opened #3788 "Inventory: The 'mediaType' field is missing"
After a dataset was created, it generates an error when exporting the data.json.
[code]
## How to reproduce

Create a dataset, add a resource as such:

- Resource: Link to a file
- URL: https://www.google.com
- Name: Some Resource
- Media Type: HTML -- Web Page

Save the dataset, then go to organization page to export the data.json

## Expected behavior

A data.json file is generated successfully,

[2022-04-20 17:37] jbrown-xentity opened #3789 "Egress management and restarts"
## User Story

In order to properly manage egress app and run restarts, data.gov admins want automated process for egress app restarts and well-documented process of hand-deploying and hand-managing the egress app and data.gov app connections.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavio

[2022-04-21 13:32] nickumia-reisys commented on #3788
There seems to have been a bug in the `ckanext-dcat_usmetadata` extension where the front-end deleted a relevant field that the datajson validator needed to do it's validation.  While we have not done a complete test of all cases.  We walked through all of the scenarios theoretically and decided that leaving the field in did not cause any scenarios to break and it did solve the errors documented i

[2022-04-21 13:57] nickumia-reisys commented on #3614
Fixed by
- https://github.com/GSA/inventory-app/pull/433

[2022-04-21 17:38] nickumia-reisys commented on #3615
This bug has been fixed by
- https://github.com/GSA/inventory-app/pull/434

![image](https://user-images.githubusercontent.com/85196563/164518566-754d1924-1db5-4b0b-b233-5454ca93ae13.png)

![image](https://user-images.githubusercontent.com/85196563/164518611-855487a2-cead-4377-9137-95ec06e8c0cc.png)

[2022-04-21 20:47] jbrown-xentity commented on #3789
To get around this in the short term, can restart egress app:
[code]

[2022-04-21 20:51] jbrown-xentity commented on #3770
Waiting on final GSA hardened image and solr classic setup before testing to see if this can be closed.

[2022-04-21 20:56] mogul commented on #3789
I thought that [my method for handling cert rotations](https://github.com/GSA/cg-egress-proxy/blob/f587da014034f7718367c82b037f2a9f35b0e277/proxy/start.sh#L3-L22) was solid, but it sounds like maybe it isn't...?

From [this discussion in Slack](https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1650554989160469) it sounds like we can in fact just have Caddy listen on port 61443 and then not worry about

[2022-04-21 22:37] mogul commented on #3780
You might also find it easier to start from a working `docker-compose` version and then apply this tool:
https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/

[2022-04-22 15:17] nickumia-reisys commented on #3788
This was fixed for the end-user.  However, there needs to be a follow up discussion about the status of the "mediaType" field.  It seems the field is not required from the dcat_usmetadata UI Form for some Resource types.  However, `datajsonvalidator` thinks that it is required, @jbrown-xentity and @hkdctol

@FuhuXia and I didn't have a clear understanding of the data requirements.

[2022-04-22 15:25] jbrown-xentity commented on #3788
This is the data requirements: https://resources.data.gov/resources/dcat-us/#distribution-mediaType
Short version, is it required: `Yes, if the file is available for public download.`
The only practical reason for tracking stuff in inventory is for public catalog record of public data, so it seems mostly appropriate to require it in inventory. There are use cases where the dataset record could be

[2022-04-22 16:51] robert-bryson commented on #3787
Moving to blocked for now to not step on catalog's toes in stage/prod. @FuhuXia, please let me know when it is ok to go ahead with this once you're done with #3780.

[2022-04-24 07:50] mogul commented on #3665
For future reference: Replacing Calico with Cilium would give us DNS-based egress control (like the Monzo operator) and mTLS between pods as well as many other service-mesh features.
https://cilium.io/

[2022-04-25 06:32] datagov-bot opened #3792 "deploy-ci-platform-mb/master #375 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/375/)

[2022-04-25 15:35] hkdctol opened #3793 "[Onboard] Jin Sun"
Welcome! [The Onboarding wiki](https://github.com/gsa/data.gov/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Review t

[2022-04-25 15:35] hkdctol opened #3794 "[Onboard] Tyler Burton"
Welcome! [The Onboarding wiki](https://github.com/gsa/data.gov/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Review t

[2022-04-25 17:03] jbrown-xentity opened #3795 "O+M 4-28-2022"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-04-25 17:50] nickumia-reisys opened #3796 "Determine process for restarting catalog gather process"
## User Story

In order to support cybersecurity and operational requirements, the catalog.data.gov team wants to implement a way to not interrupt the gather process.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] WHEN a restart is re

[2022-04-26 16:17] #3792 closed, assigned to nobody

[2022-04-26 16:51] robert-bryson commented on #3787
While working on this last night I was able to deploy to the development space seemingly without problem. In stage/prod there is a `407` error that is a new one for me:
![image](https://user-images.githubusercontent.com/91547795/165350840-495efe83-06da-4361-ab99-5c77014bfabd.png)

I thought there might be a bug with the `cf-deployproxy` modifications that reset the auth to the egress proxy app, bu

[2022-04-26 17:38] jbrown-xentity opened #3797 "SOLR restarts and reliability testing"
## User Story

In order to support SOLR cloud being stable, data.gov admins want the gather, fetch, and solr services to be restarted in sync, such that the gather and fetch do not run while SOLR is restarting.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_s

[2022-04-26 21:27] jbrown-xentity opened #3798 "Verify if cloud.gov catalog can send email"
## User Story

In order to get harvest reports, data.gov data providers wants email setup.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN catalog is in dev on cloud.gov \
  WHEN a harvest is completed \
  THEN we should be able

[2022-04-26 22:12] jbrown-xentity commented on #3794
I did a deep dive on the wiki content, so it should be *more* clean and ready for onboarding... Please, if you find something important/interesting to note add it [here](https://github.com/GSA/data.gov/wiki/Hmm...-where-to-start%3F-by-nickumia-reisys). The wiki is a living document, if you see obvious errors/typos please fix. If you see something that looks wrong, please let me know (either here o

[2022-04-26 22:12] jbrown-xentity commented on #3793
I did a deep dive on the wiki content, so it should be *more* clean and ready for onboarding... Please, if you find something important/interesting to note add it [here](https://github.com/GSA/data.gov/wiki/Hmm...-where-to-start%3F-by-nickumia-reisys). The wiki is a living document, if you see obvious errors/typos please fix. If you see something that looks wrong, please let me know (either here o

[2022-04-27 16:03] mogul commented on #3798
The SMTP service is already registered and available in the appropriate spaces, so there's no need to mess with the broker deployment to complete this.

That said there _might_ still be a step to move a provisioned SES instance into the approved status on the AWS side (via console or in future via Terraform); can't remember where I left that!

[2022-04-27 19:58] nickumia-reisys commented on #3613
@FuhuXia @jbrown-xentity Which button link is more accurate?

`https://inventory.data.gov/dataset/new-metadata?group=<some-group>`
or
`https://inventory.data.gov/dataset/new-metadata`

I suspect this is also a result of customizations in `ckanext-usmetadata` that did not age well.  I can easily remove the bad one, just not sure which one is bad.

[2022-04-27 22:24] jbrown-xentity commented on #3613
Keep the one with the group; it autopopulates the organization field (which is kind of nice). However, if you can remove a template from our customization/management, then do that and don't worry about which one to take!

[2022-04-28 16:04] robert-bryson commented on #3785
Evidence of it working in staging:
It allows a site it should allow, a *.gov site.
![image](https://user-images.githubusercontent.com/91547795/165794108-9a20a1a8-8d7e-46b5-90b5-d447e088c569.png)
and blocks a site it should block.
![image](https://user-images.githubusercontent.com/91547795/165794158-e817e423-2760-4f89-8334-ddb5cd34aba3.png)

In prod, with no ssh access, `cf run-task` is used to tes

[2022-04-28 16:33] robert-bryson commented on #3787
Not really any new information, but I was thinking about this a little and found that for some reason `catalog-proxy` can hit the solr url but `catalog` cannot. The egress proxy settings/deployment are identical.

From `➜ cf run-task catalog-proxy --command "curl -I 'https://the_correct_:user_and_password@default-solr-65187a14179185f
6-solrcloud.nickumia-singleaz.ssb.data.gov'" --name why_solr` on

[2022-04-28 17:18] jbrown-xentity opened #3799 "Security scanning for SSB/SOLR (test)"
## User Story

In order to meet SI-3, data.gov security wants a scanning tool performing scanning and alerting on malware/any unexpected file system changes.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [Falco](https://falco.o

[2022-04-28 18:41] nickumia-reisys opened #3800 "Increase Inventory.data.gov responsiveness"
## User Story

In order to improve user satisfaction, the inventory.data.gov support team wants to make inventory.data.gov more responsive.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN inventory app and related services are pr

[2022-04-28 19:06] FuhuXia opened #3801 "Encoded characters in harvest report email"
When there are errors in harvesting, the harvest report emails sent to users contains encoded characters, such as `&#39;`.  This makes it hard for users to understand the error message.  For example:

[code]

## How to reproduce

Check [harvest report emails](https://mail.google.com/mail/#search/from%3A(harvest-report)).

## Expected behavior

No encoded characters.

## Actual behavior

 `&#39;` i

[2022-04-28 19:06] jbrown-xentity opened #3802 "Catalog dev in bad state"
Catalog dev is in a bad state, not coming up.

## How to reproduce

1. https://catalog-dev-datagov.app.cloud.gov/dataset

## Expected behavior

Works

## Actual behavior

500

## Sketch

- [ ] Check if someone is actively working/debugging on development catalog
- [ ] Rebase dev from main (`git fetch; git pull main; git push origin main:develop --force`)
- [ ] Check logs for error
- [ ] Iterate on

[2022-04-28 19:07] jbrown-xentity opened #3803 "Inventory dev in a bad state"
Inventory dev is in a bad state, not coming up.

## How to reproduce

1. https://inventory-dev-datagov.app.cloud.gov/user/login

## Expected behavior

Works

## Actual behavior

500

## Sketch

- [ ] Check if someone is actively working/debugging on development inventory
- [x] Rebase dev from main (`git fetch; git pull main; git push origin main:develop --force`)
- [ ] Check logs for error
- [ ] I

[2022-04-28 20:11] #3614 closed, assigned to nickumia-reisys

[2022-04-28 20:11] #3615 closed, assigned to nickumia-reisys

[2022-04-28 20:11] #3785 closed, assigned to robert-bryson

[2022-04-28 20:11] #3795 closed, assigned to FuhuXia, jbrown-xentity

[2022-04-28 20:21] jbrown-xentity commented on #3788
@jbrown-xentity make new ticket for QA on all required fields in inventory metadata form, and if export works as expected after bare minimum data entry.

[2022-04-28 20:55] jbrown-xentity commented on #3789
If implemented, should evaluate if rolling restart causes any downtime in application outside world access...

[2022-04-29 16:27] FuhuXia opened #3804 "Amazon EKS Kubernetes 1.19 Deprecation"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2022-04-28
**Severity:**
**Due date:** 2022-06-30

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue has been

[2022-04-29 16:40] FuhuXia commented on #3800
Kind of reminds me an VERY old issue that organization page loads very slow when CKAN databases size is in certain range. Seems to be a related to how index is used in postgres. That was postgres version 9+.

[2022-04-29 16:52] jbrown-xentity commented on #3729
We are able to confirm that in catalog, the proxy should be successful running `curl https://catalog-stage-datagov.apps.internal:61443/` (once SSH'd in). In inventory, this is also successful (with the expected 403 response).

It's possible the 403 response in CKAN is causing nginx to not return the full result?

In testing this in staging, this got mucked up with a PR release; we'll need to take

[2022-04-30 01:54] nickumia-reisys opened #3805 "Purge Solr 6 Deployment"
## User Story

In order to complete our upgrade from Solr 6 to Solr 8, the Data.gov SSB team wants stop deploying and supporting Solr 6 as a brokered service.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondi

[2022-04-30 04:14] nickumia-reisys commented on #3802
Based on preliminary investigation, this is due to egress proxy errors.

[2022-04-30 12:51] jbrown-xentity commented on #3697
We have decided that while catalog has certain blockers, these aren't relevant for inventory. The security and other benefits from using a single stack are worth taking this work on now, instead of staying on solr 6.

@nickumia-reisys re-deployed to development workspace, and the system looks great. I tested searching on dataset title, description, email field, and publisher: all worked great. We

[2022-05-02 13:35] nickumia-reisys opened #3806 "S3 Output causes logstack-shipper to crash"
cloud.gov
https://github.com/GSA/datagov-logstack @ main

## How to reproduce

1. Try to deploy `logstack-shipper` app
    1. `cd datagov-logstack`
    1. `make logstash-installation`
    1. `cf push --vars-file vars.management.yml --strategy rolling`

## Expected behavior

App deploys and does not crash

## Actual behavior

App deploys and crashes with S3 Errors...
[code]

## Sketch

- [x] Invest

[2022-05-02 14:20] FuhuXia commented on #3532
Another scenario caught. When a record in data.json harvest source contains non-ascii char in the identifier (such as `pinaleño`), gather process will raise an error then exit, not processing and remaining records.  the error does not show in the harvest report.

Error message in gather log.
[code]

[2022-05-02 14:57] nickumia-reisys commented on #3797
Seems awfully suspicious,

![image.png](https://images.zenhubusercontent.com/60b8d46c2e48c414f9c5a9a0/351de657-1250-47ac-b985-a1e3f49f953a)

[2022-05-02 15:07] nickumia-reisys commented on #3806
The issue was improper setting of the `AWS_S3_PROXY` environment variable in the `.profile`

https://github.com/GSA/datagov-logstack/pull/40/files#diff-94f41f04659846ca294a81d7f791023cf88161dcfb2cc5d3ce1cc0e996a0b474L14-R14

[2022-05-02 15:36] nickumia-reisys commented on #3798
Successfully created SMTP service and bound to catalog.  Need help with the following,
- [x] How to configure ckan with SMTP credentials
- [x] How to change all of the production emails in staging to dummy emails so real emails don't go out.

[2022-05-02 15:37] jbrown-xentity commented on #3798
Email settings can be set in the `.profile`:

- http://docs.ckan.org/en/2.9/maintaining/configuration.html#email-settings
- https://github.com/GSA/catalog.data.gov/blob/main/.profile#L76

As to replacing the URL's in staging, it would be something like:

- Connect to catalog DB (either with SSH or with tunneling)
- Examine the organizations table, there should be an extras field that contains emai

[2022-05-02 15:38] nickumia-reisys commented on #3798
Going to follow the instructions here... https://docs.ckan.org/en/2.9/maintaining/email-notifications.html

[2022-05-02 15:48] nickumia-reisys commented on #3798
Is it just me or should the smtp service output what the actual email is? (outside of the `domain_arn`)
[code]

[2022-05-02 18:38] nickumia-reisys opened #3807 "Manually Managed EKS Service"
## User Story

In order to deploy Solr reliably to cloud.gov, the Data.gov SSB Team wants to define the processes and logistics surrounding self-managing an EKS cluster to support our Solr deployments.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificat

[2022-05-03 16:53] FuhuXia commented on #3799
Falco installed on a test EKS cluster in staging, Time to config it.

[code]

[2022-05-03 17:28] jbrown-xentity commented on #3761
https://github.com/GSA/data.gov/wiki/Operation-and-Maintenance-Responsibilities#apply-new-amis

[2022-05-03 17:45] jbrown-xentity opened #3808 "Integrate AMI's into EKS"
## User Story

In order to keep our compliance up to date, the Data.gov SSB team wants the latest secure AMI tested and integrated into SSB.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a new AMI is released \
  AND the AMI is

[2022-05-03 18:13] nickumia-reisys opened #3809 "Deprecation of AWSConfigRole IAM Managed Policy"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2022-05-03
**Severity:**
**Due date:** 2022-07-05 (or next SSB IAM update)

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been perfor

[2022-05-04 00:40] nickumia-reisys commented on #3802
Not sure if it was actually the egress proxy, but the egress proxy was undone in `development` and the `INTERNAL_ROUTE` variable was fixed and catalog is working in dev again,

![image](https://user-images.githubusercontent.com/85196563/166608899-fe0765c5-38d7-4af6-b86f-36983f34e587.png)

[2022-05-04 00:56] nickumia-reisys commented on #3798
Was able to get error from SMTP setup... long story short, we have to figure out what the real email address is 😞

![image](https://user-images.githubusercontent.com/85196563/166609938-4fb6a0ea-36ac-46b6-8b1b-48728057fdb5.png)

[2022-05-04 01:12] nickumia-reisys commented on #3798
Okay.. doing `<anything>@domain_name` seems to have worked, but there's a formatting issues somewhere in our pipeline,

[code]

[2022-05-04 01:15] nickumia-reisys commented on #3798
Okay, I know, this is a lot of logs, but maybe python isn't the error, I found this in the logs too...  Definitely an SMTP broker issue and I don't know where aaron's email came from... @mogul any insights?

[code]

P.S. This is a freshly created service today.  So there's nothing tying this particular instance to anything aaron was doing before.

P.S.2. This is the code that adds the `SendRawEmai

[2022-05-04 01:37] nickumia-reisys commented on #3807
Tentative Design of [EKS-Solr Deployment](https://docs.google.com/drawings/d/1y0ZKkn14CLxP1cOZtIeUpE_q1B8-qqSZjSVoYRlxlis/edit)

[2022-05-04 02:23] mogul commented on #3798
Not a clue and the HCL is very simple. This is really surprising!

[2022-05-04 13:21] nickumia-reisys commented on #3798
I'll try and investigate then.  Thanks for taking a look @mogul!

[2022-05-04 13:34] nickumia-reisys opened #3810 "Debug and create test for datagov-smtp broker"
datagov-brokerpak-smtp @ main

## How to reproduce

1. Create a datagov-smtp service
2. Bind service to catalog main app
3. Configure CKAN with smtp credentials
4. Perform action that would send email (e.g. harvesting)
5. Wait for email to be generated

## Expected behavior

Email sent to desired recipient

## Actual behavior

[code]

## Sketch

- [x] Investigate where Aaron's email is set
- [x] U

[2022-05-04 16:05] robert-bryson commented on #3787
Moving to blocked until the environment is more stable. I am not able to make progress with the current work going on.

[2022-05-04 16:19] FuhuXia opened #3811 "catalog web app crashes when solr is outdated"
Some rare crashes observed in staging environment that web app fails to start. The error log shows it complains about some dataset not being found. The web app is connected to a solr8 classic instance that the data might be outdated, caused by harvest jobs run on other app that connected to the same database but different SolrCloud.

Gather and Fetch app are ok.
We know if it is connected to a bla

[2022-05-04 16:41] nickumia-reisys commented on #3810
Verified in the AWS Console, the SES instance was verified,

![image](https://user-images.githubusercontent.com/85196563/166729435-4d1fa2f8-175f-49f1-bb1f-58b237aef0ac.png)

[2022-05-04 16:54] nickumia-reisys opened #3812 "Test GSA ISE Hardened AMI's compatibility with SolrCloud"
## User Story

In order to meet cybersecurity requirements, the Data.gov Solr Team wants ensure that the GSA Hardened AMI for running EKS does not have any operational conflicts with our SolrCloud setup.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specific

[2022-05-04 18:11] nickumia-reisys commented on #3810
Ohhhh, I think I found the problem.. I think we should be doing [this](https://docs.aws.amazon.com/ses/latest/dg/control-user-access.html#iam-and-ses-examples-email-sending-actions),
[code]

Instead of doing [this](https://github.com/GSA/datagov-brokerpak-smtp/blob/main/terraform/bind/main.tf#L15-L35),
[code]

The second one restricts sending emails only to itself as opposed to, to anywhere.

[2022-05-04 18:51] nickumia-reisys commented on #3810
Okay.. well... there's a few steps that need to happen here,
- [x] Promote our SES Account to production from sandbox to be able to send real emails to external accounts
- [ ] This PR needs to be reviewed and merged to be able to send emails to anyone, instead of just to itself.
  - [x] I'm writing a test to manually send an email.

My script will continue to fail with `Email Address not verified`

[2022-05-04 18:53] nickumia-reisys commented on #3810
The original error was trying to send an email to aaron's email, not use aaron's email to do something.

[2022-05-04 19:58] nickumia-reisys commented on #3810
Proof that sending emails works 😄

![image](https://user-images.githubusercontent.com/85196563/166815960-af32a1d1-4772-4972-81a6-54a1a02930db.png)

![image](https://user-images.githubusercontent.com/85196563/166816015-9e3e8c30-c95f-4888-9139-e69641d0dcd5.png)

[2022-05-04 20:25] nickumia-reisys opened #3813 "Fix ckanext-harvester send mail"
catalog @ smtp-setup
datagov-brokerpak-smtp @ v1.1.3
gsa/ckanext-harvest @ jinja-render2

## How to reproduce

1. Create a datagov-smtp service
2. Bind service to catalog main app
3. Configure CKAN with smtp credentials
4. Perform action that would send email (e.g. harvesting)
5. Wait for email to be generated

## Expected behavior

Email sent to desired recipient

## Actual behavior

[code]

## S

[2022-05-04 20:30] nickumia-reisys commented on #3813
This is the line that generates the list of emails to send to.. https://github.com/GSA/ckanext-harvest/blob/render-jinja2/ckanext/harvest/logic/action/update.py#L809

[2022-05-04 20:34] jbrown-xentity commented on #3813
Actually, it's extended here: https://github.com/GSA/ckanext-datagovcatalog/blob/main/ckanext/datagovcatalog/harvester/notifications.py#L11

[2022-05-04 22:30] mogul commented on #3810
I don't think that's what is happening here... Restricting to just a particular target address [looks different](https://docs.aws.amazon.com/ses/latest/dg/control-user-access.html#iam-and-ses-examples-recipients).

[2022-05-04 22:37] mogul commented on #3810
See also how the word "Resource" is applied here... It refers to the SES identity being used for sending, not the recipient.

![image](https://user-images.githubusercontent.com/47762/166836138-c154bfcf-79b5-4126-8122-8791fedea093.png)

Here's a list of brokered SES identities:
![image](https://user-images.githubusercontent.com/47762/166836489-c4a296a5-838a-47f6-a54b-51c8d27a6497.png)

If you make

[2022-05-05 00:38] nickumia-reisys commented on #3813
I tried to replicate the error locally, but it just got stuck here 😕

![image](https://user-images.githubusercontent.com/85196563/166848301-d271a0ff-25a8-45f1-bf69-fa55c421dcf9.png)

Steps taken:
[code]

[2022-05-05 01:05] nickumia-reisys commented on #3813
Okay, I was able to replicate it, local smtp_server needed to explicitly reference port `587`.

It looks like there are some settings in CKAN that are causing some email to be `None`?

[code]

[2022-05-05 01:09] nickumia-reisys commented on #3813
Changing all of the user emails to valid emails made it work...

![image](https://user-images.githubusercontent.com/85196563/166850543-a18f7e94-d563-4cb8-ae36-bbd3775d3016.png)

[2022-05-05 01:13] nickumia-reisys commented on #3813
On catalog-dev, there is a `datagov_catalog` user with no email so it looks like harvesting emails just error out when it reaches that one and upstream does not handle errors properly...

![image](https://user-images.githubusercontent.com/85196563/166850736-963ee9fc-28bf-4ab4-b4e5-f3f7581a9a76.png)

[2022-05-05 06:35] datagov-bot opened #3814 "deploy-ci-app-catalog-next-mb/fcs #281 failed"
Build 'deploy-ci-app-catalog-next-mb/fcs' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog-next-mb/job/fcs/281/)

[2022-05-05 06:49] datagov-bot opened #3815 "deploy-ci-platform-mb/master #380 failed"
Build 'deploy-ci-platform-mb/master' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform-mb/job/master/380/)

[2022-05-05 06:49] datagov-bot opened #3816 "deploy-ci-platform-mb/develop (sandbox) #300 failed"
Build 'deploy-ci-platform-mb/develop' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform-mb/job/develop/300/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform-mb » develop/detail/deploy-ci-platform-mb » develop/300/pipeline) (blue)

[2022-05-05 07:11] #3816 closed, assigned to nobody

[2022-05-05 18:07] FuhuXia commented on #3813
`datagov_catalog` is used as catalog.data.gov's  [site_id](https://github.com/GSA/catalog.data.gov/blob/d3c86a4dd17a8754c5fda8764f3574e86f1ae04d/ckan/setup/ckan.ini#L103) . I think it is added as a user some where in the process when we do db migration from ckan 2.8 to ckan 2.9. We can run the following sql commands to add a dump email address to the db as a workaround.

[code]
Then
[code]

[2022-05-05 18:11] nickumia-reisys commented on #3813
To summarize,
- `datagov-brokerpak-smtp` can send emails.
- `catalog.data.gov` was deployed to development and verified that it can send emails.
- There is a bug in the upstream code where the `ckan harvester run` command exits immediately if an email for a desired user is not set.
- Fuhu's workaround will mask the bug for our deployment.

[2022-05-05 20:09] hkdctol commented on #3805
#3679 is blocking this

[2022-05-05 20:16] robert-bryson commented on #3729
PR at https://github.com/GSA/inventory-app/pull/439. I believe this is ready to be merged to main as it no longer is based on the solr8 branch.

[2022-05-05 20:17] hkdctol commented on #3813
leaving here until we actually switch over to catalog on cloud.gov

[2022-05-05 20:23] hkdctol commented on #3780
Putting in Icebox for now given outlook on SolrCloud

[2022-05-05 20:26] hkdctol commented on #3697
Moving to blocked until SOLR8 in the SSB is production ready

[2022-05-05 20:30] hkdctol commented on #3799
@FuhuXia continuing on it for now.

[2022-05-05 20:38] hkdctol commented on #3797
may need to revisit if the Falco work doesn't pan out.

[2022-05-05 20:41] hkdctol opened #3817 "SSB Approval from ISSM"
## User Story

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND optionally another precondition] \
  WHEN [a triggering event] happens \
  THEN

[2022-05-05 20:44] hkdctol opened #3818 "Work with GSA IT to implement enterprise tools/SOC integration"
## User Story

In order to meet ATO conditions and other security requirements, Data.gov team wants to ensure appropriate integration to ensure proper reporting to GSA SOC.

## Acceptance Criteria

- [ ] GIVEN the Data.gov team is operating the SSB as part of its operation on cloud.gov \
  WHEN reportable security event happens in SSB\
  THEN reporting happens to GSA SOC based on the tools that ha

[2022-05-06 12:09] FuhuXia opened #3819 "data.json containing string spatial values with multiple comma failed to be harvested"
When a geospatial data.json record with spatial value `spatial: "United States, Territories, Commonwealths, Island Nations"`, the harvesting process generates an error.

## How to reproduce

harvest a sample data.json record with the following values
[code]
## Expected behavior

harvested successfully.

## Actual behavior

Error in gather process with message:

[code]
## Workaround

Before the iss

[2022-05-06 12:53] nickumia-reisys commented on #3770
This is crazy!! [Someone else posted upstream](https://issues.apache.org/jira/browse/SOLR-13510?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=17532646#comment-17532646) that they saw the same error on k8s!! 😱

[2022-05-06 14:08] FuhuXia opened #3820 "O+M 2022-05-12"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-05-06 14:16] FuhuXia commented on #3820
Ansible 2.8 started to giving problems, make the JENKINS CI/CD on FCS broken. Issue found so far:
1. Adds "Ansible managed" line without the pound sign, messing up the file it touches.
2. Assign wrong value to variables, for example, using admin site's value for for read-only ckan.site_url.

Running Ansible by JENKINS or manually will break catalog. CI/CD will be stuck at staging. We can live with