[2022-10-17 23:33] nickumia-reisys commented on #3965
How this was solved:
- Looked at the `ckanext-qa` extension to see what template was adding in the view
  - https://github.com/ckan/ckanext-qa/blob/eaac451ab8b8326a14931648cd2c695a69e8fb4b/ckanext/qa/templates/snippets/organization.html
- Checked other extensions to see who else was editing the same template
  - https://github.com/GSA/ckanext-datagovtheme/blob/71a3455599bddd1346f2359de8fe89067898d

[2022-10-18 00:03] jbrown-xentity commented on #3833
Used Grok to build in a new system to filter out and be able to parse the cloud.gov info in front of the logs. Current grok looks like:
[code]

[2022-10-18 13:28] Jin-Sun-tts commented on #4007
The following SQL script picks up the duplicates (from https://github.com/GSA/data.gov/issues/3567)

`SELECT "group".name, COUNT(*) FROM package
JOIN "group" ON package.owner_org = "group".id
LEFT JOIN harvest_object ON package.id = harvest_object.package_id
WHERE package.state='active' AND package.type='dataset'
AND harvest_object.package_id IS NULL
GROUP BY 1
ORDER BY 2 DESC
;`

[code]

Followin

[2022-10-18 13:36] Jin-Sun-tts commented on #3943
10/17
0 packages need to be removed from Solr
1 packages need to be updated/added to Solr

10/18
0 packages need to be removed from Solr
1 packages need to be updated/added to Solr

[2022-10-18 13:43] Jin-Sun-tts commented on #4007
Will do following cleanup today:
[code]

[2022-10-18 18:59] robert-bryson commented on #3648
With https://github.com/GSA/ckanext-geodatagov/pull/224, the work on `ckanext-geodatagov` should be done (hopefully). The work on the `catalog` side should be done with https://github.com/GSA/catalog.data.gov/pull/578.

[2022-10-18 19:46] #3965 closed, assigned to nickumia-reisys

[2022-10-19 16:49] nickumia-reisys commented on #3532
@FuhuXia A few questions:
- Are errors in question from both `gather` and `fetch`?  The original issue mentions only `gather` but then there are some references to `fetch` as well.
- Are the errors from a specific type of harvest source?  Or is it any type?

My understanding of the harvesting error catching:
- There is a [`HarvestGatherError`](https://github.com/ckan/ckanext-harvest/blob/a628782a9

[2022-10-19 16:54] nickumia-reisys commented on #3532
The errors with the `UnicodeEncodeError` are an issue with how the log statement was written, it does not support anything other than ascii characters and would need to be re-written in whichever extensions they are are appearing in.

[2022-10-19 17:11] FuhuXia commented on #4008
Catalog went down at the end of day yesterday and was brought back shortly after. The reason is some DB operation. [slack discussion](https://gsa-tts.slack.com/archives/C2N85536E/p1666125462709409).

[2022-10-19 17:24] nickumia-reisys commented on #3532
Errors to be fixed:
- [x] [`ckan.logic.ValidationError`](https://github.com/GSA/data.gov/issues/3532#issue-1050021875)
  - ckanext-datajson
  - ckanext-geodataogv
  - ckanext-harvest
  - ckan
- [x] [`ckan.logic.ValidationError`](https://github.com/GSA/data.gov/issues/3532#issuecomment-970389460)
  - ckanext-datajson
  - ckanext-geodataogv
  - ckanext-harvest
  - ckanext-spatial
- [x] [`TypeError`]

[2022-10-19 19:38] nickumia-reisys commented on #3532
`UnicodeEncodeError`s are only related to system mis-configurations
- https://stackoverflow.com/questions/52896485/python3-logger-unicodeencodeerror
- https://bugs.python.org/issue37111
- https://github.com/DocNow/diffengine/issues/24

[2022-10-19 20:34] hkdctol opened #4021 "Conduct additional AMP testing"
## User Story

In order to meet GSA Accessibility and 21st Century IDEA Act requirements, Data.gov needs to conduct additional AMP testing

## Acceptance Criteria

- [ ] GIVEN additional AMP criteria identified by TTS Digital Council and GSA \
  THEN Data.gov has conducted additional AMP testing and met the required minimums on all criteria.

## Background

In FY 2022, there were 8 criteria tested

[2022-10-19 20:59] hkdctol opened #4022 "Conduct manual testing for accessibility"
## User Story

In order to meet GSA Accessibility and 21st Century IDEA Act requirements, Data.gov should conduct manual testing for accessibility.

## Acceptance Criteria

- [ ] GIVEN criteria set by TTS Digital Council/GSA and established deadlines\
  THEN Data.gov has completed manual testing as required.

## Background

For FY 2022, GSA websites were required to test for a limited number of cr

[2022-10-20 16:23] hkdctol opened #4023 "[Onboard] carolina.cacioli@gsa.gov"
Welcome! [The Onboarding wiki](https://github.com/gsa/data.gov/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Review t

[2022-10-20 19:43] robert-bryson commented on #3648
Catalog work is [merged](https://github.com/GSA/catalog.data.gov/pull/578) and [building](https://github.com/GSA/catalog.data.gov/actions/runs/3292318029)!

[2022-10-20 20:02] robert-bryson commented on #4005
Updated on ckanext-geodatagov with [this commit](https://github.com/GSA/ckanext-geodatagov/commit/a60c7fb89715dbc2ca45c961bd26c9bd00768c0d). Note that [`actions/setup-python`](https://github.com/actions/setup-python) is now at `v4`.

[2022-10-20 20:08] hkdctol commented on #3961
Going to put back since we're working on dashboard replacement.

[2022-10-20 20:12] robert-bryson commented on #3648
Looks like [just staging `catalog-proxy` has an issue](https://github.com/GSA/catalog.data.gov/actions/runs/3292318029/jobs/5427747218) with the `sed` command: `ERR sed: -e expression #1, char 22: unknown option to `s'`. It should be the same as the similar command above. Am investigating.

[2022-10-20 20:12] hkdctol commented on #3532
@FuhuXia will try to find some harvest sources to verify that it's fixed

[2022-10-20 20:13] hkdctol commented on #3943
Marking as done

[2022-10-20 20:26] hkdctol commented on #4015
For when users say they have been blocked, would enable us to know why.

[2022-10-20 20:35] jbrown-xentity commented on #3944
We believe that with https://github.com/GSA/data.gov/issues/4007 being complete, as well as the previous work on this ticket, that this may be resolved. Should examine DOI as an example, and the list of all duplicates from [here](https://github.com/GSA/datagov-dedupe/actions/workflows/check_org_duplicates.yml) against previous runs to check if any counts are growing. If the counts are static/down,

[2022-10-20 20:40] hkdctol commented on #3484
This is in acceptable status for now.

[2022-10-20 21:11] hkdctol commented on #3891
Will move to done, pending any new tickets on design work,

[2022-10-20 22:55] jbrown-xentity commented on #3991
With the attached PR's being merged, this should be complete. See attached screenshot, logs are much easier to be parsed and reviewed. Also note the saved views for later review.

![Image](https://user-images.githubusercontent.com/26980513/197074229-6cdcfcfd-a0bc-4e2e-b955-993dc68ca970.png)

[2022-10-21 13:31] FuhuXia opened #4024 "Develop a process to sync catalog DB from prod to staging"
We need, once in a while, to sync Catalog production database to staging. We need to have the steps in details on
- Production DB dump to S3
- Staging DB restore from S3
- Sanitize the Staging DB
  - Set all harvest source to the Manual schedule,
  - Remove all user API keys and API Tokens
  - Change all user emails to `localdomain` so that no accidental emails go out

[2022-10-21 14:12] FuhuXia commented on #4008
Solr follower 1 went down, same behavior as the [1st time](https://github.com/GSA/data.gov/issues/3983#issuecomment-1272110406) in last sprint. We saw the index folder changed name twice. [Discussion in slack](https://gsa-tts.slack.com/archives/C2N85536E/p1666306801657799). Need to find a way to detect and handle this kind of behavior.

[2022-10-21 20:14] FuhuXia opened #4026 "Solr replica core is locked after restart"
We have developed some [stragtegy](https://github.com/GSA/catalog.data.gov/pull/518/files) to deal with Solr core locking after FCS task restart. We even added some logic to deal with some rare occasions that Solr index folder may get renamed. But we noticed twice Solr still gets itself locked after a restart.

## How to reproduce

Cant replicate. It happened twice so far.
https://github.com/GSA/d

[2022-10-21 20:38] jbrown-xentity opened #4027 "catalog styles aren't loaded"
Go to any dataset page, and open the web console. See 404 on 6 font files.

## How to reproduce

1. Go to https://catalog.data.gov/dataset/ek500-water-column-sonar-data-collected-during-al0001
2. Open web dev tools
3. Check network/console

## Expected behavior

No 404 errors

## Actual behavior

404 errors

## Sketch

We must be bundling datagovtheme wrong, or the css is referencing the wrong rou

[2022-10-21 20:49] FuhuXia commented on #4026
Developed a New Relic alert policy ["Solr Core Lock"](https://one.newrelic.com/nrai/alerts-classic/policies). If we defect Solr core lock message in catalog apps, we will get notified in Slack and email.

[2022-10-24 12:05] nickumia-reisys commented on #3939
This is our only customization:
- https://github.com/GSA/ckanext-saml2auth/pull/1

It was merged upstream:
- https://github.com/keitaroinc/ckanext-saml2auth/pull/72

[2022-10-24 12:15] nickumia-reisys commented on #3938
Our customizations:
- (Old) https://github.com/GSA/ckanext-spatial/pull/9
  - Overwritten by: https://github.com/GSA/ckanext-spatial/pull/10
- https://github.com/GSA/ckanext-spatial/pull/11
- https://github.com/GSA/ckanext-spatial/pull/12
- https://github.com/GSA/ckanext-spatial/pull/14
- https://github.com/GSA/ckanext-spatial/pull/16

Merged (or at least started) Upstream:
- https://github.com/ck

[2022-10-24 19:24] Jin-Sun-tts commented on #4007
10-24-2022 There is new one duplicate in dhs-gov today.

[2022-10-24 19:30] Jin-Sun-tts commented on #4007
just cleaned up duplicates for ca-gov, it only took about 4 min for 12455 records with new deletion method (defer the commit to the end).

[2022-10-24 19:38] FuhuXia commented on #4007
That is 50/sec on deleting, faster than 10/sec adding/updating. What makes the speed difference?

[2022-10-24 19:46] Jin-Sun-tts commented on #4007
The new delete function, only has one solr connection for all deletions.
And the adding/updating has new connection for each call.

[2022-10-24 21:45] Jin-Sun-tts commented on #4007
The following duplicates are also be cleared :
doc-gov 23425
noaa-gov 10869

So there is no duplicates in DB as of today. Will continue monitor for couple days to see if we get new duplicates.

[2022-10-24 22:11] jbrown-xentity commented on #3991
Reviewed and demo'd with team during pairing today. Logs are being parsed, views to review errors weekly are setup, and documentation added on how to accomplish.

[2022-10-24 22:11] #3991 closed, assigned to jbrown-xentity

[2022-10-25 13:20] FuhuXia commented on #3635
This continues to be an issue. We see high error rate due to error message
`405 Method Not Allowed: The method is not allowed for the requested URL.`

![image](https://user-images.githubusercontent.com/1392461/197783407-a69ad3a3-a2a4-4e99-b43c-42238e64e03d.png)

Here is some sample requests:
[code]

[2022-10-25 13:44] Jin-Sun-tts commented on #3567
After cleaned up the bad data in https://github.com/GSA/data.gov/issues/4007, above query returns 0 rows now.

[2022-10-25 13:45] nickumia-reisys commented on #4027
### Before Picture:
![image](https://user-images.githubusercontent.com/85196563/197790194-54298c4a-aa42-49d7-9bc1-223957d61b2b.png)

![image](https://user-images.githubusercontent.com/85196563/197790485-bb5d4482-5179-4fff-a9ac-67d104f80631.png)

[2022-10-25 14:00] #3833 closed, assigned to jbrown-xentity

[2022-10-25 14:55] nickumia-reisys commented on #4027
### After Picture:
![image](https://user-images.githubusercontent.com/85196563/197808101-4ae621a1-f3c7-41d0-a815-08dec4b8d3c7.png)

[2022-10-25 14:55] #4027 closed, assigned to nickumia-reisys

[2022-10-25 15:56] robert-bryson commented on #3648
🥳  https://catalog.data.gov/robots.txt now has a good link to the sitemap bucket! And a mostly valid (should be on merge of [PR 615](https://github.com/GSA/catalog.data.gov/pull/615)) sitemap file!

[2022-10-25 16:21] robert-bryson opened #4028 "Sitemap Update response in Github Action"
## User Story

In order to [ensure that CF tasks that get triggered by a github action complete successfully], [datagov team] wants [the actions to monitor their tasks for success/failure].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [

[2022-10-25 16:39] nickumia-reisys commented on #4028
A similar but different mechanism exists for the `db-solr-sync` task.  The logs of the task are output to Github and if the app exits successfully on CF, Github reports success, otherwise it reports failure.
- https://github.com/GSA/catalog.data.gov/blob/main/tools/monitor_cf_logs.sh
- https://github.com/GSA/catalog.data.gov/blob/main/.github/workflows/db-solr-sync-automated.yml#L38-L47

[2022-10-25 18:31] FuhuXia commented on #4008
Catalog staging Solr leader gives 504 error when updating an index. Did not capture Solr error. But issue was resolved after a ECS task restart. The Solr has been up for 15 days.
[code]

[2022-10-25 19:15] hkdctol opened #4029 "Propose design options for data.gov site"
## User Story

In order to make design choices on next steps on new Data.gov static site, Data.gov team needs to develop some options for review.

## Acceptance Criteria

- [ ] GIVEN our "draft" new site for Data.gov main page \
 THEN Data.gov team has some choices/mood boards for next steps for full mockup.

## Background

Data.gov migrated from Wordpress to Federalist, and has a new version of t

[2022-10-26 13:47] #3939 closed, assigned to nickumia-reisys

[2022-10-26 13:53] jbrown-xentity commented on #3984
2.9.7 was released today, due to an account vulnerability. We have already triaged this vulnerability and it doesn't affect us, so this doesn't change the priority. See https://github.com/ckan/ckan/blob/ckan-2.9.7/CHANGELOG.rst

[2022-10-26 15:58] nickumia-reisys commented on #3938
Only one customization is not captured and I believe it is not critical.
- https://github.com/ckan/ckanext-spatial/pull/261

Can you confirm @jbrown-xentity?

[2022-10-26 17:07] Jin-Sun-tts commented on #4007
checked the duplicate today, no new item returned

`SELECT "group".name, COUNT(*) FROM package JOIN "group" ON package.owner_org = "group".id LEFT JOIN harvest_object ON package.id = harvest_object.package_id WHERE package.state='active' AND package.type='dataset' AND harvest_object.package_id IS NULL GROUP BY 1 ORDER BY 2 DESC ;`

 name | count
------+-------
(0 rows)

[2022-10-26 20:24] Jin-Sun-tts commented on #4006
Removed this broken link from the search result page:

![Image](https://user-images.githubusercontent.com/104456257/198128062-d6a08f26-4e40-43f8-855e-2071c8230cb4.png)

[2022-10-26 20:51] FuhuXia commented on #3927
Some new progress. It might have been fixed. We should give it a try.
[Slack discussion](https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1666815360263169?thread_ts=1660679897.477429&cid=C09CR1Q9Z).
https://github.com/cloud-gov/cg-deploy-cf/pull/710

[2022-10-27 14:19] FuhuXia commented on #3879
This is still an issue with latest sitemaps.
`sitemap count = package count(collection *) + harvest count + private count`

we need to either exclude private count in sitemaps, or make all private dataset public, all simply delete all private ones, next harvesting should bring them back.

[2022-10-27 15:25] FuhuXia commented on #3927
verified this issue to fixed by cloud.gov

[2022-10-27 15:40] nickumia-reisys commented on #3938
It was determined that the above changes may cause issues, but will be taken care of in a separate ticket.

[2022-10-27 15:40] #3938 closed, assigned to nickumia-reisys

[2022-10-27 15:58] nickumia-reisys opened #4030 "Reorder package manipulation in ckanext-spatial"
## User Story

In order to reduce harvesting errors, the Data.gov Harvesting Team wants to keep a `ckanext-spatial` customization around.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND option

[2022-10-27 18:21] #3927 closed, assigned to FuhuXia

[2022-10-27 19:22] robert-bryson commented on #3786
I took [a quick](https://github.com/GSA/data.gov/pull/4031/files) [look](https://github.com/GSA/data.gov/actions/runs/3340195319/jobs/5530023393) at this and it seems like a very similar issue as before:
` ERR botocore.exceptions.SSLError: SSL validation failed for https://s3-us-gov-west-1.amazonaws.com/cg-efc8a388-5300-46f2-97a7-62792fb14b53 [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify fai

[2022-10-27 19:58] nickumia-reisys commented on #3786
Is egress proxy working for `catalog`?  Because if it is, there should be no platform reasons why it shouldn't work for `inventory`, right?

[2022-10-27 19:58] nickumia-reisys commented on #3786
We are on different version of python and probably have some other small change that could effect this.

[2022-10-27 20:12] jbrown-xentity commented on #4024
This should satisfy our db backup and restore process that should be performed annually.

[2022-10-27 20:18] btylerburton opened #4032 "Port over Open Gov page to new 11ty site"
## User Story

As a data.gov user, I want to see a picture of open government initiatives across the world.

## Acceptance Criteria

- [ ] https://data.gov/open-gov/ page is ported to new static site

[2022-10-27 20:25] btylerburton opened #4033 "Fix relative pathing of 11ty Static Site"
We should be able to supply a `process.env.BASEURL` to the build that will allow relative links to function correctly. This will remove the 404's from the Federalist build.

## How to reproduce

1. Navigate to the Federalist build https://federalist-2ac784db-2321-4734-8d02-933835d88304.app.cloud.gov/site/gsa/datagov-11ty/
2. Attempt to click on any relative link:
2.1. https://federalist-2ac784db-2

[2022-10-27 20:30] btylerburton commented on #4033
One recommendation was to find/replace `{{ site.baseurl }}` with `{{ "path" | url }}`, but that has not been tested.

[2022-10-27 21:00] jbrown-xentity opened #4034 "[Spike] Python UI test"
## Purpose

We want to write UI tests for ckanext-datagovtheme, but we're not sure how to do that.

Given above unknown, conducting researching and first attempt at building a test suite using [playwright](https://playwright.dev/python/docs/test-runners) is needed to provide factual knowledge on future steps.

8 hours of effort has been allocated and once compete, findings will be demonstrated and

[2022-10-27 21:31] btylerburton commented on #4033
11ty documentation

https://www.11ty.dev/docs/config/#deploy-to-a-subdirectory-with-a-path-prefix

[2022-10-27 21:55] hkdctol commented on #3967
Just got an agency request about this, so let's fix this this sprint.

[2022-10-27 22:22] hkdctol commented on #4032
As an initial task, @crysacarter currently updating the CSV of open data sites

[2022-10-27 22:30] jbrown-xentity commented on #4032
Just FYI, there are 3 versions of this data. One is a spreadsheet style (csv and xls), the other is geojson that powers the map. If we're rebuilding this page, I don't think we need 3, csv is fine (we don't need xls), but we might need to re-generate the geojson from the new clean csv if we want the map.
- [geojson's](https://github.com/GSA/datagov-website/tree/main/www.data.gov/app/themes/roots-n

[2022-10-27 22:57] jbrown-xentity commented on #3944
I have spot checked various current duplicates, and find a different case than this one. Closing.

[2022-10-27 23:01] jbrown-xentity commented on #3968
We still have outstanding items in this category. See https://catalog.data.gov/api/action/package_search?fq=guid:%22B01_doppler_rt%22
I believe many of these items (https://catalog.data.gov/api/action/package_search?fq=type:dataset%20AND%20organization:noaa-gov&facet.field=[%22guid%22]&facet.limit=-1&facet.mincount=2&rows=0) are of the same class.
Need to figure out if these are growing; if not th

[2022-10-28 13:22] FuhuXia opened #4035 "401 Unauthorized Alerts from catalog-web app"
We received high Error percentage alerts from New Relic for app catalog-web.
[code]
Anonymous visits to this kinds of authentication-based URIs are supposed to be blocked.

## How to reproduce

[Alerts in Slack](https://gsa-tts.slack.com/archives/C4RGAM1Q8/p1666951807539509)

## Expected behavior

This kind of error should be ignored.

## Actual behavior

Received alerts for it.

## Sketch

[2022-10-28 20:18] FuhuXia commented on #3635
Multiple alerts in one day. We need to address this.

[2022-10-28 21:48] FuhuXia commented on #3879
There are 6350 private datasets to be fixed. All active. Attached below:
[private-dataset.txt](https://github.com/GSA/data.gov/files/9892140/private-dataset.txt)

[2022-10-29 00:56] nickumia-reisys commented on #4033
The preliminary results from testing reveals:
- Federalist is setting the `BASEURL` environment variable somewhere and it is the correct path
- `.eleventy.js` is pulling in `BASEURL` properly
- I got `updates/index.html` to have the right redirect ... but nothing else is working so far 😕

[2022-10-29 01:42] nickumia-reisys commented on #4033
This is mostly done.  It just needs a few more eyes and tests to see what's broken if anything.

[2022-10-31 14:11] nickumia-reisys commented on #4033
Fixed a few more bugs... The situations handled:
- Homepage to other root pages
- Homepage to topics
- Topics to posts
- Posts to topics
- Posts to Homepage

[2022-10-31 17:57] #4033 closed, assigned to nickumia-reisys

[2022-10-31 19:27] robert-bryson commented on #3648
![Image](https://user-images.githubusercontent.com/91547795/199092980-947a0053-2b75-46b7-b5ac-79e0b7d217cd.png)

!!!

[2022-11-01 15:11] FuhuXia opened #4036 "Invicti scan report - TLS 1.0/1.1 support"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.ljzki4myeiis)._

**Date of report:** 2022-10-28
**Severity:** High
**Due date:** 2022-11-28

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2022-11-01 17:30] jbrown-xentity opened #4037 "Get s3 working with egress"
## User Story

In order to satisfy https://github.com/GSA/data.gov/issues/3755, data.gov admins wants a testable repeatable Python boto app that can connect to an s3 bucket in cloud.gov with an egress.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificat

[2022-11-01 19:31] FuhuXia commented on #4036
Fixed. solution in the google docs.

![image](https://user-images.githubusercontent.com/1392461/199321982-bb383bb2-2632-4253-a7ab-1575f4493d31.png)

[2022-11-01 20:39] FuhuXia commented on #3635
Took the easy route and ignore MethodNotAllowed errors, so we dont have constant alerts.

[2022-11-02 13:33] FuhuXia commented on #3635
Copy discussion in the PR https://github.com/GSA/data.gov/issues/3635 here.

[2022-11-02 13:46] FuhuXia commented on #3635
We took the 2nd approach listed in the sketch and simply ignored the all `NotFound`, `Forbidden`, and `MethodNotAllowed` errors, kind of defeating the purpose of setting up this alert. It is deployed now, hopefully no more noisy alerts from now on. But should we explore the 3rd option in the sketch?

[2022-11-02 14:03] FuhuXia opened #4038 "Catalog harvest report shows different added count"
Harvest report on the UI and email should be consistent, not showing difference numbers.

## How to reproduce
UI:
/harvest/current-ngda-standalones/job/0957863d-2d52-42de-b617-82a675acae3c
Email:
https://mail.google.com/mail/#search/0957863d

## Expected behavior

Numbers are same.

## Actual behavior

Different count on added dataset.
33151 on the UI vs 33191 in the email.

![image](https://user-

[2022-11-02 15:53] FuhuXia opened #4039 "O+M 2022-11-10"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-11-02 15:54] FuhuXia commented on #4039
Follower 1 went down due to index renamed, discussion in [slack](https://gsa-tts.slack.com/archives/C2N85536E/p1667307809537089).

[2022-11-02 15:56] FuhuXia commented on #4026
So far it happened three times in the past 30 days.
1. Follower 0 index folder changed to `index.20221007160458545`
https://github.com/GSA/data.gov/issues/3983#issuecomment-1272110406
2. Follower 1 index folder changed twice in a short time and became `index.20221020222750768`
https://github.com/GSA/data.gov/issues/4008#issuecomment-1287024762
3. Follower 1 index folder changed a few times, back t

[2022-11-02 16:06] FuhuXia commented on #4026
We noticed that right before the issue happens, there are multiple index folders in `/var/solr/data/ckan/data/`, the current one and newly added one. Based on this finding, an easy fix can be adding a timed shutdown command upon detecting multiple index folder, let the Solr do its thing to settle down on one index folder, core locking expected at this point, then the task gets shutdown after a min

[2022-11-02 17:51] jbrown-xentity opened #4040 "Catalog Fetch DCAT-US fails on URL identifier"
We get errors when trying to verify if datasets already exist in the fetch harvester for DCAT-US objects that have unique identifiers with `:` in the string, such as `https://something-something.gov`. You can see these class of errors in the logs, use `space_name:prod app_name:catalog-fetch missing:gauge "Reason: org.apache.solr.search.SyntaxError"` as the filter. As of now, there have been 74 ins

[2022-11-02 19:18] jbrown-xentity commented on #4040
In trying to write a test case to cover this use case, we ran into problems...
1. We currently throw an error if the child record is harvested before the parent record, is that desired behavior?
2. We modify data values on the fly during gather such that we can "notice" them and treat them differently when importing. Not add, modify. This seems wrong
3. Why do we need the CKAN ID for the parent re

[2022-11-02 19:23] jbrown-xentity opened #4041 "Dashboard Egress not working"
[code]

## How to reproduce

1. Re-implement the `https_proxy` variable in dashboard-stage
2. Run an restage/restart/push command

## Expected behavior

Restart works as expected

## Actual behavior

Restart fails

## Sketch

Not sure

[2022-11-02 19:45] #3950 closed, assigned to nickumia-reisys

[2022-11-02 19:49] nickumia-reisys opened #4042 "Get list of CKAN Routes"
## Purpose

We want to have block non-CKAN routes, but we're not sure how to do that.

Given above question, conducting [research/design/investigation/prototyping] is needed to provide factual knowledge on future steps.  We would like to have documentation about the finite set of CKAN urls that we support.

1 day of effort has been allocated and once compete, findings will be demonstrated and spec

[2022-11-02 19:59] nickumia-reisys commented on #4042
<details>
  <summary>Catalog routes</summary>

[code]
</details>

<details>
  <summary>Inventory routes</summary>

[code]
</details>

[2022-11-02 20:13] nickumia-reisys commented on #4042
<details>
  <summary>Parent Inventory routes</summary>

[code]
</details>

[2022-11-03 14:44] FuhuXia commented on #3532
The error `ckan.lib.search.common.SearchError` in fetch process as described in https://github.com/GSA/data.gov/issues/4040 is not captured.

[code]

[2022-11-03 16:13] FuhuXia commented on #3532
The error `RemoteDisconnected` in gather process is not captured, as in [this harvest job](https://catalog-prod-admin-datagov.app.cloud.gov/harvest/education-json/job/804597e1-c7ec-4fef-b8df-ef28d46ec6e4).

[code]

[2022-11-03 16:13] robert-bryson commented on #3648
With https://github.com/GSA/catalog.data.gov/pull/637 I believe all the work on this is done. The [robots file](https://catalog.data.gov/robots.txt) correctly points to the [sitemap](https://catalog.data.gov/sitemap.xml). The sitemaps are being generated nightly by [a github action](https://github.com/GSA/catalog.data.gov/actions/workflows/s3-to-sitemap.yml). Each sitemap recored correctly refers

[2022-11-03 16:13] #3648 closed, assigned to robert-bryson

[2022-11-03 16:30] FuhuXia commented on #3532
Document the steps to locate unhandled harvesting errors in the new relic.

In gather process, use this query
[code]
In fetch process, use same query to get the count in a certain timeframe, the count should be to sum of all known captured error.
[code]

Or on the UI/DB, if a harvest job last for 24 hourd then got force-finished by the CKAN timeout setting `ckan.harvest.timeout = 1440`, we should

[2022-11-03 16:53] nickumia-reisys commented on #4042
The only things not explicitly captured in the above lists of routes are statically host files that exist outside of the `webassets` subdir:
- `robots.txt`
- any special fonts and things
  - Example: https://github.com/GSA/ckanext-datagovtheme/pull/141

[2022-11-03 17:01] nickumia-reisys opened #4044 "Block non-ckan routes from inventory-proxy"
## User Story

In order to reduce noisy logs, the Data.gov security team wants to prevent non-ckan traffic from hitting the ckan app and causing non-helpful errors.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN proxy rules have

[2022-11-03 17:45] crysacarter commented on #4032
[opendatasites11322.csv](https://github.com/GSA/data.gov/files/9931785/opendatasites11322.csv)

updated csv

[2022-11-03 18:01] FuhuXia commented on #4039
Dashboard went down. Back after restart.

[2022-11-03 20:05] hkdctol commented on #4042
This can be closed in light of #4044

[2022-11-03 20:05] #4042 closed, assigned to nickumia-reisys

[2022-11-03 20:11] hkdctol commented on #3635
Can close this because we are working on #4044

[2022-11-03 20:11] #3635 closed, assigned to btylerburton

[2022-11-04 16:11] nickumia-reisys commented on #4037
A proof of concept exists thanks to
- https://github.com/nickumia-reisys/cf-python-s3-test
- https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1667571329690669

[2022-11-04 16:11] #4037 closed, assigned to nickumia-reisys

[2022-11-04 18:10] FuhuXia opened #4045 "Redirect cloud.gov/cloudfront requests to catalog.data.gov"
Catalog app is accessible by visiting its cloudfront URL. This is not desired behavior. We should redirect it to the final URL catalog.data.gov

## How to reproduce

_The real CloudFront URL is hidden to prevent being crawled at this URL._

Visit AWS CloudFront and get the URL for catalog in the format of `*****.cloudfront.net`
Visit `*****.cloudfront.net/dataset`

## Expected behavior

Redirected

[2022-11-04 19:18] jbrown-xentity opened #4046 "Census harvest failures"
Latest [harvest results](https://catalog-prod-admin-datagov.app.cloud.gov/harvest/archived-ngda-standalones/job/last) show 6 instances of `Validation Error: {'Name': 'That URL is already in use.'}`. This shouldn't be occurring, as the harvester should re-attempt the package creation with a unique name. See [ckanext-harvest](https://github.com/ckan/ckanext-harvest/blob/master/ckanext/harvest/harves

[2022-11-04 20:57] CarolinaC-REI commented on #4029
Created two mood board options https://305v2q.axshare.com.

[2022-11-07 15:25] nickumia-reisys commented on #3755
Updates:
- Proxy has been enabled for `catalog-web` and `inventory`.
- This ticket is ready for the last step of removing `public_networks_egress` from the `prod` space pending a discussion about `catalog-admin`, `catalog-fetch` and `catalog-gather`

[2022-11-07 15:52] FuhuXia opened #4047 "Malicious requests cause Catalog high error percentage alert"
Catalog app get hit with malicious requests from time to time. When it happens, we receive high error percentage alert.

## How to reproduce

Received high error percentage alert in slack , such as [this one](https://gsa-tts.slack.com/archives/C4RGAM1Q8/p1667833154213959).

## Sketch
- Leave it alone so we gets alerts when there are any potential attack, or.
- Block malicious requests on cloudfron

[2022-11-07 15:53] FuhuXia commented on #4047
Example requests:

Examining requests in the new relic with query `space_name:prod app_name:catalog-proxy "NginxLog" " 400 "` within that time frame, we see a log of these kind of requests.

[code]

CKAN raises error for these kind of requests
[code]

[2022-11-07 16:53] robert-bryson commented on #4005
This ticket is somewhat self-documenting (see [the sketch](https://github.com/GSA/data.gov/issues/4005#issue-1404917195) and [the issue](https://github.com/GSA/data.gov/issues/4005)), but I believe I have gotten to all the repos we use. Anyone else know of any other? Or have a better list to work from?

If not, will someone on the datagov team please close the the remaining open PRs?

[2022-11-07 21:37] FuhuXia commented on #3658
doc-gov harvest failed at gather stage when a record does not have the required `identifier` field.  The error is not reported.

[code]

[2022-11-08 12:33] nickumia-reisys commented on #3786
Egress proxy has been successfully deployed to inventory and has been live for more than a day.  I feel like there should be important notes that we put here.  But I can't think of anything, so hopefully the notes in the above PRs are enough.

[2022-11-08 12:33] #3786 closed, assigned to nickumia-reisys, robert-bryson

[2022-11-08 12:36] nickumia-reisys commented on #3755
One note that applies to this ticket as a whole:
- The entire `egress-proxy` pipelines is complex, very much restricted by custom configuration/admin permissions and is very much a manual process.  If it breaks or has issues, it would take a lot of context and mental concentration to fix it.

[2022-11-08 12:47] nickumia-reisys commented on #3515
Not sure if this is related; but does anyone know why this line is commented out?
- https://github.com/GSA/ckanext-datagovtheme/blob/c566378a432d18bffcc857fcab0baefd1b4fd60f/ckanext/datagovtheme/helpers.py#L673

[2022-11-08 12:58] FuhuXia commented on #3515
A wild guess, because the Identifier is not Unique across all harvest sources?

[2022-11-08 13:08] FuhuXia commented on #4035
Received more of this kind of alert.  https://gsa-tts.slack.com/archives/C4RGAM1Q8/p1667908511362649
The requests came to catalog-web app to query newly finished harvest jobs. Those jobs were finished a hour earlier or so. Maybe from some crawler that has access to the harvest job report log? Looking at the IP address or user agent should tell more.

[2022-11-08 13:12] nickumia-reisys commented on #3515
But the function is specifically for "schema11", which I thought was defined as unique?  You're saying that it's just about display, not about information lookup?

[2022-11-08 13:19] FuhuXia opened #4049 "Duplicate datasets from two organizations"
Same datasets are harvest twice in two organizations, for example

https://catalog.data.gov/dataset/nndss-table-ii-invasive-pneumococcal-to-legionellosis-79d5f
https://catalog.data.gov/dataset/nndss-table-ii-invasive-pneumococcal-to-legionellosis-f6b5a

there are 785 found between organization` hhs-gov` and `centers-for-disease-control-and-prevention`.
[code]

## Sketch

[Notes or a checklist refl

[2022-11-08 13:33] FuhuXia commented on #3515
Where does Unique Identifier come from and what is the purpose of it, is it used anywhere else? The answer might gives some clue.

[2022-11-08 15:43] robert-bryson commented on #4005
Closing, there are two outstanding repos, see sketch for reasoning on not updating them.

[2022-11-08 15:43] #4005 closed, assigned to robert-bryson

[2022-11-08 17:28] FuhuXia opened #4050 "data.json harvester does not delete datasets that do not exist on the source"
In harvest source https://catalog.data.gov/harvest/state-of-california, there are **500+** datasets do not exist on the source but failed to be deleted by harvesting jobs. For example, [this dataset](https://catalog.data.gov/dataset/annas-hummingbird-range-cwhr-b287-ds1535-4381d).

The source data.json file https://data.ca.gov/data.json contains **2977** datasets,  but there are **3583** harvested

[2022-11-08 18:05] mogul commented on #3755
General note... Seeing that the egress-proxy is fragile and requires more expertise in how it works than it should to make it work, there's some work percolating in the background to turn the egress-proxy into a brokerable service.

[2022-11-08 19:26] btylerburton commented on #4017
Done in https://github.com/GSA/data.gov/issues/4016

[2022-11-08 20:02] jbrown-xentity commented on #3515
Clearly the UI component comes from [this block](https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/templates/package/read.html#L291-L365). It's doing some weird stuff, and checking to see if the data is DCAT-US 1.1 and doing some custom stuff.

[2022-11-09 16:14] FuhuXia commented on #4039
Received a high error percentage [alert](https://gsa-tts.slack.com/archives/C4RGAM1Q8/p1668007892849259) due to:
[code]

Noticed over the last two months there were a very small percentage (< 0.1%) of the POST /_tracking go to invalid url such as `/dataset/_tracking` and `/organization/_tracking`.

Not a big deal as of now. But if the percentage gets higher, we need to investigate what IP using wh

[2022-11-09 19:49] nickumia-reisys opened #4053 "Egress-proxy inhibits datajson harvester"
## How to reproduce

1. Try to harvest data.json source

## Expected behavior

Connect to source and harvest data successfully.

## Actual behavior

Connection refused.

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]
Possible solutions:
- [x] Disable egress-proxy
- [x] Convert datajson harvesters from `urllib` to `requests`

Notes:
- Caddy 2 no longer suppo

[2022-11-10 15:13] nickumia-reisys commented on #3755
Pending new bugs (such as #4053), all of our apps have been proven in some regard to work while filtering traffic through the `egress-proxy`.  There do not seem to be any more ~systemic design flaws~ platform issues around how this should work.

Current status:
| App                        | Working?  | Enabled?                                                     | Notes
| -------------------- | -

[2022-11-10 15:27] nickumia-reisys commented on #3967
### Success 🛩️

![image](https://user-images.githubusercontent.com/85196563/201136053-5c9efc44-6f04-4e72-8817-9a6713785df0.png)

[2022-11-10 15:27] #3967 closed, assigned to nickumia-reisys

[2022-11-10 15:56] nickumia-reisys opened #4055 "Egress-proxy causes app staging failure"
## How to reproduce

1. Enable the egress proxy
2. Try to deploy an app

## Expected behavior

App starts successfully

## Actual behavior

Error downloading python buildpack
[code]

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

Notes:
- This is related to https://github.com/GSA/data.gov/issues/3755

[2022-11-10 16:56] mogul commented on #3755
On the staging issues: Try setting the value of `https_proxy` env var in the `.profile` at application startup time. You would still pass the value to be set in the `.profile` via `cf set-env` or a manifest, just under a different env var name so  `https_proxy` doesn't interfere with anything during staging.

(Props to @rahearn for first bringing this problem to my attention... Something to be doc

[2022-11-10 16:57] mogul commented on #4055
See comment here:
https://github.com/GSA/data.gov/issues/3755#issuecomment-1310598529

[2022-11-10 17:48] Jin-Sun-tts commented on #4034
Installed and tested locally, by running the playwright codegen <url>, it records pytest code when clicking through the page.

We may modify the test codes in datagovtheme to use playwright, but while add playwright in the dev-requirements.txt file, found out Alpine does not support playwright, it only officially compatible with Ubuntu 18.04/20.04 so far.

If we decide to use playwright, we may ne

[2022-11-10 18:01] nickumia-reisys opened #4056 "Use of Markdown is not Python 3.10-ready"
## How to reproduce

1. Discovered in
    - https://github.com/GSA/inventory-app/pull/505
    - https://github.com/GSA/inventory-app/actions/runs/3439015054

## Expected behavior

## Actual behavior

[code]

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]
The problem is that Markdown deprecated some functions and something in our pipeline is still calling th

[2022-11-10 18:01] nickumia-reisys commented on #4056
Related:
- https://stackoverflow.com/questions/64264563/attributeerror-elementtree-object-has-no-attribute-getiterator-when-trying

[2022-11-10 18:04] rahearn commented on #3755
Here's the `.profile` we used that @mogul just mentioned: https://github.com/GSA/notifications-api/blob/main/.profile

The one gotcha I've found with it is that .profile doesn't get run automatically when you `cf ssh` into the app, so you have to source it yourself to activate it before messing around with things manually. The running apps get the value just fine though.

[2022-11-10 19:56] nickumia-reisys commented on #4056
Notes:
- I don't like that the above error doesn't get caught in our checks.  (Vendor-ing did not catch this error)
- https://docs.python.org/3.9/whatsnew/3.9.html#removed
- https://pypi.org/project/Markdown/#history

[2022-11-10 19:57] nickumia-reisys opened #4057 "ckanext-saml2auth is not Python 3.10-ready"
## How to reproduce

1. Discovered in https://github.com/GSA/inventory-app/pull/506

## Expected behavior

[code]

## Actual behavior

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

Related to:
- https://github.com/GSA/data.gov/issues/3876

[2022-11-10 20:08] nickumia-reisys commented on #3876
Immediate pressure has been relaxed on this issue since we've successfully upgraded `catalog` to `Python 3.8`.

[2022-11-10 20:50] FuhuXia opened #4058 "Set up a task to find stuck harvest jobs"
When a harvest job got stuck, we set to let it force-finished [after 24 hours](https://github.com/GSA/catalog.data.gov/blob/main/ckan/setup/ckan.ini#L233-L234). We should give it a longer time span, say, 36 hours. This will give us time to troubleshoot the error instead of letting it go unnoticed.

We can set a nightly GitHub action to find the stuck harvest jobs.

## How to reproduce

1. Descript

[2022-11-10 21:25] hkdctol commented on #4058
Let's find out how often this is occurring and then prioritize

[2022-11-10 21:40] hkdctol commented on #3521
Sentiment leans toward Cypress

[2022-11-11 00:26] mogul commented on #3755
(Technically you're supposed to [run `/tmp/lifecycle/shell`](https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-apps.html#ssh-env) before you do that.)

[2022-11-11 02:41] FuhuXia commented on #4058
For the past month, we have 38 harvest jobs got force finished for 9 different harvest sources.
[code]

[2022-11-11 14:35] FuhuXia commented on #4035
This can also be resolved by fixing #3863.

[2022-11-11 15:11] nickumia-reisys commented on #4056
This has been postponed by downgrading to Python 3.9; however, this remains an issue (as of writing).

[2022-11-11 15:20] FuhuXia opened #4059 "Forward User-Agent from AWS CloudFront to catalog app"
## User Story

In order to better understand the origin of requests coming to catalog app, data.gov team wants see User-Agent header info in catalog app logs.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN all catalog.data.gov r

[2022-11-11 17:03] nickumia-reisys commented on #3697
Historical Issues:
- https://github.com/GSA/data.gov/issues/3826

[2022-11-11 20:57] nickumia-reisys commented on #3826
As a retrospective comment to anyone who wanders onto this ticket (probably future-me 😅), this was a very important effort in the cloud migration of Data.gov apps, specifically https://catalog.data.gov and https://inventory.data.gov.  I attempted to link all of the follow-on work that was needed after this pivotal ticket occurred that helped catapult this over the finish line; however, there's pro

[2022-11-14 14:02] rahearn commented on #3755
Yeah, but even after you run `/tmp/lifecycle/shell` you still need to `. .profile` to pick up the settings there

[2022-11-14 22:59] jbrown-xentity opened #4060 "data.gov feature list"
## Purpose

We want to have a complete feature list of data.gov (categorized via MuSCoW: Must, Should, Could, Would), but we're not sure how to do that.

Given above has grown over the last decade, conducting research, code review, and documentation is needed to provide factual knowledge on future steps.

2 days of effort has been allocated and once compete, findings will be demonstrated and speci

[2022-11-15 14:44] robert-bryson opened #4061 "Sitemap improvements"
## User Story

In order to [improve catalog SEO], [datagov team] wants [fix/improve the current sitemap].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN [visiting [catalog sitemap](https://catalog.data.gov/sitemap.xml)] \
  WHEN

[2022-11-16 17:06] FuhuXia commented on #3968
**Datajson type of dataset:**

After running dedupe script for a few organizations, datajson type of duplicates has been stabilized and reduced to a manageable dataset count.
[code]
considering there are some false positives with some common identifiers, the number is in the single digit.

**XML type of dataset:**
[code]
According to this calculation, we have 40878 duplicates. If we exclude organi

[2022-11-16 17:10] FuhuXia commented on #4007
To eliminate packages that have no current harvest_object, we can use this query.

[code]

[2022-11-16 17:25] FuhuXia opened #4063 "Organization Additional Info is displaying machine name"
Organization is missing some template rendering element. The field name should be human readable, not displaying machine name in the code.
In the following example, the `organization_type` should be `Organization Type`:

![image](https://user-images.githubusercontent.com/1392461/202249449-f466bdac-3e55-4ef7-a950-c231a1226fad.png)

## How to reproduce

https://catalog.data.gov/organization/about/gs

[2022-11-16 17:50] hkdctol commented on #4016
Interesting example I just ran across: https://data.europa.eu/mqa/?locale=en

[2022-11-17 14:22] FuhuXia commented on #3847
This is resolved in CKAN 2.9 with Python 3.8.

[2022-11-17 14:26] FuhuXia opened #4065 "arcgis harvesting failed with path in the URL and encoding error"
When arcgis source url contains path component, the job always fails with error message
[code]

## How to reproduce

Harvest https://gisportal.ibwc.gov/agsportal/

## Expected behavior

successful harvesting.

## Actual behavior
The path `agsportal/` is dropped in the server url when harvester is accessing the source server.
[code]

## Sketch

[Notes or a checklist reflecting our understanding of

[2022-11-17 17:35] FuhuXia commented on #3959
DOT WAF source cant be updated due to this issue.
https://catalog.data.gov/harvest/national-transportation-atlas-database-ntad-metadata

[2022-11-17 18:04] jbrown-xentity commented on #3959
This is a catch-all error I believe, this may need further investigation. There may be multiple reasons for these errors.

[2022-11-17 18:06] jbrown-xentity commented on #4065
This is our code, so we should be able to figure out what's going on... https://github.com/GSA/ckanext-geodatagov/blob/main/ckanext/geodatagov/harvesters/arcgis.py#L125-L158

[2022-11-17 18:21] FuhuXia commented on #3959
For some harvest sources, it failed for all records with this error, such as DOT one.  For other sources , it only failed for some records, such as this one https://catalog.data.gov/harvest/environmental-dataset-gateway-iso-geospatial-metadata.

[2022-11-17 18:57] btylerburton commented on #4016
Thanks for sharing @hkdctol! There's some good ideas in there for some self-reported metrics. I need to document that along with some other ideas for enhancements for us to consider in future.

[2022-11-17 20:38] FuhuXia commented on #3968
All packages, which have with harvest objects but none current harvest object, are cleared.

[code]

Data,json still have **77** packages with same identifier:
[code]

XML type has 9339 packages remaining to be examined.
[code]

[2022-11-17 21:13] hkdctol commented on #3521
@Jin-Sun-tts will create an additional related ticket

[2022-11-17 21:20] btylerburton commented on #4016
New wrinkle in the caching/internal-routes discussion:

This resolves: https://catalog.data.gov/report/metrics-dashboard/doi-gov
This doesn't: https://catalog.data.gov/report/metrics-dashboard

No explanation why, either.

[2022-11-17 21:29] hkdctol commented on #4061
Would be good to pair to spread background on this issue.

[2022-11-17 23:46] Jin-Sun-tts opened #4066 "some CKAN functions are broken in datagovtheme"
## How to reproduce

start CKAN in datagovtheme repo, try to login as admin to create new organization and dataset.

## Expected behavior

it should be able to add new org/dataset as the admin user.

## Actual behavior

1. could not use admin user to login, need manually add it from bash console.
2. could not add new organization, got errors.

## Sketch

start ckan from datagovtheme, test function

[2022-11-18 03:14] jbrown-xentity commented on #3968
To be clear, the ISO packages that need to be examined: some of the duplicates have more than 1 (at least 1/20 have 2 duplicates from a high level examination)... @FuhuXia I'm not totally sure I'm following the math above, not sure where the `17897` comes from.

[2022-11-18 03:15] jbrown-xentity commented on #4060
[Feature List on data.gov drive](https://docs.google.com/spreadsheets/d/1nMkbX5MKBV14G7SyNbjrXLqIZtLW2SqS6uEZ-2kQrAo/edit#gid=0)

[2022-11-18 03:58] FuhuXia commented on #3968
8558 is all guids that have minimum 2 packages
[code]

17897 is the count of those packages, by adding all counts together
[code]

Out of the 17897, we should keep 8558, and eliminate 17897-8558=9339

This 9339 is purely calculated based on api results. DB might have different count, but should be close.

[2022-11-18 11:57] FuhuXia commented on #3968
Did a dryrun dedupe on org noaa-gov, it can eliminate all 9339 duplicates
[code]

If we want to run the dedupe by harvest sources, here is the stats of the 8558 packages by harvest sources:
[code]

[2022-11-18 15:09] jbrown-xentity commented on #3968
I think running on the whole org is fine, it will probably take a while but not more than a day.
I'm most concerned with the `--newest` flag; do we know if we want to keep the newest? The oldest? Were the created duplicates a mistake, and updates have occurred on the original (so we should keep the original)? Were the created duplicates actually meant to be a replacement but the originals didn't g

[2022-11-18 15:40] FuhuXia commented on #4058
Ideally we should fix all stuck issues so that we don't have to force-finish any jobs. Even if we have to, it seems important to make sure all fetch processes are healthy and idling before force-finish it. Things can get weird for pending fetch items when the job is gone. Setting it 36 hours gives us enough time to debug and prepare the force finish.

To check whether you have pending Fetch items,

[2022-11-18 16:18] Jin-Sun-tts commented on #3521
created issue #4066 to fix the broken CKAN functions in datagovtheme.

[2022-11-18 16:27] nickumia-reisys commented on #4053
The fix for this has been deployed. The egress-proxy is currently being re-deployed.  Will evaluate whether this problem still exists the next time harvesting is run.

[2022-11-18 18:15] btylerburton opened #4067 "Staging Basic Auth not working with CloudFront"
Staging environment is password protected by basic auth, but something is preventing the password dialog box from disappearing even when inputting the correct credentials.

## How to reproduce

1. Visit staging URL
2. Input proper username/password into authentication box
3. Dialog box disappears momentarily, but then returns

## Expected behavior

- Dialog box should disappear after user enters c

[2022-11-18 20:25] nickumia-reisys opened #4068 "Perform Keyword Analysis on datasets available on catalog.data.gov"
## User Story

In order to identify Subject Areas, the data.gov User Engagement team wants to capture the most used keywords for datasets and the number of datasets with each keyword.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIV

[2022-11-18 20:34] FuhuXia commented on #3968
Running dedupe script to remove 9339 duplicate datasets from noaa-gov, keeping the last modified one. 24 hours estimated to finish.

[2022-11-19 22:39] amzwzw opened #4069 "[Offboard] <email>"
All tasks should be checked and completed. For tasks that are not applicable, perhaps because the team member did not have this particular access, please **confirm** that the team member in fact has no access before marking the task complete.

Tasks to be performed by the outgoing team member:

- [ ] Move all Data.gov related documents to team drives
- [ ] Document any work in progress and schedul

[2022-11-20 00:47] #4069 closed, assigned to nobody

[2022-11-20 00:48] FuhuXia commented on #4069
looks like a spam.

[2022-11-21 02:37] nickumia-reisys commented on #4068
### Initial Analysis Complete
Key notes:
- This is without any pre-processing, just taking the existing keywords as complete units
- There are 287118 unique keywords.
- 459 appear more than 1000 times.

<details>
   <summary>Keywords that appear more than 1000 times</summary>

[code]
</details>

[2022-11-21 02:41] nickumia-reisys commented on #4068
Scripts used:
- https://gist.github.com/nickumia-reisys/ba260d8b776ebb39026b8927ba19278d

[2022-11-21 14:43] FuhuXia commented on #3968
All datajson and XML type of duplicates are cleared,  [Proof](https://github.com/GSA/datagov-dedupe/actions/runs/3515260056).

All datasets without harvest object, or without any current harvest object, are cleared, verified by running query defined in https://github.com/GSA/data.gov/issues/4007#issuecomment-1317366807

[2022-11-21 16:22] FuhuXia commented on #4068
This api call give all tags
[code]

[2022-11-21 16:38] jbrown-xentity commented on #4068
And the following URL gives you every tag with > 1000 datasets: https://catalog.data.gov/api/action/package_search?facet.field=[%22tags%22]&facet.limit=-1&facet.mincount=1000&rows=0

[2022-11-21 16:55] crysacarter commented on #4032
[opendatasites112122.csv](https://github.com/GSA/data.gov/files/10058482/opendatasites112122.csv)

I found  and corrected an error in the first upload.

[2022-11-21 18:10] chris-macdermaid commented on #3968
Great job!!!

I still see some duplicate CDC records that are a result of the same record with the same identifier being harvested from a CDC and an HHS source.
For example
`https://catalog.data.gov/dataset?q=identifier:"https://data.cdc.gov/api/views/xdg2-nh8n"`

This query shows the duplicate CDC and HHS records
`https://catalog.data.gov/api/3/action/package_search?fq=(organization:hhs-gov OR or

[2022-11-21 18:22] FuhuXia commented on #3968
Thanks @chris-macdermaid
Identifier is not globally unique, therefore it is normal to have some duplicate count using the straightforward API call. I have [a gist script](https://gist.github.com/FuhuXia/7fa1efbcbbe3e859aef2014ea8ad55a5) to filter out duplicate packages from different harvest sources. Using this script we have 0 real datajson type of duplicates.

[2022-11-21 18:28] jbrown-xentity opened #4073 "CDC data duplicated on U.S. Department of Health & Human Services"
[Total list of site-wide duplicates](https://catalog.data.gov/api/action/package_search?facet.field=[%22identifier%22]&facet.limit=-1&facet.mincount=2&rows=0). 804 records, all but 10 are CDC records.
CDC has their own organization: https://catalog.data.gov/organization/centers-for-disease-control-and-prevention
However, it looks like all the CDC data is replicated in US Department of Health: http

[2022-11-21 18:35] FuhuXia commented on #4049
close this one since https://github.com/GSA/data.gov/issues/4073 has better description,

[2022-11-21 18:35] #4049 closed, assigned to nobody

[2022-11-21 20:07] FuhuXia commented on #4007
query result returns 0.  This ticket can be closed.

[2022-11-21 20:13] FuhuXia commented on #3742
Not an issue any more. All example datasets are fine.

[2022-11-21 22:38] hkdctol commented on #4032
I think the text can be transferred to new site as is, except that in third paragraph, first sentence, I would delete "new" since the law isn't so new at this point.

[2022-11-22 00:45] hkdctol commented on #4073
Reaching out to HHS to track down some current contacts to work on this.

[2022-11-22 16:00] #4066 closed, assigned to nickumia-reisys

[2022-11-22 16:35] FuhuXia opened #4077 "O+M 2022-11-25"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-11-22 16:39] FuhuXia commented on #4077
)n 2022-11-16 Inventory prod and staging went down due to Solr core locked. Resolved after a solr restart.

[2022-11-22 16:41] hkdctol commented on #3899
This is one of the options for Data.gov main page, under discussion in #4029

[2022-11-22 16:52] FuhuXia opened #4078 "Some dataset give 500 error on the UI, but looks OK in the DB and SOLR"
A dataset can look fine in DB and SOLR, but accessing it thru web UI gives 500 error with CKAN error message in the log:
[code]

## How to reproduce

access dataset `ghrsst-level-4-avhrr_oi-global-blended-sea-surface-temperature-analysis-from-ncei-gds-versions-` on catalog prod and staging

## Expected behavior

response code 200

## Actual behavior

response code 503

## Sketch

Need to turn on D

[2022-11-22 17:38] FuhuXia opened #4079 "Dataset harvest object not in Solr"
Some datasets' harvest objects are not indexed in Solr. It is fine in the DB and on the UI.

## How to reproduce
As of today there are 6 datasets
https://catalog.data.gov/api/action/package_search?fq=-(harvest_object_id:*)

## Expected behavior

These 6 datasets has harvest objects in DB, it shows on the UI. Should also show in the Solr.

## Actual behavior

no `harvest_object_id` on the API call.

[2022-11-22 17:53] FuhuXia opened #4080 "gather fails on datajson record without an identifier"
If there is one record in a datajson file that has no `identifier`, the gather process fail. None of the datasets will be harvested.

## How to reproduce

It happens to doc harvest source.

## Expected behavior

report the error and move on to harvest the other datasets

## Actual behavior

gather fails. none dataset is harvested.

## Sketch

[Notes or a checklist reflecting our understanding of t

[2022-11-23 14:26] FuhuXia opened #4082 "Google page indexing issue: Indexed, though blocked by robots.txt"
Received issue report from Google Search Console Team:
[code]

## How to reproduce

[Email](https://mail.google.com/mail/#search/subject%3ANew+Page+indexing+issues+detected+for+https%3A%2F%2Fdata.gov%2F)

## Sketch
[How to fix "Indexed, though blocked by robots.txt"](https://www.contentkingapp.com/academy/index-coverage/faq/indexed-blocked/#how-to-fix)

[2022-11-23 14:37] FuhuXia opened #4083 "robots.txt on catalog development"
robots.txt on catalog development space is allowing search access.

## How to reproduce

Access catalog /robots.txt

## Expected behavior

Different from prod robots.txt. It should disallow search all engine.

## Actual behavior

Same setting as prod.

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-11-23 14:40] FuhuXia commented on #4083
Checked the development URL on google, we have two pages indexed.

[2022-11-23 16:51] FuhuXia commented on #4053
Issue is resolved. Egress-proxy enabled, `urllib` replaced with `requests`. Sites are functioning.

[2022-11-24 03:33] nickumia-reisys commented on #4068
## First pass @ grouping keywords

Since we don't have a word model specifically trained for data.gov/open data, I used the off-the-shelf [Wordnet](https://www.historyofinformation.com/detail.php?id=2104) to find the shortest distance (or similarity) between words.  More similar words would make sense to group together.  The idea was to define similarity as our parameter and see what groups appear

[2022-11-24 03:39] nickumia-reisys commented on #4068
_Another note about Wordnet:_ It would have been more useful if we could have isolated the exact meaning of each word and pull that synset from Wordnet as it would have been a more meaningful distance.  Since I didn't know which sense the word was referring to, I had no choice but to average all sense of the word which muddled the results too much too.

[2022-11-25 15:38] Jin-Sun-tts commented on #3521
Because datagovtheme does not have all dependencies for creating new harvest source from UI function, we just created test datasets from code, the do the cypress UI tests. This may have limits for some tests, but this make datagovtheme only keeps necessary  components.

[2022-11-27 03:04] nickumia commented on #4068
I'm very skeptical of the approach I'm about to document.  I may have made errors along the way that will greatly skew the usefulness or accuracy of the results (and I hope the team will review this and let me know if there are any gaps or errors).  All of the code is in a gist: https://gist.github.com/nickumia/4f034ae951349a9dea5fda999f935405

## Key Motivation Points
- All of the keywords that a

[2022-11-28 16:47] FuhuXia commented on #4082
Received another email, page indexing issues successfully fixed.

[2022-11-28 16:47] #4082 closed, assigned to nobody

[2022-11-28 17:19] FuhuXia commented on #3944
Found a newly created one, same harvest object id, 14 seconds apart on creation time.

https://catalog.data.gov/api/action/package_search?fq=(identifier:%22https://doi.org/10.23719/1526064%22)

[dataset 1](https://catalog.data.gov/dataset/biological-mapping-and-speciation-analysis-examines-origin-and-fate-of-lead-species-in-soi-c18e8)
[dataset 2](https://catalog.data.gov/dataset/biological-mapping

[2022-11-28 17:20] hkdctol opened #4084 "Update Organizations on Catalog.data.gov"
## User Story

In order to make the Data.gov catalog more current and to identify obsolete harvest sources, Data.gov team needs to audit organizations in the catalog and delete obsolete/abandoned harvest sources.

## Acceptance Criteria

- [x] GIVEN user goes to https://catalog.data.gov/organization/ \
  THEN all the organizations listed are current organizations for Data.gov

## Background

We ha

[2022-11-28 17:26] nickumia-reisys commented on #4068
While these images aren't exactly read-able, I thought it would be interesting for people to look at.

The first image is a graph of 2000 random connections between keywords on datasets.  It has much clearer cluster definitions (but it's not meaningful because the number of times those keywords appear on catalog is not meaningful).
![2000_random_words](https://user-images.githubusercontent.com/851

[2022-11-28 18:20] jbrown-xentity commented on #3944
The relevant logs should be [here](https://one.newrelic.com/logger?account=1601367&begin=1669300200000&end=1669300260000&filters=%28domain%3D%27APM%27%20AND%20type%3D%27APPLICATION%27%29&state=72e9579f-4d05-f778-ecd3-e879230e446f). I don't see anything that jumps out, whether instances restarting or suspicious failures. It's possible that it was inserted into the queue twice from the gather? Or ma

[2022-11-28 19:54] nickumia-reisys commented on #4066
There were two things broken:
- Storage write-permissions
- Sysadmin initialization.

Both fixed in the above PR.

[2022-11-28 19:58] btylerburton commented on #4018
Given the report is only cached at the instance level, we resolved that we will look at caching this in Cloudfront.

cc @nickumia-reisys and @FuhuXia

[2022-11-28 20:10] CarolinaC-REI commented on #4029
Created wireframes options https://305v2q.axshare.com

[2022-11-28 20:13] #3532 closed, assigned to nickumia-reisys

[2022-11-28 20:49] hkdctol opened #4085 "O+M 2022-12-08"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-11-28 21:02] #4053 closed, assigned to FuhuXia

[2022-11-28 21:02] #4055 closed, assigned to nickumia-reisys

[2022-11-28 21:04] nickumia-reisys commented on #3755
`egress-proxy` has been enabled and deployed to all `catalog` and `inventory` instances on cloud.gov 🍾

[2022-11-28 22:51] jbrown-xentity commented on #4060
I left some more comments, notes, and items around the [Open Data Act](https://www.congress.gov/bill/115th-congress/house-bill/1770/text) on the [Feature List](https://docs.google.com/spreadsheets/d/1nMkbX5MKBV14G7SyNbjrXLqIZtLW2SqS6uEZ-2kQrAo/edit#gid=1715179699). We should review this during a pairing session to answer questions and finalize on this for planning future epics.

[2022-11-29 04:36] nickumia-reisys commented on #4078
Ongoing analysis, out of `241843` we have the following results `{200: 6275, 404: 1}`.  This will probably take a few days.

I guess the 404 is a private package? `cef703e8-23a6-45ba-86bd-8b060e0d7b36`

![image](https://user-images.githubusercontent.com/85196563/204440018-21b1e2fa-7e56-4988-b686-eb3c219960d0.png)

[2022-11-29 14:35] nickumia-reisys commented on #4078
Overnight update: `{200: 37543, 404: 2633}`  (Maybe I have dataset ids that were deleted and that's why they're not public?  I'll verify with @FuhuXia)

[2022-11-29 16:43] FuhuXia opened #4086 "Add individual non-government domains to the egress allow list"
With [egress enabled](https://github.com/GSA/data.gov/issues/3755) on catalog, harvest sources with URL doamin other than `.gov` and `.mil` are blocked. We need to add some trusted `.org` and `.com` URLs to the allow list.

## List to add
This query is used to get the list, excluding those sources on MANUAL schedule or non-HTTPS url.
[code]
Here are the domains to add to egress allow list.
[code]

[2022-11-29 18:17] btylerburton commented on #4018
Cloudfront caching behavior for `/report/*` has been updated in dev & staging.

Min: 302400
Max: 1209600
Default: 604800

[2022-11-29 18:20] btylerburton commented on #4067
Authorization was not being passed for `/api/*` behavior. Once that was added, the issue was fixed.

[2022-11-29 20:08] nickumia-reisys commented on #4086
Apps to update:
- [x] catalog-web
  - [x] development
  - [x] staging
  - [x] prod
- [x] catalog-admin
  - [x] development
  - [x] staging
  - [x] prod
- [x] catalog-fetch
  - [x] development
  - [x] staging
  - [x] prod
- [x] catalog-gather
  - [x] development
  - [x] staging
  - [x] prod
- [x] ~catalog-proxy~
  - [ ] ~development~
  - [ ] ~staging~
  - [ ] ~prod~

[2022-11-29 20:21] nickumia-reisys commented on #4086
We made this a bit more secure by removing unnecessary domains:
- `raw.githubusercontent.com`
- `*.cloudfoundry.org`
- `*.github.com`

[2022-11-29 21:18] nickumia-reisys opened #4088 "Create a Word Model to generate Taxonomy for catalog.data.gov categories"
## User Story

In order to make data more discoverable on catalog.data.gov, the Data.gov NLP team wants to create model from which a word taxonomy can be created.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual prec

[2022-11-29 21:22] nickumia-reisys opened #4089 "Extract requirements evaluation metrics from Open Data Act"
## User Story

In order to perform self-evaluations, the Data.gov System Engineering team wants to review our governing document and create a list of metrics from which we can assess whether we are doing our jobs effectively.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_developme

[2022-11-29 21:26] nickumia-reisys commented on #4078
Confirmed with the team, the `404`s are datasets that have been deleted between Thursday and today... we'll see how this analysis continues.  Current update: `{200: 51965, 404: 3311}`

[2022-11-29 21:44] nickumia-reisys commented on #3645
I believe this is resolved.  @GSA/data-gov-team Can someone else make sure I'm not crazy for thinking this is no longer an issue?
![image](https://user-images.githubusercontent.com/85196563/204654406-8d1bfec3-2ced-4722-a48d-107b531ad713.png)

[2022-11-29 21:48] nickumia-reisys commented on #3714
It feels like forever since we've touched EKS/ECS/Solr things.  This is definitely not a priority anymore.  As mentioned above, it exists for the ECS stuff, but not the EKS stuff.  I'm going to close this for now.  Data.gov does not think it will move back to an EKS design in the plan-able future.

[2022-11-29 21:48] #3714 closed, assigned to mogul, nickumia-reisys

[2022-11-29 21:56] nickumia-reisys commented on #4068
References for the graph visualization above:
- https://networkx.org/documentation/stable/reference/generated/networkx.drawing.layout.spring_layout.html
- https://networkx.org/documentation/stable/auto_examples/drawing/plot_weighted_graph.html

Other references for previous work:
- https://medium.com/geekculture/how-to-represent-a-graph-data-structure-in-python-9f0df57e33a2
- https://stackoverflow

[2022-11-29 22:00] FuhuXia commented on #3645
Not resolved. See the example in @jbrown-xentity comments, and see [this one](https://catalog.data.gov/dataset/tiger-line-shapefile-2018-nation-u-s-current-american-indian-alaska-native-native-hawaiian-area).  The icon size is not consistent.

[2022-11-29 22:02] nickumia-reisys commented on #3996
@btylerburton Can you verify that we've complete this?  I think we set everything up, but I guess can you just check the settings again?  The only ones that are important are probably:
- [x] data.gov
- [x] inventory
- [x] catalog

If we want to update the other repos in the future, we can always re-open the issue.  But I don't think this applies to anything else.

[2022-11-29 22:04] nickumia-reisys commented on #3593
@FuhuXia can you confirm that you've changed all of the `private` datasets to `public` and that there are no more `private` datasets?

[2022-11-29 22:06] FuhuXia commented on #3593
confirmed.

[2022-11-29 22:12] #3593 closed, assigned to FuhuXia

[2022-11-29 22:13] nickumia-reisys commented on #3980
Being on Python 3.8 for catalog now, I thought this would be resolved, but it isn't.  Oh well.

[2022-11-29 22:17] nickumia-reisys commented on #3658
@FuhuXia Is this being captured now because of https://github.com/GSA/data.gov/issues/3532?

[2022-11-29 22:18] FuhuXia commented on #3658
no, still an issue.

[2022-11-29 22:39] jbrown-xentity commented on #3476
I think this should be investigated as to how large of a problem it is first. I would bet that since these links are usually made available publicly similarly by organization that this is isolated to a few organizations...

[2022-11-29 22:44] jbrown-xentity commented on #3491
We're already creating harvest sources and testing the map with cypress, I'm not sure there's much value in this ticket...

[2022-11-29 22:49] jbrown-xentity commented on #3942
I believe this has been resolved...

![Image](https://user-images.githubusercontent.com/26980513/204665301-dd0c839c-df95-4120-94c3-c055004e668b.png)

[2022-11-29 22:49] jbrown-xentity commented on #3942
See https://catalog.data.gov/harvest/opentopography-csw and https://catalog.data.gov/harvest/geonode-state-csw as current examples.

[2022-11-29 22:50] jbrown-xentity commented on #3912
@mogul any movement on this?

[2022-11-30 00:39] mogul commented on #3912
I keep kicking the can down the road, sorry.