[2022-05-06 16:43] nickumia-reisys commented on #3807
Full Initial Pass Complete!! Needs review, (only comment, don't approve please)
- https://github.com/GSA/datagov-brokerpak-eks/pull/97

[2022-05-06 16:58] FuhuXia commented on #3799
Events were generated when suspicious commands were run on new containers
[code]
logs:
16:18:25.363603618: Error File below / or /root opened for writing (user=root user_loginuid=-1 command=touch asdf parent=sh file=/root/aaa/asdf program=touch container_id=c40f893dc3f0 image=busybox) k8s.ns=default k8s.pod=bash container=c40f893dc3f0 k8s.ns=default k8s.pod=bash container=c40f893dc3f0

[code]
logs

[2022-05-06 19:43] robert-bryson commented on #3789
Note to future Robby: dev/stage have secrets for `CF_SERVICE_EGRESS_USER/AUTH`, [prod tbd](https://gsa-tts.slack.com/archives/C2N85536E/p1651866127213239)

[2022-05-06 20:50] nickumia-reisys commented on #3613
Fix is (finally) live haha...
![image](https://user-images.githubusercontent.com/85196563/167214691-8bf4feed-83c5-4ef3-a312-03935fb65581.png)

[2022-05-09 13:30] nickumia-reisys commented on #3807
[Full Documentation](https://github.com/GSA/datagov-brokerpak-eks/blob/static-eks/docs/eks-solr-setup.md) on doing an EKS-Solr Deployment.

Active deployments will be tracked in [google drive](https://docs.google.com/document/d/1um_rAORpObLybDb6wRm_0RKBoU0q6qqalOAm9p3hR90/edit).

New scripts to streamline deployment:
- (bash) [`s3creds.sh`](https://github.com/GSA/datagov-brokerpak-eks/blob/static-

[2022-05-09 15:41] nickumia-reisys commented on #3808
See [instructions here](https://github.com/GSA/datagov-brokerpak-eks/blob/static-eks/docs/gsa-hardened-ami.md) on how to copy/share AMIs.

[2022-05-09 15:41] nickumia-reisys commented on #3812
See [instructions here](https://github.com/GSA/datagov-brokerpak-eks/blob/static-eks/docs/gsa-hardened-ami.md) on how to copy/share AMIs.

[2022-05-09 16:47] FuhuXia commented on #3799
Installed falcosidekick and add the slack webhook, alerts were sent to slack channel.
[code]

Alert screenshots:
![image](https://user-images.githubusercontent.com/1392461/167458103-8f4e2e08-72e9-49b7-a27f-6646a7ec9623.png)

[2022-05-09 16:51] mogul commented on #3799
This is SO GREAT. Please make the Slack webhook URL a variable when you add this to the Terraform.

[2022-05-09 17:29] nickumia-reisys commented on #3818
The brunt of this work is manipulating the code [here](https://github.com/GSA/datagov-brokerpak-eks/blob/main/terraform/modules/provision-aws/eks.tf#L114-L125) with the instructions [here](https://github.com/GSA/odp-jenkins-hardening-pipeline#bootscript).  Without any more information about how the agents are set up and what connectivity they need, there isn't much more to say at the moment.

To g

[2022-05-09 19:11] robert-bryson commented on #3729
Hotfix in prod as I had not correctly set up the network policy, but working now. Thank you @jbrown-xentity for your fixes earlier!

[2022-05-10 12:43] nickumia-reisys commented on #3776
Following back here, running Inspec in a docker container does not fulfill the purpose of the `Linux-level` Benchmark because the benchmark tests for mount points, open ports, system security settings which will differ in the docker container vs. on the host.  As an example, I ran the **same** benchmark on the host vs. in the docker container and this was the difference in results,

[code]

[2022-05-10 16:09] mogul commented on #3776
That's about what I would expect... The DIL benchmark only makes sense on container hosts!

[2022-05-10 16:19] nickumia-reisys commented on #3776
The only reason I mentioned it was because, in the sketch, we had put,

docker pull chef/inspec
function inspec { docker run -it --rm -v $(pwd):/share chef/inspec "$@"; }

That doesn't work, inspec would need to be installed with something [like this](https://mitre-inspec-developer.netlify.app/installation/linuxinstall.html#option-1-package-installer).

So, to summarize, our original findings were

[2022-05-10 16:21] mogul commented on #3776
Oh good point!

[2022-05-10 16:45] robert-bryson opened #3822 "Smoketest for egress proxy restarts"
## User Story

This is an extension of https://github.com/GSA/data.gov/issues/3789.

In order to ensure that egress is working properly, the data.gov team wants to test the egress proxy after [it is restarted](https://github.com/GSA/data.gov/pull/3821/files#diff-2a28d2676cdcb3c95a673e7efd6265bb0fc2fbe4892cedea44185c202c478032).

## Acceptance Criteria

[ACs should be clearly demoable/verifiable wh

[2022-05-10 17:18] hbillings commented on #3743
We are working on this [over here](https://github.com/18F/datagov-11ty/) for right now.

[2022-05-11 16:21] nickumia-reisys commented on #3744
~Is this a duplicate of https://github.com/GSA/data.gov/issues/3355?~

This is for the k8s admin server vs. the workload, right?

[2022-05-11 16:29] robert-bryson commented on #3789
Docs started on [the wiki](https://github.com/GSA/data.gov/wiki/Egress-&-ingress-proxies).

[2022-05-11 16:48] nickumia-reisys commented on #3744
Before we take this on, I think we need a formal process for interacting with EKS clusters.  Many of the developers don't have a development environment on GSA-connected computer or Cloud.gov-connected system.  Without adding individual IPs of maintainers to our configuration or code, this does not seem like an operationally efficient feature.

[2022-05-11 16:53] jbrown-xentity commented on #3812
@mogul mentioned that if the slowdown is a serious problem, we should consider running an index on a non-hardened-AMI and the hardened AMI side by side, and checking top to see what is running and what may be causing the slowdown... @robert-bryson @nickumia-reisys maybe we can try this?

[2022-05-11 17:00] nickumia-reisys commented on #3812
I'll have to see the best way of ssh'ing into a node because we've never done this (other than to run CIS Benchmark tests).  Maybe the best way would be to use SSM Fleet Manager, but yeah.. it is possible.  `top` might also not be the best indicator of slowdown, but it is a start.  Just beware, that it may actually be hardware settings that are getting in the way, not software processes.

[2022-05-11 17:59] mogul commented on #3744
Correct.

[2022-05-11 18:01] mogul commented on #3744
Note that the summary says "by default"... We can explicitly configure the GSA VPN egress ranges, or leave it wide open for now as a so-called "Operational Requirement". The point is that the defaults are sane.

[2022-05-11 18:07] mogul commented on #3812
[Directions for starting a terminal session.](https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-sessions-start.html)

(No need to SSH.)

[2022-05-11 19:55] nickumia-reisys commented on #3812
Upon initial inspection of the GSA-Hardened AMIs alone (because that's the only thing we have indexing right now), all three nodes with Solr nodes on them have CPU Utilizations of <15% and RAM is not anywhere near the limit.

[2022-05-12 13:56] nickumia-reisys commented on #3803
The main issue was Solr version being out of compatibility with the CKAN version.  This was fixed by,
- Recreating Solr 8 from scratch
- Removing the egress-proxy work
- Removing the nginx-proxy work
- Resetting the CKAN main app code

[2022-05-12 14:03] nickumia-reisys commented on #3798
- It was determined that the `datagov-brokerpak-smtp` service could not actually send email.  Which lead to https://github.com/GSA/data.gov/issues/3810

[2022-05-12 14:07] nickumia-reisys commented on #3810
Summary of work:
- https://github.com/GSA/datagov-brokerpak-smtp/pull/15
- https://github.com/GSA/datagov-brokerpak-smtp/pull/16

- A manual test was created in the `datagov-brokerpak-smtp` repo where an SMTP instance can be provisioned locally and then a user can use an email they have access to in order to check if an email can be properly sent from the provisioned SMTP service to their provided

[2022-05-12 14:12] nickumia-reisys commented on #3613
Summary of work:
- https://github.com/GSA/ckanext-dcat_usmetadata/pull/285
  - `webassets.yml` was fixed (bug from PY2 to PY3 transition)
  - A test that there is only one `add dataset` button was created
  - PY2 tests were removed as a requirement for merge (since we don't have any PY2 systems using this extension anymore)
  - PY2 code still exists in the repo and will need to be cleaned up event

[2022-05-12 16:30] robert-bryson commented on #3789
For evidence, here is the scheduled Github Actions run of the [restart task](https://github.com/GSA/data.gov/actions/runs/2310430551).

And the deny working correctly:
<img width="851" alt="image" src="https://user-images.githubusercontent.com/91547795/168123993-a814966b-df4c-4795-ba26-6756fc701746.png">

and allow:
<img width="813" alt="image" src="https://user-images.githubusercontent.com/915477

[2022-05-12 16:35] robert-bryson commented on #3729
For evidence, here are the inventory and inventory-proxy apps in prod with the proxy listening to the public route and the main app listening on the internal route:
<img width="727" alt="image" src="https://user-images.githubusercontent.com/91547795/168124532-974fef7c-3553-4ed1-a3a4-0b0dcb06daff.png">

and the network policy showing traffic being directed from the proxy to the main app over port 6

[2022-05-12 16:59] FuhuXia commented on #3799
Still need to create custom rule specific for Solr classic/cloud security.

[2022-05-12 17:08] FuhuXia commented on #3820
Staging catalog replica db is not reachable. Need to create a FCS ticket for it.

[2022-05-12 18:34] #3806 closed, assigned to nickumia-reisys

[2022-05-12 18:34] #3803 closed, assigned to nobody

[2022-05-12 18:34] #3802 closed, assigned to nobody

[2022-05-12 18:35] #3798 closed, assigned to nickumia-reisys

[2022-05-12 18:35] #3810 closed, assigned to nickumia-reisys

[2022-05-12 18:35] #3613 closed, assigned to nickumia-reisys

[2022-05-12 18:35] #3788 closed, assigned to nickumia-reisys

[2022-05-12 18:36] #3789 closed, assigned to robert-bryson

[2022-05-12 18:36] #3729 closed, assigned to robert-bryson

[2022-05-12 18:36] #3807 closed, assigned to nickumia-reisys

[2022-05-12 18:37] #3820 closed, assigned to FuhuXia, jbrown-xentity

[2022-05-12 20:00] FuhuXia opened #3823 "Falco logs go to CloudWatch"
## User Story

In order to meet SI-3, data.gov security wants all Falco logs to be collected in CloudWatch.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN an event is generated by Falco in EKS \
  THEN an entry can be found in C

[2022-05-12 20:17] hkdctol commented on #3744
If it's not a POA&M or ATO condition, we will move to Icebox for now

[2022-05-12 20:20] hkdctol commented on #3697
Leaving in blocked for now, pending #3817

[2022-05-12 20:21] hkdctol commented on #3742
Leaving in blocked, should be resolved once catalog moves to cloud.gov

[2022-05-12 20:25] hkdctol commented on #3808
Waiting for test to complete.

[2022-05-12 20:25] hkdctol commented on #3818
Answered some questions from Ryan today re POCs for draft MOU.

[2022-05-13 14:00] FuhuXia opened #3824 "Nessus 05072022 - Solr authentication"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.lj8ztf4tcsr2)._

**Date of report:** 2022-05-04
**Severity:** Moderate
**Due date:** 2022-08-04

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has be

[2022-05-13 14:42] FuhuXia opened #3825 "Dataset description is not displayed on Inventory"
On Inventory, dataset description is no where to be found when you are viewing the dataset details.  This looks like a mistake.
![image](https://user-images.githubusercontent.com/1392461/168306914-a466ccc1-8696-4110-ac9b-400aeb3ca30c.png)

## How to reproduce

Log into Inventory and view some dataset pages.

## Expected behavior

Dataset description is shown.
## Actual behavior

Dataset descriptio

[2022-05-13 14:44] FuhuXia commented on #3825
Another observation: description is shown on dataset listing page, but once you click into dataset detail pages, some description is missing like the example above, some is displayed in the DCAT-US Metadata table as shown below. Inconsistent behavior.

![image](https://user-images.githubusercontent.com/1392461/168307678-b0609725-7188-41f4-b7b2-9c1c86ff1d24.png)

[2022-05-13 16:04] robert-bryson commented on #3689
Now that this is unblocked by the [inventory proxy](https://github.com/GSA/data.gov/issues/3729), I looked into it. Adding [`Access-Control-Allow-Origin' 'https://gsa.gov'`](https://github.com/GSA/inventory-app/pull/444/commits/d99612a4c7565485c15c6f4e282a59bd15d62d76) to the `nginx.conf` seems to work? Not sure how to test the case above until pushing to prod.

In dev, however:
[code]

Whereas th

[2022-05-13 17:02] FuhuXia commented on #3689
`Access-Control-Allow-Origin https://gsa.gov` wont work for any *.gsa.gov. It you don't want to use a simple `*`, you might want to add some logic in the nginx conf and grab the `$http_origin`, evaluate it against pattern *.gsa.gov and set `Access-Control-Allow-Origin` dynamically.

[2022-05-13 17:05] robert-bryson commented on #3689
Oh good point. My understanding is that `'*'` is often rejected these days and that a specific domain is needed. I did not consider wildcarding the gsa domain. Should it be `https://*.gsa.gov` or just `*.gsa.gov`?

[2022-05-13 17:13] FuhuXia commented on #3689
It does not take wildcard as in `*.gsa.gov`. So we have to come up with some regex and condition within nginx to get it done dynamically.
https://serverfault.com/questions/475772/set-access-control-allow-origin-in-nginx-using-wildcard-domain

[2022-05-13 20:07] jbrown-xentity opened #3826 "[Tiny EPIC] Support SOLR standalone on ECS"
## Purpose

We want to a security compliant SOLR, but we're not sure how to do that.

Given above this need, conducting ECS deployment with SOLR8 image is needed to provide factual knowledge on future steps.

### Acceptance Criteria

[ACs should be clearly demo-able/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_sp

[2022-05-13 20:14] jbrown-xentity opened #3827 "SSB Security Scans"
## User Story

In order to get on SSB, need to perform a compliance scan for stock AWS AMI and evaluate how far away we are

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND optionally another p

[2022-05-16 14:15] nickumia-reisys commented on #3827
Aggregate Results in [Google Drive](https://docs.google.com/document/d/1y9nahlX25Ha0PaLrxkGTDce6YfcE4BcE9uxPc8heXBg/edit).

AMI Scan in S3 Bucket on cloud.gov, `management:ami-scans`

[2022-05-16 14:33] nickumia-reisys commented on #3770
Newest results using the most recent GSA ISE-Hardened AMI (v2022-05-08)
- Upon a successful completion of initial Solr re-index, one of the nodes are stuck in `recovery_failed` due to a `No space left on device` exception,
![image](https://user-images.githubusercontent.com/85196563/168616690-46ca3d19-f7ee-4958-8478-bb312cca826e.png)
- It should be noted that there is in fact space on the disk,
![i

[2022-05-17 19:22] FuhuXia opened #3828 "Nessus 05142022: Tomcat upgrade"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.9nyvpifww2vh)._

**Date of report:** 2022-05-13
**Severity:** High
**Due date:** 2022-06-13

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2022-05-18 16:26] hkdctol commented on #3489
This epic has been entered into GitHub projects board https://github.com/orgs/GSA/projects/11/views/4

[2022-05-18 16:27] hkdctol commented on #3485
This epic has been entered into github projects board https://github.com/orgs/GSA/projects/11/views/4

[2022-05-18 16:27] hkdctol commented on #538
This epic has been entered into github projects board https://github.com/orgs/GSA/projects/11/views/4

[2022-05-18 16:28] hkdctol commented on #3490
This epic has been entered into github projects board https://github.com/orgs/GSA/projects/11/views/4

[2022-05-18 16:28] hkdctol commented on #3577
This epic has been entered into github projects board https://github.com/orgs/GSA/projects/11/views/4

[2022-05-18 16:58] hkdctol commented on #3779
Have not entered this into GitHub projects yet -- currently a limit on number of epics on board to 25

[2022-05-18 17:05] hkdctol commented on #3799
Will put on hold for the time being pending ECS work.

[2022-05-19 13:46] FuhuXia opened #3829 "Catalog dataset lost it Metadata source links overnight"
When freshly harvested, a CSW type of dataset has the Metadata Source links on the UI. But they disappears after certain amount of time.

For example:
https://catalog.data.gov/dataset/large-scale-international-boundaries

**When freshly harvested as a new dataset**
![image](https://user-images.githubusercontent.com/1392461/169307892-b786ec7f-9530-4c68-8de2-2c37eb155b53.png)

**One day later, the M

[2022-05-19 14:36] FuhuXia opened #3830 "License U.S. Public Domain Works (us-pd) is not available to non data.json datasets"
ckanext-datajson added ['U.S. Public Domain Works': 'us-pd'](https://github.com/GSA/ckanext-datajson/blob/main/ckanext/datajson/parse_datajson.py#L33-L35) as a license entry for DCAT-US type of dataset. But it is not avaible for other type of datasets.

## How to reproduce

https://catalog.data.gov/api/action/license_list

## Expected behavior

See the entry with following info included:
[code]

#

[2022-05-19 15:35] chris-macdermaid commented on #3829
Thanks for catching this! I looked at this record before GeoPlatform's last scheduled harvest and swore I saw the linked metadata source. When I checked again after the harvest failed I saw that the link for the metadata source was missing. I wasn't sure whether I was seeing things correctly or if something else was happening.

[2022-05-19 20:16] hkdctol commented on #3744
@mogul could you review this one when you have a chance?

[2022-05-19 20:20] hkdctol commented on #3787
Moving back to blocked based on current status of catalog.

[2022-05-19 21:20] mogul commented on #3744
Still seems good... What's changed?

[2022-05-20 00:32] nickumia-reisys commented on #3744
@mogul The PR is ready to be approved and merged if no changes need to be made.  The PR is just waiting your approval since the rest of the team doesn't feel as confident in giving the official sign off.
- https://github.com/GSA/datagov-brokerpak-eks/pull/101

[2022-05-20 18:52] FuhuXia commented on #3829
@chris-macdermaid You saw it right, something is happening ;) One day later the links are gone.

[2022-05-21 07:01] #3814 closed, assigned to nobody

[2022-05-21 08:34] #3815 closed, assigned to nobody

[2022-05-23 14:42] FuhuXia opened #3831 "O+M 2022-05-26"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-05-23 15:34] hkdctol commented on #3730
This is in progress using usertesting.com platform. Unmoderated tests taking place and test results will be uploaded into shared drive at https://drive.google.com/drive/folders/1_fHDPd2BpH0R7pLYBQlnIxlGYjWhfx4Y?usp=sharing

[2022-05-24 16:21] robert-bryson commented on #3689
Well, commenting as I may have found a crack in the CORS wall. I have been unable to get the CORS headers passed along at all, so in desperation I've opened them up completely on both the proxy/nginx side and the app/ckan side. Now sshing into the proxy, the headers are present when requesting to the app:

[code]

I am also starting to see the headers from the outside world, ie curling from my ter

[2022-05-24 19:54] robert-bryson commented on #3689
With [PR#444](https://github.com/GSA/inventory-app/pull/444), CORS appears to be working and the "Subcontracting Directory" is populated:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/91547795/170120754-fdc33878-a994-41dd-aa6a-77bdd436e65d.png">

@hkdctol.

[2022-05-24 20:16] hkdctol commented on #3689
Great. I've notified GSA customer.

[2022-05-25 14:47] FuhuXia opened #3833 "Cloud.gov app log improvements"
We are collecting cloud.gov logs on New Relic, implemented by [this ticket](https://github.com/GSA/data.gov/issues/3062). Improvements can be done to make it more useful.

1. Collect complete logs from all apps.
Web access logs are missing. We'd like to see access logs containing info such as visitor's real IP, response code, referral url...
1. Be able to sort logs by spaces, apps, pods...
1. Brea

[2022-05-25 17:57] FuhuXia commented on #3831
Inventory went down 8 times over the past 5 days, each time it last around 30-60 mins. The logs show the health check failed to respond within 1 second, the app was considered unhealthy and destroyed by cloud.gov.

Not sure what slows down the health check response.

[2022-05-25 19:59] FuhuXia opened #3834 "Catalog missing Collection UI elements"
If a dataset is a collection, the dataset page should display a search button leading to a list of datasets within the collection. On the listing page, the top should display the collection information. These two elements are missing from cloud.gov catalog app.

## How to reproduce

Find a collection on cloud.gov catalog app, go to the collection dataset page.
For example, https://catalog-prod-dat

[2022-05-25 21:00] mogul opened #3835 "Generate test data subset to benchmark indexing operations"
## User Story

In order to have a baseline for optimization efforts with the GSA ISE AMI, the data.gov team wants a fixed subset of catalog data that includes large and small records which takes half an hour to index on the stock AMI.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_

[2022-05-25 21:05] mogul opened #3836 "Measure how much auditd rules are impacting performance on the GSA ISE-hardened AMI"
## User Story

In order to pinpoint the source of the performance drain on the GSA ISE-hardened AMI, the data.gov team wants to measure the indexing performance with a fixture data set with auditd rules both present and missing.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_develo

[2022-05-26 13:48] nickumia-reisys commented on #3827
The result from this is the creation of the following two issues,
 - https://github.com/GSA/data.gov/issues/3835
 - https://github.com/GSA/data.gov/issues/3836

We have submitted upstream tickets for deviations from the current benchmark settings,
- https://github.com/GSA/ansible-os-amazon-linux2-eks/issues/7
- https://github.com/GSA/ansible-os-amazon-linux2-eks/issues/8
- https://github.com/GSA/a

[2022-05-26 19:58] hkdctol commented on #3743
@hbillings checking in on status of this -- we're around if you need our input.

[2022-05-26 20:39] hkdctol commented on #3809
Move inventory to Solr 8 on the ECS solution, and then this ticket would be resolved.

[2022-05-26 20:40] hkdctol commented on #3804
If we don't move to Solr 8 before this due date 6/30, we should address this.

[2022-05-26 20:41] hkdctol commented on #3778
this is an FCS issue, moving to blocked for now like other compliance tickets.

[2022-05-26 20:42] hkdctol commented on #3774
FCS issue, moving to blocked for now.

[2022-05-26 20:42] hkdctol commented on #3775
FCS issue, moving to blocked for now.

[2022-05-26 20:43] hkdctol commented on #3762
Files will be removed after move from FCS, moving to blocked for now.

[2022-05-26 20:47] hkdctol commented on #3607
Will move to product backlog just for the check of status, before we decide how to proceed

[2022-05-26 20:49] hkdctol commented on #3833
Moving to icebox for now, until FCS move.

[2022-05-26 20:51] hkdctol commented on #3834
Would need to fix if possible before moving catalog to cloud.gov

[2022-05-27 14:25] jbrown-xentity commented on #3834
I thought that maybe this was a backend issue, but that doesn't seem to be the case. All of the relevant information is there:

- Looking at [this example dataset](https://catalog-prod-datagov.app.cloud.gov/dataset/purchase-card-transactions-civilian-board-of-contract-appeals-cbca-parent)
- Comes from [GSA data.json](https://open.gsa.gov/data.json), search on "Purchase Card Transactions - Civilian

[2022-05-27 14:37] robert-bryson commented on #3787
Has something changed with catalog? Has anyone had this issue with even a `cf rs`? There's an issue with a new version of the Python buildpack catalog is trying to grab:
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/91547795/170721225-1c07a2ed-da05-4200-824a-1f8f8ddf6ab6.png">

[2022-05-27 15:21] hkdctol commented on #3730
We've done the first round of testing, so marking this issue as done.

[2022-05-27 16:41] jbrown-xentity opened #3837 "O+M 2022-6-9"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-05-27 17:56] nickumia-reisys opened #3838 "Create proper Solr Leader-Follower design"
## User Story

In order to create a leader-follower paradigm for solr, the data.gov catalog/solr/ssb/ecs team wants to define how to route the right requests from the catalog main/harvester apps to the appropriate solr instance (whether leader or follower, i.e. read or write) based on the request.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying

[2022-05-27 18:07] jbrown-xentity commented on #3838
Theoretically we can add a rule, where all `/[ckan]/select` requests get redirected to the followers, and all other requests (the default) go to the leader... That might have some ramifications for gather and fetch (as they might need up-to-the-second recent data), so those applications may need a separate load balancer that always goes directly to the leader.

[2022-06-01 14:12] FuhuXia commented on #3532
Another scenario caught when harvesting an arcgis source on sandbox. https://soa-dnr.maps.arcgis.com/sharing/search?f=pjson&q=test&num=1&start=0

Error message in gather log.

[code]

[2022-06-01 15:56] FuhuXia opened #3840 "Dashboard data.json validation handles large file upload"
When upload a large data.json file (150MB) to https://dashboard.data.gov/validate to validate, the server generates a 500 error.

It should be able to handle data.json with file size up to 200MB,

## How to reproduce

Go to https://dashboard.data.gov/validate, go to **Validate data.json file upload**, choose a sample data.json file of 150 MB in size, click **Validate File**.

## Expected behavior

[2022-06-01 16:13] FuhuXia opened #3841 "Netsparker Scan May 2022: Out-of-date Version (Moment.js)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.4azo44iysojg)._

**Date of report:** 2022-05-27
**Severity:** High
**Due date:** 2022-06-27

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2022-06-01 20:58] nickumia-reisys opened #3843 "Figure out the best upgrade path from Python 3.7.12"
catalog.data.gov @ main
python @ 3.7.13 (and above?)

## How to reproduce

1. Checkout the latest version of catalog.data.gov
2. Update `runtime.txt` to desired python version
3. Modify the vendor-requirements `Dockerfile` to build python dependencies for that version of python
4. Run the vendor-requirements script to build the dependencies
5. Try to push app to cloud.gov

## Expected behavior

Ap

[2022-06-02 15:46] FuhuXia opened #3845 "Error with arcgis harvest source"
Harvesting a Arcgis source generates an error in fetch process. No records can be harvested.

## How to reproduce

Harvest an Arcgis harvest source such as this one
https://catalog-dev-datagov.app.cloud.gov/harvest/admin/bdf13a95-02d1-4f3d-8c5d-f01feef6ae5e

## Expected behavior

Records harvested.

## Actual behavior

Error in fetch.
[code]

## Sketch

[Notes or a checklist reflecting our underst

[2022-06-02 16:12] FuhuXia opened #3846 "Duplicate results in Arcgis harvest source"
Observed in current FCS 2.8 catalog. Have not confirmed in cloud.gov 2.9 catalog.

An Arcgis harvest source has 440 records to be harvested, 1st job looked fine, 2nd job created duplicates for most of the records, 3rd and following jobs generated error in fetch log `{'Name': 'That URL is already in use.'}` for all records.

## How to reproduce

create a new Arcgis harvest source and do a few harve

[2022-06-02 16:49] FuhuXia opened #3847 "urllib parse error found in arcgis harvest source"
No arcgis source can be harvested on current 2.8 FCS catalog. Have not confirmed in 2.8 cloud.gov catalog app.

When start a harvest job on arcgis source, an error is generated in gather process, then no records can be harvested.

[code]

## How to reproduce

Start a new harvest job of any arcgis source.

## Expected behavior

Successful harvesting.

## Actual behavior

Error message in gather log

[2022-06-02 20:11] hkdctol commented on #3639
@Jin-Sun-tts tested locally. Continuing to work on it.

[2022-06-02 20:12] hkdctol commented on #3787
Solr not passing through the datasets. @robert-bryson working it.

[2022-06-02 20:14] hkdctol commented on #3838
Will probably go to cloud.gov without working this.

[2022-06-02 20:15] hkdctol commented on #3841
@FuhuXia thinks this is a false positive.

[2022-06-02 22:23] hkdctol commented on #66
Closing old tickets if not pertinent to current data.gov status.

[2022-06-02 22:23] #66 closed, assigned to nobody

[2022-06-02 22:24] hkdctol commented on #182
Closing old tickets

[2022-06-02 22:24] #182 closed, assigned to nobody

[2022-06-02 22:25] hkdctol commented on #204
Closing old tickets

[2022-06-02 22:25] #204 closed, assigned to nobody

[2022-06-02 22:26] hkdctol commented on #390
Closing old tickets

[2022-06-02 22:26] #390 closed, assigned to nobody

[2022-06-02 22:27] hkdctol commented on #508
Closing old tickets

[2022-06-02 22:32] hkdctol commented on #3730
Sprint 05262022

[2022-06-02 22:32] #3730 closed, assigned to hkdctol

[2022-06-02 22:33] hkdctol commented on #3689
Sprint 05262022

[2022-06-02 22:33] #3689 closed, assigned to FuhuXia, robert-bryson

[2022-06-02 22:33] hkdctol commented on #3744
Sprint 05262022

[2022-06-02 22:33] #3744 closed, assigned to nickumia-reisys

[2022-06-02 22:33] hkdctol commented on #3827
Sprint 05262022

[2022-06-02 22:33] #3827 closed, assigned to nickumia-reisys

[2022-06-02 22:34] hkdctol commented on #3831
Sprint 05262022

[2022-06-02 22:34] #3831 closed, assigned to FuhuXia

[2022-06-02 22:41] hkdctol commented on #496
Closing tickets related to old infrastructure.

[2022-06-02 22:41] #496 closed, assigned to nobody

[2022-06-02 22:43] hkdctol commented on #551
Closing--if still relevant we will be decommissioning all FCS resources soon.

[2022-06-02 22:43] hkdctol commented on #602
Closing old tickets

[2022-06-02 22:44] hkdctol commented on #612
Closing as we've left Wordpress

[2022-06-02 22:45] hkdctol commented on #654
Closing old tickets

[2022-06-02 22:45] hkdctol commented on #655
Closing as this will be dealt with in upcoming epic on metrics

[2022-06-02 22:46] hkdctol commented on #661
Closing as we shut down CRM

[2022-06-02 22:48] hkdctol commented on #782
Closing as we've left wordpress

[2022-06-02 22:49] hkdctol commented on #797
Closing as issue has not reappeared

[2022-06-03 15:52] robert-bryson commented on #3787
The egress proxy appears to work in both `dev` and `stage`, however in both environments causes at cert error when making requests to solr: `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1091)\')))")',)`. Still digging into causes, but in `stage`, it appears to be working (ie datasets are present in the app's ui with the egress proxy ena

[2022-06-03 21:12] FuhuXia commented on #3837
Have to pin `ckanext-harvest` to a commit number in order to let PR pass for two repos. https://github.com/GSA/catalog.data.gov/pull/462 and https://github.com/GSA/ckanext-datagovtheme/pull/122

[2022-06-03 21:28] chris-macdermaid commented on #3742
Adding a note that the National Address Database (NAD) record is also missing its harvest information and raw metadata info.

https://catalog.data.gov/dataset/national-address-database-nad

[2022-06-07 18:06] jbrown-xentity commented on #3834
We'll need to fix geodatagov extension, upgrade to flask missed an item:

[code]

[2022-06-08 16:18] robert-bryson commented on #3787
Well, if nothing else, setting all the `log` directives in the proxy `Caddyfile` to `DEBUG` surfaces the (an?) issue.

`curl` requests from within catalog result in a log like:
[code]
Whereas the requests that are failing (from catalog's log: `(Caused by SSLError(SSLCertVerificationError(1, \'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c

[2022-06-08 16:33] hkdctol opened #3850 "Complete FY 22 Security Self Assessment for Data.gov (July 8 deadline)"
## User Story

In order to meet the annual security requirements, Data.gov PMO needs to complete the requested items and artifacts.

## Acceptance Criteria

- [ ] GIVEN GSA's FY22 FISMA self assessment check list at https://docs.google.com/spreadsheets/d/12sUaulh3Jl-zpIZP793FYRNRWCsA23VcpfYYTKXBS-M/edit?usp=sharing
  THEN the Data.gov team has provided responses to requested test cases and uploade

[2022-06-08 17:14] FuhuXia commented on #3837
pinned in [ckanext-geodatagov](https://github.com/GSA/ckanext-geodatagov/pull/200) as well.

[2022-06-08 17:20] jbrown-xentity opened #3851 "ckanext-harvest breaking"
ckanext-harvest breaking catalog (and other extensions).

Current workaround is pinning to an old commit: https://github.com/GSA/catalog.data.gov/commit/7d000b7c4f6b07ddb920cbe0fd50595480ada472

## How to reproduce

1. Update catalog to pull latest ckanext-harvest

## Expected behavior

Latest code works

## Actual behavior

Code breaks

## Sketch

- Investigate error reports when upgrading
- Debu

[2022-06-09 14:20] jbrown-xentity opened #3852 "Duplicate datasets from DOI"
There are duplicate datasets on DOI. DOI has confirmed it is not passing duplicates in it's DCAT-US file, and that something is happening on the data.gov side.

## How to reproduce

1. https://catalog.data.gov/api/action/package_search?q=publisher:%22Bureau%20of%20Land%20Management%22&facet.field=[%22identifier%22]&facet.limit=4000&facet.mincount=2

## Expected behavior

Should be zero facet resul

[2022-06-09 16:59] nickrsan opened #3853 "404 error when searching data.gov with a term that uses Unicode U+2019 (right single quotation mark) in place of U+0027 (apostrophe)"
I'm a member of the public using the search function on the public data.gov instance as deployed at https://data.gov at 9:30am PT on 6/9/2022. If I should report this error elsewhere, I apologize. Thank you

## How to reproduce

Search anything with Unicode character U+2019 - it can be copied directly from https://unicode-table.com/en/2019/ for testing

e.g. searching "California’s water" causes t

[2022-06-09 17:08] Jin-Sun-tts commented on #3639
Pushed to main branch and tested in catalog development server.

Updated catalog with latest version of this repo in the requirements.txt. Confirmed the fix in the stage and production UI.

[2022-06-09 19:05] nickumia-reisys opened #3854 "Add Leader-Follower paradigm to Solr-on-ECS"
## User Story

In order to serve more traffic load, the Data.gov SSB Team wants to implement a leader-follower paradigm for standalone Solr configurations.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual preconditio

[2022-06-09 19:08] nickumia-reisys opened #3855 "Boost EFS performance for Solr-on-ECS"
## User Story

In order to boost EFS volume performance, the data.gov SSB team wants to test different EFS volume configurations for overall indexing or web request speed increases.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN

[2022-06-09 19:10] #3639 closed, assigned to Jin-Sun-tts

[2022-06-09 19:10] #3826 closed, assigned to nickumia-reisys

[2022-06-09 19:10] #3837 closed, assigned to FuhuXia, jbrown-xentity

[2022-06-09 20:05] hkdctol commented on #3804
@FuhuXia will check with @mogul on whether this can be deleted.

[2022-06-09 20:07] hkdctol commented on #3809
@nickumia-reisys to review

[2022-06-09 20:14] hkdctol commented on #3838
Logs indicate we can go to production with Leader only.

[2022-06-09 20:16] hkdctol commented on #3841
This is a false positive. @FuhuXia to respond to security email before marking done.

[2022-06-09 20:24] hkdctol commented on #3853
Thanks for reporting the issue.

[2022-06-09 20:25] hkdctol commented on #3838
Closing as duplicative of #3854

[2022-06-09 20:25] #3838 closed, assigned to FuhuXia, nickumia-reisys

[2022-06-09 20:26] hkdctol commented on #3854
we will discuss but logs show we can proceed with Leader for now.

[2022-06-09 20:28] hkdctol commented on #3794
AWS support issue has been opened

[2022-06-09 20:29] hkdctol commented on #3793
AWS support issue has been opened

[2022-06-09 20:30] hkdctol commented on #3823
Moving to icebox for now since we're not doing EKS

[2022-06-09 20:33] hkdctol commented on #3755
Blocked by creating a support issue with AWS/Cloud.gov

[2022-06-09 20:46] FuhuXia opened #3856 "O+M 2022-06-23"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-06-09 20:49] hkdctol commented on #3520
geodatagov or datagov catalog extensions are also possibilities

[2022-06-09 20:51] jbrown-xentity commented on #3520
The data that *should* be used is here: https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/data/omb_bureau_codes.csv

[2022-06-09 20:59] hkdctol opened #3857 "[Onboard] Albion Zeglin"
Welcome! [The Onboarding wiki](https://github.com/gsa/data.gov/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Review t

[2022-06-10 16:20] FuhuXia commented on #3804
Did some research, we have one EKS 1.19 on Development AWS account. We decide to leave it alone and let AWS do the 1.21 upgrade and hope it works out well.

We also have one EKS 1.19 on Production AWS account, which the current Inventory SOLR is using. We should be able to move Inventory from EKS based SolrCloud to standalone SOLR 8 based on ECS following this [catalog PR](https://github.com/GSA/c

[2022-06-10 16:30] robert-bryson commented on #3787
Findings:
- `ckan` [uses](https://github.com/ckan/ckan/blob/b88286ecdf224732d7c86a9956b9038b629ad531/ckan/lib/search/common.py#L9) [pysolr](https://github.com/django-haystack/pysolr) to connect to solr.
- `pysolr` hasn't [released](https://github.com/django-haystack/pysolr/releases/tag/v3.9.0) since 2020 with `3.9.0`, and catalog is using an even older [version `3.6.0`](https://github.com/GSA/cata

[2022-06-10 17:38] jbrown-xentity commented on #3708
We think something is wrong with login.gov saml2 implementation. To prove, we will implement our own basic local saml2 idp and verify login/logout works. If logout has similar error, then we will debug locally.
https://github.com/kenchan0130/docker-simplesamlphp

[2022-06-10 22:30] jbrown-xentity commented on #3852
Found 849 duplicate records in DOI (via dry run). Confirmed with api call: https://catalog.data.gov/api/action/package_search?q=organization:doi-gov&facet.field=[%22identifier%22]&facet.limit=4000&facet.mincount=2.
Running de-dupe with commit now, expect to finish overnight.

[2022-06-13 17:09] nickumia-reisys commented on #3809
Inspection from the aws cli revealed that the role in question is used to provide AWS Config access to other services.  The role was created 12/2020 and is being used for automated compliance testing.  There is no critical risk to current services.  The existing role will persist; however, we should probably update the Role with the new Role.  (This will require an SSBAdmin with IAM access)

Will

[2022-06-13 18:19] nickumia-reisys opened #3858 "Update the AWS Config IAM Policy"
## User Story

In order to keep AWS Roles current, the Data.gov AWS Support team wants to update the AWSConfigRole with the new AWS_ConfigRole.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND

[2022-06-13 18:25] nickumia-reisys opened #3859 "Dependabot alert on data.gov Pipfile.lock (cookiecutter)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.gtd02owc8z3t)._

**Date of report:** 06/09/2022
**Severity:** High
**Due date:** 07/09/2022

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been per

[2022-06-13 18:48] hkdctol commented on #3743
Awaiting a new engineer to be assigned by 18F, to do remaining work.

[2022-06-14 14:07] nickumia-reisys commented on #3858
This is not a time-sensitive issue and is okay to push down the priority queue.

[2022-06-14 16:57] jbrown-xentity commented on #3787
@mogul thinks that while the library seems to be the culprit from the findings above, it might be worth making sure that the [ca trust store is set up properly](https://github.com/GSA/cg-egress-proxy#proxying-s3-bucket-access), there is a link for python to try and see if that helps.

[2022-06-14 20:57] hkdctol opened #3860 "SAMPLE issue only for security self assessment purposes (sharing template)"
## User Story

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual precondition] \
  [AND optionally another precondition] \
  WHEN [a triggering event] happens \
  THEN

[2022-06-14 20:59] hkdctol commented on #3860
Closing -- created for purposes of self assessment--to share the link.

[2022-06-14 20:59] #3860 closed, assigned to nobody

[2022-06-15 14:05] jbrown-xentity commented on #3852
[duplicate-packages-doi_blm.csv](https://github.com/GSA/data.gov/files/8910033/duplicate-packages-doi_blm.csv)
This is the log of the de-dupe process that was run. 962 duplicates were removed.

[2022-06-15 14:06] jbrown-xentity commented on #3852
Also discovered DOI harvest issue that isn't reported by the harvester, as it fails to import due to the spatial extension.

The error: ckan.logic.ValidationError: None - {'spatial': ['Error creating geometry: Context does not provide geo interface']}

The spatial component of the USGS DCAT is bad; currently it looks like: "spatial":"[[30.126883, -89.035786], [30.215336, -88.637281]]". T[here](htt

[2022-06-15 14:19] chris-macdermaid commented on #3742
Adding a note that these NOAA records are missing their harvest information and raw metadata info.

- Geoid Height and Deflections of the Vertical Models - National Geospatial Data Asset (NGDA) Geoid Models
https://catalog.data.gov/dataset/geoid-height-and-deflections-of-the-vertical-models-national-geospatial-data-asset-ngda-geoid-m

- National Geospatial Data Asset (NGDA) NOAA Continuously Opera

[2022-06-15 16:06] FuhuXia opened #3861 "Add Authorization header to Inventory New Relic health check"
## User Story

In order to be alerted when Inventory solr is down, data.gov team wants use a better health check URL with user authentication token.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a working Inventory app\
  WHEN

[2022-06-15 20:38] jbrown-xentity opened #3862 "SOLR EFS Backups"
## User Story

In order to have easy SOLR disaster recovery, data.gov admins wants EFS to have regular backups and a recovery process.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN backups are occurring of EFS data for SOLR \

[2022-06-15 20:41] jbrown-xentity commented on #3786
Currently blocked by https://github.com/cloud-gov/product/issues/1775

[2022-06-15 20:52] FuhuXia opened #3863 "Accessing unauthorized harvest page leads to cloud.gov internal URL"
A logged user stays on a restricted harvest page until it idles out. At this point if the page is refreshed, the browser will go to an internal cloud.gov url and user has no way to click back to ckan site.

## How to reproduce
As an anonymous user, go to page
https://catalog.data.gov/harvest/gsa-json/job/last

## Expected behavior

see 403 Forbidden
and some message about unauthorized.

## Actual

[2022-06-16 16:29] jbrown-xentity opened #3864 "Recommended DCAT-US spatial format not harvestable"
If you try to harvest datasets with the following format: https://github.com/GSA/ckanext-datajson/blob/main/ckanext/datajson/tests/datajson-samples/geospatial.data.json in catalog, you will get errors from the ckanext-spatial extension. Specifically, ckanext-spatial expects geojson format: http://docs.ckan.org/projects/ckanext-spatial/en/latest/spatial-search.html#geo-indexing-your-datasets. ckane

[2022-06-16 20:16] hkdctol commented on #3799
Moving back to Icebox for now

[2022-06-16 20:37] hkdctol commented on #3786
Moving to blocked for now pending cloud.gov ticket on S3 issue

[2022-06-16 20:41] hkdctol commented on #3859
FCS issue; moving to blocked

[2022-06-17 02:47] FuhuXia opened #3865 "redis server storage low"
Today we gets quite some storage low alerts from New Relic for redis production server, sometimes redis host went down because of it. SSH'ed into the redis1p instance and ran `df -h`, it showed the root partition constantly fluctuates between 93% to 100% usage.  The log in /var/log/redis/ shows error message:
[code]
`top -c` shows process `redis-rdb-bgsave` is using 100% CPU.
There are some `/var/

[2022-06-17 13:41] nickumia-reisys commented on #3862
Proof that EFS Backups are enabled,

## In AWS Backup
![image](https://user-images.githubusercontent.com/85196563/174309239-68e6b489-bc8e-42f9-a9d4-d93f2c388029.png)

## In EFS (each volume)
![image](https://user-images.githubusercontent.com/85196563/174309847-9480bdff-2fb4-4ab2-a3ab-5e21f7a2ae62.png)

[2022-06-17 13:43] FuhuXia commented on #3708
Did some testing and found out [these changes](https://github.com/keitaroinc/ckanext-saml2auth/compare/v1.1.1...v1.2.0) in ckanext-saml2auth create the `UnsupportedBinding` error.

[2022-06-17 13:50] FuhuXia commented on #3862
The default setting is `daily backups with a 35-day retention period`.
35-day is more than what we need. With same amount the resources, a 6-hour backup with 7-day retention make more sense, if more frequent backup does not impact solr performance.

[2022-06-17 14:05] nickumia-reisys commented on #3708
Maybe we just don't need this class?  `Saml2Client`

https://github.com/keitaroinc/ckanext-saml2auth/compare/v1.1.1...v1.2.0#diff-a6ec9057428c583be5e30d5957777044930d96bad02075c3a49216cc5ed9b875R26-R35

And also the changes in this file? `spconfig.py`

https://github.com/keitaroinc/ckanext-saml2auth/compare/v1.1.1...v1.2.0#diff-f93bdc28690445ac844aa23fd815e5b8a06979b8841f02394ffa5a9fd1066218

This

[2022-06-17 14:46] FuhuXia opened #3866 "Multiple CKAN accounts created for same user from login.gov"
Login.gov allows user to use multiple email addresses. When a user logs into CKAN applications from login.gov, CKAN app has no control over which email address to be used to match existing CKAN user, and it will create a new CKAN user if CKAN sees a new email address.

## How to reproduce

Go to https://secure.login.gov/account and add a new email address to your account.
Log into data.gov CKAN ap

[2022-06-17 15:47] FuhuXia commented on #722
There is another GSA site runs scans to collect metrics on items such as accessibility. Here is [the list of data.gov subdomains](https://docs.google.com/spreadsheets/d/1bp7VoDwna2yxcDoOzXri4LpGrC8cetROGnZL_1AsOCI) findings in the scan result.

[2022-06-17 15:58] jbrown-xentity commented on #722
Looks like all the ones that have `This site can't be reached` are deprecated, looks like on purpose (to me at least).
The others have bad redirects, those are all defined in DNS: https://github.com/18F/dns/blob/main/terraform/data.gov.tf
@hkdctol maybe you can take a look and mark what should be removed, and what should be changed (from Fuhu's spreadsheet above)...

[2022-06-17 16:17] jbrown-xentity commented on #3521
Should consider using https://playwright.dev/python/docs/test-runners instead of cypress here, to keep everything in python.

[2022-06-17 16:40] nickumia-reisys commented on #3862
Default settings are as follows, Backups:
- Start within 8 hours of 0500 UTC
- Complete within 7 days
- Retained for 35-days
- Run daily

Terraform does not provide native support for configuring this plan as part of EFS.  However, we may be able to create a custom Backup plan that does not use the default Automatic Backups behavior.  Additional testing would be necessary to configure it properly.

[2022-06-17 16:43] FuhuXia commented on #3862
Can we tell how long did it take for one backup?

[2022-06-17 16:44] nickumia-reisys commented on #3862
We can check the status of current backups and see how long backups took previously.

[2022-06-17 16:58] albionzeglin-gsa commented on #3866
The standard support process by login.gov for handling a login.gov account which the user can no longer access is to remove the existing account and require to the user to create a new one. This creates a new SAML ID which would appear as a new account to us if we use SAML ID.

Why do we need to associate a user login with their email? What information are we deriving from it?

[2022-06-21 13:09] nickumia-reisys commented on #3862
It would seem like the backups are relatively quick, the 23GB full-production backup took ~2 hours.

![image](https://user-images.githubusercontent.com/85196563/174807006-55d2fe9a-051c-4720-9802-6ff3ca02d7c7.png)

[2022-06-22 20:08] nickumia-reisys commented on #3607
Upstream CKAN is still relying on Python 3.7 for their tests.  Python 3.7 also has an EOL in June 2023 (long enough that we think dependencies may be resolved upstream before this date).  Cloudfoundry will likely support Python 3.7 until that time.

Please refer to [slack discussion](https://gsa-tts.slack.com/archives/C2N85536E/p1655906827558949) for current status.
- https://github.com/GSA/catalo

[2022-06-23 17:47] btylerburton opened #3868 "Remove EDIT button from Dataset template"
Users should not edit dataset metadata by hand as it will be overwritten by the harvester. This button should be removed from the UI as clicking into it also causes a 500 error.

![Screen Shot 2022-06-23 at 12.35.02 PM.png](https://images.zenhubusercontent.com/62697903eac0ee8cd4da0406/38f672cd-c750-47ce-95bb-cdb5afdbf8bf)

![Screen Shot 2022-06-23 at 12.45.44 PM.png](https://images.zenhubuserconte

[2022-06-23 18:17] nickumia-reisys opened #3869 "Setup EFS Restore Procedures"
## User Story

In order to restore an EFS Backup and recover solr, the data.gov Solr/SSB team wants to implement a procedure to restore EFS backups from AWS Backup.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN a solr crashes \

[2022-06-23 19:24] btylerburton opened #3870 "Enchance logging config for Inventory"
@btylerburton commented on [Tue Jun 21 2022](https://github.com/GSA/catalog.data.gov/issues/477)

Implement similar enhancements to Inventory logging config (https://github.com/GSA/catalog.data.gov/pull/474)

[2022-06-23 20:05] #3841 closed, assigned to FuhuXia

[2022-06-23 20:05] #3794 closed, assigned to jbrown-xentity, btylerburton

[2022-06-23 20:08] #3793 closed, assigned to jbrown-xentity, Jin-Sun-tts

[2022-06-23 20:09] hkdctol commented on #3852
Harvester crashes and results in processes that continue to create dupes. #3864 addresses this and we will continue to look at it.

[2022-06-23 20:09] #3852 closed, assigned to jbrown-xentity

[2022-06-23 20:12] Jin-Sun-tts commented on #3708
found the code where it calls the perform_slo function in the plugin.py.  Forked a version to GSA/ckanext-saml2auth, and changed the logout function. Tested on development. will deploy to master branch for production.

[2022-06-23 20:13] #3809 closed, assigned to nickumia-reisys

[2022-06-23 20:23] #3862 closed, assigned to nickumia-reisys

[2022-06-23 20:36] jbrown-xentity commented on #3865
@FuhuXia can you provide an update on this?

[2022-06-24 13:14] FuhuXia commented on #3865
After a few restarts, redis is back to normal again, storage usage stabilized at  91% on root partition. We requested FCS to increase the root partition storage from 8GB to 20GB. Should be good now and future proof. This ticket can be closed.

[2022-06-24 15:28] hkdctol commented on #3857
Just waiting for GSA admin to add to github organization--moving to blocked for now.

[2022-06-24 19:34] hkdctol commented on #3500
Need to have USA banner (header) on catalog, data.gov, sdg, and dashboard. See spreadsheet at https://docs.google.com/spreadsheets/d/14GUVegR3Gy2jWduSyEpuwirKpwctTyvk23oY9HoYQi0/edit?usp=sharing

[2022-06-24 19:38] hkdctol commented on #3501
Link to the general FOIA and accessibility links, needed on resources, catalog, data.gov, sdg. and dashboard, see list at https://docs.google.com/spreadsheets/d/14GUVegR3Gy2jWduSyEpuwirKpwctTyvk23oY9HoYQi0/edit?usp=sharing

[2022-06-24 21:01] hkdctol opened #3871 "Data.gov sites address issues identified in AMP scanning"
## User Story

In order to meet Accessibility requirements, Data.gov PMO should address issues found in AMP scans provided by GSA.

## Acceptance Criteria

- [ ] GIVEN AMP scans of data.gov sites\
  THEN top issues in reports have been addressed.

## Background

GSA has agency goals for meeting minimum accessibility requirements on all GSA sites. GSA provides scans from the AMP tool. GSA sites are

[2022-06-28 16:50] hkdctol commented on #3748
@albionzeglin-gsa this ticket has the links to google docs of the SSPPs

[2022-06-28 20:26] albionzeglin-gsa commented on #3862
The EFS backups are sensitive to changes that occur to files during backup. We need to confirm that either SOLR is paused during backup execution, or that SOLR is not sensitive to file inconsistencies in backup restores.

[2022-06-28 20:35] albionzeglin-gsa commented on #3861
We need to ensure the token used does not have permissions that New Relic does not need. The token also needs to either replaced on a schedule prior to expiration, or not expire.

[2022-06-29 19:33] hkdctol opened #3872 "Fix broken links on inventory.data.gov home page"
The current home page of https://inventory.data.gov/ has some broken links in the footer.

## Sketch

- [ ] Link "About inventory.data.gov" to the guide at https://resources.data.gov/resources/inventory-data-gov-guide/
- [ ] Link " CKAN API" to the correct URL https://docs.ckan.org/en/2.9/api/index.html

[2022-06-29 20:40] Jin-Sun-tts commented on #3708
![Screen Shot 2022-06-29 at 4 37 35 PM](https://user-images.githubusercontent.com/104456257/176540063-a779d72b-529b-4486-a4a5-57b5c02e3022.png)

Added 'UnsupportedBinding' exception, and also stop the further process when there is exception from the SLO.

![Screen Shot 2022-06-29 at 4 43 43 PM](https://user-images.githubusercontent.com/104456257/176541229-f89b32ac-7966-4ed8-8692-6d8334334942.png)

[2022-06-30 17:04] Jin-Sun-tts commented on #3708
![Screen Shot 2022-06-30 at 1 01 27 PM](https://user-images.githubusercontent.com/104456257/176735937-6a33b8d1-dbc0-443a-85a3-b6a30053174a.png)
Fixed in production. Will submit upstream PR.

[2022-06-30 17:26] FuhuXia commented on #3708
Can you apply same fix to Inventory?

[2022-06-30 19:35] robert-bryson commented on #3787
Now that catalog stage/prod have stabilized, I `cf push`ed the changes out and they have been running stably. Moving ticket to done at long last.

[2022-06-30 20:13] hkdctol commented on #3804
We moved inventory to Solr on ECS we can close this

[2022-06-30 20:13] #3804 closed, assigned to nobody

[2022-06-30 20:15] robert-bryson opened #3873 "Enable/disable egress action"
## User Story

In order to [manage egress], [team datagov team] wants [be able to easily enable and disable egress for a given app with a GitHub action].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN [an app with egress enabled

[2022-06-30 20:15] hkdctol commented on #3865
This was addressed with FCS. Can be closed.

[2022-06-30 20:15] #3865 closed, assigned to hkdctol

[2022-06-30 21:30] jbrown-xentity opened #3874 "DCAT-US harvester causes SOLR crash"
Harvesting large DCAT-US file ([such as NASA](https://catalog.data.gov/harvest/nasa-data-json), 20K+) causes SOLR on ECS to crash. We can lessen the load by lowering the number of calls to SOLR:
https://github.com/GSA/ckanext-datajson/blob/main/ckanext/datajson/datajson_ckan_28.py#L160-L173

This makes many calls to SOLR, while a similar harvest type (spatial) just uses the database calls:

https:

[2022-06-30 21:46] jbrown-xentity opened #3875 "SOLR throughput max out"
SOLR can hit the max throughput with EFS and cause all operations (read and write) to be slow/unresponsive, causing site outages. We believe this occurs with the harvest gather process.

https://docs.aws.amazon.com/efs/latest/ug/performance.html

## How to reproduce

1. Harvest a large DCAT-US file, like NASA or Commerce

## Expected behavior

SOLR does not crash, and EFS remains available

## Act

[2022-06-30 21:49] FuhuXia commented on #3875
![image](https://user-images.githubusercontent.com/1392461/176784484-72b345d8-6805-468a-a300-2613b4e8dbaf.png)

As shown in the graph, after it hits 100%, scaling catalog-gather to 0 will bring down the throughput utilization %.

[2022-06-30 23:24] hkdctol commented on #3748
I have reviewed the front sections of the Data.gov SSPP at https://docs.google.com/document/d/11le1yfXjGlk6pOpXryVH4TSJNsSBgp9X/edit?usp=sharing&ouid=113511966954817069922&rtpof=true&sd=true there are only very minimal changes on this one, so just need someone to look at the few places where I commented to either confirm no changes needed or make the applicable updates re references to Solr. I wil

[2022-07-01 13:56] nickumia-reisys commented on #3875
Just mentioning here, we would need a pretty high provisioned throughput since it has peaked at close to 500 MB/s for times in the past,

![image](https://user-images.githubusercontent.com/85196563/176908779-2c3e0556-feb2-42f9-8137-5539ad936c42.png)

[2022-07-01 14:09] nickumia-reisys commented on #3875
This graph validates that it was using ~3.8x the Provisioned IO capacity.  The ability to burst is based on the burst credit methodology outlined here, https://docs.aws.amazon.com/efs/latest/ug/performance.html#throughput-modes

![image](https://user-images.githubusercontent.com/85196563/176910647-087d5445-065f-4c75-834a-ec8071403fda.png)

[2022-07-01 14:09] nickumia-reisys commented on #3875
Our burst credits over the last three days,

![image](https://user-images.githubusercontent.com/85196563/176910827-47a1e328-a230-4d51-aac5-581bba9db948.png)

[2022-07-01 14:17] FuhuXia commented on #3875
I have manually changed both catalog-prod and catalog-staging EFS from Burst to Provisioned throughput mode, giving them `150 MiB/s` and `100 MiB/s` respectively. Let us see how well they hold up under normal web traffic and harvesting activity.

[2022-07-01 14:20] nickumia-reisys commented on #3875
Will also mention, the reason we didn't implement EBS volumes is because there isn't a native AWS solution that supports it.  It requires the use of third-party docker container driver plugins which is a separate headache to maintain another technology and didn't provide an easy integration for our use-case.

Reference: https://aws.amazon.com/blogs/compute/amazon-ecs-and-docker-volume-drivers-amaz

[2022-07-01 15:03] nickumia-reisys opened #3876 "Stay on a supported version of Python 3"
## User Story

In order to stay on a supported version of Python 3, the Data.gov O&M team wants to monitor and upgrade python in accordance with cloudfoundry buildpaks, ckan support and python support.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificat

[2022-07-01 15:10] nickumia-reisys commented on #591
We are already on Python 3.
- https://github.com/GSA/data.gov/issues/3401
- https://github.com/GSA/data.gov/issues/3388
- https://github.com/GSA/data.gov/issues/3374

[2022-07-01 16:20] hkdctol commented on #3748
Took a pass at SSB SSPP. Changes needed in front section are minimal. https://docs.google.com/document/d/1SzqVjIDowxtfjWljXDUM8xzO8zzoQPq1/edit?usp=sharing&ouid=113511966954817069922&rtpof=true&sd=true

[2022-07-01 17:55] nickumia-reisys commented on #3854
The easiest-to-implement, but more resource-intensive design is to replicate exactly what we have on FCS which is two version of the catalog application: (1) Public for end-users, (2) Admin console for harvesting

In order to implement this design, we would...
- [x] Leave all existing code as is
- [ ] ~Create an `n-count` of EFS volumes for each solr replica desired (very similar to current efs.tf

[2022-07-01 18:00] nickumia-reisys commented on #3854
The above outline is just the setup for Solr.  Effort would need to be put into modifying the `manifest.yml` to duplicate all of the configuration and code to support a [secondary catalog](https://github.com/GSA/catalog.data.gov/blob/main/manifest.yml#L4-L30).
- The `manifest.yml`
- The `.profile`
- The `vars.[everything.yml`
- The startup scripts
- The no need for a proxy (but can still use the s

[2022-07-05 14:35] FuhuXia commented on #3593
According the[ this spreadsheet](https://docs.google.com/spreadsheets/d/1_L8EMNGeLA_KU93DGXawre9kkoQJ4esOoFJo5hqAOjc), 50% existing datasets (642142/1291875) we harvested are affected and stay private.

[2022-07-05 18:33] jbrown-xentity commented on #3748
@hkdctol reviewed both docs, and all comments are addressed. Please let me know if you have anything additional.

[2022-07-05 18:45] FuhuXia opened #3879 "Catalog sitemap contains private datasets"
Catalog has a [sitemap.xml](https://filestore.data.gov/gsa/catalog-next/sitemap/sitemap.xml) defined in the robots.txt to facilitate search engine to crawl the site. When[ 50% of the datasets are private](https://github.com/GSA/data.gov/issues/3593#issuecomment-1175136246), search engine will see 50% of the links in sitemap as 404.

## How to reproduce

check some links in https://filestore.data.g

[2022-07-06 15:24] nickumia-reisys commented on #3869
Process to restore a backup:
- Turn off Harvesting
- Follow [AWS Documentation](https://docs.aws.amazon.com/aws-backup/latest/devguide/restoring-efs.html) for restoring an EFS Backup
- Wait for backup to restore
- Perform an update-service (see below) on the solr instance referencing the restore script as the "setupLink" in the service configuration,
  - https://github.com/GSA/catalog.data.gov/blo

[2022-07-06 16:10] #3870 closed, assigned to btylerburton

[2022-07-06 16:12] #3834 closed, assigned to btylerburton

[2022-07-06 20:53] FuhuXia commented on #3875
After we set `100MiB/s` Provisioned throughput for prod and staging EFS volumes, no more outage because of throughput. But solr started to give `504 Gateway Time-out` error. Looking at EFS metrics, it appears Percent IO limit becomes an issue. It stays above 1 (100%) for extended time when we have load testing ongoing mimicking normal web traffic load. We are changing the Performance modes of EFS

[2022-07-07 17:05] Jin-Sun-tts commented on #3708
working on the same fix for inventory, need to find out any dependencies issue.

[2022-07-07 20:00] #3819 closed, assigned to FuhuXia

[2022-07-07 20:00] #3856 closed, assigned to FuhuXia, jbrown-xentity

[2022-07-07 20:00] #3875 closed, assigned to FuhuXia

[2022-07-07 20:00] #3850 closed, assigned to hkdctol

[2022-07-07 20:00] #3857 closed, assigned to hkdctol

[2022-07-07 20:07] hkdctol commented on #3824
FCS issue

[2022-07-07 20:12] hkdctol commented on #922
Closing this as we've updated Solr.

[2022-07-07 20:17] jbrown-xentity opened #3880 "Create process for updating publishers"
## User Story

In order to update the inventory publishers list, inventory admin wants a way to push a csv update.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN a csv is created with the list of publishers for inventory organiz

[2022-07-07 22:03] chris-macdermaid commented on #3742
Adding a note that this Department of State record is missing its harvest information and raw metadata info.

Large Scale International Boundaries
https://catalog.data.gov/dataset/large-scale-international-boundaries1

[2022-07-07 23:03] jbrown-xentity commented on #3880
The production action is still pending, but the fix was deployed manually. See example below:
![image](https://user-images.githubusercontent.com/26980513/177885554-9afafddf-f08c-42e9-99fc-38f62b2b8d45.png)

[2022-07-08 14:36] FuhuXia commented on #3658
doc-gov json failed due to the same reason. It is an invalid DCAT-US Schema json file but gather continues to process the file without validating it first, then failed with some error in the gather log, but the error is not reported in the job report.

![image](https://user-images.githubusercontent.com/1392461/178013143-19ecfde5-59a4-485f-8644-3550fe2b6211.png)

[2022-07-08 15:09] #3869 closed, assigned to nickumia-reisys

[2022-07-08 15:10] #3843 closed, assigned to nickumia-reisys

[2022-07-08 15:10] #3520 closed, assigned to nobody

[2022-07-08 15:10] #3787 closed, assigned to robert-bryson

[2022-07-08 15:10] #3697 closed, assigned to FuhuXia, nickumia-reisys, robert-bryson

[2022-07-08 15:11] nickumia-reisys commented on #3869
Documentation is available here: https://github.com/GSA/data.gov/wiki/Solr-on-ECS---EFS

[2022-07-08 15:46] FuhuXia opened #3881 "GSA Certificate expire on 2022-10-05"
A GSA Certificate is set to expire in 90  Days!

Please take steps to renew the certificate as soon as possible.

Name: [catalog-fgdc2iso1p.prod-ocsit.bsp.gsa.gov](http://catalog-fgdc2iso1p.prod-ocsit.bsp.gsa.gov/)

SSO/Business Line:

Valid From: 2020-07-22

Valid To: 2022-10-05

[2022-07-08 17:05] Jin-Sun-tts commented on #3708
This issue is fixed in inventory now.

[2022-07-08 19:57] jsxo opened #3882 "need a job im bored"
im bored, how do i score a job without writing cv im too lazy to?
need something to do, willing to utilize my genius as long as u guys keep me entertained, feed me and offer me free housing....

rn im just wasting my time playing video games and committing federal crime such as tax fraud, mental abuse, posing as federal agent and guiding depressed people into killing themselves.

i also believe i

[2022-07-08 19:58] #3882 closed, assigned to nobody

[2022-07-11 16:38] FuhuXia opened #3884 "Block search engine from crawling cloud.gov URLs"
We are seeing crawler SemrushBot is crawling catalog staging site at https://catalog-stage-datagov.app.cloud.gov.

[code]

None of `*.app.cloud.gov` URL should be crawled. We should consider turning off direct access to these URLs, or password protecting them, or at least stopping crawler in the `/robots.txt` file.

[2022-07-11 17:04] jbrown-xentity opened #3885 "O+M 2022-7-21"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-07-11 20:40] FuhuXia opened #3887 "Catalog page cache improvement"
## User Story

In order to improve page loading performance for catalog apps, data.gov teams wants see more pages/assets cached on CDN.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN an anonymous user hits catalog app behind Clo

[2022-07-12 14:06] FuhuXia commented on #3887
The default cache expiry is set to be 24 hours in both CloudFront and CKAN ini. We can re-evaluate a good number a few weeks after cloud.gov migration.

Update: we are using 1 hour cache now.

[2022-07-12 22:16] Jin-Sun-tts commented on #3861
https://docs.ckan.org/en/2.9/api/#authentication-and-api-tokens

Added header X-CKAN-API-Key with API token for user 'inventory' for both production and staging
Changed the health check URL to /dataset

[2022-07-13 21:30] hkdctol opened #3888 "Create and maintain document that collects history of challenges in moving to Cloud.gov"
## User Story

In order to maintain a history of obstacles we have run into in migrating to cloud.gov (especially catalog), Data.gov team needs a running document with the relevant information.

## Acceptance Criteria

- [x] Google doc that is kept current with information on the challenges that have delayed finalizing the move to cloud.gov

## Background

The team has run into a lot of different

[2022-07-14 17:59] Jin-Sun-tts commented on #3861
During test we found out even the solr was down, the check status still returns success, so we added keyword 'datasets found' as the checking text. Then tested staging we do see the alert like below when solr was down.

<img width="417" alt="Screen Shot 2022-07-14 at 1 58 18 PM" src="https://user-images.githubusercontent.com/104456257/179051188-49ef69b4-9079-49e1-80f9-2f87b5cd27c6.png">

<img widt

[2022-07-14 20:08] hkdctol commented on #3861
We've validated this fix and moving to done.

[2022-07-14 20:18] hkdctol commented on #3887
We will evaluate later whether we can do this work after going live on cloud.gov

[2022-07-15 15:31] hkdctol commented on #3888
Running google doc started here https://docs.google.com/document/d/1_2GroL3kkzgWePPcNhzRD6SFDc-5Kt0ic8DiZln_TAs/edit?usp=sharing

[2022-07-15 15:36] hkdctol commented on #3743
Will be scheduling time with 18F week of 7/18 to do handoff of current work.

[2022-07-18 17:28] hkdctol commented on #3748
@albionzeglin-gsa I think what you could do now is given that the problems/remaining issues are described in https://docs.google.com/document/d/1_2GroL3kkzgWePPcNhzRD6SFDc-5Kt0ic8DiZln_TAs/edit?usp=sharing
you can start to look at the control sections of [SSB SSPP](https://docs.google.com/document/d/1SzqVjIDowxtfjWljXDUM8xzO8zzoQPq1/edit?usp=sharing&ouid=113511966954817069922&rtpof=true&sd=true)
a

[2022-07-18 17:32] hkdctol commented on #3748
@albionzeglin-gsa as you're looking at the control sections, can you confirm that the docs are following the current [template](https://docs.google.com/document/d/1OiNfvlo5UtTC4u0kP5cvs7rGrI1Pg7V9/edit?usp=sharing&ouid=113511966954817069922&rtpof=true&sd=true) and if there are any format/template/numbering changes, go ahead and start making those?

[2022-07-18 20:46] nickumia-reisys commented on #3854
Future work (maybe): https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service_definition_parameters.html#sd-networkconfiguration

[2022-07-18 21:20] FuhuXia commented on #3854
Changes to solrconfig.xml to enable replication.
https://solr.apache.org/guide/8_7/index-replication.html

[2022-07-19 16:28] btylerburton commented on #3871
Emailed AMP leads for guidance on how to proceed with images served 3rd party Leaflet plugin / OpenStreetmap plugin that is embedded in CKAN core.

ex. `<img src="//b.tile.openstreetmap.org/2/0/1.png" style="height: 256px; width: 256px; transform: translate3d(-109px, -31px, 0px);" class="leaflet-tile leaflet-tile-loaded"/>`

12 of 18 flagged high severity issues originate from Leaflet.

https://gs

[2022-07-19 16:42] btylerburton opened #3889 "Add Alt text for Default Organization Images - catalog.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 03.27.22
**Severity:** High
**Due date:** 08.31.22

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [X] Analysis has been performed and an issue has bee

[2022-07-19 20:06] hkdctol opened #3890 "Create list of planned updates in response to 2022 user testing"
## User Story

As part of our response to recommendations in the 2021 GAO report about open data, Data.gov needs to have a list of proposed updates by August 30.

## Acceptance Criteria

- [x] GIVEN the results of user testing in May 2022
  THEN Data.gov has a list of GitHub issues for improvements that are put in backlog.

## Sketch

- [x] Review results of user testing in May 2022
- [x] Create i

[2022-07-20 20:06] hkdctol commented on #3743
Will mark this one as done and create a new ticket for remaining work on static site.

[2022-07-20 21:03] nickumia-reisys commented on #3855
Duplicate of
- https://github.com/GSA/data.gov/issues/3875

[2022-07-20 21:03] #3855 closed, assigned to nickumia-reisys

[2022-07-20 21:21] hkdctol opened #3891 "Finish work on new version of static site"
## User Story

Data.gov team needs a completed version of the new static site started by 18F engineers

## Acceptance Criteria

- [x] GIVEN user goes to Data.gov
  THEN user sees new version of static site using 11ty

## Background

18F team assisted with work in migrating former WordPress site that is in Federalist, using 11ty (#3743) but did not have staffing to complete the migration.

## Secur

[2022-07-21 17:01] FuhuXia commented on #3885
If we expect cloud.gov app may generate a lot of error responses to load test traffic, we need to post a message in [slack cg-support channel](https://gsa-tts.slack.com/archives/C09CR1Q9Z).

[2022-07-21 21:35] #3864 closed, assigned to btylerburton

[2022-07-21 21:35] #3743 closed, assigned to hbillings, hkdctol

[2022-07-21 21:36] #3874 closed, assigned to jbrown-xentity

[2022-07-21 21:36] #3861 closed, assigned to Jin-Sun-tts

[2022-07-21 21:37] #3708 closed, assigned to FuhuXia, Jin-Sun-tts

[2022-07-21 21:37] #3851 closed, assigned to nickumia-reisys, btylerburton

[2022-07-21 21:40] hkdctol opened #3892 "O+M 2022-8-4"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-07-21 22:47] hkdctol commented on #3501
Working on #3891 will take care of this

[2022-07-21 22:48] hkdctol commented on #3891
Finishing the work here will complete the footer requirements for Data.gov #3501

[2022-07-21 22:49] hkdctol commented on #3500
Working on #3891 will accomplish this for Data.gov main site.

[2022-07-21 22:51] hkdctol commented on #3500
I don't think we have to do this on other sites for now.

[2022-07-21 22:52] hkdctol commented on #3501
But need the footer requirement for resources.data.gov, strategy.data.gov, and sdg.data.gov

[2022-07-22 04:34] FuhuXia commented on #3659
Related to ticket https://github.com/GSA/data.gov/issues/3881. Set milestone as `September 2022`. Can be closed if we are out of FCS environment.

[2022-07-22 12:44] FuhuXia opened #3893 "Create catalog-admin app"
## User Story

In order to let catalog admin be able to make changes through the catalog UI and API, data.gov team wants a catalog-admin app that is separated from public catalog app and connected to leader SOLR.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral

[2022-07-22 12:54] FuhuXia opened #3894 "O+M 2022-08-04"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-07-22 12:56] FuhuXia commented on #3894
dupe of #3892

[2022-07-22 12:56] #3894 closed, assigned to FuhuXia, jbrown-xentity

[2022-07-22 16:23] nickumia-reisys opened #3895 "Solr Brokerpak Provisioning/Binding Success with Error"
https://github.com/GSA/datagov-brokerpak-solr @ main

## How to reproduce

1. `make demo-up`

## Expected behavior

- Service provisioned (CSB client gives `202`).
- Service has binding (CSB client gives `202`).

## Actual behavior

- Service may be provisioned and may have binding.
- CSB client gives `410` for a missing binding or bad parameters and the github actions don't fail.

![image](https:

[2022-07-22 16:44] jbrown-xentity commented on #3648
This will require fixing ckanext-geodatagov extension to upgrade the cli to py3 and ckan 2.9. See similar work done on ckanext-dcat_usmetadata:
- https://github.com/GSA/ckanext-dcat_usmetadata/pull/289/files
- https://github.com/GSA/ckanext-dcat_usmetadata/pull/291/files (make sure to bump the version)

[2022-07-22 17:55] FuhuXia commented on #3887
Added last AC for disabling caching for API calls. This might affect performance especially during load test ( constant `package_search` API calls.. We implement if our server can handle the traffic.

[2022-07-22 19:12] hkdctol commented on #3888
Seems like we have the main points in the document. We will continue to update, but marking this as done.

[2022-07-22 19:33] FuhuXia commented on #3887
Added behavior for `/api/*` with this configuration to disable caching for API calls.

![image](https://user-images.githubusercontent.com/1392461/180514335-a07392be-19ba-484a-82ae-9fc5a519c334.png)

[2022-07-22 20:34] hkdctol opened #3896 "Add help text to catalog pages"
## User Story

In order to make the catalog more usable, Data.gov catalog pages should have help text.

## Acceptance Criteria

- [ ] GIVEN a user goes to a catalog dataset page
  THEN user can click on help text on terms that are not obvious

## Background

User testing in 2022 indicates that some terms on catalog pages are confusing and users could benefit from help text.

## Sketch

- [ ] Revie

[2022-07-22 20:55] hkdctol opened #3897 "Delete link to dashboard from Data.gov main page"
## User Story

In order to reduce confusion, delete the reference to dashboard that is on Data.gov home page

## Acceptance Criteria

- [ ] GIVEN user goes to Data.gov main page
  THEN there is no link to dashboard.data.gov

## Background

In user testing, there was some confusion when user clicked on link to dashboard from main page.

## Sketch

- [ ] When we get to the redesign using 11ty, make

[2022-07-22 20:56] hkdctol commented on #3897
the link is under "Get Started"

[2022-07-22 21:06] hkdctol opened #3898 "Make improvements to catalog page sidebar"
## User Story

In order to improve usability, sidebar on catalog pages should be improved

## Acceptance Criteria

- [ ] GIVEN user goes to catalog main [page](https://catalog.data.gov/dataset)
  THEN user has an easier to use sidebar with clarified terms

## Background

User testing of catalog pages in 2022 indicated confusion on the sidebar as currently configured

## Sketch

- [ ] Review findin

[2022-07-22 21:18] hkdctol opened #3899 "Create guidance for public users of Data.gov"
## User Story

In order to assist public users of Data.gov, there should be a guide/"how to" for most common uses of the catalog

## Acceptance Criteria

- [ ] GIVEN a user goes to data.gov catalog or data.gov main page
  THEN there is a prominent link to additional resources explaining common uses of catalog.

## Background

User testing in 2022 showed that the catalog is not easy to use for many

[2022-07-22 21:33] hkdctol commented on #3890
[List](https://docs.google.com/document/d/17AePo08-ou3HS6J7Zk4kvw-VPel5xyJab5vnolvoalk/edit?usp=sharing) of tickets in response to user testing. Will elaborate on issues before sending for meeting audit response purposes.

[2022-07-25 13:17] FuhuXia opened #3900 "replace temporary dev/staging CDN URLs with data.gov domain"
We are using AWS cloudfront.net URLs for our catalog app in development and staging CDN. Need to create data.gov subdomains and replace the cloudfront.net URLs with `catalog-stage.data.gov` and `catalog-dev.data.gov`.

[2022-07-25 17:15] jbrown-xentity commented on #3893
These are the things we customized in the FCS environment. It was all handled at the apache server level. Maybe we could pass the admin route to the nginx buildpack, and do similar customizations? But then, do we need another nginx app in front of the admin app?
https://github.com/GSA/data.gov/blob/master/ansible/roles/software/ckan/catalog/ckan-app/templates/etc_apache2_sites-enabled_ckan.conf.j2

[2022-07-25 22:40] hkdctol commented on #3748
Reviewed again in light of Solr leader-follower, there are 1-2 changes only in the SSB document (front sections not controls)

[2022-07-26 13:01] nickumia-reisys commented on #3891
Old Repo: https://github.com/GSA/datagov-website/
New Repo: https://github.com/18F/datagov-11ty/

Current completion metrics: **_12%_**
- Total pages: 996
- Pages complete and/or needs review: 119
- Pages not started: 877

Reached out about [questions](https://gsa-tts.slack.com/archives/C2N85536E/p1658840057130749).   Waiting for feedback before further updates.

[2022-07-26 16:42] FuhuXia commented on #3881
Same thing for catalog-fgdc2iso1d.dev-ocsit.bsp.gsa.gov
[code]

[2022-07-26 17:02] nickumia-reisys commented on #3891
Remaining work consists of:
- [x] Cleaning/Fortifying up styling configuration
  - [ ] Start with [this PR](https://github.com/18F/datagov-11ty/pull/10)
  - [ ] Review additional work as needed
- [ ] Making [PRs like this](https://github.com/18F/datagov-11ty/pull/9) to convert old pages into new pages. (~900 pages minus any duplicates, not sure of true number)
- [x] Having a review of the team for

[2022-07-27 13:12] FuhuXia commented on #3893
We used same catalog-proxy for the catalog-admin app, all Nginx config from catalog-web app is applied to catalog-admin as well. In Nginx we configured to allow GSA network traffic only, for now. Later we may need to consider other methods to stop general public from visiting catalog-admin.

[2022-07-27 15:31] nickumia-reisys commented on #3854
This should be sufficiently complete now.  To help categorize the above work for future reference, (the sub-bullets are mostly  minor, sometimes breaking, fixes to the parent bullet)

### Infrastructure Changes:
- https://github.com/GSA/datagov-brokerpak-solr/pull/45
  - https://github.com/GSA/datagov-brokerpak-solr/pull/46
- https://github.com/GSA/datagov-brokerpak-solr/pull/47
  - https://github

[2022-07-28 19:00] FuhuXia opened #3901 "Nessus scan 07202022 Apache Tomcat upgrade"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.l6vvnvzdzc1)._

**Date of report:** 2022-06-15
**Severity:** Moderate
**Due date:** 2022-09-15

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has bee

[2022-07-28 19:09] FuhuXia opened #3902 "Nessus scan 07202022 Ubuntu Linux kernel vulnerabilities"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.6y5xaz6thf0q)._

**Date of report:** 2022-07-15
**Severity:** Moderate
**Due date:** 2022-10-15

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has be

[2022-07-28 19:47] FuhuXia opened #3903 "Set up CloudWatch alarms for ECS Solr memory spike"
## User Story

In order to be aware when ECS Solr is running out of memory, data.gov team wants to notified when ECS task MemoryUtilized reaches certain threshold.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN a ECS Solr task M

[2022-07-28 19:54] FuhuXia opened #3904 "Restart SOLR when under memory pressure"
## User Story

In order to prevent SOLR on ECS running out of memory , data.gov team wants SOLR instances restarted automatically when memory shortage is detected.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] WHEN a SOLR ECS instanc

[2022-07-28 20:14] hkdctol commented on #3748
just making one more change to diagram, before migration

[2022-07-29 13:10] mogul commented on #3748
Here's the PR to update the diagram... Once this is approved/merged, I'll copypasta into the Google Doc.
https://github.com/GSA/datagov-compliance/pull/32

[2022-07-29 14:57] FuhuXia commented on #3593
Other than the two approaches mentioned above, we can also develop a one-time custom script to call API and change all private datasets to public.

[2022-07-29 16:12] FuhuXia commented on #3887
Story #3893 is completed, therefore AC#4 is disregarded. All other ACs are verified.

[2022-08-01 16:19] FuhuXia opened #3905 "Disable Catalog CKAN other than the default English"
We see a large portion of traffic is crawling Catalog CKAN on locales other than default `en`, such as `ru` and `zh_Hans_CN`. We only need to support `en`, We also receives user complaints that the search engines show results in other locales which is confusing.

Tried CKAN options such as `ckan.locale_default`, `ckan.locales_offered`, `ckan.locales_filtered_out`,  they need to have no effect. We

[2022-08-02 13:45] nickumia-reisys opened #3906 "Catalog + Inventory Restarts Failing"
catalog.data.gov @ main
inventory.data.gov @ main

## How to reproduce

1. Look at failing `Restart` Github Actions for catalog/inventory.

## Expected behavior

Restart successful

## Actual behavior

- https://github.com/GSA/inventory-app/runs/7631908673?check_suite_focus=true
- https://github.com/GSA/catalog.data.gov/runs/7631931299?check_suite_focus=true

![image](https://user-images.githubuse

[2022-08-02 13:46] nickumia-reisys commented on #3906
Just to note:
- Inventory restarts have been failing since 7/28 (some intermittently working)
- Catalog restarts had a different issue, but started showing the same error as Inventory since yesterday.

[2022-08-02 14:03] nickumia-reisys commented on #3906
### Manually trying to restart the inventory app showed this error:
![image](https://user-images.githubusercontent.com/85196563/182393987-adc344f8-4746-4be0-8c09-eb4e78f0b1f2.png)

[2022-08-02 17:23] #3885 closed, assigned to FuhuXia, jbrown-xentity

[2022-08-02 21:00] FuhuXia opened #3907 "Create a maintenance page for catalog app"
## User Story

In order to have a better UI when Calalog app is taken down for maintenance, data.gov team wants to create a maintenance page.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN catalog-app is in normal mode \
  WHEN

[2022-08-03 16:47] FuhuXia opened #3908 "Create catalog-admin.data.gov route on cloud.gov"
Use it for `catalog-admin` app to replace `catalog-prod-admin-datagov.app.cloud.gov`.

[2022-08-03 17:55] FuhuXia opened #3909 "Hide/Redirect cloud.gov url for catalog app if it is behind CDN"
We have put catalog-web app behinds CDN, but the cloud.gov url is still working.

## How to reproduce

https://catalog-dev-datagov.app.cloud.gov/api/3

## Expected behavior

No site found, or redirect to CDN url.

## Actual behavior

loads with 200 response.

## Sketch

This should be done after https://github.com/GSA/data.gov/issues/3900, so we can a url easy to remember.

[2022-08-03 17:56] mogul commented on #3909
I think you can do this by just making the route random/not-obvious.

[2022-08-03 18:06] FuhuXia commented on #3909
Yeah, making a random url will achieve the same result, almost. My concern is that if it is there, eventually some crawler will be able to find it (e.g., from our github discussion) and we might see some traffic.

[2022-08-03 18:13] mogul commented on #3909
Right. The app proxy could also reject connections that don't include the CDN header, or only accept connections that come from Cloudfront or the GSA VPN egress range... Various ways to attack this. I'm not sure if cloud.gov has a suggested way to handle it; might be worth asking.

[2022-08-03 18:22] hkdctol commented on #3748
Since we have handled the front section of the SSPP's, will mark this one as done and create a new ticket for the continuing work on controls.

[2022-08-03 18:28] FuhuXia opened #3910 "Block visitors from accessing prod data in Staging space"
Catalog in Development and Staging spaces have almost the same database as prod. we should not make prod data publicly accessible on URLs other than catalog.data.gov.

Staging needs an equivalently big database. So we can keep same DB but put Staging behind VPN or basic auth.

Development can have a small database with test data.

[2022-08-03 18:53] FuhuXia commented on #3909
Onging discussion:
https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1659551891866499

[2022-08-04 02:13] FuhuXia commented on #3909
Did user-agent detection and send traffic to 403 if it is not from `Amazon CloudFront`.
https://github.com/GSA/catalog.data.gov/pull/512/commits/935a85dbaf6cbbb3070a19d6909af8a21047e229

[2022-08-04 02:54] FuhuXia commented on #3887
Catalog is switched to cloud.gov today. We immediately see big improvement on the cache performance. Will check back and post another graph a few weeks after the migration when catalog is running normally without extra protection(e.g., 24 hour cache TTL and cached API results)

![image](https://user-images.githubusercontent.com/1392461/182752486-d2f58e5e-9148-449d-bafb-4e09a8036432.png)

[2022-08-04 15:07] hkdctol opened #3911 "Updated SSPPs for Data.gov and SSB"
## User Story

In order to meet FISMA requirements, Data.gov should have an updated System Security and Privacy Plan (SSPP) for both the Data.gov System and the Supplementary Services Broker (SSB).

## Acceptance Criteria

- [x] GIVEN Data.gov's current status on cloud.gov infrastructure
  THEN Data.gov's SSPPs for Data.gov and the SSB are current, both in sections 1-12 and in the relevant control

[2022-08-04 16:29] FuhuXia commented on #3903
Alarm message:
![image](https://user-images.githubusercontent.com/1392461/182902364-f80b5bc3-b1cb-459f-a7a1-33a17df679c4.png)

OK message:
![image](https://user-images.githubusercontent.com/1392461/182902695-8154d9ab-5cae-421b-87d4-33f41b949504.png)

[2022-08-04 17:40] FuhuXia commented on #3904
@nickumia-reisys mentioned it might be possible for the [CloudWatch Alarm we have](https://github.com/GSA/data.gov/issues/3903) to take action to restart ECS task.

[2022-08-04 18:27] #3889 closed, assigned to btylerburton

[2022-08-04 18:31] btylerburton commented on #3889
Fixed with:
- https://github.com/GSA/ckanext-datagovtheme/pull/129
- https://github.com/GSA/catalog.data.gov/pull/514

[2022-08-04 18:58] #3887 closed, assigned to FuhuXia

[2022-08-04 18:59] #3893 closed, assigned to FuhuXia

[2022-08-04 19:00] hkdctol commented on #3854
@nickumia-reisys is the diagram above available for re-use? @mogul wanted to use for SSB documentation

[2022-08-04 19:00] #3854 closed, assigned to FuhuXia, nickumia-reisys

[2022-08-04 19:01] #3903 closed, assigned to FuhuXia

[2022-08-04 19:01] #3888 closed, assigned to hkdctol

[2022-08-04 19:02] #3880 closed, assigned to jbrown-xentity

[2022-08-04 19:02] #3873 closed, assigned to robert-bryson

[2022-08-04 19:02] #3890 closed, assigned to nobody

[2022-08-04 19:37] hkdctol opened #3912 "Create materials for sharing Data.gov experience in migration to cloud.gov"
## User Story

In order to document and share lessons learned in Data.gov's migration to cloud.gov and use of Supplementary Services Broker (SSB), Data.gov team wants to develop materials (could be in the form of talks, blog posts).

## Acceptance Criteria

- [ ] GIVEN the variety of issues encountered in migrating data.gov to cloud.gov and the use of the SSB and potential interest to colleagues i

[2022-08-04 20:28] mogul commented on #3905
@jbrown-xentity already took care of this.

[2022-08-04 20:28] #3905 closed, assigned to jbrown-xentity

[2022-08-04 20:29] jbrown-xentity commented on #3905
Completed here: https://github.com/GSA/catalog.data.gov/pull/510

[2022-08-04 20:51] jbrown-xentity opened #3913 "Catalog lost favicon"
catalog no longer has favicon on site. Need to investigate

## How to reproduce

1. Hit https://catalog.data.gov

## Expected behavior

favicon appears on tab

## Actual behavior

Broken link

## Sketch

Check ckanext-datagovtheme

[2022-08-04 20:55] mogul commented on #3884
Superseded by #3910; preventing outsider access will also block crawlers.

[2022-08-04 20:55] #3884 closed, assigned to btylerburton

[2022-08-05 15:16] nickumia-reisys commented on #3854
Unfortunately, it just the screenshot.  I made it with a random online flowchart tool and didn't have a way of saving it without making an account.  If it can be used as is, I see no problem adding it to the SSB documentation.

[2022-08-05 16:15] jbrown-xentity opened #3914 "Catalog harvest page filters broken"
On the [catalog harvest page](https://catalog.data.gov/harvest), all filters are reported as empty. This means we can't easily see what sources are daily, what sources go with what organizations, etc.

## How to reproduce

1. Go to [catalog harvest page](https://catalog.data.gov/harvest)
2. Note empty filters
![image](https://user-images.githubusercontent.com/26980513/183118475-ae8f21e2-6cf8-4955-

[2022-08-05 16:20] robert-bryson opened #3915 "Topic icons missing on Catalog"
## How to reproduce

1. Go to catalog.data.gov
2. Click on Topics
3. See missing icons

![Recording 2022-08-05 at 09 18 30](https://user-images.githubusercontent.com/91547795/183119314-24f97b05-8266-4d60-8464-5db9320a1247.gif)

## Expected behavior

Icons

## Actual behavior

No icons

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-08-05 16:42] mogul commented on #3854
No worries, I think I can recreate it pretty easily.

[2022-08-05 19:24] btylerburton commented on #3891
Once we convert the content, we can optimize some parts of the build with plugins, particularly the image pipeline...

https://github.com/esbuild/community-plugins

[2022-08-08 14:30] FuhuXia opened #3916 "O+M 2022-08-18"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-08-08 17:55] mogul commented on #3786
[Latest update](https://gsa-tts.slack.com/archives/C0ENP71UG/p1659979299161439):

[2022-08-08 18:01] jbrown-xentity opened #3917 "SOLR follower data corruption recovery automation"
## User Story

In order to recover from SOLR follower data corruption, data.gov admins want an automated process to get instance into a recovering/recovered state.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a SOLR follower i

[2022-08-09 19:39] jbrown-xentity opened #3918 "Restore catalog from backup"
## User Story

In order to have a clean data slate, data.gov admins want catalog DB and SOLR restored to pre-harvest state.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN the DB is restored from FCS dump \
  WHEN we cutover \

[2022-08-09 19:46] jbrown-xentity opened #3919 "Duplicate datasets on catalog"
Catalog created a bunch of duplicate datasets via harvest. Needs to be corrected.

## How to reproduce

1. Check for dupes: https://github.com/GSA/datagov-dedupe

## Expected behavior

No duplicates

## Actual behavior

Lots of duplicates

## Sketch

Update code so no more duplicates occur: https://github.com/GSA/ckanext-datajson/pull/120

Now we need to run de-dupe on all organizations.

Tested a

[2022-08-09 20:11] FuhuXia opened #3920 "Choose the right LockType for Solr leader/follower configuration"
When ECS Solr Task restarts, we noticed cases when new task not able to use the Solr Core on EFS storage due to file lock (when use default `native` LockType), or new follwer task not able to replicate from leader due to corrupted Core (when use `none` LockType).

We are giving the `simple` LockType a try and working out a retry mechanism in case the file lock.

Part of https://github.com/GSA/data

[2022-08-09 22:58] hkdctol commented on #3709
Moving to done since we've launched catalog and dataset pages link to contact form.

[2022-08-09 23:06] hkdctol commented on #3742
Thought this might be done with move of catalog -- but it looks like some of the datasets listed above do not have harvest source info visible?

[2022-08-10 13:10] jbrown-xentity commented on #3742
I think this has to do with somehow having bad harvest object ID's. It was assumed that SOLR didn't have the updated harvest object ID's and that was what was causing the breakdown. It seems like the issue persisted, even after a clean SOLR sync. The harvest object ID's don't resolve to a good value/data:

- https://catalog.data.gov/dataset/geoid-height-and-deflections-of-the-vertical-models-natio

[2022-08-10 14:25] jbrown-xentity opened #3922 "Remove extras_rollup"
## User Story

In order to have a simple and clean backend, data.gov admins wants all extras_rollup data removed.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a dataset exists in catalog \
  WHEN the data is queried in any for

[2022-08-11 15:48] jbrown-xentity commented on #3919
Even though we utilized #3918 , there are still duplicate datasets from the old dump. Plugging through those now, starting with DOI... https://gsa-tts.slack.com/archives/C2N85536E/p1660231323964859

[2022-08-11 15:49] FuhuXia commented on #3918
Completed. Steps recorded in [slack](https://gsa-tts.slack.com/archives/C2N85536E/p1660222453061519).

[2022-08-11 15:57] jbrown-xentity commented on #3709
https://github.com/GSA/ckanext-datagovtheme/pull/115

[2022-08-11 15:57] #3709 closed, assigned to jbrown-xentity

[2022-08-11 18:18] FuhuXia opened #3923 "Backup SOLR to S3"
## User Story

In order to create Solr snapshot, back it up to S3, and restore Solr to that point, data.gov teams wants to have a way to create backup and restore it.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [a contextual

[2022-08-11 19:18] FuhuXia commented on #3798
Error sending emails:
[code]

[2022-08-11 19:35] btylerburton opened #3924 "update bootstrap version for strategy.data.gov"

[2022-08-11 20:05] hkdctol commented on #3742
@jbrown-xentity to check if this is still an issue

[2022-08-11 20:05] btylerburton opened #3925 "Netsparker scan 07292022 - update version of bootstrap on strategy.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report: 2022-07-29
**Severity:** Minor
**Due date:** 2022-10-29

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [X] Analysis has been performed and an issue has

[2022-08-11 20:06] jbrown-xentity commented on #3742
So far all of the examples above are correct, and the download links work. Going to close this for now.

[2022-08-11 20:23] #3918 closed, assigned to FuhuXia

[2022-08-11 20:30] hkdctol commented on #3901
FCS issue

[2022-08-11 20:39] hkdctol commented on #3915
Let's revisit after work on new static site gets further along. We intend to replace header with the header that will be built in 11ty and Topics icons will no longer be relevant in that case.

[2022-08-12 14:24] nickumia-reisys commented on #3798
To reiterate: the instructions in [this comment](https://github.com/GSA/data.gov/issues/3813#issuecomment-1118893986) needs to be checked/done everytime there's a questionable email added to the DB or if the DB is restored with bad emails.

[2022-08-12 14:28] FuhuXia commented on #3798
This is a harvest extension bug. Did a [PR upstream](https://github.com/ckan/ckanext-harvest/pull/510) to fix it, checking email address exist before sending notifications, so we don't have to run any manual steps.

[Update]
Upstream PR merged.

[2022-08-12 15:21] FuhuXia opened #3926 "Document procedures to remove a sysadmin account"
Removing a user from `sysadmins_list` as described in [our wiki](https://github.com/gsa/data.gov/wiki/CKAN-commands#system-administrator-accounts) does not change the user sysadmin role until the next time user logs in. Until that happens, user will continue to be considered as sysadmin by CKAN and receive notifications targeted for all sysadmins such as reports from harvesting.

[2022-08-15 16:53] FuhuXia commented on #3796
When this issue is addressed, it will also resolve [an issue](https://github.com/GSA/data.gov/issues/2862#issuecomment-786194515) we observed that gather appears to fall asleep after idling for a long time and need to be manually woken up (restarted) for harvesting to resume.

[2022-08-17 18:21] FuhuXia opened #3927 "Failed to restart inventory app in cloud.gov"
Inventory in cloud.gov `prod` space can't be restarted. When we issue `cf rs` command, it times out. It is ok in `staging` and `development`  spaces.

## How to reproduce
Run this in `prod` space.
`$ cf rs inventory --strategy rolling`

## Expected behavior

Command succeed.

## Actual behavior

Command times out out.

## Word-around
restart is fine when we have only 1 instance of inventory app. S

[2022-08-17 20:10] FuhuXia opened #3928 "Catalog harvest page lost facet search items"
Page https://catalog.data.gov/harvest used to have facet search items on the left column. They disappeared and are empty now.

## How to reproduce

https://catalog.data.gov/harvest

## Expected behavior

![image](https://user-images.githubusercontent.com/1392461/185233216-7c7d1b56-f2c7-494c-800a-f1ea3a0016e1.png)

## Actual behavior

![image](https://user-images.githubusercontent.com/1392461/18523

[2022-08-17 20:16] FuhuXia opened #3929 "Catalog fails to harvest subfolders on WAF sources"
WAF harvester should be able traverse into subfolders. It is not happening on cloud.gov catalog app.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[code]

## Sketch

- [ ] Build out test case by creating subfolders in the catalog harvesting test case

[2022-08-18 14:43] FuhuXia commented on #3593
Put all the pieces together
1. We fixed a previous [UI issue](https://github.com/GSA/data.gov/issues/897), but did not addresses existing private datasets caused by the issue.
2. We tried to address the existing private dataset via DB query during the [cloud.gov migration](https://github.com/GSA/data.gov/issues/2788) but realized the query is too complicated to be practical.
3. Current `Dataset vi

[2022-08-18 16:08] FuhuXia commented on #3910
Production data has been removed from the development space.

[2022-08-18 19:15] #3892 closed, assigned to FuhuXia, jbrown-xentity

[2022-08-18 19:16] #3916 closed, assigned to FuhuXia, jbrown-xentity

[2022-08-18 19:20] #3909 closed, assigned to FuhuXia

[2022-08-18 20:12] hkdctol commented on #3927
Moving to blocked for now pending cloud.gov

[2022-08-18 20:32] hkdctol commented on #3917
Moving to icebox for now as this is less likely.

[2022-08-22 14:51] FuhuXia commented on #3906
catalog restarts fine now. Inventory restart issue and work-around captured in [another ticket](https://github.com/GSA/data.gov/issues/3927).
This one can be closed.

[2022-08-22 15:00] FuhuXia commented on #3927
In a recent change, we [increased disk space to 3G](https://github.com/GSA/inventory-app/pull/472) in order to [allow big resource upload](https://github.com/GSA/data.gov/issues/3173). Obviously 3G disk space is beyond a 2G limit that cloud.gov has as a limit, as a result, we wont be able restart or deploy the app if the app has multiple instances, as discussed in the [cg-support slack thread](htt

[2022-08-22 21:46] FuhuXia opened #3932 "Retire gsaoppprod AWS account"
## User Story

In order to remove unnecessary resources, data.gov team wants retire `gsaoppprod` AWS account.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN an existing `gsaoppprod` user logs into AWS console \
  THEN it shows t

[2022-08-23 15:10] nickumia-reisys commented on #3903
@FuhuXia Can you document what steps you took to set up this alarm?

[2022-08-23 15:36] nickumia-reisys commented on #3904
Current researched commands:
[code]

[code]

[code]

[code]

[2022-08-23 15:39] nickumia-reisys commented on #3904
@FuhuXia The right way to do it would be to set up an SNS topic that is read by AWS Lambda which runs the function to restart the task.

Example: https://docs.aws.amazon.com/lambda/latest/dg/with-sns-example.html

[2022-08-23 18:32] robert-bryson opened #3933 "Issues with map on Catalog"
## How to reproduce

1. Go to a dataset with a map on [catalog](catalog.data.gov). For example [this one](https://catalog.data.gov/dataset/noaa-borehole-10006111).
1. Look at the map

## Expected behavior

The map looks and behaves normally.

## Actual behavior

Whatever this is:

![index-1](https://user-images.githubusercontent.com/91547795/186237270-103f277e-b97b-4939-97c7-84de800ab0f2.gif)

Lon

[2022-08-23 18:42] FuhuXia commented on #3933
I think this is a new issue, should be related to some latest theme changes. Also notices some subtle changes on fonts and color here and there.

[2022-08-23 19:17] FuhuXia commented on #3904
@nickumia-reisys Put cloudwatch alarm, SNS, and lambda all into Terraform? Develop has no privilege to manually create lambda.

[2022-08-23 19:34] hkdctol opened #3934 "Add search function to sdg.data.gov and strategy.data.gov"
## User Story

In order to meet US Web Design System requirements, Data.gov wants to add search function to sdg.data.gov and strategy.data.gov

## Acceptance Criteria

- [ ] GIVEN a user goes to strategy.data.gov or sdg.data.gov
  THEN there is a search function on the page.

## Background

The URLs that Data.gov team is responsible for are among those scanned by GSA to meet USWDS requirements. We

[2022-08-23 20:13] FuhuXia commented on #3904
Criteria to send alarm, when the MemoryUtilization goes beyond 25000 for the duration of 1 minute, 4 of 4 datapoints.

Avoid restarting all followers at the same time.

[update]
With 4 of 4 datapoints, cloudwatch still sends another alarm during the the stop/start process. 10 of 10 datapoints is proven to be working. This will avoid sending stop-task command to a service that has an ongoing restar

[2022-08-23 21:01] FuhuXia commented on #3933
This page looks ok for both chrome and firefox.
https://catalog.data.gov/dataset/western-italian-alps-monthly-snowfall-and-snow-cover-duration

[2022-08-23 21:11] nickumia-reisys commented on #3933
### Proof for @FuhuXia's post
![map](https://user-images.githubusercontent.com/85196563/186266364-608b4a88-9dd4-458a-a21b-9c08e0811a87.gif)

[2022-08-24 14:35] jbrown-xentity commented on #3919
Kicked this off again yesterday after being out for a week; we are about 35-40% done (but errors occur often).

[2022-08-24 22:03] jbrown-xentity commented on #3742
Have report of datasets with the same issue, re-opening...

[2022-08-24 22:09] chris-macdermaid commented on #3742
Finding some records with a missing harvest source. These are all NOAA records. Haven't seen this with other agency records.

https://catalog.data.gov/dataset/u-s-coastal-lidar-elevation-data-including-the-great-lakes-and-territories-1996-present
https://catalog.data.gov/dataset/coastal-digital-elevation-models-dems
https://catalog.data.gov/dataset/multibeam-bathymetry-database-mbbdb
https://catal

[2022-08-25 15:30] FuhuXia opened #3935 "Search datasets on the main data.gov site gives no results"
We allow search catalog.data.gov site from data.gov landing page. But the function is broken as of now, giving no results for any search terms.

![image](https://user-images.githubusercontent.com/1392461/186706463-caecd1b8-5d0b-4177-be07-64a5397ef87b.png)

![image](https://user-images.githubusercontent.com/1392461/186706441-372961d6-9e0a-4b1e-bd1b-48975a650e08.png)

## How to reproduce

1. Go to h

[2022-08-25 15:38] btylerburton commented on #3935
I just saw this yesterday! Thanks for creating this issue, Fuhu.

[2022-08-25 15:51] jbrown-xentity commented on #3919
Leaving this here: the script got stuck on 42 datasets that existed in SOLR but not in the DB. CKAN can't update datasets that don't exist in the DB, and there's no way via CKAN API to manage these datasets other than find them via search. They had to be removed via the CKAN CLI, using the `search-index clear` functionality (that is dangerous since if the dataset isn't specified, it can clear the

[2022-08-25 17:09] jbrown-xentity commented on #3914
Duplicate of #3928  , closing

[2022-08-25 17:09] #3914 closed, assigned to Jin-Sun-tts

[2022-08-25 20:22] hkdctol commented on #3933
Will icebox until it's reproduced

[2022-08-25 21:41] hkdctol opened #3936 "Create AWS resource inventory list"
## User Story

In order to keep track of resources used and for compliance purposes, Data.gov team needs an AWS resource inventory list

## Acceptance Criteria

- [ ] GIVEN Data.gov use of AWS resources outside of cloud.gov (Solr) \
  THEN Data.gov has a current inventory of AWS resources used

## Background

SSB/Solr are outside of cloud.gov, and run on AWS accounts billed through Solutions. The

[2022-08-26 12:44] nickumia-reisys commented on #3714
Working on this ticket for only the ECS part.

[2022-08-26 13:45] jbrown-xentity commented on #3919
The script continued to run last night, and it crashed on a 404 error (Similar to the other 42 errors). Before it restarted, it had 1,500 left. After the restart, it had 11K. I confirmed that DOI had a harvest run yesterday afternoon, and duplicates were created.
We already have a test case for this, and the tests pass. That means something is weird with these datasets that are stored; somehow the

[2022-08-26 17:28] jbrown-xentity commented on #3516
@hkdctol this is the issue, it's already created.
We have another dataset use case of this: https://catalog.data.gov/dataset/large-scale-international-boundaries3
I believe there is something fishy with this logic, and we may be able to fix this to the desired outcome: https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/templates/templates_new/package/read.html#L353-L359

[2022-08-26 21:47] jbrown-xentity commented on #3919
Through log analysis, I can confirm that the gather process is creating a new harvest object for datasets that already exist on the website. Consider identifier `02b6c78d-945b-4517-b685-9060f0bf0e31`:
- https://catalog.data.gov/dataset/benthic-macroinvertebrates-from-eight-streams-containing-rio-grande-cutthroat-trout-in-nor-3f4a5
- https://catalog.data.gov/dataset/benthic-macroinvertebrates-from-

[2022-08-27 13:23] jbrown-xentity commented on #3919
Locally, I was able to harvest DOI (I think if I tried a bigger source locally my machine would choke). Somehow, on the first harvest, it duplicated all the datasets (minus a few). However, the harvest source only reports harvesting a single set of records: 28,667. This is because that's how many harvest objects were created by the gather process to be harvested. I ran this using multiple catalog-

[2022-08-29 15:37] FuhuXia commented on #3710
AWS sandbox resources are manually terminated. Need an admin user to delete the account.

[2022-08-29 22:26] jbrown-xentity commented on #3919
Was able to repurpose much of the datagov-dedupe code to add functionality to report duplicates across organizations, and run a github action to check this on-demand. See https://github.com/GSA/datagov-dedupe/actions/runs/2952078797

Current summary:
- 33 organizations have duplicates
- 141,085 duplicate records exist (from 369,687), or 38% of all records
- 113K duplicate records are from just DOI

[2022-08-30 14:43] jbrown-xentity commented on #3919
Development harvested cleanly, and re-harvested fine without duplicates.
Investigating specifically DOI and the logs, was able to find that the gather process ran twice, once at `2022-08-25T19:58:00` and another at `2022-08-26T07:57:03`, for the same job. Investigating logs seems to show catalog-gather restarting often, as much as every half hour. This is suspicious, as we are not regularly restar

[2022-08-30 15:09] FuhuXia commented on #3919
@jbrown-xentity we are restarting gather every 30 mins. https://github.com/GSA/catalog.data.gov/blob/main/.github/workflows/restart.yml#L76

[2022-09-01 20:05] #3906 closed, assigned to FuhuXia

[2022-09-01 20:06] #3871 closed, assigned to btylerburton

[2022-09-01 20:06] #3913 closed, assigned to btylerburton

[2022-09-01 20:06] #3805 closed, assigned to nickumia-reisys

[2022-09-01 20:06] #3796 closed, assigned to nickumia-reisys

[2022-09-01 20:07] #3813 closed, assigned to nickumia-reisys

[2022-09-01 20:38] jbrown-xentity commented on #3645
See example here: https://catalog.data.gov/dataset/directional-wave-and-sea-surface-temperature-measurements-collected-in-situ-by-datawell-d-26-4042

[2022-09-01 20:42] nickumia-reisys opened #3937 "Remove Python 2 Code"
## User Story

In order to reduce technical debt, Data.gov Developers want to remove all Python 2 legacy code.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN Code has been removed \
  WHEN A peer review happens \
  THEN catalog

[2022-09-01 20:42] btylerburton commented on #3935
Should be resolved in new static site repository code (https://github.com/GSA/datagov-11ty). Related to GSA/data.gov#3891

[2022-09-01 20:54] btylerburton opened #3938 "Reintegrate ckanext-spatial upstream into catalog.data.gov"
## User Story

In order to reduce our maintenance burden, Data.gov team wants investigate whether we can reintegrate catalog.data.gov with the upstream version of the ckanext-spatial extension.

Reference:
- [GSA/ckanext-spatial](https://github.com/gsa/ckanext-spatial)

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.

[2022-09-01 20:56] nickumia-reisys commented on #3936
[`cloud-nuke` Documentation](https://github.com/gruntwork-io/cloud-nuke#nuke-or-inspect-resources-in-certain-regions)

Example implementation: https://github.com/GSA/datagov-brokerpak-solr/pull/58/files#diff-a4f817543607893caf9e9b3bd9d9af5407ca5239fbf9fd2ccff0e52a94f89c47

[2022-09-01 20:59] btylerburton opened #3939 "Reintegrate ckanext-saml2auth upstream into catalog.data.gov"
## User Story

In order to reduce our maintenance burden, Data.gov team wants investigate whether we can reintegrate catalog.data.gov with the upstream version of the ckanext-saml2auth extension.

Reference:
- [GSA/ckanext-saml2auth](https://github.com/gsa/ckanext-saml2auth)

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https

[2022-09-01 21:17] btylerburton opened #3940 "Configure ckaneext-datagovtheme to use SCSS build pipeline"
## User Story

In order to properly consume new versions of CSS dependencies (ex. USWDS, Bootstrap), data.gov team wants to reconfigure the ckanext-datagovtheme to build assets in a modern pipeline using NPM and SCSS. This will greatly reduce our CSS footprint and allow us to consume new versions of USWDS with ease.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possi

[2022-09-01 21:27] btylerburton opened #3941 "Integrate Search box into strategy.data.gov"
## User Story

In order to meet requirements for all GSA websites specified in H.R.5759 - 21st Century Integrated Digital Experience Act, datagov team wants add a search box to strategy.data.gov.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).

[2022-09-02 15:17] nickumia-reisys commented on #3928
First pass at investigating issue:
- [ ] Checkout `catalog.data.gov@main` and see if the problem exists locally
- [ ] Checkout something around [August 15th](https://github.com/GSA/catalog.data.gov/commits/main) and see if the problem still exists
![image](https://user-images.githubusercontent.com/85196563/188180680-c6de918f-d038-4ff9-a17d-ed695f106ae7.png)
- [ ] If it doesn't, then check the PRs

[2022-09-02 19:46] nickumia-reisys commented on #3937
General Guidelines:
- Remove CKAN 2.8 References
- Remove Python 2 References
- Remove Pylons/Paster References
- Keep CKAN Version Specification on Run

[2022-09-06 17:07] jbrown-xentity commented on #3919
After clearing and reharvesting, about 200 datasets were still duplicated. Not on the level of complete duplication at this point. Re-harvest should occur on Wed, and we'll know more after that. Link to check number of duplicates: https://catalog.data.gov/api/3/action/package_search?fq=organization:doi-gov%20AND%20type:dataset&facet.field=[%22identifier%22]&facet.limit=-1&facet.mincount=2&rows=0

[2022-09-06 22:44] jbrown-xentity commented on #3919
An initial analysis of the duplicate list for DOI is interesting. We already have multiple types:
- SOLR duplicate that doesn't exist in SOLR
  - https://catalog.data.gov/api/action/package_search?q=identifier:%2217253338-966d-43d8-975e-444a0a4ce05c%22
  - https://catalog.data.gov/dataset/influences-of-water-chemistry-on-eight-populations-of-rio-grande-cutthroat-trout-in-northe-24977 (first datase

[2022-09-06 22:45] jbrown-xentity commented on #3919
We will re-evaluate the duplicate count and items after a re-harvest, to determine if these situations are replicable and/or if there are different duplicate types that arise after the initial data is already there.

[2022-09-07 16:28] robert-bryson commented on #3648
Yesterday, I spent a lot of time trying to track down issues with the requested change of [moving requirements into the `setup.py`](https://github.com/GSA/ckanext-geodatagov/pull/210/commits/64c449de752a6a5f57abf6600ee23cad911b64a3). Something [down the chain ](https://github.com/GSA/ckanext-geodatagov/blob/467cc0ce6a710bbce2a0d5118ff6740056c9096b/setup.py#L29)is still requiring boto, but I am not

[2022-09-07 18:26] chris-macdermaid commented on #3742
This DOI record is missing its harvest source.

https://catalog.data.gov/dataset/usfws-national-wetlands-inventory

[2022-09-07 19:31] nickumia-reisys commented on #3929
This is a bug from the PY3 Upgrade, relating to
- https://github.com/GSA/data.gov/issues/3401
- https://github.com/GSA/ckanext-geodatagov/pull/190
- https://github.com/GSA/datagov-ckan-multi/issues/570
- https://github.com/GSA/ckanext-spatial/pull/11

[2022-09-07 19:54] FuhuXia opened #3942 "Catalog does not create any resources from CSW source"
Catalog does not create any resources from CSW harvest source after migrated to CKAN 2.9 on cloud.gov.

## How to reproduce

Clear and reharvest https://catalog-dev-admin-datagov.app.cloud.gov/harvest/state-csw

## Expected behavior

2 datasets harvested with resources in each.

![image](https://user-images.githubusercontent.com/1392461/188964858-579f540c-1777-4e9a-b1c8-58faf7a2461e.png)

## Actua

[2022-09-07 20:04] nickumia-reisys commented on #3942
This is probably another residual PY3 conversion bug.

[2022-09-07 20:23] jbrown-xentity commented on #3919
The duplicate count is the same at 163. Attached are the list of duplicate ID's for DOI.

We will consider this research complete. I will make 2 tickets, 1 for each duplicate type that we have found to investigate further how it may be occurring.

[doi-duplicates.txt](https://github.com/GSA/data.gov/files/9509392/doi-duplicates.txt)

[2022-09-07 20:34] jbrown-xentity opened #3943 "SOLR phantom duplicate discovery"
SOLR duplicate that doesn't exist in DB, but does in SOLR

- https://catalog.data.gov/api/action/package_search?q=identifier:%2217253338-966d-43d8-975e-444a0a4ce05c%22
- https://catalog.data.gov/dataset/influences-of-water-chemistry-on-eight-populations-of-rio-grande-cutthroat-trout-in-northe-24977 (first dataset, exists normally)
- https://catalog.data.gov/dataset/influences-of-water-chemistry-on

[2022-09-07 20:39] jbrown-xentity opened #3944 "CKAN duplicate dataset (same harvest object)"
Perfect duplicate (other than name):
- https://catalog.data.gov/api/action/package_search?q=identifier:%2242c22469-3c8b-415a-86d2-e38bbd192e5d%22
- https://catalog.data.gov/dataset/observed-precipitation-temperature-and-snow-water-equivalent-for-the-rio-grande-headw-1905-267a5
- https://catalog.data.gov/dataset/observed-precipitation-temperature-and-snow-water-equivalent-for-the-rio-grande-headw-1

[2022-09-07 20:46] hkdctol opened #3945 "[Offboard] Bret.Mogilefsky@gsa.gov"
All tasks should be checked and completed. For tasks that are not applicable, perhaps because the team member did not have this particular access, please **confirm** that the team member in fact has no access before marking the task complete.

Tasks to be performed by the outgoing team member:

- [x] Move all Data.gov related documents to team drives
- [x] Document any work in progress and schedul

[2022-09-08 14:26] nickumia-reisys commented on #3714
Overall, the work done on the ECS part helps expedite the cleanup of all resources in the development account, however, it's a scripted assist (as opposed to an automated helper).  The feature gained is:
- Check for all components of a certain type and print out relevant identifying information (e.g. tags)
- Ask for human input (yes to delete, no to keep)
- If human wants to delete it, then the sc

[2022-09-08 20:12] #3594 closed, assigned to nobody

[2022-09-08 20:16] btylerburton commented on #3891
https://federalist-2ac784db-2321-4734-8d02-933835d88304.app.cloud.gov/site/gsa/datagov-11ty/

@hkdctol here's the latest federalist build.

[2022-09-08 20:27] jbrown-xentity commented on #3942
Related to #3938 , the CSW harvesting is in ckanext-spatial and we don't want to maintain a fork long term.

[2022-09-08 21:18] Jin-Sun-tts commented on #3928
Found the root cause of the issue, the fixes in the following PR cause the facet search item lost:

https://github.com/GSA/ckanext-datagovtheme/pull/123
related issue: https://github.com/gsa/data.gov/issues/3520

[2022-09-09 16:36] robert-bryson commented on #3648
Thanks to everyone jumping on the huddle yesterday. Especailly thanks to @nickumia-reisys for getting this unstuck with your [PR](https://github.com/GSA/ckanext-geodatagov/pull/213). I should be able to do the last couple things on this ticket and move along.

[2022-09-09 17:18] jbrown-xentity commented on #3910
The system used to be configured to only allow certain IP access, but we opened it up. This would be locking it down, but only for staging. See PR here for where we removed it: https://github.com/GSA/catalog.data.gov/pull/511/files

[2022-09-09 17:21] jbrown-xentity commented on #3910
After sync discussion, we've decided we should pursue basic auth: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2022-09-12 13:21] nickumia-reisys commented on #3826
List of references (in case we ever need them..):
- https://docs.aws.amazon.com/AmazonECS/latest/userguide/fargate-task-defs.html#fargate-tasks-size
- https://docs.aws.amazon.com/AmazonECS/latest/developerguide/bind-mounts.html
- https://docs.aws.amazon.com/AmazonECS/latest/developerguide/tutorial-efs-volumes.html#efs-add-content
- https://aws.amazon.com/premiumsupport/knowledge-center/ecs-fargate

[2022-09-12 13:22] nickumia-reisys commented on #3826
Two more that have to do with EFS encryption things:
- https://github.com/hashicorp/terraform-provider-aws/issues/23541
- https://github.com/hashicorp/terraform-provider-aws/issues/13286

[2022-09-12 13:26] nickumia-reisys commented on #3813
This probably isn't related to this isssue, but I have these commands and I wanted to put them somewhere, so...
[code]

[2022-09-12 13:34] nickumia-reisys commented on #3873
Documentation on how to manually disable egress proxies (...if it ever becomes necessary again):
[code]

[2022-09-12 16:52] FuhuXia opened #3946 "Opt-in to using the new vCPU-based quotas for Amazon ECS task"
AWS announcement: [AWS Fargate announces migration of service quotas to vCPU-based quotas](https://mail.google.com/mail/#search/AWS+Fargate+announces). The transition to vCPU quotas will not have any impact on running tasks and pods.

We might want to opt-in our ECS tasks earlier  to use vCPU quotas to test it out.

Timelines:

- Phase 1: starting **September 8, 2022**, you can opt-in to use vCPU

[2022-09-12 17:08] nickumia-reisys commented on #3946
This should be a no-op.

Reference: https://aws.amazon.com/blogs/containers/migrating-fargate-service-quotas-to-vcpu-based-quotas/

[2022-09-13 17:02] Jin-Sun-tts commented on #3936
https://docs.google.com/spreadsheets/d/1pGZbT8MjDfo3_W70MFmJyDXaym1tQGmFYDNXEA6Lp8o/edit#gid=929673682

[2022-09-13 19:36] hkdctol commented on #3945
I've done the parts I can do and crossed out ones where Bret will keep access. For the rest of these, can @FuhuXia and @btylerburton take a look? Want to make sure there aren't any items where @mogul is the only gov with access (though I don't think there are any).

[2022-09-13 20:42] FuhuXia commented on #3945
Did more ✔️. The rest needs @Jin-Sun-tts and @btylerburton to get them done.
@hkdctol Can you add Jin and Tyler as the Maintainers to [data-gov-admins](https://github.com/orgs/GSA/teams/data-gov-admin/members).

[2022-09-13 21:07] hkdctol commented on #3945
Yes @Jin-Sun-tts and @btylerburton are now maintainers

[2022-09-14 13:50] FuhuXia commented on #3946
I doubt it will affect our application in any way. But to play by the book, we can
1. Exam our current quota usage
2. Call  [PutAccountSettingDefaultAPI](https://docs.aws.amazon.com/cli/latest/reference/ecs/put-account-setting-default.html)  to proactively change the quota to vCPU before phase II on staging then prod to make sure no service disruption.

[2022-09-14 14:18] FuhuXia opened #3949 "Renew catalog.data.gov site certificate expiring 2023-01-26"
_Please keep any sensitive details in Google Drive.

**Date of report:**
**Severity:**
**Due date:** 2023-01-26

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding

[2022-09-14 14:28] Jin-Sun-tts commented on #3928
Fixed the issue with sync the facet_list.html file with the version in ckan2.9.5
Pushed into PyPi with new version 0.1.7
The catalog.data.gov requirement.txt file has the latest version with this fix now.

This issue is fixed in production:
![Screen Shot 2022-09-14 at 10 23 07 AM](https://user-images.githubusercontent.com/104456257/190182262-3fb147b0-491a-4a94-b6fe-f9e466e629c9.png)

[2022-09-14 14:32] Jin-Sun-tts commented on #3936
Added aws-eks-service service for the inventory list. Here is the  output spreadsheet:
https://docs.google.com/spreadsheets/d/1pGZbT8MjDfo3_W70MFmJyDXaym1tQGmFYDNXEA6Lp8o/edit#gid=929673682

The script to generate the inventory list is here:
https://github.com/GSA/data.gov/blob/add_script_for_get_inventory_list/bin/get_inventory_list.sh

[2022-09-14 15:23] nickumia-reisys opened #3950 "Use Broker-specific Credentials for Solrcloud Broker"
## User Story

In order to implement least-privilege on solrcloud broker, the Data.gov SSB team wants to create new keys for the solrcloud broker with the appropriate permissions.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN [

[2022-09-14 16:33] robert-bryson commented on #3648
This had been blocked by issues with building catalog that were resolved with [this PR](https://github.com/GSA/catalog.data.gov/pull/540). My sitemap code is now available with the `ckan geodatagov sitemap-to-s3` cli command. Running it, however:

![Image](https://user-images.githubusercontent.com/91547795/190211597-a4bac20d-4f46-4e21-a4b0-66fb242ce46d.png)

Am trying to figure out how to debug in

[2022-09-15 14:28] nickumia-reisys commented on #3937
Total lines reclaimed: `36152 lines`

[2022-09-15 17:36] nickumia-reisys commented on #3937
New Releases:
- datagovtheme @ 0.1.8
- datagovcatalog @ 0.0.4
- googleanalyticsbasic @ 0.2.0
- dcat_usmetadata @ 0.4.0
- usmetadata @ 0.2.3
- geodatagov @ 0.1.5
- datajson @ 0.1.3

[2022-09-15 18:05] jbrown-xentity commented on #3779
This doesn't solve the problem, but a number of people have worked on and/or maintained code that can alternatively search solr and elasticsearch. https://github.com/o19s/hello-ltr being one.

[2022-09-15 20:08] hkdctol commented on #3881
Closing this. This is FCS

[2022-09-15 20:08] #3881 closed, assigned to FuhuXia

[2022-09-15 20:08] hkdctol commented on #3659
Closing as we are out of FCS

[2022-09-15 20:08] #3659 closed, assigned to FuhuXia

[2022-09-15 22:51] #3920 closed, assigned to FuhuXia, nickumia-reisys

[2022-09-15 22:54] nickumia-reisys commented on #3758
This is no longer relevant.  The SSB EKS Broker is provisioning an EKS cluster and managing it on its own.  The Data.gov team is no longer using it, so cannot speak to whether it is full functional.  However, since we are using Solr on ECS AND I have deleted the statically provisioned EKS that the Data.gov team was managing, this issue is resolved.

[2022-09-15 22:54] #3758 closed, assigned to nickumia-reisys

[2022-09-15 23:03] nickumia-reisys opened #3956 "Dissect Solr Performance through New Relic"
## User Story

In order to gain insight into why Solr has stability issues, the Data.gov Solr team wants to integrate NR into our Solr deployment and investigate performance metrics to isolate problem areas.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_spec

[2022-09-15 23:10] #3919 closed, assigned to jbrown-xentity

[2022-09-15 23:10] #3904 closed, assigned to nickumia-reisys

[2022-09-15 23:10] #3937 closed, assigned to nickumia-reisys

[2022-09-15 23:11] #3664 closed, assigned to FuhuXia

[2022-09-15 23:11] #3928 closed, assigned to Jin-Sun-tts

[2022-09-15 23:11] #3936 closed, assigned to Jin-Sun-tts

[2022-09-15 23:11] #3929 closed, assigned to btylerburton

[2022-09-15 23:17] nickumia-reisys opened #3957 "Re-integrate (QA | ARCHIVER | REPORT) extensions to catalog.data.gov"
## User Story

In order to restore dilapidated features on catalog.data.gov, the Data.gov Catalog team wants to re-integrate [`ckanext-qa`](https://github.com/GSA/datagov-ckan-multi/issues/574), [`ckanext-archiver`](https://github.com/GSA/datagov-ckan-multi/issues/578) and [`ckanext-report`](https://github.com/GSA/datagov-ckan-multi/issues/580).

## Acceptance Criteria

[ACs should be clearly demo

[2022-09-16 13:02] FuhuXia commented on #3710
From FCS:
"most of the resources had been deleted already. To make sure no misc charges from AWS, we need to terminate these 3 accounts."

They are deleting the 3 AWS accounts
bsp-ocsit-dev
bsp-ocsit-prod
bsp-ocsit-test

[2022-09-16 19:48] FuhuXia opened #3959 "Harvest error: Transformation to ISO failed"
Received harvest job reports for https://catalog.data.gov/harvest/environmental-dataset-gateway-fgdc-csdgm, it contains 1383 errors with message "Transformation to ISO failed".

This harvest source was harvested fine in FCS with CKAN 2.8 before 08/01/2022, the day we took final FCS DB snapshot.

![image](https://user-images.githubusercontent.com/1392461/190724844-40c5bfbe-c87a-4823-9fbe-a709902c69

[2022-09-19 16:16] Jin-Sun-tts opened #3961 "dashboard gives 500 error"
The dashboard site is unavailable when there are a lot of traffic, this traffic appears come from a crawling script

![image](https://user-images.githubusercontent.com/104456257/191063356-863a5661-9c45-42e4-9c05-f0747addc1ea.png)

## How to reproduce

slack datagov-alerts channel

## Expected behavior

This site should have very light traffic, so the site should be stay up.

## Actual behavior

to

[2022-09-19 20:19] FuhuXia commented on #3961
scaling up to 4 instances does not seems to help. trying PHP config changes...

[2022-09-20 14:15] FuhuXia opened #3962 "restart fetch process only when it is idling"
Currently fetch process restart [every 30 mins](https://github.com/GSA/catalog.data.gov/blob/3b6749519aa7956d19a4f6947125d64de7a04200/.github/workflows/restart.yml#L84). We are not sure the consequences of the force restart,  it might cause issue during harvesting such as [this solr duplicate issue](https://github.com/GSA/data.gov/issues/3943).  We can do the restart process [the same way as gathe

[2022-09-20 14:44] FuhuXia opened #3963 "turn off harvest email notification on catalog staging"
... so we can turn on scheduled harvest jobs on staging without sending emails to end users.

## Sketch
Set an environment variable on staging environment according to [ckanext-harvest doc](https://github.com/ckan/ckanext-harvest#send-error-mails-when-harvesting-fails-optional). But before doing that, run a one-time query to replaces all emails (in user table and org extra table) to dummy emails s

[2022-09-20 14:57] nickumia-reisys opened #3964 "Fix /report/openness"
## User Story

In order to generate openness reports, the Data.gov Analytics team wants to fix the broken feature of generating the openness report.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN the fix has been implemented \

[2022-09-20 15:00] nickumia-reisys opened #3965 "No openness scores on datasets from ckanext-qa"
## How to reproduce

1. Load catalog.data.gov
2. Ensure datasets have been archived, report-ed and qa-ed.
3. Visit a dataset page.

## Expected behavior

![image](https://user-images.githubusercontent.com/85196563/191292877-1fbd9a97-774a-4c9e-93fc-b3ccc103bdc8.png)

## Actual behavior

The highlighted box is not there.

## Sketch

[Notes or a checklist reflecting our understanding of the selected

[2022-09-20 15:02] nickumia-reisys opened #3966 "No openness scores on resources from ckanext-qa"
## How to reproduce

1. Load catalog.data.gov
2. Visit a dataset and load a resource

## Expected behavior

![image](https://user-images.githubusercontent.com/85196563/191293589-55f89b65-c905-4923-9734-928be0678b9c.png)

## Actual behavior

The highlighted box is not there.

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-09-20 15:02] nickumia-reisys commented on #3957
## List of things that work and don't work

### `ckan report generate openness` -- OK

![image](https://user-images.githubusercontent.com/85196563/191290547-bd13a3fd-01e8-4cc9-af3f-8812e15376d2.png)

### `ckan qa update` -- OK

![image](https://user-images.githubusercontent.com/85196563/191290689-fa2f9e68-f2c2-484d-8a6d-eb102bf9fc7e.png)
![image](https://user-images.githubusercontent.com/85196563/

[2022-09-20 15:48] FuhuXia commented on #3943
- We can finish https://github.com/GSA/data.gov/issues/2213 first to clean up the solr to be free of duplicate, then wait for it to happen again and exam the log.

- One possible cause for the issue is that we force restart fetch process every 30 mins. Let us change the way of restarting it. it might help to resolve this one. [A new ticket is created](https://github.com/GSA/data.gov/issues/3962).

[2022-09-20 16:38] robert-bryson commented on #3648
The fix for above is simply running the cli commands as a `cf run-task` instead of sshing into an app. Running the task raises a small bug with the `filename_number` not getting incremented, but also an exception: `raise ValueError(f'Required parameter {identifier} not set')`  from the s3 uploading code.

[2022-09-21 13:46] nickumia-reisys commented on #3957
`cf run-task catalog-web -c "ckan report generate openness" -k 2G -m 2G`
- Took `6 mins` to complete `28834 datasets` on development
- ETA for prod: `270 mins`

[2022-09-21 13:58] nickumia-reisys commented on #3957
`cf run-task catalog-web -c "ckan qa update" -k 2G -m 2G`
- Took `3 mins` to complete `28834 dataset` on development
- ETA for prod: `135 mins`

[2022-09-21 14:04] nickumia-reisys commented on #3957
Note: We are on a fork of [`ckanext-qa`](https://github.com/gsa/ckanext-qa)
- https://github.com/GSA/ckanext-qa/pull/10

[2022-09-21 14:15] jbrown-xentity commented on #3957
Do we want to attempt to merge these changes back upstream? That might be a separate ticket... Or were there more changes than just the PR above?

[2022-09-21 14:42] nickumia-reisys commented on #3957
So... archiver tries to use [Redis to process the archival queue, but falls back to celery if there is an ImportError](https://github.com/ckan/ckanext-archiver/blob/master/ckanext/archiver/lib.py#L14-L22) 😕

It looks like it's falling back to celery, but I'm not sure why...
![image](https://user-images.githubusercontent.com/85196563/191528621-f980fd4b-2c78-431e-8132-d8c4e394af20.png)

Since celery

[2022-09-21 15:58] btylerburton commented on #3635
Error config for inventory has been updated to ignore 404s.

[2022-09-21 20:26] FuhuXia opened #3967 "Remove harvest report email list from public view"
There is no need to expose organization harvest report email list to general public.

## How to reproduce

https://catalog.data.gov/organization/about/doj-gov

## Expected behavior

email does not show

## Actual behavior

email addressed shown

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-09-21 20:47] btylerburton commented on #3945
Bret retained role as developer/user on development, development-ssb, staging, management-staging and prod, to help continue his role in SSB development.

[2022-09-22 19:30] jbrown-xentity opened #3968 "CKAN duplicate dataset (different harvest object)"
Dataset duplicate, but created around the same time with different harvest object id's:
- https://catalog.data.gov/api/action/package_search?q=identifier:%22https://opendata.fcc.gov/api/views/wxit-5xtm%22
- https://catalog.data.gov/dataset/area-table-june-2020-status-v2-72090
- https://catalog.data.gov/dataset/area-table-june-2020-status-v2

These even have the same harvest object id, but are harv

[2022-09-22 19:36] btylerburton opened #3969 "Login to Catalog instances returns Internal Server Error"
As a datagov administrator, I want to be able to login as admin. When I attempt to do this in DEV and STAGING environments, I encounter an "Internal Server Error"

## How to reproduce

1. Goto Login URL from CDN: ${CDN url}/user/saml2login
2. Encounter Internal Server Error

## Expected behavior

I expected to be greeted with the login.gov login screen

## Actual behavior

I encountered an Interna

[2022-09-22 19:58] jbrown-xentity commented on #3944
After examining logs using `catalog-fetch observed-precipitation-temperature-and-snow-water-equivalent-for-the-rio-grande-headw-1905` for time period from Sep 1 6am - Sep 2 6am, we found that 3 objects were created. The first and final objects print 5 times each, with a notes corresponding with:
- Starting package_create
- Indexing
- Package_create complete
- Starting re-index
- Re-index complete

[2022-09-22 22:00] nickumia-reisys commented on #3965
Solving https://github.com/GSA/data.gov/issues/3966 may solve this issue.

Relevant comment: https://github.com/GSA/data.gov/issues/3957#issuecomment-1253813491

[2022-09-22 22:01] nickumia-reisys commented on #3966
Solving https://github.com/GSA/data.gov/issues/3965 may solve this issue.

Relevant comment: https://github.com/GSA/data.gov/issues/3957#issuecomment-1253813491

[2022-09-26 13:25] nickumia-reisys opened #3971 "Fix SPF Verification"
datagov-brokerpak-smtp @ main
datagov-ssb @ main
catalog.data.gov @ main

## How to reproduce

1. Look at the DMARC report from google.com (sent to datagovhelp@gsa.gov)

## Expected behavior

Everything passing

## Actual behavior

SPF Failing

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]
- [ ] Fix the organizational domain in the SPF record?

References:

[2022-09-26 20:58] btylerburton commented on #3635
Zero alerts since removing 404's from the error list 5 days ago. We also have Apdex score and response time metrics still in place so we should still be aware if we have a genuine error preventing users from accessing the site. Closing this ticket as this fix addressed the issue of keeping the app generally available.

[2022-09-26 21:01] btylerburton commented on #3944
Determined that a restart of the container occurred directly after `2022-09-01T16:26:06.157Z`. With the recent fix to only restart fetch process when idle, we expect this issue to resolve itself.

https://github.com/GSA/catalog.data.gov/pull/548

[2022-09-27 13:24] nickumia-reisys opened #3973 "Deploy Failing - catalog-web"
catalog.data.gov @ main

## How to reproduce

1. Look at/Re-run the most recent catalog deployment

## Expected behavior

Everything passes.

## Actual behavior

Catalog-web deploys to staging, but fails production.  Container becoming healthy too late.

![image](https://user-images.githubusercontent.com/85196563/192538449-b3a54140-9360-4e99-b179-49b45ad4fd49.png)

## Sketch

No idea...

[2022-09-27 15:15] nickumia-reisys commented on #3973
This frustrates me...

[2022-09-27 15:15] #3973 closed, assigned to nickumia-reisys

[2022-09-27 15:42] FuhuXia opened #3974 "Chrome and MS Edge fail to download HTTP resource"
If a dataset on catalog contains a HTTP resource, `Chrome` and `Edge` users are not able to click and download the resource.

Chrome user clicks and nothing happens. On the Developer Tools it shows HTTP->HTTPS redirect then nothing.
![image](https://user-images.githubusercontent.com/1392461/192570784-dd5ed92b-147b-4f1d-b735-17baebc457cc.png)

Edge user clicks the link then sees a popup with error

[2022-09-28 17:11] FuhuXia commented on #3943
Moving back to backlog. Hopefully this is no issue any more after above two ticket have been addressed.

[2022-09-28 17:16] robert-bryson commented on #3648
I have been blocked on platform issues. Our own upstream containers aren't building correctly (and taking 2k+ seconds) on my system architecture:

![Image](https://user-images.githubusercontent.com/91547795/192844744-44b7ea15-ad41-438d-829f-eb0b3dfe1a07.png)

I can change some build parameters, but I think I would need to rebuild the images upstream to support multi-platform. There is a related is

[2022-09-28 17:25] FuhuXia commented on #3710
JIRA ticket still pending, FCS hasn't provided a final confirmation. Requested an status update today via gchat.

[2022-09-28 19:15] #3969 closed, assigned to nickumia-reisys

[2022-09-29 14:25] FuhuXia opened #3978 "Remove extra comma in the inventory date field"
All date fields in the Inventory dataset form has a extra leading comma.

![image](https://user-images.githubusercontent.com/1392461/193057572-2306e9f9-c3db-4316-a7d1-c85fccaadc45.png)

## How to reproduce

Create or edit a dataset in Inventory, go to any date field

## Expected behavior

field display as `MM/DD/YYYY`

## Actual behavior

`, MM/DD/YYYY`

## Sketch

[Notes or a checklist reflecting

[2022-09-29 14:28] nickumia-reisys commented on #3978
This seems like it would come from the `dcat-usmetadata` extension... but when I converted this extension from PY2 to PY3, this wasn't an issue.  So I'm confused when this would have happened.

[2022-09-29 14:32] FuhuXia opened #3979 "Inventory dataset cant get out of Draft mode"
Once a dataset gets into draft mode (state is `draft`), there is no way to make it active on the UI. When a dataset is in the draft mode, it does not show up in the dataset listing page, can't be export into the json file.

## How to reproduce

Not sure how the dataset gets into the draft mode in the first place. We only have one user request so far. But to reproduce it, you can use CKAN api to ma

[2022-09-29 16:08] btylerburton commented on #3968
The script included in the above PR can be run periodically to check and compare output.

We can discuss as a team how we can improve the script and monitoring.

[2022-09-29 16:45] FuhuXia commented on #3961
We are adding a CDN on top of dashboard with rate-limit enabled. Our existing data.gov certs does not include dashboard.data.gov as a SAN (subject alternative name). Created [a JIRA ticket](https://cm-jira.usa.gov/servicedesk/customer/portal/12/FCSTS-3516) for a new certificate. The old one [is expiring](https://github.com/GSA/data.gov/issues/3949).
[code]

[2022-09-29 18:04] btylerburton commented on #3910
Username/password recorded here: https://docs.google.com/document/d/1bfr7W1NPhkbT99g03tktPLAP6nAeyZXBYhEsvP0W4x4/edit?usp=sharing

[2022-09-29 19:22] jbrown-xentity opened #3980 "Catalog doesn't work with latest pysaml2"
See https://github.com/GSA/data.gov/issues/3969 for current mitigation, pinning pysaml2 to 7.0.1
We tested this with inventory, and it worked fine: https://github.com/GSA/inventory-app/actions/runs/3153444373
![image](https://user-images.githubusercontent.com/26980513/193122105-5fc22952-6b33-487f-b246-1e5577a2113d.png)

Something is causing specifically catalog to not like this version.
It's possi

[2022-09-29 19:26] #3550 closed, assigned to jbrown-xentity

[2022-09-29 19:27] #3957 closed, assigned to nickumia-reisys

[2022-09-29 19:27] #3910 closed, assigned to btylerburton

[2022-09-29 19:52] robert-bryson commented on #3648
My blockers yesterday turned out to be related to an issue with the `ckan` [`2.9.6`](https://docs.ckan.org/en/2.9/changelog.html#v-2-9-6-2022-09-28) release yesterday. [Pinning the ckan version to `2.9.5`](https://github.com/GSA/ckanext-geodatagov/pull/219/commits/bf3975e01028270eacd10e073d241e480f3ac328) allowed passing (though will [need to be updated](https://github.com/GSA/ckanext-geodatagov/p

[2022-09-29 20:08] hkdctol commented on #3946
Closing as not needed.

[2022-09-29 20:08] #3946 closed, assigned to FuhuXia, nickumia-reisys

[2022-09-29 20:22] jbrown-xentity commented on #3974
Related to https://github.com/GSA/data.gov/issues/3476

[2022-09-29 20:36] jbrown-xentity opened #3981 "[Discovery] http resource links"
## User Story

In order to know the scope of the http resource download problem, data.gov admins want a count/list of resources and datasets and organizations that have resource links that use http (instead of https).

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behav

[2022-09-29 21:10] jbrown-xentity opened #3982 "[Discovery] Build Report to replace Dashboard"
## User Story

In order to retire dashboard, data.gov admin wants a similar data report on the metadata in catalog.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN research is complete \
  THEN a path is documented on how to buil

[2022-09-29 21:13] hkdctol opened #3983 "O+M 2022-10-13"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-09-29 21:13] jbrown-xentity commented on #3476
Related to https://github.com/GSA/data.gov/issues/3974 and https://github.com/GSA/data.gov/issues/2985

[2022-09-29 21:24] jbrown-xentity opened #3984 "Upgrade CKAN 2.9.7"
## User Story

In order to keep catalog and inventory on latest versions of software, data.gov admins want CKAN upgraded in catalog and inventory to 2.9.7.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] GIVEN catalog has been fully te

[2022-09-29 21:26] jbrown-xentity commented on #3984
Please note I already saw https://github.com/keitaroinc/ckanext-saml2auth/pull/74, which is a proposed change to work with 2.9.6. So it's already known (since release less than 48 hours ago) that there are breaking changes. It's ok to give this a week or 2, to make sure there aren't any other breaking changes.

[2022-09-30 13:38] nickumia-reisys commented on #3968
Except for the identifiers that had errors from the script.  This is a first pass of the results:
[output.txt](https://github.com/GSA/data.gov/files/9684600/output.txt)

@btylerburton @FuhuXia @Jin-Sun-tts @jbrown-xentity @robert-bryson

[2022-09-30 13:42] nickumia-reisys commented on #3964
### On a clean instance with no data, the page loads....

![image](https://user-images.githubusercontent.com/85196563/193282739-2ef6d724-6ba4-48ed-8909-e66581ba8832.png)

[2022-09-30 13:45] nickumia-reisys commented on #3964
The error appears after data is added and the page is reloaded.

[2022-09-30 13:50] FuhuXia commented on #3968
Great. We will do another output one week from today. We will compare the outputs and evaluate whether the duplicate-with-different-harvest-object still occurring in the current setup.

[2022-09-30 13:54] jbrown-xentity commented on #3982
A first pass at building a csv was done [here](https://docs.google.com/document/d/1_q9qHwzSrd2_TzbTJkWqlvcibD6tWyoK3wYNHfy2Fx0/edit#heading=h.8oilp0lq56qd). See previous ticket notes [here](https://github.com/GSA/data.gov/issues/1757).

[2022-09-30 14:22] FuhuXia opened #3985 "manual and automate running db_solr_sync task"
## User Story

In order to clean up discrepancies between catalog DB and Solr, data.gov team wants to be able to run [`db_solr_sync`](https://github.com/GSA/data.gov/issues/2213) manually and on scheduled GitHub actions.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Be

[2022-09-30 14:58] nickumia-reisys commented on #3957
This is the solution to getting the queue to finish!!
- https://github.com/ckan/ckanext-qa/issues/67#issuecomment-533595304

We need to specify the queue that has the work to do when calling `ckan jobs worker`
[code]

[2022-09-30 15:02] nickumia-reisys commented on #3966
After running the `ckan jobs worker bulk`, this issue was fixed!
- https://github.com/GSA/data.gov/issues/3957#issuecomment-1263685075

![image](https://user-images.githubusercontent.com/85196563/193299157-aafaed0c-6bd1-4da3-b45a-7e50050fcd62.png)

[2022-09-30 15:09] nickumia-reisys commented on #3957
Welp... looks like they don't care about PY2 support after all, Yay!
- https://github.com/ckan/ckanext-qa/pull/75
- https://github.com/ckan/ckanext-qa/pull/75/files#diff-4c03098a67d3e12c420b0d7dcaead5c049f389c7c918a4c59909858f4268a736R75

The above PR fixes two issues.  The `.items()` issue and the template not found issue 😅

[2022-09-30 15:11] nickumia-reisys commented on #3964
It seems like the following upstream PR will fix this.
- https://github.com/ckan/ckanext-qa/pull/75

🧪 Testing now...

[2022-09-30 15:15] nickumia-reisys commented on #3957
Also going to note, at least we know of at least one CKAN instance that is actively use the QA extension, Finnish Digital Agency
- https://github.com/vrk-kpa

[2022-09-30 15:19] FuhuXia commented on #3983
Updated with latest template.

[2022-09-30 15:54] nickumia-reisys opened #3986 "Create plan for Archiver/QA on Production"
## User Story

In order to make the QA features available to end-users in production, the Data.gov QA Team wants to figure out a way to run the qa jobs to completion with the production data.

## Acceptance Criteria

- [ ] WHEN A dataset is visited on catalog.data.gov \
  THEN relevant openness scores are presented to the user

- [ ] WHEN I look at the github action jobs for catalog.data.gov \
  T

[2022-09-30 16:06] nickumia-reisys commented on #3966
https://github.com/GSA/data.gov/issues/3986 tracks pushing this to production which is a separate issue.  However, the openness score feature does work.

[2022-09-30 16:06] #3966 closed, assigned to nickumia-reisys

[2022-09-30 16:08] nickumia-reisys opened #3987 "QA Score aren't computed/shown properly"
## How to reproduce

1. Go to the any dataset on https://catalog-dev-admin-datagov.app.cloud.gov/dataset/ (e.g. [14bim03-sbb-tracklines-shapefile-of-the-single-beam-bathymetry-tracklines-surveyed-in-2014](https://catalog-dev-admin-datagov.app.cloud.gov/dataset/14bim03-sbb-tracklines-shapefile-of-the-single-beam-bathymetry-tracklines-surveyed-in-2014))

## Expected behavior

Openness score shows 3

[2022-09-30 16:09] nickumia-reisys commented on #3987
It is probably old templates in the datagovtheme extension that is causing issues..  Will investigate soon.

[2022-09-30 17:08] robert-bryson commented on #3985
This action will probably look quite similar to the [`sitemap-to-s3` one](https://github.com/GSA/catalog.data.gov/blob/main/.github/workflows/s3-to-sitemap.yml).

[2022-09-30 17:18] jbrown-xentity commented on #3925
Here's how we have upgraded bootstrap in the past: https://github.com/GSA/data-strategy/pull/272/files
I don't know what the expected/required version is now, but that should be in the report.

[2022-09-30 18:04] nickumia-reisys commented on #3987
Maybe it's not a datagovtheme issue.  It seems like some of the resources don't have license information and that's why the score drops to 0... maybe?

![image](https://user-images.githubusercontent.com/85196563/193330132-00c97a61-3b63-486f-88cb-30444491ce4a.png)

[2022-09-30 18:08] jbrown-xentity opened #3988 "Remove custom catalog CDN"
## Purpose

We want to remove the custom AWS CloudFront with oppprod, but we're not sure how to do that.

Given above risk of removing CloudFront, conducting testing into enabling [nginx caching](https://www.nginx.com/blog/nginx-caching-guide/) and allowing [cloud.gov to manage certificates](https://cloud.gov/docs/services/external-domain-service/) and configuring [ckan environment properly](https

[2022-09-30 18:40] nickumia-reisys commented on #3987
The score is being computed properly.  If a resource/dataset does have a license, then it does give the correct score.

![image](https://user-images.githubusercontent.com/85196563/193335594-cd463394-5b67-4004-9c2b-940a43af26ad.png)

[2022-09-30 18:44] nickumia-reisys commented on #3987
Another example (at least one star ⭐)

![image](https://user-images.githubusercontent.com/85196563/193336068-764e1efb-4ea5-4ddc-82e4-54cf41ab07be.png)

[2022-09-30 19:07] nickumia-reisys commented on #3987
If resource is 404 🦠 ...

![image](https://user-images.githubusercontent.com/85196563/193339775-3ca415dd-edb0-4883-86b9-6cbf7546e9c4.png)

[2022-10-03 13:52] nickumia-reisys opened #3989 "Assess QA Standards and Rules"
## User Story

In order to provide the most accurate QA analysis, the Data.gov QA Team wants to assess the rules and algorithms surrounding the QA Extension and accompanying extensions.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] W

[2022-10-03 13:52] nickumia-reisys commented on #3987
I think this issue can be safely closed as there is nothing broken about the core functionality.  Having the data indexed and analyzed is a separate issue covered in
- https://github.com/GSA/data.gov/issues/3986

A new issue was made about
- https://github.com/GSA/data.gov/issues/3989

[2022-10-03 13:52] #3987 closed, assigned to nickumia-reisys

[2022-10-03 14:10] nickumia-reisys commented on #3982
Documentation on how to make a new report extension: https://github.com/ckan/ckanext-report#creating-a-report

[2022-10-03 14:30] nickumia-reisys commented on #3982
From preliminary research about CKAN Extensions and the requirements of using `ckanext-report`, it seems like there is no other extension that is generating reports using this extension other than `ckanext-qa`.  (Definition of "no other extension" meaning no other active/recent, successfully building or dependent on the `ckanext-report` extension)

Investigations completed:
- https://extensions.ck

[2022-10-03 15:10] nickumia-reisys commented on #3964
Soo.. it works again... but it needs quite a bit of RAM to be able to load (at least the first time).  On Dev with `30k` datasets, it took 1:11 minutes to complete, but I needed to give it 2G of RAM.  Not sure how much it actually used, but it was originally set at 750M of RAM and it was crashing at 14%.

![image](https://user-images.githubusercontent.com/85196563/193611080-66d706ab-2d78-4fec-aaf6

[2022-10-03 15:10] #3964 closed, assigned to nickumia-reisys

[2022-10-03 15:11] nickumia-reisys commented on #3964
### A quick screenshot of a semi-complete analysis on Dev
![image](https://user-images.githubusercontent.com/85196563/193612509-fa964a47-3616-4911-aa8b-ef30d2821f96.png)

[2022-10-03 15:36] btylerburton opened #3990 "Upgrade strategy.data.gov to Supported Static Site Framework and GH Actions"
## User Story

In order to maintain an updated website, data.gov team wants to upgrade strategy.data.gov to a modern static site generator workflow.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN strategy.data.gov is to be maint

[2022-10-03 16:01] nickumia-reisys commented on #3966
Reference to how CKAN handles licensing information:
- https://github.com/ckan/ckan/blob/ckan-2.9.5/ckan/model/license.py

[2022-10-03 16:03] jbrown-xentity opened #3991 "Improve Log Auditing"
## User Story

In order to simplify/automate weekly log auditing, data.gov admins wants well defined lists of expected errors that can be ignored (and equivalent excluding New Relic queries).

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

-

[2022-10-03 16:05] nickumia-reisys commented on #3484
Does the upstream fix of clearing everything except the current jobs not work for us? @jbrown-xentity @FuhuXia
- https://github.com/ckan/ckanext-harvest/pull/484

[2022-10-03 16:05] jbrown-xentity commented on #3991
Already started here: https://github.com/GSA/data.gov/wiki/Log-Review

[2022-10-03 16:10] jbrown-xentity commented on #3484
I think this is an interesting option. We would want to make sure any users are made aware of the change, so they don't get confused/concerned when harvest jobs are removed. But I think especially for daily sources, this would be a good option to keep things clean. So we may want to run this on the whole system, or just on [the daily harvest sources](https://catalog.data.gov/api/action/package_sea

[2022-10-03 16:40] nickumia-reisys commented on #3484
Example of how to query for source ids of a frequency type:

[code]

![image](https://user-images.githubusercontent.com/85196563/193631781-ea7f275c-a8f1-495c-ba22-7216c31499d9.png)

![image](https://user-images.githubusercontent.com/85196563/193631742-50ef5e5e-4555-40a9-bdac-d0e5c114ab7a.png)

![image](https://user-images.githubusercontent.com/85196563/193631833-102c2dec-0e67-4db4-96cb-12df6e5e8a7

[2022-10-03 16:41] FuhuXia commented on #3484
Too extreme to remove all job history. We want some job history, if not all.
Latest 20?

[2022-10-03 17:41] nickumia-reisys commented on #3484
This is how they clear the history.  If we wanted to write a custom function that does everything except the last `n` items, or something similar, this would be the place to do it.  Adding a parameter or something.
- https://github.com/ckan/ckanext-harvest/blob/master/ckanext/harvest/logic/action/update.py#L344-L419

[2022-10-03 17:45] nickumia-reisys commented on #3986
Just as a future reference:
- How to clear job queue --> https://docs.ckan.org/en/2.9/maintaining/cli.html#clear-job-queues

[2022-10-03 19:38] btylerburton commented on #3516
updated link to the above: https://github.com/GSA/ckanext-datagovtheme/blob/main/ckanext/datagovtheme/templates/package/read.html#L353-L359

[2022-10-04 17:17] jbrown-xentity opened #3993 "Improve PR review/workflow"
## User Story

In order to write better and more sustainable code, data.gov QA wants PR templates for all repo's that have regular changes.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a template is in place for data.gov repos

[2022-10-04 17:26] jbrown-xentity commented on #3982
To make a new repo: https://github.com/GSA/data.gov/wiki/Checklist-for-new-repositories
To make a new CKAN extension, use CKAN command documented [here](https://docs.ckan.org/en/2.9/extensions/tutorial.html#creating-a-new-extension)

[2022-10-04 18:25] nickumia-reisys commented on #3503
### The route does work on a local version of CKAN

![image](https://user-images.githubusercontent.com/85196563/193896564-10373932-e096-4361-a683-038039fdf6db.png)

[2022-10-04 22:34] nickumia-reisys commented on #3503
So... the current state of this is that the route works in the `datajson` extension, but isn't getting recognized by the catalog main app.  We will eventually fix this.  However, the more pressing issue is that the main `do_validation` function is not checking the right schema.

The general flow steps are:
- [[LINK](https://github.com/GSA/ckanext-datajson/blob/main/ckanext/datajson/blueprint.py#L4

[2022-10-04 22:40] jbrown-xentity commented on #3503
You're probably right, the validation is embedded in the harvester class.
We do not need the old `do_validation` if it is wrong.
I would consider pulling out the validation from the harvester in some way, and having the harvester code and the validate code reference the same function. If that is difficult because of the way the validation has to be implemented for the harvester, maybe there is a w

[2022-10-04 22:50] jbrown-xentity commented on #3503
What I didn't say is: the validation that occurs in the harvester logic does seem to be solid, and has worked fine in the past. So the logic there should be able to be kept.

[2022-10-05 14:16] nickumia-reisys commented on #3503
Got it!  That all makes sense to me.  I like the idea of throwing out a bunch of stuff.  My tentative plan:
- [ ] Throw out the old `do_validation` code
- [ ] Strip out the validation code from the harvester (and add unit tests)
- [ ] Integrate with Inventory and make sure the `export data.json` function still works

🚧

[2022-10-05 16:01] nickumia-reisys commented on #3503
Just for the record ➡️ I removed the `do_validation` function and all references to it and the tests are still passing which means that we were never testing it (no surprise, but still just saying haha..)

- https://github.com/GSA/ckanext-datajson/pull/122/commits/4b69c66cf35a04fafcb5e5dce186ddf4d7dd2360
![image](https://user-images.githubusercontent.com/85196563/194107301-d7058806-1c90-4651-8bdd-

[2022-10-05 18:08] nickumia-reisys commented on #3503
Scratch that... the current logic is very very .... very complicated.   Turns out the do_validation function was doing the right thing, just at the `dataset` level and not the `catalog` level.

![image](https://user-images.githubusercontent.com/85196563/194131178-05000c9c-1ca8-422a-9b60-49b2065a4003.png)

[2022-10-05 18:09] nickumia-reisys commented on #3503
I'm going to start documenting and cleaning up things.

[2022-10-05 18:28] robert-bryson opened #3995 "Update actions for new env vars"

[2022-10-05 18:36] robert-bryson opened #3996 "Update Github Action environment varibles"
## User Story

In order to [consolidate and clean up the Github actions code], [datagov team] wants [refactor our Github actions using the new `environ` inputs] and [clean up `prod` vs `production` naming].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_speci

[2022-10-05 21:23] nickumia-reisys commented on #3503
Okay.  I didn't do much documentation (...yet).  But here's the updates:
- The `/pod/validate` route works
- The original validation function "works".  It validates the datasets, but it doesn't validate the head matter.
- Unit tests have been written for good and bad cases.

TODO...
- [x] Testing on catalog develop
- [x] @jbrown-xentity @FuhuXia Do we want to validate the top head matter?  The stu

[2022-10-05 21:27] nickumia-reisys commented on #3503
Also, do want want to change the route? @jbrown-xentity @FuhuXia @hkdctol  @Jin-Sun-tts @btylerburton @jbrown-xentity

As it stands right now, the public route (not available yet) would be https://catalog.data.gov/pod/validate... do we want to make it something more meaningful?
- https://catalog.data.gov/datajson/validator
- https://catalog.data.gov/datajson/validate
- https://catalog.data.gov/dat

[2022-10-05 21:38] nickumia-reisys commented on #3503
### Deployed to `develop`

![image](https://user-images.githubusercontent.com/85196563/194168809-81b24464-deba-4775-9082-5c97c36f7371.png)

[2022-10-05 21:40] nickumia-reisys commented on #3503
### GSA data.json seemed to process extremely fast.

It's only 336 datasets; but still.  Will test a larger data.json to see if there are memory issues or anything like that.

![image](https://user-images.githubusercontent.com/85196563/194168911-c342df34-7f3b-4cde-99f2-f3a1fd430bf1.png)

[2022-10-05 22:08] nickumia-reisys commented on #3503
### Answering the questions in the ticket:

Per previous comments, the current implementation does work.  The [`datajson` plugin](https://github.com/GSA/catalog.data.gov/blob/ad0d97a8b9ad48c0af3a5409075db3208a0c39ae/ckan/setup/ckan.ini#L134) just wasn't being loaded into production (along with small bugs in the `ckanext-datajson` extension).

Most of the old tests are useless now because they were

[2022-10-06 13:25] jbrown-xentity commented on #3503
I would use `/dcat-us/validator`. I don't like the branding has become datajson, I hate that. It's like a naming convention merged with a file type, not a standard...

[2022-10-06 13:33] FuhuXia opened #3997 "Send alerts when cloud.gov reaches alarming condition"
We need way to get informed when cloud.gov is getting unhealthy, such as
- available memory is running out
- unattended task has been running for lengthy period.
- ...

## Sketch

Check with GH actions, send alert to email and slack.

[2022-10-06 14:19] nickumia-reisys commented on #3503
TODO:
- [x] Deprecate old `do_validation` function AND Replace all references with the new jsonschema pod validation stuff
- [x] Change route from `pod/validator` to `dcat-us/validator`
- [ ] ~Change route from `data.json` to `dcat-us/data.json`~
- [x] Move validation route to new plugin, `datajson_validator`, in `datajson` extension

[2022-10-06 17:31] FuhuXia opened #3998 "Quota exceeded when run any CF task on catalog-admin"
Failed to run any task on catalog-admin app. It gives `Quota exceeded` error.

## How to reproduce
Run command on `development` space:
[code]
## Expected behavior

SUCCESS

## Actual behavior
FAILED
[code]
## Work-around

scale up the disk quota in the command line

cf run-task catalog-admin -c "ls" `-k 1200M`

[2022-10-06 18:41] jbrown-xentity opened #3999 "Purge deleted datasets"
## User Story

In order to keep CKAN data load under control, data.gov admin wants to purge removed datasets from catalog.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a dataset has been deleted \
  WHEN some command/github ac

[2022-10-06 18:47] jbrown-xentity opened #4000 "USGS data clean up"
USGS got their list of harvest sources down to 4 (see [here](https://catalog.data.gov/harvest/?organization=usgs-gov)). Unfortunately, the datasets are still around (the delete must not have cleared the harvest sources, or the clear failed for some reason). You can see the list of [normal datasets by harvest source](https://catalog.data.gov/api/action/package_search?q=organization:usgs-gov&facet.f

[2022-10-06 18:47] jbrown-xentity commented on #4000
This is the list of harvest sources we need to clear one by one:
[usgs-clear-list.txt](https://github.com/GSA/data.gov/files/9727679/usgs-clear-list.txt)

[2022-10-06 19:32] FuhuXia commented on #3998
catalog app disk usage changed from `988.9M` to `1.1G` in the past a few days, exceeding the default `1G`.

[2022-10-06 19:49] nickumia-reisys commented on #3998
We've seen this issue at various times since the beginning of the year.  There is no cost to increase disk quota, but there are limits on how much it can be scaled.  The theoretical limit is `6G`, but the highest I've been able to witness is `3G`.

[2022-10-06 20:24] jbrown-xentity commented on #3984
After reviewing [the changelog](https://docs.ckan.org/en/2.9/changelog.html#v-2-9-6-2022-09-28), I think there aren't any super important fixes that apply to us. We don't have to make this a high priority.

[2022-10-06 20:24] hkdctol commented on #3998
@FuhuXia will bring up with cloud.gov support

[2022-10-06 20:26] hkdctol commented on #3999
Need to look at this if we run into speed issues

[2022-10-06 20:29] hkdctol commented on #3484
Consider which approach most likely to be accepted upstream. Pagination is probably most likely.

[2022-10-06 20:46] jbrown-xentity commented on #3938
We should make sure [our fork of ckanext-spatial](https://github.com/GSA/ckanext-spatial) is as up to date as possible. Review recent PR's to see if anything needs to be merged upstream, or any other fixes.
One specific item [Update Package Schema for Tags](https://github.com/GSA/ckanext-spatial/pull/12) will not be merged. We should take out this code and put it in https://github.com/GSA/ckanext-

[2022-10-06 20:50] hkdctol commented on #3900
Connected to #3988 and #3949

[2022-10-06 23:17] robert-bryson commented on #3648
Well, same issue with [my refactor](https://github.com/GSA/ckanext-geodatagov/pull/224/files):

![Image](https://user-images.githubusercontent.com/91547795/194435287-b5cbb496-637f-441b-a6d9-e61d666f8a35.png)

I have another idea to call the actual aws s3 cli from python, but that feels very janky.

[2022-10-07 03:03] FuhuXia commented on #3998
This is different issue. It is not about the disk_quota we set for the app in the manifest.yml. It is the running task is not using the set disk_quota, but using default 1G.

[2022-10-07 03:05] FuhuXia commented on #3998
[Slack discussion](https://gsa-tts.slack.com/archives/C09CR1Q9Z/p1665110872250089) in cg-support channel.

[2022-10-07 13:09] nickumia-reisys commented on #3998
P.S. I've needed to specify it on `run-task` too, I just never questioned it.

[2022-10-07 13:27] nickumia-reisys commented on #3982
@btylerburton @Jin-Sun-tts When one of you gets a chance, can you just following the `Checklist for new repos` to create a new repo called `ckanext-dashboard`?  (We can always rename it later, if someone has a better name)  Also, if you have a better name, by all means, use it 😄

[2022-10-07 15:12] btylerburton commented on #3982
Glad to. How about `ckannext-report-dashboard`?

[2022-10-07 15:20] nickumia-reisys commented on #3982
I agree `dashboard` is waayyyy too vague.  I thought I saw `metrics-dashboard` from you before (but maybe I was hallucinating).  I liked `metrics-dashboard`.  I think `report-dashboard` is a bit too misleading, all of the reports won't be shown on this dashboard... unless that is the intended design?  Then, I can join that bandwagon :carousel_horse:

[2022-10-07 15:57] btylerburton commented on #3982
https://github.com/GSA/ckanext-metrics-dashboard
Base repo created. Let's pair to add GH actions and a make file.

[2022-10-07 15:58] nickumia-reisys opened #4001 "Redirect Dashboard Data.json Validator"
## User Story

In order to deprecated Dashboard Data.json Validator, the Data.gov Validation Team wants to forward the existing dashboard validator route to the new catalog validator.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN

[2022-10-07 17:13] FuhuXia commented on #3710
FCS confirmed resources are removed.

[2022-10-07 18:27] nickumia-reisys commented on #3503
# Form is live at: https://catalog.data.gov/dcat-us/validator

![image](https://user-images.githubusercontent.com/85196563/194625098-23366d4e-5c85-4fb1-86f8-210d0133c3de.png)

[2022-10-07 18:27] #3503 closed, assigned to nickumia-reisys

[2022-10-07 18:35] jbrown-xentity commented on #3503
Note that it failed to handle https://data.doi.gov/data.json. The dashboard was inconsistent on whether it could handle it or not, it contains around 30K records and file size is around 80M. So consider anything above that to be untestable at this point, unless we really scale up.

[2022-10-07 20:34] FuhuXia commented on #3998
It turns out that the task always uses the  default memory and disk allocations specified by the `cc.default_app_memory` and `cc.default_app_disk_in_mb` properties in the system-wide [Configuration Properties](https://docs.cloudfoundry.org/devguide/using-tasks.html). The work-around is the fix.

We can close this ticket.

[2022-10-07 21:21] FuhuXia commented on #4000
The `source clear` task runs ok for harvest source with less than 1k datasets. When the datasets are more than 1k, the DB query starts to take long. The time it spends increase exponentially. The current query has spent 6 hours on harvest source `USGS National Hydrography Dataset (NHD) Downloadable Data Collection Harvest Source: 10313` and its still ongoing.

[2022-10-07 21:46] FuhuXia commented on #3983
Solr follower 0 went down today due to some weird SOlr behavior. The index folder was renamed to "/var/solr/data/ckan/data/index.20221007160458545" for unknown reason. We modified the [solr_setup.sh file](https://github.com/GSA/catalog.data.gov/pull/573) to address the issue and bring follower 0 back online.

[2022-10-07 21:57] FuhuXia commented on #4000
Query used:

Given a source title, find the name and state, make sure the state is deleted
[code]

CKAN command to clear the source. Should be run as cf tasks.
[code]

Query to check ongoing query execution status:
[code]

[2022-10-07 22:12] jbrown-xentity commented on #4000
Note that we have done manual DB manipulation in the past, some of those notes are [here](https://github.com/GSA/data.gov/wiki/Duplicate-Harvest-Source-Cleanup-and-Other-Nuclear-Harvest-Fixes) and [here](https://github.com/GSA/data.gov/wiki/Stuck-Harvest-Fix). Please note that the first has a [link to query we ran for cleaning up harvest tables](https://github.com/GSA/data.gov/blob/5fb46a5a842dfca

[2022-10-08 18:08] nickumia-reisys commented on #3503
### Increasing RAM to `1200M` allows the above `data.json` to be processed.
![image](https://user-images.githubusercontent.com/85196563/194721494-b174d35f-46d2-4bbc-89d2-b7d8fde35945.png)

[2022-10-10 14:09] jbrown-xentity commented on #3503
We will make follow up tickets to match the functionality of dashboard, and decide how important/useful those features are... Looks great!

[2022-10-10 14:17] jbrown-xentity opened #4002 "DCAT-US Validator Feature: Load File"
## User Story

In order to validate a locally stored DCAT-US file, data.gov admins want the [dcat-us validator](https://catalog.data.gov/dcat-us/validator) to be able to accept an uploaded file.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

[2022-10-10 14:24] jbrown-xentity opened #4003 "DCAT-US Validator Feature: Raw JSON"
## User Story

In order to evaluate string input DCAT-US, data.gov admins want an input field for raw JSON string to be evaluated against the DCAT-US schema.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN a DCAT-US provider has

[2022-10-10 14:25] FuhuXia commented on #4000
Found a missing index. Adding the index increases the speed **230** times for a long running query, tested in the staging environment with 16millon records in table `harvest_object` and 11millon records in table `harvest_object_error` on a `medium-gp-psql` DB.

Deleting 10,000 records from table `harvest_object`:
Without index: `Time: 1888580.541 ms (31:28.581)`
With index: `Time: 8164.541 ms (00:

[2022-10-10 14:33] nickumia-reisys commented on #3982
Sketch Item 1. See comment above https://github.com/GSA/data.gov/issues/3982#issuecomment-1265534184

Sketch Item 2. Completed

Sketch Item 3. No idea where to start.

[2022-10-10 14:38] jbrown-xentity opened #4004 "DCAT-US Validator Feature: Select Schema"
## User Story

In order to validate against different DCAT-US schemas (versions, fed vs non-fed, etc), data.gov admins want a schema selector that will validate against different schemas.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ]

[2022-10-10 14:48] FuhuXia commented on #4000
[harvest job page](https://github.com/GSA/data.gov/issues/3484) is also benefiting from this added index, noticeably faster (from 44 seconds to 12 seconds on page https://catalog-stage-admin-datagov.app.cloud.gov/harvest/gsa-json/job).

[2022-10-10 14:49] jbrown-xentity commented on #3982
Check out [previously built spreadsheet](https://docs.google.com/spreadsheets/d/1W251dBWw35nx_R8E8H7SVUVNvhK6imPPZQeYGuKYFMM/edit#gid=0) as a starting point for what fields we want. This is intended for auditors and/or organization admins to validate how they are doing. Key points are:
- Summary by organization
- Recent harvest dates
- Most recent data modified dates (not CKAN modified date, the d

[2022-10-10 18:54] FuhuXia commented on #4000
Manually added index on production database:

[code]

Killed previous harvest source clear job then re-ran it.

[2022-10-10 19:38] FuhuXia commented on #4000
Another index needs to be added to speed things up.

[code]

Speed difference:

[code]
Without index:
Trigger for constraint resource_view_resource_id_fkey: time=68.124 calls=6
With index:
Trigger for constraint resource_view_resource_id_fkey: time=0.420 calls=6

[Issue](https://github.com/ckan/ckan/issues/7134) and [PR](https://github.com/ckan/ckan/pull/7135) created on CKAN upstream.

[2022-10-10 20:34] FuhuXia commented on #4000
With the two indexes added, `harvest source clear` command is fast now. Previous a 10-day job can be finished in 10 mins.

[2022-10-11 16:24] nickumia-reisys opened #4005 "Github Checkout Action Deprecating?"
## How to reproduce

1. Look here, https://github.com/GSA/catalog.data.gov/actions/runs/3228383267

## Expected behavior

No warnings

## Actual behavior

[code]

![image](https://user-images.githubusercontent.com/85196563/195146790-64e04c8f-488d-4763-ac8d-5ccfa19009f8.png)

![image](https://user-images.githubusercontent.com/85196563/195147209-961d9590-1c38-461d-bf62-403e636e0075.png)

## Sketch

[2022-10-11 16:35] btylerburton commented on #4005
https://github.com/actions/checkout
https://github.com/actions/download-artifact

are both on V3 now, with Node 16 support

[2022-10-11 16:35] robert-bryson commented on #3648
Thanks to @nickumia-reisys's [hard work](https://github.com/GSA/ckanext-geodatagov/pull/225), I'm [unblocked](https://github.com/GSA/ckanext-geodatagov/pull/224/commits/4be21f738a5dee8f87d4d4adeb8c9e69f2b00d7c) and [testing](https://github.com/GSA/ckanext-geodatagov/actions/runs/3228569050/jobs/5284836524) his solve.

[2022-10-11 16:49] jbrown-xentity commented on #4000
The initial harvest sources have been run through, and we believe this is complete (checking with user before closing)...

[2022-10-11 17:11] jbrown-xentity commented on #3484
Currently the GSA harvest page loads after 8.5 seconds, with 519 jobs (all on one page). We can revisit this if it becomes a problem in the future.

[2022-10-11 17:44] jbrown-xentity commented on #4003
I cannot tell how often this is used via New Relic logs, but I do know that there were 70K requests to validate a DCAT-US file at a public URL for September (search `gsa-datagov.prod.dashboard  validate datajson_url` in New Relic) versus 11,590 requests to validate a DCAT-US file with either raw JSON or loading a file (search `gsa-datagov.prod.dashboard  validate POST -datajson_url`).
So the featu

[2022-10-11 17:44] jbrown-xentity commented on #4002
I cannot tell how often this is used via New Relic logs, but I do know that there were 70K requests to validate a DCAT-US file at a public URL for September (search `gsa-datagov.prod.dashboard  validate datajson_url` in New Relic) versus 11,590 requests to validate a DCAT-US file with either raw JSON or loading a file (search `gsa-datagov.prod.dashboard  validate POST -datajson_url`).
So the featu

[2022-10-11 17:49] jbrown-xentity commented on #4004
I believe this to be the most important feature we haven't implemented. However, the logs don't bear that out: 59,874 requests validated against federal schema, while 112 requests validated against non-fed schema (for the month of September).
My gut is that this is simply the fact that the fed schema is the default, and we are constantly being probed to see if people can upload files into our syst

[2022-10-11 18:35] jbrown-xentity commented on #3991
Catalog web, gather, and fetch complete: https://github.com/GSA/data.gov/wiki/Log-Review
TODO:
- [x] catalog-proxy
- [x] catalog tasks
- [x] inventory
- [x] inventory-proxy
Will not do SSB, SOLR, dashboard

[2022-10-11 19:08] btylerburton commented on #3935
https://github.com/GSA/datagov-website/blob/main/www.data.gov/index.html#L225

- Anyone know if have a reason to retain these hidden inputs?
- Can we push a new build with federalist pretty easily?

We can fix this pretty easily by removing those.

[2022-10-12 14:07] jbrown-xentity commented on #4000
We have a few more items to clear out:
- https://catalog.data.gov/dataset/lidar-point-cloud-usgs-national-map-3dep-downloadable-data-collection1 (clear harvest source `USGS Lidar Point Cloud LAS Harvest Source root record only`)
- https://catalog-prod-admin-datagov.app.cloud.gov/dataset/original-product-resolution-opr-source-digital-elevation-models-dems-usgs-national-map-3dep-dow1 (clear harvest

[2022-10-12 18:07] btylerburton opened #4006 "Remove broken link beneath catalog search bar"
After I search for a topic (ex. healthcare) on data.gov catalog, I am presented with a message "You are searching in the list of datasets. Show results in [entire Data.gov site](https://www.data.gov/search-results/?group=site&q=health%20care)."

Upon clicking this link, I am presented with a data.gov 404 page.

This is rendered from datagovtheme: https://github.com/GSA/ckanext-datagovtheme/blob/ma

[2022-10-12 18:08] btylerburton commented on #3945
Removed Bret from NewRelic

[2022-10-12 18:29] robert-bryson commented on #3648
Well, it's not quite right but it's something:

![Image](https://user-images.githubusercontent.com/91547795/195420326-0e58a0a6-3274-4f53-9bbf-7760d0829d98.png)

Huzzah!

[2022-10-12 21:52] jbrown-xentity opened #4007 "Clear bad production data"
Since we re-implemented the db-solr sync, we found that we have data in a bad state sitting in prod (not indexed on solr, but still valid).
We need to clear this bad data

## How to reproduce

1. Examine duplicate records that don't have a correct/corresponding record in harvest_object table. A full table scan doesn't seem to complete, but you can look by harvest source:
[code]

## Expected behavi

[2022-10-13 17:06] #3710 closed, assigned to FuhuXia

[2022-10-13 17:06] #3901 closed, assigned to nobody

[2022-10-13 17:07] #3824 closed, assigned to nobody

[2022-10-13 17:07] #3902 closed, assigned to nobody

[2022-10-13 17:08] #3859 closed, assigned to hkdctol

[2022-10-13 17:08] #3762 closed, assigned to nobody

[2022-10-13 17:08] #3775 closed, assigned to nobody

[2022-10-13 17:09] #3774 closed, assigned to nobody

[2022-10-13 17:09] #3828 closed, assigned to nobody

[2022-10-13 17:09] #3778 closed, assigned to nobody

[2022-10-13 17:09] #3712 closed, assigned to nobody

[2022-10-13 17:09] #3624 closed, assigned to nobody

[2022-10-13 17:10] #3667 closed, assigned to nobody

[2022-10-13 17:38] #3925 closed, assigned to btylerburton

[2022-10-13 17:39] jbrown-xentity commented on #3925
Done by https://github.com/GSA/data-strategy/pull/291

[2022-10-13 18:02] jbrown-xentity commented on #4007
Should review #3742 after resolution of this ticket, as that may be resolved as well.

[2022-10-13 18:06] hkdctol commented on #3993
What are the repositories that this should be added to?

[2022-10-13 18:10] hkdctol commented on #3567
Could be resolved by #4007

[2022-10-13 18:23] jbrown-xentity opened #4008 "O+M 2022-10-27"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/gsa/data.gov/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/gsa/data.gov/wiki/Operation-and-Ma

[2022-10-13 20:42] FuhuXia opened #4009 "redesign Select Publisher field in Inventory new dataset form"
The current design requires user know the first letter of the first words of a Publisher in order to select it. We received multiple user requests when they were puzzled at this field.

We can come up with a better design for this field to be more user friendly.

![image](https://user-images.githubusercontent.com/1392461/195704422-a8b9bb1d-0823-46c0-8bf9-7e7d9df366a3.png)

## How to reproduce

htt

[2022-10-14 14:33] Jin-Sun-tts commented on #3943
Monitoring the scheduled db-solr-sync job:

10/12
0 packages need to be removed from Solr
1 packages need to be updated/added to Solr

10/13
1 packages need to be removed from Solr
4 packages need to be updated/added to Solr

10/14
0 packages need to be removed from Solr
5 packages need to be updated/added to Solr

[2022-10-14 15:12] nickumia-reisys opened #4010 "apt-key Deprecated"
## How to reproduce

1. Look at old logs here, https://github.com/GSA/catalog.data.gov/actions/runs/3237142140/jobs/5303842419

## Expected behavior

No issues.

## Actual behavior

[code]

![image](https://user-images.githubusercontent.com/85196563/195880955-d3c427df-00e5-4da3-97c2-3862951d9a12.png)

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

[2022-10-14 15:18] jbrown-xentity commented on #3944
We have seen this occur again. See list of DOI duplicates here: https://catalog.data.gov/api/action/package_search?fq=organization:doi-gov&facet.field=[%22identifier%22]&facet.limit=-1&facet.mincount=2&rows=0
We have confirmed that these datasets exist, with the same harvest object, are duplicated in the DB and SOLR, after the fix above has been in place.
Re-opening...

[2022-10-14 16:29] btylerburton opened #4012 "Duplicate Datasets"
## Feature/what we're after

As a datagov team member, I want to understand why packages are getting duplicated during the harvest process

## Anticipated/hypothesized benefits

- Our count of datasets would be accurate
- We can rely on the harvest process being atomic and idempotent

## Measurements/metrics

- CKAN package count will only change when corresponding harvest sources add / remove dat

[2022-10-14 16:33] robert-bryson opened #4013 "Outdated catalog commands in datagov wiki"
## User Story

In order to [check the docs about catalog commands], [datagov team] wants [the [catalog ckan commands on the datagov wiki](https://github.com/GSA/data.gov/wiki/CKAN-commands#catalog-commands) to be up to date].

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_developme

[2022-10-14 16:41] nickumia-reisys commented on #4006
If you notice, this search is being done by `data.gov` which I would assume was the old wordpress site, so I'm not sure this is a catalog issue.

![image](https://user-images.githubusercontent.com/85196563/195898387-af960901-eb67-4357-a333-e666dd6f5c5d.png)

[2022-10-14 16:43] FuhuXia commented on #4006
We can remove it from catalog for now, before we re-enable static site search on the www site.

[2022-10-14 17:03] robert-bryson commented on #3648
The s3 upload test has been failing. Hmm..

![Image](https://user-images.githubusercontent.com/91547795/195902203-0eef5fe3-c02a-4232-9b6a-7eba81b3bb63.png)

It's some sort of special magic that it can upload a file to a bucket, but with only the message that the bucket doesn't exist.

[2022-10-14 17:18] jbrown-xentity commented on #4008
I added this to the O&M main wiki page: https://github.com/GSA/data.gov/wiki/Log-Review, @FuhuXia @robert-bryson could you take a look and give me feedback?

[2022-10-14 18:06] FuhuXia commented on #4008
Other than errors and exceptions that bring site down, we can also capture abnormal activities such as large amount the requests on /user/saml2login and /acs, or things of that hacking nature.

[2022-10-17 14:09] FuhuXia commented on #3833
https://docs.newrelic.com/docs/logs/ui-data/parsing/
It allow us to break the unstructured log message into query-able data, make it possible to do facet search and better charts and alerts.

[2022-10-17 14:31] FuhuXia opened #4014 "Forward CloudFront access logs to New Relic"
We have CloudFront access logs in S3 but it is inconvenient to read it and search with it. New Relic supports CloudFront access logs forwarding with build-in parsing rules.

https://docs.newrelic.com/docs/logs/forward-logs/cloudfront-web-logs/

[2022-10-17 14:32] nickumia-reisys commented on #3484
@FuhuXia did a manual DB fix that sped up the existing process, making this issue less critical.  Moving back to the Product Backlog.
- https://github.com/GSA/data.gov/issues/4000#issuecomment-1273733336

[2022-10-17 14:56] nickumia-reisys opened #4015 "Enable logs to inspect AWS WAF rules on catalog.data.gov"
catalog.data.gov @ main
AWS OPPPROD CloudFront

## Sketch

[Notes or a checklist reflecting our understanding of the selected approach]

Reference:
- https://aws.amazon.com/premiumsupport/knowledge-center/waf-turn-on-logging/

[2022-10-17 17:56] #4012 closed, assigned to nobody

[2022-10-17 18:15] jbrown-xentity opened #4016 "metrics-dashboard initial working/integrated version"
## User Story

In order to build dashboard replacement, data.gov admins want basic report extension that can report a page.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN the newly created report extension is setup \
  WHEN I go

[2022-10-17 18:21] jbrown-xentity opened #4017 "metrics-dashboard initial data report"
## User Story

In order to deprecate dashboard, data.gov admins want an OMB necessary data report for the catalog.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN OMB needs the [following information reported](https://docs.google

[2022-10-17 18:26] jbrown-xentity opened #4018 "metrics-dashboard cached results"
## User Story

In order to deprecate dashboard, data.gov admins want cached metrics-dashboard such that it can handle the catalog load.

## Acceptance Criteria

[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [ ] GIVEN the caching job has been run \
  WHEN I go to

[2022-10-17 22:12] nickumia-reisys opened #4019 "Datajson validator error causes no datasets to harvest?"
https://github.com/GSA/catalog.data.gov/commit/ac053a4be23131446c1eca89d15a15ebb67adfd2
https://github.com/GSA/ckanext-datajson/commit/5a6fedfe395260d14ab47356b4632dcd0520f3c9 (v0.1.5)

## How to reproduce

1. Try to harvest WPRDC data.json, https://data.wprdc.org/data.json

## Expected behavior

No errors...Datasets harvested.  (Current prod has 27 datasets)
![image](https://user-images.githubuse

[2022-10-17 22:15] nickumia-reisys commented on #4019
I guess it needs the non-federal schema 😕

![image](https://user-images.githubusercontent.com/85196563/196293765-1bb1d2da-822d-4de3-bad5-074cf10e3f77.png)

[2022-10-17 22:15] #4019 closed, assigned to nickumia-reisys

[2022-10-17 23:02] nickumia-reisys commented on #3965
Using http://data.exim.gov/data.json to test since it only has one dataset 🛩️

[2022-10-17 23:25] nickumia-reisys commented on #3965
Fixed...

![image](https://user-images.githubusercontent.com/85196563/196301802-b5371bf2-a4c4-4b75-aa17-cd972c4a1bdd.png)